<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen">
    <div class="flex flex-column p-3">
        <div class="surface-card p-4 shadow-2 border-round w-full md:w-30rem">
            <div class="w-full text-center mb-4">
                  <img src="assets/layout/images/logo.jpg" alt="logo" height="70">
                <div class="flex align-items-center justify-content-center">
                    <span class="font-bold text-xl">VRobotPhyio</span>
                    <!--  <img src="assets/layout/images/flag-bolivia_recortada.png" alt="flag-bolivia" class="ml-2" width="30" height="20">-->
                </div>
            </div>
            <ng-container *ngIf="status === 'failed'">
                <p-messages [(value)]="messages" [enableService]="false" [closable]="false" class="mb-4"></p-messages>
            </ng-container>
            <form [formGroup]="loginForm" novalidate class="p-fluid w-full">
                <div class="field mb-4">
                    <label for="usuario" class="block text-900 text-xl font-medium">Usuario</label>
                    <div class="p-input-icon-right">
                        <input
                            id="usuario"
                            type="text"
                            placeholder="Ingrese su usuario"
                            pInputText
                            formControlName="username"
                            [ngClass]="{ 'ng-dirty': loginForm.get('username').dirty, 'valid-field': loginForm.get('username').valid }"
                            class="p-inputtext w-full"
                        >
                        <i class="pi pi-user"></i>
                    </div>
                    <ul class="p-error list-none" *ngIf="loginForm.get('username').invalid && loginForm.get('username').dirty">
                        <li *ngIf="loginForm.get('username').errors?.required"> El nombre de usuario es requerido. (*) </li>
                        <li *ngIf="loginForm.get('username').errors?.minlength"> Debe tener al menos un caracteres. </li>
                        <li *ngIf="loginForm.get('username').errors?.maxlength"> No puede exceder 20 caracteres. </li>
                        <li *ngIf="loginForm.get('username').errors?.spacesNotAllowed"> No debe contener espacios. </li>
                    </ul>
                </div>
                <!--  <div class="field mb-4">
                    <label for="password" class="block text-900 font-medium text-xl">Contraseña</label>
                    <p-password formControlName="password" [feedback]="false" placeholder="Ingrese su contraseña" [toggleMask]="true" class="w-full" [ngClass]="{ 'ng-dirty': loginForm.get('password').dirty }"></p-password>
                    <ul class="p-error list-none" *ngIf="loginForm.get('password').invalid && (loginForm.get('password').dirty || loginForm.get('password').touched)">
                        <li *ngIf="loginForm.get('password').errors?.required"> La contrasaña es requerido. (*) </li>
                    </ul>
                </div>  -->
                <div class="mb-4">
                    <p-button label="Iniciar sesión" icon="pi pi-user" styleClass="w-full" (click)="doLogin()"></p-button>
                </div>
            </form>
            <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center gap-4">
                <!-- <p-button
                    label="¿Olvidaste tu contraseña?"
                    styleClass="w-full md:w-auto"
                    [routerLink]="['/forgot-password']"
                    [text]="true"
                >
                </p-button>-->
                <!--  <div class="text-center md:text-right w-full md:w-auto">
                    <span class="font-medium no-underline">¿No tienes cuenta? </span>
                    <p-button
                        label="Registrarse"
                        icon="pi pi-user-plus"
                        styleClass="w-full md:w-auto mt-2"
                        [routerLink]="['/register']"
                        [text]="true"
                        severity="success"
                    >
                    </p-button>
                </div>  -->
            </div>
        </div>
    </div>
</div>
