<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen">
    <div class="flex flex-column p-3">
        <div class="surface-card p-4 shadow-2 border-round w-full md:w-30rem">
            <div class="w-full text-center mb-4">
                  <img src="assets/layout/images/logo.jpg" alt="logo" height="70">
                <div class="flex align-items-center justify-content-center">
                    <span class="font-bold text-xl">VRobotPhyio</span>
                </div>
            </div>
            <ng-container *ngIf="status === 'failed'">
                <p-messages [(value)]="messages" [enableService]="false" [closable]="false" class="mb-4"></p-messages>
            </ng-container>
            <form [formGroup]="loginForm" novalidate class="p-fluid w-full">
                <div class="field mb-4">
                    <label for="usuario" class="block text-900 text-xl font-medium">Usuario</label>
                    <div class="p-input-icon-right">
                        <input
                            id="usuario"
                            type="text"
                            placeholder="Ingrese su usuario"
                            pInputText
                            formControlName="username"
                            [ngClass]="{ 'ng-dirty': loginForm.get('username').dirty, 'valid-field': loginForm.get('username').valid }"
                            class="p-inputtext w-full"
                        >
                        <i class="pi pi-user"></i>
                    </div>
                    <ul class="p-error list-none" *ngIf="loginForm.get('username').invalid && loginForm.get('username').dirty">
                        <li *ngIf="loginForm.get('username').errors?.required"> El nombre de usuario es requerido. (*) </li>
                        <li *ngIf="loginForm.get('username').errors?.minlength"> Debe tener al menos un caracteres. </li>
                        <li *ngIf="loginForm.get('username').errors?.maxlength"> No puede exceder 20 caracteres. </li>
                        <li *ngIf="loginForm.get('username').errors?.spacesNotAllowed"> No debe contener espacios. </li>
                    </ul>
                </div>
                <div class="mb-4">
                    <p-button label="Iniciar sesión" icon="pi pi-user" styleClass="w-full" (click)="doLogin()"></p-button>
                </div>
            </form>
        </div>
    </div>
</div>
