<div class="flex justify-content-center my-3">
    <h1>Reportes Beneficios Sociales</h1>
</div>

<div class="grid">
    <div class="col-12 md:col-6">
        <p-card class="flex flex-column p-3 relative bg-gray-200 border-round p-4 text-gray-900">
            <div
                class="card p-fluid">

            </div>

        </p-card>
    </div>
</div>


<div class="card-container surface-container">
    <div class="flex flex-column p-3 relative bg-gray-300 border-round p-4 font-bold text-gray-900">
        <div class="grid p-fluid justify-content-center">
            <div class="field col">
                <span class="p-float-label">
                    <p-calendar inputId="fechaIngreso" appendTo="body" dateFormat="dd-mm-yy" [(ngModel)]="fechaInicioSelected" [showIcon]="true"></p-calendar>
                    <label for="ddFechaIngreso">Fecha Inicio</label>
                </span>
            </div>
            <div class="field col">
                <span class="p-float-label">
                    <p-calendar inputId="fechaRetiro" appendTo="body" dateFormat="dd-mm-yy" [(ngModel)]="fechaFinSelected" [showIcon]="true"></p-calendar>
                    <label for="ddFechaRetiro">Fecha Fin</label>
                </span>
            </div>
        </div>
        <div class="grid p-fluid ">
            <div class="col-12 md:col-4">
            </div>
        </div>
    </div>
</div>
