<p-toast></p-toast>
<div class="grid">
    <div class="col-12">
        <div class="card">
            <div class="flex grid">
                <div class="col-12 md:col-6 lg:col-12">
                    <p-card>
                        <p-table
                            #dt2
                            [value]="TipoEducacion"
                            [tableStyle]="{'min-width': '50rem'}"
                            responsiveLayout="stack"
                            [breakpoint]="'960px'"
                            styleClass="p-datatable-striped p-card p-datatable-sm"
                            [loading]="loading"
                        >
                            <ng-template pTemplate="caption">
                                <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                                    <div  class="flex justify-content-center">
                                        <button
                                            pButton
                                            pRipple
                                            icon="pi pi-plus"
                                            label="Nuevo Tipo Educación"
                                            class="p-button-rounded p-button-primary mr-2"
                                            (click)="adicionarTipoEducacion()"
                                            pTooltip="Adicionar"
                                            tooltipPosition="right"
                                        ></button>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th></th>
                                    <th pTooltip="Nombre del tipo de profesión" tooltipPosition="top">Nombre</th>
                                    <th>Observación</th>
                                    <th pTooltip="Usuario y fecha registrado" tooltipPosition="top">Registrado</th>
                                    <th pTooltip="Usuario y fecha modificado" tooltipPosition="top">Modificado</th>
                                    <th>Estado</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-tipedu>
                                <tr>
                                    <td>
                                        <div class="flex justify-content-center">
                                            <button pButton
                                                    pRipple
                                                    icon="pi pi-pencil"
                                                    class="p-button-rounded p-button-info mr-2"
                                                    (click)="modificarTipoEducacion(tipedu)"
                                                    pTooltip="Modificar"
                                                    tooltipPosition="top"
                                            ></button>
                                            <button
                                                pButton
                                                pRipple
                                                icon="pi pi-trash"
                                                class="p-button-rounded p-button-danger mr-2"
                                                (click)="confirmarEliminarTipoEducacion(tipedu)"
                                                pTooltip="Eliminar"
                                                tooltipPosition="top"
                                            ></button>
                                        </div>
                                    </td>
                                    <td>
                                        <ng-container *ngIf="tipedu.edunombre != null; else noRegistro">
                                            {{tipedu.edunombre}}
                                        </ng-container>
                                    </td>
                                    <td>
                                        <ng-container *ngIf="tipedu.eduobservacion; else noRegistro">
                                            {{tipedu.eduobservacion}}
                                        </ng-container>
                                    </td>
                                    <td>
                                        <ng-container *ngIf="tipedu.eduusureg; else noRegistro">
                                            {{tipedu.eduusureg}}
                                            {{tipedu.edufecreg | date:'d MMMM, y h:mm:ss a'}}
                                        </ng-container>
                                    </td>
                                    <td>
                                        <ng-container *ngIf="tipedu.eduusumod; else noRegistro">
                                            {{tipedu.eduusumod}}
                                            {{tipedu.edufecmod | date:'d MMMM, y h:mm:ss a'}}
                                        </ng-container>
                                    </td>
                                    <td>
                                        <p-tag [value]="obtenerDescripcionEstado(tipedu.eduestado)"
                                               [severity]="obtenerSeverityEstado(tipedu.eduestado)"
                                               [rounded]="true"
                                        ></p-tag>
                                    </td>
                                    <ng-template #noRegistro>...</ng-template>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                                <tr>
                                    <td colspan="9">No se encontró las información solicitada.</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </p-card>
                </div>
            </div>
        </div>
    </div>
</div>


<p-dialog
    [(visible)]="tipoEducacionDialog"
    header="Tipo Profesión"
    [modal]="true"
    class="p-fluid"
    [breakpoints]="{ '960px': '75vw' }"
    [style]="{ width: '25vw' }"
    [draggable]="false"
    [resizable]="false"
    [maximizable]="true"
>
    <form [formGroup]="tipoEducacionForm" novalidate>
        <div class="grid p-fluid">

            <div class="field col-12">
                <span class="p-float-label">
                    <input type="text" id="edunombre" pInputText formControlName="edunombre">
                    <label for="edunombre">Nombre</label>
                </span>
                <small
                    class="p-error block"
                    *ngIf="tipoEducacionForm.get('edunombre').invalid && tipoEducacionForm.get('edunombre').touched"
                >
                    <span
                        *ngIf="tipoEducacionForm.get('edunombre').errors?.required"
                    >
                        El nombre es requerido. (*)
                    </span>
                </small>
            </div>

            <div class="field col-12">
                <label class="font-bold block" for="eduobservacion">Observación</label>
                <textarea
                    class="my-2"
                    inputId="textarea"
                    rows="2" cols="30"
                    formControlName="eduobservacion"
                    appendTo="body"
                    pInputTextarea
                ></textarea>
            </div>

            <div class="field col-12">
                <label class="font-bold block" for="eduestado">Estado</label>
                <div class="flex align-items-center justify-content-center">
                    <p-selectButton
                        [options]="stateOptionsEstado"
                        formControlName="eduestado"
                        optionLabel="label"
                        optionValue="value"
                    ></p-selectButton>
                </div>
            </div>
        </div>
    </form>

    <ng-template pTemplate="footer">
        <button
            pButton
            pRipple
            label="Cancelar"
            icon="pi pi-times"
            class="p-button-text"
            (click)="ocultarTipoEducacion()"
        ></button>
        <button
            pButton
            pRipple
            label="Guardar"
            icon="pi pi-check"
            class="p-button-text"
            (click)="enviarTipoEducacion()"
        ></button>
    </ng-template>
</p-dialog>



<p-dialog [(visible)]="eliminarTipoEducacionDialog" header="Confirmar" [modal]="true">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>Estas seguro de eliminar el registro <b>{{tipoEducacion?.edunombre}}</b>?</span></div>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="No" icon="pi pi-times" class="p-button-text" (click)="eliminarTipoEducacionDialog = false"></button>
        <button pButton pRipple label="Si" icon="pi pi-check" class="p-button-text" (click)="eliminarTipoEducacion()"></button>
    </ng-template>
</p-dialog>
