# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode
.vscode/*
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

# Compiled files
layout.css
src/assets/release/styles/badges.css
src/assets/release/styles/badges.css


# Ignorar archivos de configuración específicos de Angular
.angular-cli.json
.angular-cli.json~

# Ignorar archivos de configuración específicos de PrimeNG
primeng.config.js
primeng.config.js~

# Ignorar archivos de configuración específicos de TypeScript
tsconfig.json
tsconfig.json~
tslint.json

# Ignorar archivos de configuración específicos de Node.js
package-lock.json

src/environments/
