<p-toast></p-toast>
<!-- Tabla de todas las notas por curso y materia -->
<p-card>
    <p-breadcrumb class="max-w-full" [model]="items" [home]="home"></p-breadcrumb>
    <h3>Nota</h3>
    <p>Administrar registros de notas por materia</p>
    <p-table
        #dt
        [columns]="selectedColumns"
        [value]="listarMateriasInscritas"
        [loading]="loading"
        [rows]="50"
        [paginator]="true"
        [rowsPerPageOptions]="[5, 10, 20, 50, 100, 200, 500, 1000]"
        [globalFilterFields]="['curnombre', 'matnombre', 'pernomcompleto']"
        responsiveLayout="stack"
        groupRowsBy="curnombre"
        [rowHover]="true"
        dataKey="id"
        [breakpoint]="'960px'"
        [tableStyle]="{ 'min-width': '50rem' }"
        styleClass="p-datatable-striped p-datatable-sm"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} entradas"
        rowGroupMode="subheader"
    >
        <!-- Encabezado de la tabla -->
        <ng-template pTemplate="caption">
            <div
                class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
            >
                <div class="flex justify-content-between"> <button pButton pRipple label="Reporte Notas General" icon="pi pi-file-pdf" class="p-button-outlined p-button-danger mr-2" (click)="notaService.rptNotaEstudianteMateriaGeneral()"></button> </div>
                <div class="flex mt-1 justify-content-center">
                    <p-multiSelect
                        [options]="colsColumsTable"
                        [(ngModel)]="selectedColumns"
                        optionLabel="header"
                        selectedItemsLabel="{0} columnas selecionadas"
                        [style]="{ 'min-width': '200px' }"
                        placeholder="Elige la/s columna/s"
                    >
                    </p-multiSelect>
                </div>
                <span class="block mt-2 md:mt-0 p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input
                        pInputText
                        type="text"
                        (input)="onGlobalFilter(dt, $event)"
                        placeholder="Buscar..."
                        class="w-full sm:w-auto"
                        pTooltip="Buscar por Curso, Materia ó Docente."
                        tooltipPosition="top"
                    />
                </span>
            </div>
        </ng-template>
        <!-- Encabezado de columnas -->
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th style="width: 3rem">#</th>
                <th class="text-center">Acciones</th>
                <th
                    *ngFor="let col of columns"
                    pSortableColumn="{{ col.field }}"
                >
                    <ng-container [ngSwitch]="col.field">
                        <ng-container *ngSwitchCase="'num_estudiantes'">
                            {{ col.header }}
                        </ng-container>
                        <ng-container *ngSwitchDefault>
                            {{ col.header }}
                            <p-sortIcon field="{{ col.field }}"></p-sortIcon>
                        </ng-container>
                    </ng-container>
                </th>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th *ngFor="let col of columns">
                    <ng-container [ngSwitch]="col.field">
                        <ng-container
                            *ngSwitchCase="'num_estudiantes'"
                        ></ng-container>
                        <ng-container *ngSwitchCase="'pernomcompleto'">
                            <p-columnFilter
                                field="pernomcompleto"
                                matchMode="equals"
                                [showMenu]="false"
                            >
                                <ng-template
                                    pTemplate="filter"
                                    let-value
                                    let-filter="filterCallback"
                                >
                                    <p-dropdown
                                        appendTo="body"
                                        [ngModel]="value"
                                        [options]="personOptions"
                                        (onChange)="filter($event.value)"
                                        placeholder="Elegir"
                                        [showClear]="true"
                                        [filter]="true"
                                        filterBy="value"
                                    >
                                        <ng-template
                                            let-persona
                                            pTemplate="item"
                                        >
                                            <div
                                                class="flex align-items-center"
                                            >
                                                <div
                                                    *ngIf="
                                                        persona.perfoto == null
                                                    "
                                                    class="user-display"
                                                >
                                                    <p-avatar
                                                        image="{{
                                                            userProfilePhotoEmpty
                                                        }}"
                                                        styleClass="mr-2"
                                                        size="large"
                                                        shape="circle"
                                                    ></p-avatar>
                                                    <span
                                                        class="font-bold ml-2"
                                                        >{{
                                                            persona.value
                                                        }}</span
                                                    >
                                                </div>
                                                <div
                                                    *ngIf="
                                                        persona.perfoto != null
                                                    "
                                                    class="user-display"
                                                >
                                                    <p-avatar
                                                        image="{{
                                                            userProfilePhoto
                                                        }}/{{
                                                            persona.perfoto
                                                        }}"
                                                        styleClass="mr-2"
                                                        size="large"
                                                        shape="circle"
                                                    ></p-avatar>
                                                    <div>
                                                        <span class="font-bold mb-2 p-2">{{
                                                            persona.value
                                                        }}</span>
                                                        <br />
                                                        <span class="ml-2">{{ persona.pernrodoc }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </p-dropdown>
                                </ng-template>
                            </p-columnFilter>
                        </ng-container>
                        <ng-container
                            ng-container
                            *ngSwitchCase="'curmatestado'"
                        >
                            <p-columnFilter
                                field="curmatestado"
                                matchMode="equals"
                                [showMenu]="false"
                            >
                                <ng-template
                                    pTemplate="filter"
                                    let-value
                                    let-filter="filterCallback"
                                >
                                    <p-dropdown
                                        [ngModel]="value"
                                        [options]="statusOptions"
                                        (onChange)="filter($event.value)"
                                        placeholder="Elegir"
                                        [showClear]="true"
                                    >
                                        <ng-template
                                            let-option
                                            pTemplate="item"
                                        >
                                            <p-tag
                                                [value]="
                                                    getDescriptionStatus(
                                                        option.value
                                                    )
                                                "
                                                [severity]="
                                                    getSeverityStatus(
                                                        option.value
                                                    )
                                                "
                                            ></p-tag>
                                        </ng-template>
                                    </p-dropdown>
                                </ng-template>
                            </p-columnFilter>
                        </ng-container>
                        <ng-container *ngSwitchDefault>
                            <p-columnFilter
                                type="text"
                                field="{{ col.field }}"
                            ></p-columnFilter>
                        </ng-container>
                    </ng-container>
                </th>
            </tr>
        </ng-template>
        <!-- Encabezado de grupo (Curso) -->
        <ng-template
            pTemplate="groupheader"
            let-notaMateria
            let-rowGroupIndex="rowGroupIndex"
        >
            <tr pRowGroupHeader>
                <td colspan="8">
                    <div class="flex text-center text-base mt-4">
                        <p class="font-bold text-blue">Curso:</p>
                        <p class="text-primary-500 ml-2">
                            {{ notaMateria.curnombre }}
                        </p>
                    </div>
                    <!-- Reinicia el índice de fila al inicio de un nuevo grupo -->
                    <span *ngIf="resetRowIndex(rowGroupIndex)"></span>
                </td>
            </tr>
        </ng-template>
        <!-- Pie de grupo (totales) -->
        <ng-template pTemplate="groupfooter" let-notaMateria>
            <tr>
                <td colspan="5"></td>
                <td class="text-center font-bold">

                </td>
                <td class="text-center font-bold">
                    Total: {{ calculateStudentTotal(notaMateria.curid) }}
                </td>
                <td></td>
            </tr>
        </ng-template>
        <!-- Cuerpo de la tabla -->
        <ng-template pTemplate="body" let-notaMateria let-rowIndex="rowIndex" let-columns="columns" >
            <tr>
                <td>{{ getRowIndex(rowIndex) }}</td>
                <td>
                    <button *ngIf="notaMateria.num_estudiantes > 0" pButton="pButton" pRipple="pRipple" type="button" icon="pi pi-file-pdf" class="p-button-rounded p-button-outlined p-button-danger mr-2" pTooltip="Ver reporte de notas por materia" tooltipPosition="top" (click)="notaService.rptNotaCursoMateria(notaMateria)"> </button>
                    <button *ngIf="notaMateria.num_estudiantes > 0" pButton="pButton" pRipple="pRipple" type="button" icon="pi pi-star" class="p-button-rounded p-button-outlined p-button-sencondary mr-2" pTooltip="Administrar notas" tooltipPosition="top" (click)="listarNotaMateria(notaMateria)"> </button>
                </td>
                <td *ngFor="let col of columns">
                    <ng-container [ngSwitch]="col.field">
                        <ng-container *ngSwitchCase="'pernomcompleto'">
                            <div class="user-display flex">
                                <div *ngIf="!notaMateria.perfoto">
                                    <p-avatar
                                        image="{{ userProfilePhotoEmpty }}"
                                        styleClass="mr-2"
                                        shape="circle"
                                        size="large"
                                    ></p-avatar>
                                </div>
                                <div *ngIf="notaMateria.perfoto">
                                    <p-avatar
                                        image="{{ userProfilePhoto }}/{{
                                            notaMateria.perfoto
                                        }}"
                                        styleClass="mr-2"
                                        shape="circle"
                                        size="large"
                                    ></p-avatar>
                                </div>
                                <div>
                                    <span class="font-bold mb-2">{{
                                        notaMateria.pernomcompleto
                                    }}</span>
                                    <br />
                                    <span>{{ notaMateria.pernrodoc }}</span>
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngSwitchCase="'num_estudiantes'">
                            <p class="text-center">
                                {{ notaMateria?.num_estudiantes }}
                            </p>
                        </ng-container>
                        <ng-container *ngSwitchCase="'curmatestado'">
                            <div class="text-center">
                                <p-tag
                                    [value]="
                                        getDescriptionStatus(
                                            notaMateria[col.field]
                                        )
                                    "
                                    [severity]="
                                        getSeverityStatus(
                                            notaMateria[col.field]
                                        )
                                    "
                                    [rounded]="true"
                                ></p-tag>
                            </div>
                        </ng-container>
                        <ng-container *ngSwitchCase="'curmatusureg'">
                            <div
                                pTooltip="{{
                                    notaMateria.curmatfecreg
                                        | date : 'd MMMM, y h:mm:ss a'
                                }}"
                                tooltipPosition="bottom"
                            >
                                <p-chip>
                                    <div class="p-2">
                                        {{ notaMateria.curmatusureg }}
                                    </div>
                                </p-chip>
                            </div>
                        </ng-container>
                        <ng-container *ngSwitchCase="'curmatusumod'">
                            <div
                                pTooltip="{{
                                    notaMateria.curmatfecmod
                                        | date : 'd MMMM, y h:mm:ss a'
                                }}"
                                tooltipPosition="bottom"
                            >
                                <p-chip>
                                    <div class="p-2">
                                        {{ notaMateria.curmatusumod }}
                                    </div>
                                </p-chip>
                            </div>
                        </ng-container>
                        <ng-container *ngSwitchDefault>
                            {{ notaMateria[col.field] }}
                        </ng-container>
                    </ng-container>
                </td>
            </tr>
        </ng-template>
        <!-- Mensaje cuando no hay datos -->
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="8">
                    No se encontraron cursos ni materias registrados.
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-card>

<!-- Dialog Lista de notas por materia -->
<p-dialog   p-dialog [(visible)]="verNotasClicked" header="Lista Notas por Materia" [modal]="true" class="p-fluid" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '85vw' }" [draggable]="false" [resizable]="false" [maximizable]="true" blockScroll="true">
    <!-- <p-card> -->
        <div class="flex">
            <div class="col-12 md:col-6">
                <h3>Nota</h3>
                <p>Administrar registros de notas por materia</p>
                <p><span class="font-bold mr-2"> Curso:</span> <span class=""> {{curnombre}} </span></p>
                <p><span class="font-bold mr-2"> Materia:</span> <span class=""> {{matnombre}} </span></p>
            </div>
            <div class="col-12 md:col-6">
                <h4>Instrucciones para subir notas</h4>
                <p>Esta es la sección de instrucciones para subir las notas mediante la opción de subir notas en un archivo de tipo Excel.</p>
                <div>
                    <ul class="list-none">
                        <li>1. Descargar las notas en tipo excel.</li>
                        <li>2. Abrir el archivo descargado y asignar las notas.</li>
                        <li>3. Presionar el botón subir archivo.</li>
                        <li>4. Verificar las notas subidas.</li>
                        <li>5. Presionar el botón registrar notas.</li>
                    </ul>
                </div>
            </div>
        </div>
    <!-- </p-card> -->
    <p-table
        #dt2
        [value]="listarNotaEstudianteCurso"
        responsiveLayout="scroll"
        class="m-2"
        [loading]="loading2"
        [globalFilterFields]="['pernomcompleto', 'pernrodoc']"
        rowGroupMode="rowspan"
        groupRowsBy="curnombre"
        sortField="curnombre"
        [rows]="10"
        [paginator]="true"
        [rowsPerPageOptions]="[5, 10, 20, 50]"
        responsiveLayout="stack"
        [rowHover]="true"
        [breakpoint]="'960px'"
        [tableStyle]="{ 'min-width': '50rem' }"
        styleClass="p-datatable-striped p-datatable-sm p-card"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} entradas"
    >
        <ng-template pTemplate="caption">
            <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                <span class="block mt-2 md:mt-0 p-input-icon-left">
                    <span class="block mt-2 md:mt-0 p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="onGlobalFilter(dt2, $event)" placeholder="Buscar..." class="w-full sm:w-auto" pTooltip="Buscar por nombre de estudiante" tooltipPosition="top"/>
                    </span>
                </span>
                <div class="flex">
                    <p-button class="mr-2 w-auto" (click)="exportExcel()" severity="success" icon="pi pi-file-excel" label="Descargar Excel" pTooltip="Descargar notas en excel" tooltipPosition="top"></p-button>
                    <p-button class="mr-2 w-auto" (click)="abrirModalNotaSubir()" severity="primary"  icon="pi pi-upload" label="Subir Notas" pTooltip="Subir archivo con las notas en Excel" tooltipPosition="top"></p-button>
                    <p-button class="mr-2 w-auto" (click)="rptnotaMateria()" severity="danger" icon="pi pi-file-pdf" label="Reporte Notas" pTooltip="Ver reporte de notas de la materia: {{matnombre}}" tooltipPosition="top"></p-button>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th> # </th>
                <th> Acciones </th>
                <th> Nombre Completo </th>
                <th> Número Documento </th>
                <th> 1° Nota </th>
                <th> 2° Nota </th>
                <th> 3° Nota </th>
                <th> Nota Final </th>
                <th> Estado </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-nota let-rowIndex="rowIndex" let-rowgroup="rowgroup" let-rowspan="rowspan" >
            <tr>
                <td>{{rowIndex + 1 }}</td>
                <td>
                    <button *ngIf="!nota.notid" pButton="pButton" pRipple="pRipple" type="button" icon="pi pi-plus" class="p-button-rounded p-button-outlined p-button-success m-1" pTooltip="Registrar nota de: {{nota.pernomcompleto}}" tooltipPosition="top" (click)="addNota(nota)"> </button>
                    <button *ngIf="nota.notid"  pButton="pButton" pRipple="pRipple" type="button" icon="pi pi-pencil" class="p-button-rounded p-button-outlined p-button-primary m-1" pTooltip="Editar nota de: {{nota.pernomcompleto}}" tooltipPosition="top" (click)="updateNota(nota)"> </button>
                </td>
                <td>
                    <div *ngIf="nota.perfoto == null" class="user-display">
                        <p-avatar image="../../../../../assets/images/login/sin_foto_perfil.png" styleClass="mr-2" size="xlarge" shape="circle"></p-avatar>
                        <span class="font-bold ml-2">{{ nota.pernomcompleto }}</span>
                    </div>
                    <div *ngIf="nota.perfoto != null" class="user-display">
                        <p-avatar image="{{ userProfilePhoto }}/{{ nota.perfoto }}" styleClass="mr-2" size="xlarge" shape="circle"></p-avatar>
                        <span class="font-bold ml-2">{{ nota.pernomcompleto }}</span>
                    </div>
                </td>
                <td> {{nota.pernrodoc}} </td>
                <td> {{nota.not1}} </td>
                <td> {{nota.not2}} </td>
                <td> {{nota.not3}} </td>
                <td> <p-chip *ngIf="nota.notfinal"> <div class="p-1 font-bold">{{nota.notfinal}}</div></p-chip> </td>
                <td>
                    <div
                        *ngIf="nota.notfinal !== null && nota.notfinal !== 0"
                        [ngClass]="{
                            'customer-badge': true,
                            'status-qualified': nota.notfinal > 70,
                            'status-unqualified': nota.notfinal <= 70
                        }">
                        {{ nota.notfinal > 70 ? 'Aprobado' : 'Reprobado' }}
                    </div>
                    <div
                        *ngIf="nota.notfinal === null || nota.notfinal === 0"
                        class="customer-badge status-negotiation">
                        Abandono
                    </div>
                </td>


            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="9">No se encontro al estudiante.</td>
            </tr>
        </ng-template>
    </p-table>
    <ng-template pTemplate="footer">
        <div class="mt-2">
            <p-button icon="pi pi-times" label="Cerrar" [outlined]="true" (click)="verNotasClicked=false"></p-button>
        </div>
    </ng-template>
</p-dialog>

<!-- Dialog Registro de notas -->
<p-dialog [(visible)]="notaRegistroDialog" [style]="{width: '50%'}" header="Registro Nota" [modal]="true" class="p-fluid" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '20vw' }" [draggable]="false" [resizable]="false" [maximizable]="false" blockScroll="true">
    <ng-template pTemplate="header"><label class="text-xl font-bold block mb-2" for="materia">Nota</label></ng-template>
    <form [formGroup]="notaForm">
        <div class="grid p-fluid">
            <!-- 1° Nota -->
            <div class="col-12">
                <label class="font-bold block mb-2" for="not1">1° Nota</label>
                <p-inputNumber
                    placeholder="Ingrese la nota"
                    formControlName="not1"
                    [step]="0.1"
                    mode="decimal"
                    [minFractionDigits]="2"
                    [maxFractionDigits]="2"
                    [showButtons]="true"
                    inputId="not1"
                    [min]="0"
                    [max]="100"
                    [ngClass]="{ 'valid-field': notaForm.get('not1').valid }"
                    styleClass="mb-2"
                ></p-inputNumber>
                <small class="p-error block" *ngIf="notaForm.get('not1').invalid && notaForm.get('not1').dirty">
                    <span *ngIf="notaForm.get('not1').errors?.required">La nota es requerida.</span>
                    <span *ngIf="notaForm.get('not1').errors?.min">La nota debe ser mayor o igual a cero. (*)</span>
                    <span *ngIf="notaForm.get('not1').errors?.max">La nota debe ser menor o igual a 100. (*)</span>
                </small>
                <small class="p-success block" *ngIf="notaForm.get('not1').valid">La nota es válida.</small>
            </div>
            <!-- 2° Nota -->
            <div class="col-12">
                <label class="font-bold block mb-2" for="not2">2° Nota</label>
                <p-inputNumber
                    placeholder="Ingrese la nota"
                    formControlName="not2"
                    [step]="0.1"
                    mode="decimal"
                    [minFractionDigits]="2"
                    [maxFractionDigits]="2"
                    [showButtons]="true"
                    inputId="not2"
                    [min]="0"
                    [max]="100"
                    [ngClass]="{ 'valid-field': notaForm.get('not2').valid }"
                    styleClass="mb-2"
                ></p-inputNumber>
                <small class="p-error block" *ngIf="notaForm.get('not2').invalid && notaForm.get('not2').dirty">
                    <span *ngIf="notaForm.get('not2').errors?.required">La nota es requerida.</span>
                    <span *ngIf="notaForm.get('not2').errors?.min">La nota debe ser mayor o igual a cero. (*)</span>
                    <span *ngIf="notaForm.get('not2').errors?.max">La nota debe ser menor o igual a 100. (*)</span>
                </small>
                <small class="p-success block" *ngIf="notaForm.get('not2').valid">La nota es válida.</small>
            </div>
            <!-- 3° Nota -->
            <div class="col-12">
                <label class="font-bold block mb-2" for="not3">3° Nota</label>
                <p-inputNumber
                    placeholder="Ingrese la nota"
                    formControlName="not3"
                    [step]="0.1"
                    mode="decimal"
                    [minFractionDigits]="2"
                    [maxFractionDigits]="2"
                    [showButtons]="true"
                    inputId="not3"
                    [min]="0"
                    [max]="100"
                    [ngClass]="{ 'valid-field': notaForm.get('not3').valid }"
                    styleClass="mb-2"
                ></p-inputNumber>
                <small class="p-error block" *ngIf="notaForm.get('not3').invalid && notaForm.get('not3').dirty">
                    <span *ngIf="notaForm.get('not3').errors?.required">La nota es requerida.</span>
                    <span *ngIf="notaForm.get('not3').errors?.min">La nota debe ser mayor o igual a cero. (*)</span>
                    <span *ngIf="notaForm.get('not3').errors?.max">La nota debe ser menor o igual a 100. (*)</span>
                </small>
                <small class="p-success block" *ngIf="notaForm.get('not3').valid">La nota es válida.</small>
            </div>
        </div>
    </form>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"(click)="hideDialog()"></button>
        <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text"(click)="registrarNota()"></button>
    </ng-template>
</p-dialog>

<!-- Dialog Subir notas -->
<p-dialog [(visible)]="notasImportadas" header="Subir notas" [modal]="true" class="p-fluid" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '60vw' }" [draggable]="false" [resizable]="false" [maximizable]="true" >
    <div class="text-left">
        <span class="font-bold text-base"> Curso:</span> <span class="text-base"> {{this.curnombre}} </span>
        <br>
        <span class="font-bold text-base"> Materia: </span> <span class="text-base"> {{this.matnombre}} </span>
    </div>
    <p-table #dt2 [value]="nota_recuperada" responsiveLayout="scroll" class="m-2" [loading]="loading2" styleClass="p-datatable-gridlines p-datatable-gridlines" [globalFilterFields]="['pernomcompleto', 'pernrodoc']" rowGroupMode="rowspan" groupRowsBy="curnombre" sortField="curnombre">
        <ng-template pTemplate="caption">
            <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                <span class="block mt-2 md:mt-0 p-input-icon-left">
                    <span class="block mt-2 md:mt-0 p-input-icon-left">
                        <div class="justify-content-center">
                            <p-fileUpload mode="basic" chooseLabel="Elejir archivo" name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php" accept=".xls,.xlsx" maxFileSize="1000000" (onSelect)="onFileChange($event)"></p-fileUpload>
                        </div>
                    </span>
                </span>
                <div class="flex">
                    <p-button icon="pi pi-trash" label="Limpiar" (click)="hideSubirNota()" pTooltip="Borrar datos recuperados" tooltipPosition="top" severity="danger"></p-button>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th></th>
                <th> Nombre del Estudiante </th>
                <th> Nro. Documento </th>
                <th> 1° Nota </th>
                <th> 2° Nota </th>
                <th> 3° Nota </th>
                <th> Nota Final </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-nota let-rowIndex="rowIndex" let-rowgroup="rowgroup" let-rowspan="rowspan" >
            <tr>
                <td>{{ rowIndex + 1 }}</td>
                <td> {{ nota.pernomcompleto }} </td>
                <td> {{nota.pernrodoc}} </td>
                <td> {{nota.not1}} </td>
                <td> {{nota.not2}} </td>
                <td> {{nota.not3}} </td>
                <td> <p-chip *ngIf="nota.notfinal"> <div class="p-1"> <strong>{{nota.notfinal}} pts</strong>  </div> </p-chip> </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="9">No se encontró registros</td>
            </tr>
        </ng-template>
    </p-table>
        <ng-template pTemplate="footer">
        <div class="mt-2">
            <p-button icon="pi pi-times" label="Cerrar" [outlined]="true" (click)="notasImportadas=false"></p-button>
            <p-button icon="pi pi-save" label="Registrar notas" (click)="subirNotas(nota_recuperada)" pTooltip="Registrar notas" tooltipPosition="top" severity="success"></p-button>
        </div>
        </ng-template>
</p-dialog>
