<!-- <ng-container *hasPermision="admPlanilla" > -->
    <p-toast></p-toast>
    <div class="grid">
    <div class="col-12">
        <div class="card">
            <ng-container>
                <p-table #dt [value]="listarMateriasInscritas" selectionMode="single"
                        data="idBeneficioSocial" responsiveLayout="scroll" class="m-2" [loading]="loading"
                        [rowsPerPageOptions]="[5, 10, 20]" [rows]="10" [paginator]="true"
                        styleClass="p-datatable-striped" [globalFilterFields]="['curnombre', 'matnombre', 'pernomcompleto']"
                        rowGroupMode="rowspan" groupRowsBy="curnombre" sortField="curnombre"
                        >
                    <ng-template pTemplate="caption">
                        <div class="font-bold text-3xl text-center">
                            <!-- <span class="text-900">Curso - Materia</span> -->
                            <span class="text-primary-600"> Administrar Notas </span>
                          </div>
                        <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                            <!-- <button pButton pRipple label="Nueva inscripción" icon="pi pi-plus" class="p-button-success mr-2" (click)="abrirNuevo()"></button> -->
                            <!-- <h5 class="m-0">Lista de materias</h5> -->
                            <span class="block mt-2 md:mt-0 p-input-icon-left">
                                <!-- <i class="pi pi-search"></i> -->
                                <!-- <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..." class="w-full sm:w-auto" /> -->
                                <span class="block mt-2 md:mt-0 p-input-icon-left">
                                    <i class="pi pi-search"></i>
                                    <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..." class="w-full sm:w-auto" />
                                </span>
                                <!-- <button pButton pRipple label="Reporte nota" icon="pi pi-file-pdf"
                                    (click)="notaService.rptNotaEstudianteMateria()"
                                    class="p-button-rounded p-button-danger mr-2"></button> -->
                            </span>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <!-- <th pSortableColumn="curmatid"> Nro <p-sortIcon field="curmatid"></p-sortIcon></th> -->
                            <th> Nombre del Curso </th>
                            <th> Fecha del Curso</th>
                            <th pSortableColumn="matnombre"> Nombre de la Materia <p-sortIcon field="matnombre"></p-sortIcon></th>
                            <th pSortableColumn="pernomcompleto"> Docente <p-sortIcon field="pernomcompleto"></p-sortIcon></th>
                            <th>Opciones</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-notaMateria let-rowIndex="rowIndex" let-rowgroup="rowgroup"
                    let-rowspan="rowspan">
                        <tr [pSelectableRow]="notaMateria" (click)="listarNotaMateria(notaMateria)">
                            <!-- <td> {{notaMateria.curmatid}} </td> -->
                            <td *ngIf="rowgroup" [attr.rowspan]="rowspan"> {{notaMateria.curnombre}} </td>
                            <td> {{ notaMateria.curmatfecini + ' a '+ notaMateria.curmatfecfin}}  </td>
                            <td> {{notaMateria.matnombre}} </td>
                            <td>
                                <div *ngIf="notaMateria.perfoto == null" class="user-display">
                                    <p-avatar image="../../../../../assets/images/login/sin_foto_perfil.png"
                                        styleClass="mr-2" size="xlarge" shape="circle"></p-avatar>
                                    <span class="font-bold ml-2">{{ notaMateria.pernomcompleto }}</span>
                                </div>
                                <div *ngIf="notaMateria.perfoto != null" class="user-display">
                                    <p-avatar image="{{ apiUrl }}/{{ notaMateria.perfoto }}" styleClass="mr-2"
                                        size="xlarge" shape="circle"></p-avatar>
                                    <span class="font-bold ml-2">{{ notaMateria.pernomcompleto }}</span>
                                </div>
                            </td>
                            <td>
                                <button pButton="pButton" pRipple="pRipple" type="button"
                                icon="pi pi-file-pdf" class="p-button-rounded p-button-danger mr-2"
                                pTooltip="Reporte de nota por materia" tooltipPosition="top" (click)="notaService.rptNotaCursoMateria(notaMateria)">
                            </button>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="9">No se encontraron cursos ni materias registrados.</td>
                        </tr>
                    </ng-template>
                </p-table>
                <div *ngIf="verNotasClicked">
                    <p-dialog [(visible)]="verNotasClicked" header="Lista de estudiantes" [modal]="true" class="p-fluid"
                    [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '80vw' }" [draggable]="false" [resizable]="false" [maximizable]="true"
                    >
                    <p-table #dt2 [value]="listarNotaEstudianteCurso" responsiveLayout="scroll" class="m-2"
                        [loading]="loading2" styleClass="p-datatable-gridlines"
                        [globalFilterFields]="['curnombre', 'matnombre', 'pernomcompleto']"
                        rowGroupMode="rowspan" groupRowsBy="curnombre" sortField="curnombre"
                        >
                        <ng-template pTemplate="caption">
                            <!-- <div class="flex flex-column">
                                    <h5 class="m-0">Lista de estudiantes por materia</h5>
                                </div> -->
                            <div class="flex">
                                <span class="p-input-icon-left ml-auto">
                                    <i class="pi pi-search"></i>
                                    <input pInputText type="text"
                                        (input)="dt2.filterGlobal($event.target.value, 'contains')"
                                        placeholder="Buscar" />
                                </span>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <!-- <th> Nro </th> -->
                                <th > Nombre del Curso y Materia</th>
                                <!-- <th> Nombre de la Materia </th> -->
                                <th> Nombre del Estudiante </th>
                                <th> 1° Nota </th>
                                <th> 2° Nota </th>
                                <th> 3° Nota </th>
                                <th> Nota final </th>
                                <th> Opciones </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-nota
                        let-rowIndex="rowIndex" let-rowgroup="rowgroup" let-rowspan="rowspan"
                        >
                            <tr>
                                <!-- <td> {{nota.notid}} </td> -->
                                <td *ngIf="rowgroup" [attr.rowspan]="rowspan"> {{nota.curnombre}} <br> <strong>{{nota.matnombre}}</strong></td>
                                <!-- <td>  </td> -->
                                <!-- <td> {{nota.pernomcompleto}} </td> -->
                                <td>
                                    <div *ngIf="nota.perfoto == null" class="user-display">
                                        <p-avatar image="../../../../../assets/images/login/sin_foto_perfil.png"
                                            styleClass="mr-2" size="xlarge" shape="circle"></p-avatar>
                                        <span class="font-bold ml-2">{{ nota.pernomcompleto }}</span>
                                    </div>
                                    <div *ngIf="nota.perfoto != null" class="user-display">
                                        <p-avatar image="{{ apiUrl }}/{{ nota.perfoto }}" styleClass="mr-2"
                                            size="xlarge" shape="circle"></p-avatar>
                                        <span class="font-bold ml-2">{{ nota.pernomcompleto }}</span>
                                    </div>
                                </td>
                                <td> <p-chip>
                                        <div class="p-1">{{nota.not1}} </div>
                                    </p-chip> </td>
                                <td> <p-chip>
                                        <div class="p-1">{{nota.not2}} </div>
                                    </p-chip> </td>
                                <td> <p-chip>
                                        <div class="p-1">{{nota.not3}} </div>
                                    </p-chip> </td>
                                <td> <p-chip>
                                        <div class="p-1">{{nota.notfinal}} </div>
                                    </p-chip> </td>
                                <td>
                                    <button *ngIf="!nota.notid" pButton="pButton" pRipple="pRipple" type="button"
                                        icon="pi pi-plus" class="p-button-rounded p-button-success m-1"
                                        pTooltip="Registrar nota" tooltipPosition="top" (click)="addNota(nota)">
                                    </button>
                                    <button *ngIf="nota.notid" pButton="pButton" pRipple="pRipple" type="button"
                                        icon="pi pi-pencil" class="p-button-rounded p-button-primary m-1"
                                        pTooltip="Editar nota" tooltipPosition="top" (click)="updateNota(nota)">
                                    </button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="9">No se encontraron notas registradas.</td>
                            </tr>
                        </ng-template>
                    </p-table>

                    </p-dialog>
                </div>
            </ng-container>
            <p-dialog [(visible)]="notaRegistroDialog" [style]="{width: '50%'}" header="Nota" [modal]="true"
                class="p-fluid">
                <ng-template pTemplate="content">
                    <div class="grid p-fluid mt-3">

                        <div class="field col-12 md:col-4 align-items-center text-center">
                            <span id="label_number">1° Nota </span>
                            <p-knob ariaLabelledBy="label_number" [(ngModel)]="nota.not1"></p-knob>
                        </div>

                        <div class="field col-12 md:col-4 align-items-center text-center">
                            <span id="label_number2">2° Nota</span>
                            <p-knob ariaLabelledBy="label_number2" [(ngModel)]="nota.not2"></p-knob>
                        </div>

                        <div class="field col-12 md:col-4 align-items-center text-center">
                            <span id="label_number3">3° Nota</span>
                            <p-knob ariaLabelledBy="label_number3" [(ngModel)]="nota.not3"></p-knob>
                        </div>

                        <!-- <div class="field col-12 md:col-3 align-items-center">
                            <span id="label_number4">Nota Final</span>
                            <p-knob ariaLabelledBy="label_number4" [(ngModel)]="nota.notfinal"></p-knob>
                        </div> -->
                    </div>
                </ng-template>

                <ng-template pTemplate="footer">
                    <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
                        (click)="hideDialog()"></button>
                    <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text"
                        (click)="registrarNota()"></button>
                </ng-template>

            </p-dialog>
        </div>
    </div>
</div>
