<p-toast></p-toast>
    <p-card>
        <p-breadcrumb class="max-w-full" [model]="items" [home]="home"></p-breadcrumb>
        <h3>Tipo Profesión</h3>
        <p>Administrar registros de profesión</p>
        <p-table
            #dt2
            [value]="TipoProfesion"
            [tableStyle]="{'min-width': '50rem'}"
            responsiveLayout="stack"
            [breakpoint]="'960px'"
            styleClass="p-datatable-striped p-card p-datatable-sm"
            [loading]="loading"
        >
            <ng-template pTemplate="caption">
                <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                    <div  class="flex justify-content-center">
                        <button
                            pButton
                            pRipple
                            icon="pi pi-plus"
                            label="Nuevo"
                            class="p-button-outlined p-button-rounded p-button-primary mr-2"
                            (click)="adicionarTipoProfesion()"
                            pTooltip="Adicionar"
                            tooltipPosition="right"
                        ></button>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th></th>
                    <th pTooltip="Nombre del tipo de profesión" tooltipPosition="top">Nombre</th>
                    <th>Observación</th>
                    <th pTooltip="Usuario y fecha registrado" tooltipPosition="top">Registrado</th>
                    <th pTooltip="Usuario y fecha modificado" tooltipPosition="top">Modificado</th>
                    <th>Estado</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-tippro>
                <tr>
                    <td>
                        <div class="flex justify-content-center">
                            <button pButton
                                    pRipple
                                    icon="pi pi-pencil"
                                    class="p-button-outlined p-button-rounded p-button-primary mr-2"
                                    (click)="modificarTipoProfesion(tippro)"
                                    pTooltip="Modificar"
                                    tooltipPosition="top"
                            ></button>
                            <button
                                pButton
                                pRipple
                                icon="pi pi-trash"
                                class="p-button-outlined p-button-rounded p-button-danger mr-2"
                                (click)="confirmarEliminarTipoProfesion(tippro)"
                                pTooltip="Eliminar"
                                tooltipPosition="top"
                            ></button>
                        </div>
                    </td>
                    <td>
                        <ng-container *ngIf="tippro.pronombre != null; else noRegistro">
                            {{tippro.pronombre}}
                        </ng-container>
                    </td>
                    <td>
                        <ng-container *ngIf="tippro.proobservacion; else noRegistro">
                            {{tippro.proobservacion}}
                        </ng-container>
                    </td>
                    <td>
                        <ng-container *ngIf="tippro.prousureg; else noRegistro">
                            {{tippro.prousureg}}
                            {{tippro.profecreg | date:'d MMMM, y h:mm:ss a'}}
                        </ng-container>
                    </td>
                    <td>
                        <ng-container *ngIf="tippro.prousumod; else noRegistro">
                            {{tippro.prousumod}}
                            {{tippro.profecmod | date:'d MMMM, y h:mm:ss a'}}
                        </ng-container>
                    </td>
                    <td>
                        <p-tag [value]="getDescriptionStatus(tippro.proestado)"
                               [severity]="getSeverityStatus(tippro.proestado)"
                               [rounded]="true"
                        ></p-tag>
                    </td>
                    <ng-template #noRegistro>...</ng-template>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="9">No se encontró las información solicitada.</td>
                </tr>
            </ng-template>
        </p-table>
    </p-card>



<p-dialog
    [(visible)]="tipoProfesionDialog"
    header="Tipo Profesión"
    [modal]="true"
    class="p-fluid"
    [breakpoints]="{ '960px': '75vw' }"
    [style]="{ width: '25vw' }"
    [draggable]="false"
    [resizable]="false"
    [maximizable]="true"
>
    <form [formGroup]="tipoProfesionForm" novalidate>
        <div class="grid p-fluid">

            <div class="field col-12">
                <span class="p-float-label">
                    <input type="text" id="pronombre" pInputText formControlName="pronombre">
                    <label for="pronombre">Nombre</label>
                </span>
                <small
                    class="p-error block"
                    *ngIf="tipoProfesionForm.get('pronombre').invalid && tipoProfesionForm.get('pronombre').touched"
                >
                    <span
                        *ngIf="tipoProfesionForm.get('pronombre').errors?.required"
                    >
                        El nombre es requerido. (*)
                    </span>
                </small>
            </div>

            <div class="field col-12">
                <label class="font-bold block" for="proobservacion">Observación</label>
                <textarea
                    class="my-2"
                    inputId="textarea"
                    rows="2" cols="30"
                    formControlName="proobservacion"
                    appendTo="body"
                    pInputTextarea
                ></textarea>
            </div>

            <div class="field col-12">
                <label class="font-bold block" for="proestado">Estado</label>
                <div class="flex align-items-center justify-content-center">
                    <p-selectButton
                        [options]="stateOptionsEstado"
                        formControlName="proestado"
                        optionLabel="label"
                        optionValue="value"
                    ></p-selectButton>
                </div>
            </div>
        </div>
    </form>

    <ng-template pTemplate="footer">
        <button
            pButton
            pRipple
            label="Cancelar"
            icon="pi pi-times"
            class="p-button-text"
            (click)="ocultarTipoProfesion()"
        ></button>
        <button
            pButton
            pRipple
            label="Guardar"
            icon="pi pi-check"
            class="p-button-text"
            (click)="enviarTipoProfesion()"
        ></button>
    </ng-template>
</p-dialog>



<p-dialog [(visible)]="eliminarTipoProfesionDialog" header="Confirmar" [modal]="true">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>Estas seguro de eliminar el registro <b>{{tipoProfesion?.pronombre}}</b>?</span></div>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="No" icon="pi pi-times" class="p-button-text" (click)="eliminarTipoProfesionDialog = false"></button>
        <button pButton pRipple label="Si" icon="pi pi-check" class="p-button-text" (click)="eliminarTipoProfesion()"></button>
    </ng-template>
</p-dialog>
