<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="surface-card p-4 shadow-2 border-round w-50rem">
        <div class="w-full surface-card">
            <div class="p-grid bg-bluegray-900 text-gray-100 p-3 border-round">
                <div class="p-col-12 p-md-3 font-bold mb-2">✉️ ¡Hola, bienvenid@!</div>
                <div class="p-col-12 p-md-9">
                    <span class="line-height-3">Por favor, confirma tu cuenta para acceder a todas las funciones.</span>
                </div>
            </div>
            <div class="px-2 py-4 md:px-3 lg:px-3">
                <div class="text-700">
                    <div class="text-900 font-bold text-base mb-3">No has confirmado tu cuenta de usuario: </div>
                    <!-- <hr> -->
                    <div class="text-600 text-base mb-2">Por favor, revisa tu bandeja de entrada (y tu carpeta de spam).</div>
                    <div class="text-600 text-base mb-3">Deberías haber recibido un correo electrónico con un enlace de confirmación. 📧</div>
                    <div class="flex justify-content-center">
                        <button pButton pRipple label="Volver" icon="pi pi-angle-left" class="p-button-danger p-button white-space-nowrap mr-2" [routerLink]="['/login']"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
