.full-width-dropdown {
    width: 100% !important;
    /* Ajusta el ancho al 100% del contenedor */
    box-sizing: border-box;
    /* Incluye el padding y el borde en el ancho total */
}

.p-success {
    color: #29c76f;
    list-style-type: none;
    /* Elimina los marcadores de lista */
    padding-left: 0;
    /* Elimina el relleno izquierdo que podría haber dejado el marcador de lista */
}

.user-display {
    display: flex;
    align-items: center;
    /* Alinea los ítems verticalmente en el centro */
}

.user-info-container {
    display: flex;
    align-items: center;
    /* Alinea verticalmente los elementos del flex container */
    margin-bottom: 20px;
    /* Espacio adicional al final del contenedor */
}

.user-info-avatar {
    margin-right: 20px;
    /* Espacio entre el avatar y los detalles del usuario */
}

.user-info-details {
    flex-grow: 1;
    /* Permite que este div ocupe el espacio restante */
}

/* Estilo para los mensajes de error */
.p-error {
    list-style-type: none;
    /* Elimina los marcadores de lista */
    padding-left: 0;
    /* Elimina el relleno izquierdo que podría haber dejado el marcador de lista */
}

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 768px) {
    .surface-ground {
        padding: 20px;
        /* Agrega un espacio alrededor del formulario en pantallas pequeñas */
    }

    .field {
        width: 100%;
        /* Asegúrate de que los campos ocupen todo el ancho en pantallas pequeñas */
    }

    .surface-card {
        border-radius: 30px;
        /* Reduzca el radio de borde en pantallas pequeñas */
        padding: 20px;
        /* Agrega un espacio dentro de la tarjeta en pantallas pequeñas */
    }
}
