<div class="grid">
    <p-toast></p-toast>
    <div class="col-12">
        <div class="card">
            <p-breadcrumb class="max-w-full" [model]="items" [home]="home"></p-breadcrumb>
            <h3>Sesiones</h3>
            <hr>
            <p-table #dtMenu [value]="usuarios" responsiveLayout="stack" class="m-2" [loading]="loading"
                [rowsPerPageOptions]="[5, 10, 20]" [rows]="10" [paginator]="true"
                styleClass="p-datatable-striped p-card p-datatable-sm" [globalFilterFields]="['nombre']"
                rowGroupMode="rowspan" groupRowsBy="nombre" [showCurrentPageReport]="true"
                currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} entradas"
                [rowHover]="true">

                <ng-template pTemplate="caption">
                    <div class="flex align-items-center justify-content-between table-reader">
                        <button pButton pRipple label="Nueva Sesión" icon="pi pi-user-plus"
                            class="p-button-primary mr-2" pTooltip="Crear Nueva Sesión"
                            tooltipPosition="top"></button>
                        <span class="p-input-icon-left w-auto">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dtMenu.filterGlobal($event.target.value, 'contains')"
                                placeholder="Buscar..." pTooltip="Buscar por nombre" tooltipPosition="top" />
                        </span>
                    </div>
                </ng-template>

                <ng-template pTemplate="header">
                    <tr>
                        <th> ID </th>
                        <th> Nombre </th>
                        <th> Puntaje </th>
                        <th> Tiempo </th>
                        <th> Cantidad </th>
                        <th> Descripcion </th>
                        <th> Opciones </th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-paciente>
                    <tr>

                        <td> {{ paciente.id }} </td>
                        <td> {{ paciente.nombre }} </td>
                        <td> {{ paciente.puntaje }} </td>
                        <td>
                            {{ paciente.tiempo }} <br>
                        </td>
                        <td>
                            {{ paciente.cantidad }} <br>
                        </td>
                        <td>
                            {{ paciente.descripcion }} <br>
                        </td>
                        <td>
                            <div class="flex justify-content-center">
                                <button pButton="pButton" pRipple="pRipple" type="button" icon="pi pi-pencil"
                                    class="p-button mr-2" pTooltip="Editar" tooltipPosition="top"></button>
                                <button pButton="pButton" pRipple="pRipple" type="button" icon="pi pi-trash"
                                    class="p-button-danger mr-2" pTooltip="Eliminar" tooltipPosition="top"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="6">No se encontraron registros</td>
                    </tr>
                </ng-template>
            </p-table>
            <!--<p-tabView styleClass="tabview-custom">
                <p-tabPanel>
                    <ng-template pTemplate="header">
                        <span>Vista I</span>
                    </ng-template>
                    <p-table
                        #dt2
                        [columns]="selectedColumns"
                        [value]="usuarios"
                        [loading]="loading"
                        [rows]="10"
                        [globalFilterFields]="['pernomcompleto', 'usuname', 'rolnombre']"
                        [paginator]="true"
                        [rowsPerPageOptions]="[5,10,20]"
                        selectionMode="multiple"
                        [rowHover]="true"
                        dataKey="id"
                        rowGroupMode="rowspan"
                        groupRowsBy="pernomcompleto"
                        sortMode="single"
                        responsiveLayout="stack"
                        [breakpoint]="'960px'"
                        [tableStyle]="{'min-width': '50rem'}"
                        styleClass="p-datatable-striped p-datatable-sm"
                        [showCurrentPageReport]="true"
                        currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} entradas"
                    >
                        <ng-template pTemplate="caption">
                            <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                                <div class="flex">
                                    <button pButton pRipple label="Nuevo" icon="pi pi-user-plus" class="p-button-primary mr-2" (click)="createUser()" pTooltip="Crear nuevo usuario" tooltipPosition="top"></button>
                                    <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success mr-2" pTooltip="Reporte XLS" tooltipPosition="top"></button>
                                    <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-danger mr-2" pTooltip="Reporte PDF" tooltipPosition="top"></button>
                                </div>
                                <div class="flex mt-1 justify-content-center">
                                    <p-multiSelect
                                        [options]="colsColumsTable"
                                        [(ngModel)]="selectedColumns"
                                        optionLabel="header"
                                        selectedItemsLabel="{0} columnas selecionadas"
                                        [style]="{'min-width': '200px'}"
                                        placeholder="Elige la/s columna/s">
                                    </p-multiSelect>
                                </div>
                                <span class="block mt-2 md:mt-0 p-input-icon-left">
                                    <i class="pi pi-search"></i>
                                    <input pInputText type="text" (input)="onGlobalFilter(dt2, $event)" placeholder="Buscar..." class="w-full sm:w-auto" pTooltip="Buscar por nombre completo, nombre de usuario y nombre de rol" tooltipPosition="top" />
                                </span>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th></th>
                                <th></th>
                                <th *ngFor="let col of columns" pSortableColumn="{{col.field}}">
                                    {{col.header}} <p-sortIcon field="{{col.field}}"></p-sortIcon>
                                </th>
                            </tr>
                            <tr>
                                <th> </th>
                                <th> </th>
                                <th *ngFor="let col of columns">
                                    <ng-container [ngSwitch]="col.field">
                                        <ng-container *ngSwitchCase="'rolnombre'">
                                            <p-columnFilter field="rolnombre" matchMode="equals" [showMenu]="false">
                                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                                    <p-dropdown
                                                        appendTo="body"
                                                        [ngModel]="value"
                                                        [options]="rolOptions"
                                                        (onChange)="filter($event.value)"
                                                        placeholder="Elegir"
                                                        [showClear]="true"
                                                        [filter]="true"
                                                        filterBy="value"
                                                    ></p-dropdown>
                                                </ng-template>
                                            </p-columnFilter>
                                        </ng-container>
                                        <ng-container ng-container *ngSwitchCase="'usuestado'">
                                            <p-columnFilter field="usuestado" matchMode="equals" [showMenu]="false">
                                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                                    <p-dropdown
                                                        [ngModel]="value"
                                                        [options]="statusOptions"
                                                        (onChange)="filter($event.value)"
                                                        placeholder="Elegir"
                                                        [showClear]="true"
                                                    >
                                                        <ng-template let-option pTemplate="item">
                                                            <p-tag [value]="getDescriptionStatus(option.value)" [severity]="getSeverityStatus(option.value)"></p-tag>
                                                        </ng-template>
                                                    </p-dropdown>
                                                </ng-template>
                                            </p-columnFilter>
                                        </ng-container>
                                        <ng-container ng-container *ngSwitchCase="'usuconfirmado'">
                                            <p-columnFilter field="usuconfirmado" matchMode="equals" [showMenu]="false">
                                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                                    <p-dropdown
                                                        [ngModel]="value"
                                                        [options]="statusConfirmEmail"
                                                        (onChange)="filter($event.value)"
                                                        placeholder="Elegir"
                                                        [showClear]="true"
                                                    >
                                                        <ng-template let-option pTemplate="item">
                                                            <p-tag [value]="getDescriptionConfirmEmail(option.value)" [severity]="getSeverityConfirmEmail(option.value)"></p-tag>
                                                        </ng-template>
                                                    </p-dropdown>
                                                </ng-template>
                                            </p-columnFilter>
                                        </ng-container>
                                        <ng-container *ngSwitchDefault>
                                            <p-columnFilter type="text" field="{{col.field}}"></p-columnFilter>
                                        </ng-container>
                                    </ng-container>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-usuario let-rowIndex="rowIndex" let-rowgroup="rowgroup"
                            let-rowspan="rowspan" let-columns="columns">
                            <tr>
                                <td *ngIf="rowgroup" [attr.rowspan]="rowspan" style="width:21%; min-width:10rem;">
                                    <div *ngIf="usuario.perfoto == null" class="user-display">
                                        <p-avatar
                                            image="../../../../../assets/images/login/sin_foto_perfil.png"
                                            styleClass="mr-2"
                                            size="xlarge"
                                            shape="circle"
                                        ></p-avatar>
                                        <span class="font-bold ml-2">{{ usuario.pernomcompleto }}</span>
                                    </div>
                                    <div *ngIf="usuario.perfoto != null" class="user-display">
                                        <p-avatar
                                            styleClass="mr-2"
                                            size="xlarge"
                                            shape="circle"
                                        ></p-avatar>
                                        <span class="font-bold ml-2">{{ usuario.pernomcompleto }}</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="flex">
                                        <div *ngIf="datosUsuario?.rolid == 1" class="flex">
                                            <button *ngIf="usuario.usuname != 'admin' && usuario.usuname != datosUsuario.usuname && usuario.usuestado == 1" pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-primary mr-2" pTooltip="Editar usuario" tooltipPosition="top" (click)="updateUser(usuario)"></button>
                                            <button *ngIf="usuario.usuname != 'admin' && usuario.usuname != datosUsuario.usuname && usuario.usuestado == 1" pButton pRipple icon="pi pi-lock" class="p-button-rounded p-button-warning mr-2" (click)="confirmChangePassword(usuario)" pTooltip="Cambiar contraseña" tooltipPosition="top"></button>
                                            <button *ngIf="usuario.usuname != 'admin' && usuario.usuname != datosUsuario.usuname && usuario.usuestado == 1" pButton pRipple icon="fa-solid fa-eye-slash" class="p-button-rounded p-button-danger mr-2" (click)="confirmDeactivate(usuario)" pTooltip="Desactivar Usuario" tooltipPosition="top"></button>
                                            <button *ngIf="usuario.usuname != 'admin' && usuario.usuname != datosUsuario.usuname && usuario.usuestado == 0" pButton pRipple icon="fa-solid fa-eye" class="p-button-rounded p-button-success mr-2" (click)="confirmActivate(usuario)" pTooltip="Activar Usuario" tooltipPosition="top"></button>
                                        </div>
                                        <div *ngIf="datosUsuario?.rolid == 2 && usuario?.rolid != 1" class="flex">
                                            <button *ngIf="usuario.usuname != datosUsuario.usuname && usuario.usuestado == 1" pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-primary mr-2" pTooltip="Editar usuario" tooltipPosition="top" (click)="updateUser(usuario)"></button>
                                            <button *ngIf="usuario.usuname != datosUsuario.usuname && usuario.usuestado == 1" pButton pRipple icon="pi pi-lock" class="p-button-rounded p-button-warning mr-2" (click)="confirmChangePassword(usuario)" pTooltip="Cambiar contraseña"  tooltipPosition="top"></button>
                                            <button *ngIf="usuario.usuname != datosUsuario.usuname && usuario.usuestado == 1" pButton pRipple icon="fa-solid fa-eye-slash" class="p-button-rounded p-button-danger mr-2" (click)="confirmDeactivate(usuario)" pTooltip="Desactivar Usuario" tooltipPosition="top"></button>
                                            <button *ngIf="usuario.usuname != datosUsuario.usuname && usuario.usuestado == 0" pButton pRipple icon="fa-solid fa-eye" class="p-button-rounded p-button-success mr-2" (click)="confirmActivate(usuario)" pTooltip="Activar Usuario" tooltipPosition="top"></button>
                                        </div>
                                    </div>
                                </td>

                                <td *ngFor="let col of columns">
                                    <ng-container [ngSwitch]="col.field">
                                        <ng-container *ngSwitchCase="'usuname'">
                                            <p-chip>
                                                <div class="p-2"> {{usuario.usuname}} </div>
                                            </p-chip>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="'usuconfirmado'">
                                            <p-tag [value]="getDescriptionConfirmEmail(usuario[col.field])" [severity]="getSeverityConfirmEmail(usuario[col.field])" [rounded]="true"></p-tag>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="'usuestado'">
                                            <p-tag [value]="getDescriptionStatus(usuario[col.field])" [severity]="getSeverityStatus(usuario[col.field])" [rounded]="true"></p-tag>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="'usuusureg'">
                                            <div pTooltip="{{ usuario.usufecreg | date: 'd MMMM, y h:mm:ss a' }}" tooltipPosition="bottom">
                                                <p-chip>
                                                    <div class="p-2"> {{usuario.usuusureg}} </div>
                                                </p-chip>
                                            </div>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="'usuusumod'">
                                            <div pTooltip="{{ usuario.usufecmod | date: 'd MMMM, y h:mm:ss a' }}" tooltipPosition="bottom">
                                                <p-chip>
                                                    <div class="p-2"> {{usuario.usuusumod}} </div>
                                                </p-chip>
                                            </div>
                                        </ng-container>
                                        <ng-container *ngSwitchDefault>
                                            {{usuario[col.field]}}
                                        </ng-container>
                                    </ng-container>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="9">No se encontró ningún registro.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-tabPanel>
                <p-tabPanel>
                    <ng-template pTemplate="header">
                        <span>Vista II</span>
                    </ng-template>
                    <p-dataView #dv [value]="filteredUsuarios" [paginator]="true" [rows]="12" filterBy="pernomcompleto" [sortField]="sortField" [sortOrder]="sortOrder" layout="grid" [emptyMessage]="'No se encontraron registros de usuarios.'" [loadingIcon]="'pi pi-spin pi-spinner'">
                        <ng-template pTemplate="header">
                            <div class="flex flex-column md:flex-row md:justify-content-between gap-2">
                                <button pButton pRipple label="Nuevo" icon="pi pi-user-plus" class="p-button-primary mr-2" (click)="createUser()" pTooltip="Registrar usuario nuevo"></button>
                                <div class="flex">
                                    <span class="p-input-icon-left">
                                        <i class="pi pi-search"></i>
                                        <input type="text" pInputText placeholder="Buscar por nombre" [(ngModel)]="searchText" (input)="filtarUsuarios()" />
                                    </span>
                                </div>
                                <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                            </div>
                        </ng-template>
                        <ng-template let-usuario pTemplate="listItem">
                            <div class="col-12">
                                <div class="flex flex-column md:flex-row align-items-center p-3 w-full">
                                    <div *ngIf="usuario.perfoto == null" class="user-display">
                                        <p-avatar image="../../../../../assets/images/login/sin_foto_perfil.png" styleClass="mr-2" size="xlarge" shape="circle"></p-avatar>
                                    </div>
                                    <div *ngIf="usuario.perfoto != null" class="user-display">
                                    </div>
                                    <div class="flex-1 flex flex-column align-items-center text-center md:text-left">
                                        <div class="font-bold text-xl">{{usuario.pernomcompleto}}</div>
                                        <div>
                                            <p-tag [rounded]="true">Usuario: {{usuario.usuname}} </p-tag>
                                        </div>
                                        <div class="flex align-items-center mt-2">
                                            <i class="pi pi-user mr-2"></i>
                                            <span class="font-semibold">Usuario: {{usuario.rolnombre}}</span>
                                        </div>
                                    </div>
                                    <div class="flex">
                                        <div *ngIf="datosUsuario?.rolid == 1" class="flex">
                                            <button *ngIf="usuario.usuname != 'admin' && usuario.usuname != datosUsuario.usuname && usuario.usuestado == 1" pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-primary mr-2" pTooltip="Editar usuario" tooltipPosition="top" (click)="updateUser(usuario)"></button>
                                            <button *ngIf="usuario.usuname != 'admin' && usuario.usuname != datosUsuario.usuname && usuario.usuestado == 1" pButton pRipple icon="pi pi-lock" class="p-button-rounded p-button-warning mr-2" (click)="confirmChangePassword(usuario)" pTooltip="Cambiar contraseña" tooltipPosition="top"></button>
                                            <button *ngIf="usuario.usuname != 'admin' && usuario.usuname != datosUsuario.usuname && usuario.usuestado == 1" pButton pRipple icon="fa-solid fa-eye-slash" class="p-button-rounded p-button-danger mr-2" (click)="confirmDeactivate(usuario)" pTooltip="Desactivar Usuario" tooltipPosition="top"></button>
                                            <button *ngIf="usuario.usuname != 'admin' && usuario.usuname != datosUsuario.usuname && usuario.usuestado == 0" pButton pRipple icon="fa-solid fa-eye" class="p-button-rounded p-button-success mr-2" (click)="confirmActivate(usuario)" pTooltip="Activar Usuario" tooltipPosition="top"></button>
                                        </div>
                                        <div *ngIf="datosUsuario?.rolid == 2 && usuario?.rolid != 1" class="flex">
                                            <button *ngIf="usuario.usuname != datosUsuario.usuname && usuario.usuestado == 1" pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-primary mr-2" pTooltip="Editar usuario" tooltipPosition="top" (click)="updateUser(usuario)"></button>
                                            <button *ngIf="usuario.usuname != datosUsuario.usuname && usuario.usuestado == 1" pButton pRipple icon="pi pi-lock" class="p-button-rounded p-button-warning mr-2" (click)="confirmChangePassword(usuario)" pTooltip="Cambiar contraseña"  tooltipPosition="top"></button>
                                            <button *ngIf="usuario.usuname != datosUsuario.usuname && usuario.usuestado == 1" pButton pRipple icon="fa-solid fa-eye-slash" class="p-button-rounded p-button-danger mr-2" (click)="confirmDeactivate(usuario)" pTooltip="Desactivar Usuario" tooltipPosition="top"></button>
                                            <button *ngIf="usuario.usuname != datosUsuario.usuname && usuario.usuestado == 0" pButton pRipple icon="fa-solid fa-eye" class="p-button-rounded p-button-success mr-2" (click)="confirmActivate(usuario)" pTooltip="Activar Usuario" tooltipPosition="top"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template let-usuario pTemplate="gridItem">
                            <div class="col-12 md:col-3">
                                <div class="card m-3 border-2 surface-border">
                                    <div class="flex flex-wrap gap-2 align-items-center justify-content-between mb-2">
                                        <div class="flex align-items-center">
                                            <i class="pi pi-user mr-2"></i>
                                            <span class="font-semibold"><strong>{{usuario.rolnombre}}</strong></span>
                                        </div>
                                        <div class="justify-content-between">
                                            <p-tag [value]="getDescriptionStatus(usuario.usuestado)" [severity]="getSeverityStatus(usuario.usuestado)" [rounded]="true"></p-tag>
                                        </div>
                                    </div>
                                    <div class="flex flex-column align-items-center text-center mb-3">
                                        <div *ngIf="usuario.perfoto == null" class="user-display">
                                            <p-avatar image="../../../../../assets/images/login/sin_foto_perfil.png" styleClass="mr-2" size="xlarge" shape="circle"></p-avatar>
                                        </div>
                                        <div *ngIf="usuario.perfoto != null" class="user-display">
                                        </div>
                                        <div class="text-xl font-bold">{{usuario.pernomcompleto}}</div>
                                        <hr>
                                        <div>
                                            <p-tag severity="info" [rounded]="true"> {{usuario.usuname}} </p-tag>
                                        </div>
                                    </div>
                                    <div class="flex justify-content-center">
                                            <div *ngIf="datosUsuario?.rolid == 1" class="flex">
                                                <button *ngIf="usuario.usuname != 'admin' && usuario.usuname != datosUsuario.usuname && usuario.usuestado == 1" pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-primary mr-2" pTooltip="Editar usuario" tooltipPosition="top" (click)="updateUser(usuario)"></button>
                                                <button *ngIf="usuario.usuname != 'admin' && usuario.usuname != datosUsuario.usuname && usuario.usuestado == 1" pButton pRipple icon="pi pi-lock" class="p-button-rounded p-button-warning mr-2" (click)="confirmChangePassword(usuario)" pTooltip="Cambiar contraseña" tooltipPosition="top"></button>
                                                <button *ngIf="usuario.usuname != 'admin' && usuario.usuname != datosUsuario.usuname && usuario.usuestado == 1" pButton pRipple icon="fa-solid fa-eye-slash" class="p-button-rounded p-button-danger mr-2" (click)="confirmDeactivate(usuario)" pTooltip="Desactivar Usuario" tooltipPosition="top"></button>
                                                <button *ngIf="usuario.usuname != 'admin' && usuario.usuname != datosUsuario.usuname && usuario.usuestado == 0" pButton pRipple icon="fa-solid fa-eye" class="p-button-rounded p-button-success mr-2" (click)="confirmActivate(usuario)" pTooltip="Activar Usuario" tooltipPosition="top"></button>
                                            </div>
                                            <div *ngIf="datosUsuario?.rolid == 2 && usuario?.rolid != 1" class="flex">
                                                <button *ngIf="usuario.usuname != datosUsuario.usuname && usuario.usuestado == 1" pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-primary mr-2" pTooltip="Editar usuario" tooltipPosition="top" (click)="updateUser(usuario)"></button>
                                                <button *ngIf="usuario.usuname != datosUsuario.usuname && usuario.usuestado == 1" pButton pRipple icon="pi pi-lock" class="p-button-rounded p-button-warning mr-2" (click)="confirmChangePassword(usuario)" pTooltip="Cambiar contraseña"  tooltipPosition="top"></button>
                                                <button *ngIf="usuario.usuname != datosUsuario.usuname && usuario.usuestado == 1" pButton pRipple icon="fa-solid fa-eye-slash" class="p-button-rounded p-button-danger mr-2" (click)="confirmDeactivate(usuario)" pTooltip="Desactivar Usuario" tooltipPosition="top"></button>
                                                <button *ngIf="usuario.usuname != datosUsuario.usuname && usuario.usuestado == 0" pButton pRipple icon="fa-solid fa-eye" class="p-button-rounded p-button-success mr-2" (click)="confirmActivate(usuario)" pTooltip="Activar Usuario" tooltipPosition="top"></button>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </p-dataView>
                </p-tabPanel>
            </p-tabView>
        -->
        </div>
    </div>
</div>



<p-dialog [(visible)]="usuarioDialog" header="Usuario" [modal]="true" class="p-fluid"
    [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '30vw' }" [draggable]="false" [resizable]="false"
    [maximizable]="false">

    <div *ngIf="!optionDialog">
        <p-card>
            <ng-template pTemplate="content">
                <div class="user-info-container">
                    <div class="user-info-avatar">

                    </div>
                    <div class="user-info-details">
                        <p><strong>Nombre:</strong> {{ usuario?.pernomcompleto }}</p>
                        <p><strong>Número de documento:</strong> {{ usuario?.pernrodoc }}</p>
                        <p><strong>Rol:</strong> {{ usuario?.rolnombre }}</p>
                        <p><strong>Estado:</strong> <p-tag [value]="getDescriptionStatus(usuario?.usuestado)"
                                [severity]="getSeverityStatus(usuario?.usuestado)" [rounded]="true"></p-tag> </p>
                    </div>
                </div>
            </ng-template>
        </p-card>
    </div>
    <form [formGroup]="usuarioForm" novalidate>
        <div *ngIf="optionDialog">
            <p>Debera ingresar todos los <mark>requeridos (*)</mark> para realizar el registro correctamente en el
                sistema. </p>
        </div>
        <hr>
        <div class="p-fluid col-12">
            <div class="field">
                <label for="nombres">Nombre de Usuario</label>
                <input class="my-2" type="text" id="nombres" pInputText formControlName="usuname"
                    [ngClass]="{ 'ng-dirty': this.usuarioForm.get('usuname').dirty, 'valid-field': this.usuarioForm.get('usuname').valid}">
                <small class="p-error block"
                    *ngIf="usuarioForm.get('usuname').invalid && usuarioForm.get('usuname').dirty">
                    <span *ngIf="usuarioForm.get('usuname').errors?.nombreUsuarioExiste"> Este nombre de usuario ya
                        existe. </span>
                    <span *ngIf="usuarioForm.get('usuname').errors?.required"> El nombre de usuario es requerido. (*)
                    </span>
                    <span *ngIf="usuarioForm.get('usuname').errors?.minlength"> El nombre de usuario debe tener al menos
                        5 caracteres. </span>
                    <span *ngIf="usuarioForm.get('usuname').errors?.maxlength"> El nombre de usuario no puede exceder
                        los 20 caracteres. </span>
                    <span *ngIf="usuarioForm.get('usuname').errors?.espaciosNoPermitidos"> El nombre de usuario no debe
                        contener espacios. </span>
                    <span *ngIf="usuarioForm.get('usuname').errors?.inicioInvalido"> El nombre de usuario debe comenzar
                        con una letra. </span>
                </small>
                <small class="p-success block"
                    *ngIf="usuarioForm.get('usuname').valid && (usuarioForm.get('usuname').dirty || usuarioForm.get('usuname').touched)">
                    El nombre de usuario es válido. </small>
            </div>
            <div *ngIf="optionDialog" class="field">
                <label for="tipoPersona">Elegir Persona</label>
                <p-dropdown class="my-2" [options]="tipoPersona" formControlName="tipoPersona" appendTo="body"
                    optionLabel="pernomcompleto" [filter]="true" filterBy="pernomcompleto" [showClear]="true"
                    placeholder="Seleccionar Persona" [emptyFilterMessage]="'No se encontraron registros.'">
                    <ng-template let-persona pTemplate="item">
                        <div class="flex align-items-center">
                        </div>
                    </ng-template>
                </p-dropdown>
                <small class="p-success block" *ngIf="usuarioForm.get('tipoPersona').valid"> La persona seleccionada es
                    valida. </small>
                <small class="p-error block"
                    *ngIf="usuarioForm.get('tipoPersona').invalid && usuarioForm.get('tipoPersona').touched"> <span
                        *ngIf="usuarioForm.get('tipoPersona').errors?.required">La persona es requerida.</span> (*)
                </small>
            </div>
            <div *ngIf="optionDialog" class="field">
                <label for="tipoRol">Eligir Rol</label>
                <p-dropdown class="my-2" id="tipoRol" formControlName="tipoRol" [autoDisplayFirst]="false"
                    appendTo="body" [options]="tipoRol" optionLabel="rolnombre" [filter]="true" filterBy="rolnombre"
                    [showClear]="true" placeholder="Seleccionar Rol"></p-dropdown>
                <small class="p-success block" *ngIf="usuarioForm.get('tipoRol').valid"> El rol es valido. </small>
                <small class="p-error block"
                    *ngIf="usuarioForm.get('tipoRol').invalid && usuarioForm.get('tipoRol').touched"> <span
                        *ngIf="usuarioForm.get('tipoRol').errors?.required">El rol es requerido.</span> (*) </small>
            </div>
            <div class="field">
                <label for="email">Correo Electrónico</label>
                <input class="my-2" type="email" id="email" pInputText formControlName="usuemail"
                    [ngClass]="{ 'ng-dirty': this.usuarioForm.get('usuemail').touched, 'valid-field': this.usuarioForm.get('usuemail').valid}">
                <small class="p-error block"
                    *ngIf="usuarioForm.get('usuemail').invalid && usuarioForm.get('usuemail').dirty">
                    <span *ngIf="usuarioForm.get('usuemail').errors?.required">El correo electrónico es requerido.
                        (*)</span>
                    <span *ngIf="usuarioForm.get('usuemail').errors?.pattern">El formato del correo electrónico es
                        inválido. </span>
                </small>
                <small class="p-success block" *ngIf="usuarioForm.get('usuemail')?.valid"> El correo electrónico es
                    válido.</small>
            </div>
            <div class="field">
                <label for="descripcion">Observación</label>
                <textarea class="my-2" inputId="descripcion" rows="1" cols="30" formControlName="usudescripcion"
                    appendTo="body" pInputTextarea></textarea>
            </div>
            <div class="field">
                <label for="">Estado</label>
                <div class="flex align-items-center justify-content-center">
                    <p-selectButton [options]="stateOptionsEstado" formControlName="usuestado" optionLabel="label"
                        optionValue="value"></p-selectButton>
                </div>
            </div>
        </div>
    </form>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
            (click)="hideDialog()"></button>
        <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" (click)="sendForm()"></button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="usuarioCambiarPasswordDialog" header="Usuario" [modal]="true" class="p-fluid"
    [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '30vw' }" [draggable]="false" [resizable]="false"
    [maximizable]="true">
    <p-card>
        <ng-template pTemplate="content">
            <div class="user-info-container">
                <div class="user-info-avatar">
                </div>
                <div class="user-info-details">
                    <p><strong>Nombre de la persona:</strong> {{ usuario?.pernomcompleto }}</p>
                    <p><strong>Número de documento:</strong> {{ usuario?.pernrodoc }}</p>
                    <p><strong>Nombre de usuario:</strong> <p-chip>
                            <div class="p-2"> {{ usuario?.usuname }} </div>
                        </p-chip> </p>
                    <p><strong>Rol:</strong> {{ usuario?.rolnombre }}</p>
                    <p><strong>Estado:</strong> <p-tag [value]="getDescriptionStatus(usuario?.usuestado)"
                            [severity]="getSeverityStatus(usuario?.usuestado)" [rounded]="true"></p-tag> </p>
                </div>
            </div>
        </ng-template>
    </p-card>
    <form [formGroup]="usuarioPwdForm">
        <div class="grid p-fluid mt-3">
            <div class="field col-12 md:col-12">
                <span class="p-float-label">
                    <p-password id="password" formControlName="usupassword" [toggleMask]="true" [feedback]="false"
                        appendTo="body"></p-password>
                    <label for="password">Contraseña</label>
                </span>
                <small class="p-error block"
                    *ngIf="usuarioPwdForm.get('usupassword').invalid && (usuarioPwdForm.get('usupassword').dirty || usuarioPwdForm.get('usupassword').touched)">
                    <span *ngIf="usuarioPwdForm.get('usupassword').errors?.required"> La contraseña es obligatoria. <br>
                    </span>
                    <span *ngIf="usuarioPwdForm.get('usupassword').errors?.minlength"> La contraseña debe tener al menos
                        8 caracteres. <br> </span>
                    <span *ngIf="usuarioPwdForm.get('usupassword').errors?.securityPassword "> La contraseña debe
                        incluir mayúsculas, minúsculas y números. <br> </span>
                </small>
                <small class="p-success block"
                    *ngIf="usuarioPwdForm.get('usupassword').valid && (usuarioPwdForm.get('usupassword').dirty || usuarioPwdForm.get('usupassword').touched)">
                    La contraseña es válida. </small>
            </div>
            <div class="field col-12 md:col-12">
                <span class="p-float-label">
                    <p-password id="passwordhash" formControlName="usupassword2" [toggleMask]="true" [feedback]="false"
                        appendTo="body"></p-password>
                    <label for="passwordhash">Confirmar Contraseña</label>
                </span>
                <small class="p-error block" *ngIf="usuarioPwdForm.get('usupassword2').dirty">
                    <span *ngIf="usuarioPwdForm.get('usupassword2').errors?.required"> Confirmar la contraseña es
                        obligatorio. </span>
                    <span *ngIf="usuarioPwdForm.errors?.['mismatch']"> Las contraseñas no coinciden. </span>
                </small>
                <small class="p-success block"
                    *ngIf="usuarioPwdForm.get('usupassword2').valid && !usuarioPwdForm.errors?.['mismatch']"> La
                    confirmación de la contraseña es válida. </small>
            </div>
        </div>
    </form>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
            (click)="hideDialog()"></button>
        <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text"
            (click)="changeUserPassword()"></button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="deactivateUserDialog" header="Confirmar" [modal]="true">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="usuario">Esta seguro de desactivar este registro <b>{{usuario.usuname}}</b>?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
            (click)="deactivateUserDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Si" (click)="deactivateUser()"></button>
    </ng-template>
</p-dialog>


<p-dialog [(visible)]="activateUserDialog" header="Confirmar" [modal]="true">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-check" style="font-size: 2rem"></i>
        <span *ngIf="usuario">Esta seguro de activar a este usuario: <b> {{usuario.usuname}}</b>?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
            (click)="activateUserDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Si" (click)="activateUser()"></button>
    </ng-template>
</p-dialog>