<div *ngIf="loading">
    <p-progressSpinner class="progress-spinner" styleClass="w-4rem h-4rem" strokeWidth="8"
        animationDuration=".5s"></p-progressSpinner>
</div>
<p-toast></p-toast>

<p-dialog [(visible)]="usuarioDialog" header="Usuario" [modal]="true" class="p-fluid">

    <ng-template pTemplate="content">
        <div class="grid p-fluid mt-3">
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input type="text" id="nombres" pInputText [(ngModel)]="usuario.usuname">
                    <label for="nombres">Nombre de Usuario</label>
                </span>
            </div>
            <div class="fild col-12 md:col-4">
                <span class="p-float-label">
                    <p-dropdown [options]="tipoPersona" [(ngModel)]="tipoPersonaSeleccionada" appendTo="body"
                        optionLabel="pernomcompleto" [filter]="true" filterBy="pernomcompleto" [showClear]="true"
                        placeholder="Seleccionar Persona">
                        <ng-template pTemplate="selectedItem">
                            <div class="flex align-items-center gap-2" *ngIf="tipoPersonaSeleccionada">
                                <div>{{ tipoPersonaSeleccionada.pernomcompleto }}</div>
                            </div>
                        </ng-template>
                        <ng-template let-persona pTemplate="item">
                            <div class="flex align-items-center gap-2">
                                <div>{{ persona.pernomcompleto }} - {{persona.pernrodoc}} </div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                    <label for="tipoPersona">Elegir Persona</label>
                </span>
            </div>

            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <p-dropdown id="tipoRol" [autoDisplayFirst]="false" appendTo="body" [options]="tipoRol"
                        [(ngModel)]="tipoRolSeleccionada" optionLabel="rolnombre"></p-dropdown>
                    <label for="tipoRol">Eligir Rol</label>
                </span>
            </div>

            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input type="text" id="email" pInputText [(ngModel)]="usuario.usuemail">
                    <label for="email">Correo Electrónico</label>
                </span>
            </div>
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <textarea inputId="descripcion" rows="1" cols="30" [(ngModel)]="usuario.usudescripcion"
                        appendTo="body" pInputTextarea></textarea>
                    <label for="descripcion">Observación</label>
                </span>
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
            (click)="ocultarDialog()"></button>
        <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text"
            (click)="enviarFormulario()"></button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="eliminarUsuarioDialog" header="Confirmar" [modal]="true">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="usuario">Esta seguro de eliminar este registro <b>{{usuario.pernomcompleto}}</b>?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
            (click)="eliminarUsuarioDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Si"
            (click)="confirmarEliminar()"></button>
    </ng-template>
</p-dialog>


<div class="grid">
    <div class="col-12">
        <div class="card">
            <div class="font-bold text-3xl text-center">
                <span class="text-900">Administrar</span>
                <span class="text-blue-600"> Usuarios</span>
            </div>
            <p-dataView #dv [value]="filteredUsuarios" [paginator]="true" [rows]="12" filterBy="pernomcompleto"
                [sortField]="sortField" [sortOrder]="sortOrder" layout="grid"
                [emptyMessage]="'No se encontraron registros de usuarios.'" [loadingIcon]="'pi pi-spin pi-spinner'">
                <ng-template pTemplate="header">
                    <div class="flex flex-column md:flex-row md:justify-content-between gap-2">
                        <!-- <p-dropdown [options]="sortOptions" placeholder="Ordenar por Rol" (onChange)="onSortChange($event)"  [emptyMessage]="'No se encontraron resultados'"></p-dropdown> -->
                        <button pButton pRipple label="Nuevo Usuario" icon="pi pi-plus" class="p-button-success mr-2"
                            (click)="openNew()" pTooltip="Registrar usuario nuevo"></button>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input type="text" pInputText placeholder="Buscar por nombre" [(ngModel)]="searchText"
                                (input)="filterUsuarios()" />
                        </span>
                        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                    </div>
                </ng-template>

                <ng-template let-usuario pTemplate="listItem">
                    <div class="col-12">
                        <div class="flex flex-column md:flex-row align-items-center p-3 w-full">
                            <img [src]="'http://127.0.0.1:5001/static/uploads/' + usuario.perfoto"
                                [alt]="usuario.perfoto"
                                class="my-4 md:my-0 w-9 md:w-10rem h-9 md:h-10rem shadow-2 mr-5 object-cover"
                                style="border-radius: 5px;" />
                            <div class="flex-1 flex flex-column align-items-center text-center md:text-left">
                                <div class="font-bold text-xl">{{usuario.pernomcompleto}}</div>
                                <div>
                                    <p-tag [rounded]="true">Usuario: {{usuario.usuname}} </p-tag>
                                </div>
                                <div class="flex align-items-center mt-2">
                                    <i class="pi pi-user mr-2"></i>
                                    <span class="font-semibold">Usuario: {{usuario.rolnombre}}</span>
                                </div>
                            </div>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-help mr-2"
                                    tooltipPosition="left" pTooltip="Editar datos de usuario"
                                    (click)="editarUsuario(usuario)"></button>
                                <button pButton pRipple icon="pi pi-trash"
                                    class="p-button-rounded p-button-sm p-button-danger" tooltipPosition="left"
                                    pTooltip="Eliminar registro de usuario" (click)="eliminarUsuario(usuario)"></button>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template let-usuario pTemplate="gridItem">
                    <div class="col-12 md:col-3">
                        <div class="card m-3 border-2 surface-border">
                            <div class="flex flex-wrap gap-2 align-items-center justify-content-between mb-2">
                                <div class="flex align-items-center">
                                    <i class="pi pi-user mr-2"></i>
                                    <span class="font-semibold">{{usuario.rolnombre}}</span>
                                </div>
                            </div>
                            <div class="flex flex-column align-items-center text-center mb-3">
                                <img [src]="'http://127.0.0.1:5001/static/uploads/' + usuario.perfoto"
                                    [alt]="usuario.perfoto"
                                    class="my-4 md:my-0 w-9 md:w-10rem h-9 md:h-10rem shadow-2 mr-5 object-cover m-2"
                                    style="border-radius: 5px;" />
                                <div class="text-xl font-bold">{{usuario.pernomcompleto}}</div>
                                <div>
                                    <p-tag [rounded]="true">Usuario: {{usuario.usuname}} </p-tag>
                                </div>

                            </div>
                            <div class="flex justify-content-center">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-help mr-2"
                                    tooltipPosition="left" pTooltip="Editar datos de usuario"
                                    (click)="editarUsuario(usuario)"></button>
                                <button pButton pRipple icon="pi pi-trash"
                                    class="p-button-rounded p-button-sm p-button-danger" tooltipPosition="right"
                                    pTooltip="Eliminar registro de usuario" (click)="eliminarUsuario(usuario)"></button>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataView>
        </div>
    </div>
</div>



<!-- <div>
    <div class="block-content">
        <div class="ng-star-inserted">
            <div class="surface-section px-4 py-8 md:px-6 lg:px-8">
                <div class="text-center" style="background: radial-gradient(50% 109137.91% at 50% 50%, rgba(233, 30, 99, 0.1) 0%, rgba(254, 244, 247, 0) 100%);"><span class="bg-white text-pink-500 font-bold text-2xl inline-block px-3">404</span></div>
                <div class="flex flex-column lg:flex-row justify-content-center align-items-center gap-7">
                    
                    <div class="text-center lg:text-right">
                        <div class="mt-6 mb-3 font-bold text-6xl text-900">¿Estás perdido?</div>
                        <p class="text-700 text-3xl mt-0 mb-6">Lo sentimos, no pudimos encontrar la página.
                        </p><button pbutton=""
                            type="button" label="Go back to home page"
                            class="p-element p-button-outlined p-button p-component"><span class="p-button-label">Volver a la página principal</span></button>
                    </div>
                    <div><img src="https://blocks.primeng.org/assets/images/blocks/feedback/404-rocket.png" alt="Image" class="w-full md:w-28rem">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->