<!-- Doctor table -->
<div class="grid">
    <p-toast></p-toast>
    <div class="col-12">
        <div class="card">
            <p-breadcrumb class="max-w-full" [model]="items" [home]="home"></p-breadcrumb>
            <h3>Doctores</h3>
            <hr>
            <p-table #dtDoctor [value]="doctores" responsiveLayout="stack" class="m-2" [loading]="loading"
                [rowsPerPageOptions]="[5, 10, 20]" [rows]="10" [paginator]="true"
                styleClass="p-datatable-striped p-card p-datatable-sm" [globalFilterFields]="['especialidad']"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} entradas"
                [rowHover]="true">

                <ng-template pTemplate="caption">
                    <div class="flex align-items-center justify-content-between table-reader">
                        <button pButton pRipple label="Nuevo Doctor" icon="pi pi-user-plus"
                            class="p-button-primary mr-2" pTooltip="Crear Nuevo Doctor"
                            tooltipPosition="top" (click)="abrirDialog()"></button>

                        <span class="p-input-icon-left w-auto">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dtDoctor.filterGlobal($event.target.value, 'contains')"
                                placeholder="Buscar..." pTooltip="Buscar por especialidad" tooltipPosition="top" />
                        </span>
                    </div>
                </ng-template>

                <ng-template pTemplate="header">
                    <tr>
                        <th> ID </th>
                        <th> Doctor </th>
                        <th> Especialidad </th>
                        <th> Estado </th>
                        <th> Opciones </th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-doctor>
                    <tr>
                        <td> {{ doctor.id_doctor }} </td>
                        <td> {{ doctor.usuario.nombre + " " + doctor.usuario.apellido }} </td>
                        <td> {{ doctor.especialidad }} </td>
                        <td> {{ doctor.estado }} </td>
                        <td>
                            <div class="flex justify-content-center">
                                <button pButton="pButton" pRipple="pRipple" type="button" icon="pi pi-pencil"
                                    class="p-button mr-2" pTooltip="Editar" tooltipPosition="top"
                                    (click)="modificarDoctor(doctor)"></button>
                                <button pButton="pButton" pRipple="pRipple" type="button" icon="pi pi-trash"
                                    class="p-button-danger mr-2" pTooltip="Eliminar" tooltipPosition="top"
                                    (click)="desactivarDoctor(doctor)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="5">No se encontraron registros</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<p-dialog [(visible)]="doctor_dialog" header="Formulario Doctor" [modal]="true" class="p-fluid" [breakpoints]="{ '960px': '75vw' }"
    [style]="{ width: '30vw' }" [draggable]="false" [resizable]="false" [maximizable]="false">
    <form [formGroup]="doctorForm" (ngSubmit)="onSubmit()">

        <div class="field">
            <label for="usuario">Usuario</label>
            <p-dropdown id="usuario" formControlName="id_usuario" [options]="usuariosOptions" placeholder="Seleccione un usuario"></p-dropdown>
            <div *ngIf="doctorForm.get('id_usuario').invalid && doctorForm.get('id_usuario').touched" class="p-error">
                El Usuario es requerido.
            </div>
        </div>

        <div class="field">
            <label for="especialidad">Especialidad</label>
            <input id="especialidad" pInputText formControlName="especialidad" />
            <div *ngIf="doctorForm.get('especialidad').invalid && doctorForm.get('especialidad').touched" class="p-error">
                Especialidad es requerida.
            </div>
        </div>
        <div class="field">
            <label for="estado">Estado</label>
            <p-dropdown id="estado" formControlName="estado" [options]="estadoOptions" placeholder="Seleccione un estado"></p-dropdown>
            <div *ngIf="doctorForm.get('estado').invalid && doctorForm.get('estado').touched" class="p-error">
                Estado es requerido.
            </div>
        </div>
    </form>
    <ng-template pTemplate="footer">
        <button *ngIf="doctorForm.value.id_doctor == null" pButton type="submit" label="Guardar" [disabled]="doctorForm.invalid" (click)="onSubmit()"></button>
        <button *ngIf="doctorForm.value.id_doctor != null" pButton type="submit" label="Guardar Cambios" [disabled]="doctorForm.invalid" (click)="guardarCambios()"></button>
    </ng-template>
</p-dialog>