<!-- <ng-container *ngIf="usuario$ | async as usuario"> -->

    <div class="grid col-12">
        <!-- <div *ngIf="loading">
            <p-progressSpinner class="progress-spinner" styleClass="w-4rem h-4rem" strokeWidth="8" animationDuration=".5s"></p-progressSpinner>
        </div> -->

        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Cursos</span>
                        <div class="text-900 font-medium text-3xl">{{ curmatnum }}
                            <span class="text-green-500 font-medium">activos</span>
                        </div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round"
                        [ngStyle]="{width: '5rem', height: '5rem'}">
                        <i class="fa-solid fa-school-flag text-blue-500 text-3xl"></i>
                    </div>
                </div>
                <span class="text-500">{{curmatnum_inactivo}} inactivos</span>
            </div>
        </div>

        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Materias</span>
                        <div class="text-900 font-medium text-3xl">{{ matnum }}
                            <span class="text-green-500 font-medium">activos</span>
                        </div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '5rem', height: '5rem'}">
                        <!-- <i class="pi pi-file text-blue-500 text-3xl"></i> -->
                        <i class="fa-solid fa-chalkboard text-blue-500 text-3xl"></i>
                    </div>
                </div>
                <!-- <span class="text-green-500 font-medium">activados</span> -->
                <!-- <span class="text-500">agregadas</span> -->
                <span class="text-500">{{matnum_inactivo}} inactivos</span>
            </div>
        </div>

        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Niveles</span>
                        <div class="text-900 font-medium text-3xl">{{ nivnum }}
                            <span class="text-green-500 font-medium">activos</span>
                        </div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '5rem', height: '5rem'}">
                        <!-- <i class="pi pi-file text-blue-500 text-3xl"></i> -->
                        <i class="fa-solid fa-layer-group text-blue-500 text-3xl"></i>
                    </div>
                </div>
                <!-- <span class="text-green-500 font-medium">activados</span> -->
                <!-- <span class="text-500">agregadas</span> -->
                <span class="text-500">{{nivnum_inactivo}} inactivos</span>
            </div>
        </div>

        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Usuarios</span>
                        <div class="text-900 font-medium text-3xl">{{ usunum }}
                            <span class="text-green-500 font-medium">activos</span>
                        </div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '5rem', height: '5rem'}">
                        <i class="pi pi-users text-blue-500 text-3xl"></i>
                    </div>
                </div>
                <!-- <span class="text-green-500 font-medium">activados</span> -->
                <!-- <span class="text-500">agregadas</span> -->
                <span class="text-500">{{usunum_inactivo}} inactivos</span>
            </div>
        </div>

        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Estudiantes</span>
                        <div class="text-900 font-medium text-3xl">{{ estnum }}
                            <span class="text-green-500 font-medium">activos</span>
                        </div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '5rem', height: '5rem'}">
                        <!-- <i class="pi pi-file text-blue-500 text-3xl"></i> -->
                        <i class="fa-solid fa-user-graduate text-blue-500 text-3xl"></i>
                    </div>
                </div>
                <!-- <span class="text-green-500 font-medium">activados</span> -->
                <!-- <span class="text-500">agregadas</span> -->
                <span class="text-500">{{estnum_inactivo}} inactivos</span>
            </div>
        </div>

        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Docentes</span>
                        <div class="text-900 font-medium text-3xl">{{ docnum }}
                            <span class="text-green-500 font-medium">activos</span>
                        </div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-orange-100 border-round" [ngStyle]="{width: '5rem', height: '5rem'}">
                        <!-- <i class="pi pi-users text-orange-500 text-3xl"></i> -->
                        <i class="fa-solid fa-person-chalkboard text-orange-500 text-3xl"></i>
                    </div>
                </div>
                <!-- <span class="text-green-500 font-medium">activados</span> -->
                <!-- <span class="text-500">agregadas</span> -->
                <span class="text-500">{{docnum_inactivo}} inactivos</span>
            </div>
        </div>

        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Secretaria</span>
                        <div class="text-900 font-medium text-3xl">{{ secnum }}
                            <span class="text-green-500 font-medium">activos</span>
                        </div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-cyan-100 border-round" [ngStyle]="{width: '5rem', height: '5rem'}">
                        <!-- <i class="pi pi-users text-cyan-500 text-3xl"></i>  -->
                        <i class="fa-solid fa-user-tie text-cyan-500 text-3xl"></i>
                    </div>
                </div>
                <!-- <span class="text-green-500 font-medium">activados</span> -->
                <!-- <span class="text-500">agregadas</span> -->
                <span class="text-500">{{secnum_inactivo}} inactivos</span>
            </div>
        </div>

        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Material de apoyo (Textos)</span>
                        <div class="text-900 font-medium text-3xl">{{ texnum }}
                            <span class="text-green-500 font-medium">activos</span>
                        </div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-purple-100 border-round" [ngStyle]="{width: '5rem', height: '5rem'}">
                        <!-- <i class="pi pi-file text-purple-500 text-3xl"></i> -->
                        <i class="fa-solid fa-book text-purple-500 text-3xl"></i>
                    </div>
                </div>
                <span class="text-500">{{texnum_inactivo}} inactivos</span>
                <!-- <span class="text-green-500 font-medium">activados</span> -->
                <!-- <span class="text-500">agregadas</span> -->
            </div>
        </div>

        <div class="grid col-12">

            <div class="col-12 lg:col-6 xl:col-6">
                <div class="card mb-0">
                    <div>
                        <span class="block text-500 font-medium mb-3">Estudiantes por materia</span>
                    </div>
                    <div class="">
                        <p-chart type="polarArea" [data]="dataEstudiantesMateria" [options]="optionsEstudiantesMateria"></p-chart>
                    </div>
                </div>
            </div>

            <div class="col-12 lg:col-6 xl:col-6">
                <div class="card mb-0">
                    <span class="block text-500 font-medium mb-3">Estudiantes por nivel</span>
                    <div class="">
                        <p-chart type="pie" [data]="dataEstudiantesNivel" [options]="optionsEstudiantesNivel"></p-chart>
                    </div>
                </div>
            </div>


            <div class="col-12 lg:col-12 xl:col-12">
                <div class="card mb-0">
                    <div>
                        <span class="block text-500 font-medium mb-3">Pagos</span>
                        <!-- <div class="text-900 font-medium text-3xl">{{ secnum }}
                            <span class="text-green-500 font-medium">activos</span>
                        </div> -->
                    </div>
                    <div class="">
                        <p-chart type="line" [data]="data7" [options]="options7"></p-chart>
                    </div>
                </div>
            </div>
            <div class="col-12 lg:col-6 xl:col-6">
                <div class="card mb-0">
                    <div>
                        <span class="block text-500 font-medium mb-3">Usuarios</span>
                        <!-- <div class="text-900 font-medium text-3xl">{{ secnum }}
                            <span class="text-green-500 font-medium">activos</span>
                        </div> -->
                    </div>
                    <div class="">
                        <p-chart type="bar" [data]="basicData" [options]="basicOptions"></p-chart>
                    </div>
                </div>
            </div>



        </div>
    </div>
        <!-- <div class="col-12 xl:col-6">
            <div class="card">
                 <div class="flex justify-content-between align-items-center mb-5">
                    <h5>Best Selling Products</h5>
                    <div>
                        <button pButton type="button" icon="pi pi-ellipsis-v" class="p-button-rounded p-button-text p-button-plain" (click)="menu.toggle($event)"></button>
                        <p-menu #menu [popup]="true" [model]="items"></p-menu>
                    </div>
                </div>
                <ul class="list-none p-0 m-0">
                    <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                        <div>
                            <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Space T-Shirt</span>
                            <div class="mt-1 text-600">Clothing</div>
                        </div>
                        <div class="mt-2 md:mt-0 flex align-items-center">
                            <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" [ngStyle]="{height: '8px'}">
                                <div class="bg-orange-500 h-full" [ngStyle]="{width: '50%'}"></div>
                            </div>
                            <span class="text-orange-500 ml-3 font-medium">%50</span>
                        </div>
                    </li>
                    <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                        <div>
                            <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Portal Sticker</span>
                            <div class="mt-1 text-600">Accessories</div>
                        </div>
                        <div class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center">
                            <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" [ngStyle]="{height: '8px'}">
                                <div class="bg-cyan-500 h-full" [ngStyle]="{width: '16%'}"></div>
                            </div>
                            <span class="text-cyan-500 ml-3 font-medium">%16</span>
                        </div>
                    </li>
                    <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                        <div>
                            <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Supernova Sticker</span>
                            <div class="mt-1 text-600">Accessories</div>
                        </div>
                        <div class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center">
                            <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" [ngStyle]="{height: '8px'}">
                                <div class="bg-pink-500 h-full" [ngStyle]="{width: '67%'}"></div>
                            </div>
                            <span class="text-pink-500 ml-3 font-medium">%67</span>
                        </div>
                    </li>
                    <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                        <div>
                            <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Wonders Notebook</span>
                            <div class="mt-1 text-600">Office</div>
                        </div>
                        <div class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center">
                            <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" [ngStyle]="{height: '8px'}">
                                <div class="bg-green-500 h-full" [ngStyle]="{width: '35%'}"></div>
                            </div>
                            <span class="text-green-500 ml-3 font-medium">%35</span>
                        </div>
                    </li>
                    <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                        <div>
                            <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Mat Black Case</span>
                            <div class="mt-1 text-600">Accessories</div>
                        </div>
                        <div class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center">
                            <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" [ngStyle]="{height: '8px'}">
                                <div class="bg-purple-500 h-full" [ngStyle]="{width: '75%'}"></div>
                            </div>
                            <span class="text-purple-500 ml-3 font-medium">%75</span>
                        </div>
                    </li>
                    <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                        <div>
                            <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Robots T-Shirt</span>
                            <div class="mt-1 text-600">Clothing</div>
                        </div>
                        <div class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center">
                            <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" [ngStyle]="{height: '8px'}">
                                <div class="bg-teal-500 h-full" [ngStyle]="{width: '40%'}"></div>
                            </div>
                            <span class="text-teal-500 ml-3 font-medium">%40</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div> -->
<!-- <div class="grid grid-nogutter surface-section text-800">
    <div class="col-12 md:col-7 p-6 text-center md:text-left flex align-items-center ">
        <section>
            <span class="block text-6xl font-bold mb-1">¡Bienvenido a nuestro sistema de seguimiento y gestión académico!</span>
            <div class="text-6xl text-primary font-bold mb-3">Instituto Bíblico de Capacitación Internacional.</div>
            <p class="mt-0 mb-4 text-700 line-height-3">Aquí encontrarás todas las herramientas que necesitas para optimizar tu rendimiento académico y gestionar tu progreso de manera eficaz.</p>
            <h3 class="mt-8">¡Hola, {{ usuario?.pernomcompleto }}!</h3>
            <button pButton pRipple label="Manual de usuario" type="button" class="mr-3 p-button-raised"></button>
            <button pButton pRipple label="Ver demostración en video" type="button" class="p-button-outlined"></button>
        </section>
    </div>
    <div class="col-12 md:col-5 overflow-hidden">
        <img src="assets/demo/images/blocks/hero/fondo-ibci-2.jpg" alt="fondo-ibci" class="md:ml-auto block md:h-full" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
    </div>
</div> -->


<!-- <div class="col-6 card flex justify-content-center">
    <p-chart type="bar" [data]="data2" [options]="options2"></p-chart>
</div> -->

<!-- <div class="col-6 card flex justify-content-center">
    <p-chart type="bar" [data]="data3" [options]="options3"></p-chart>
</div>


<div class="col-6 card">
    <p-chart type="bar" [data]="data4" [options]="options4"></p-chart>
</div> -->

    <!-- <div class="col-6 card">
        <p-chart type="line" [data]="data5" [options]="options5"></p-chart>
    </div>

    <div class="col-6 card">
        <p-chart type="line" [data]="data6" [options]="options6"></p-chart>
    </div> -->





<!-- <div class="col-6 card flex justify-content-center">
    <p-chart type="radar" [data]="data9" [options]="options9"></p-chart>
</div>
<div class="col-12 card">
    <p-chart type="line" [data]="data10" [options]="options10"></p-chart>
</div> -->
<!-- </div> -->

<div *ngIf="usuario?.rolid == 1">



</div>





