<p-toast></p-toast>
<p-card>
    <p-breadcrumb class="max-w-full" [model]="items" [home]="home" ></p-breadcrumb>
    <h3>Asignar Matricula</h3>
    <p>Administrar registros de asignación de matriculas</p>
            <p-table
                #dt
                [value]="listaMatricula"
                [loading]="loading"
                [rows]="20"
                [globalFilterFields]="['pernomcompleto', 'pernrodoc', 'tipmatrgestion']"
                [paginator]="true"
                [rowsPerPageOptions]="[5,10,20, 50, 100]"
                [rowHover]="true"
                rowGroupMode="rowspan"
                groupRowsBy="pernomcompleto"
                sortField="pernomcompleto"
                sortMode="single"
                responsiveLayout="scroll"
                styleClass=" p-datatable-sm p-card"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} entradas"
                >
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <div class="flex">
                            <button pButton pRipple label="Asignar matricula" icon="fa-regular fa-address-card" class="p-button-primary mr-2"
                                (click)="crearMatriculaAsignacion()" pTooltip="Asignar una matricula a un estudiante"
                                tooltipPosition="top">
                            </button>
                            <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-danger mr-2" pTooltip="PDF" tooltipPosition="top"></button>
                        </div>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."
                                class="w-full sm:w-auto"
                                pTooltip="Buscar por nombre completo, número de documento y matricula"
                                tooltipPosition="left" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th colspan="3"></th>
                        <th colspan="4" class="text-center bg-blue-400">Matricula</th>
                        <th colspan="3" class="text-center bg-gray-400">Pago</th>
                        <th colspan="5"></th>
                    </tr>
                    <tr>
                        <th class="text-center">#</th>
                        <th style="min-width:200px" >Acciones</th>
                        <th style="min-width:400px" > Estudiante </th>
                        <th style="min-width:200px" > Descripción </th>
                        <th style="min-width:180px" > Fecha Inicio </th>
                        <th style="min-width:180px" > Fecha Fin </th>
                        <th style="min-width:150px" > Monto (Bs)</th>
                        <th style="min-width:400px" > Descripción </th>
                        <th style="min-width:180px" > Fecha </th>
                        <th style="min-width:150px" > Monto (Bs) </th>
                        <th style="min-width:150px" > Estado </th>
                        <th style="min-width:150px" > Fecha de matriculación </th>
                        <th style="min-width:200px" > Registrado por </th>
                        <th style="min-width:200px" > Modificado por </th>
                        <th style="min-width:200px" > Descripción </th>
                        <th style="min-width:150px" > Estado </th>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th><p-columnFilter type="text" field="pernomcompleto" ></p-columnFilter></th>
                        <th><p-columnFilter type="text" field="tipmatrgestion" ></p-columnFilter></th>
                        <th><p-columnFilter type="text" field="tipmatrfecini" ></p-columnFilter></th>
                        <th><p-columnFilter type="text" field="tipmatrfecfin" ></p-columnFilter></th>
                        <th><p-columnFilter type="text" field="tipmatrcosto" ></p-columnFilter></th>
                        <th><p-columnFilter type="text" field="pagdescripcion" ></p-columnFilter></th>
                        <th><p-columnFilter type="text" field="pagfecha" ></p-columnFilter></th>
                        <th><p-columnFilter type="text" field="pagmonto" ></p-columnFilter></th>
                        <th></th>
                        <th><p-columnFilter type="text" field="matrfec" ></p-columnFilter></th>
                        <th><p-columnFilter type="text" field="matrusureg" ></p-columnFilter></th>
                        <th><p-columnFilter type="text" field="matrusumod" ></p-columnFilter></th>
                        <th><p-columnFilter type="text" field="matrdescripcion" ></p-columnFilter></th>
                        <th><p-columnFilter type="text" field="matrestado" ></p-columnFilter></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-matr let-rowgroup="rowgroup" let-rowspan="rowspan" let-rowIndex="rowIndex">
                    <tr>
                        <td> {{ rowIndex + 1 }}</td>
                        <td>
                            <div class="flex">
                                <button *ngIf="matr.matrestado == 1" pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-outlined p-button-primary mr-2" pTooltip="Editar matricula" tooltipPosition="top" (click)="editarMatriculaAsignacion(matr)"> </button>
                                <button *ngIf="!matr.pagoidmatricula && matr.matrestado == 1" pButton pRipple icon="fa-solid fa-money-bill-wave" class="p-button-outlined p-button-rounded p-button-info mr-2" pTooltip="Pagar matricula" tooltipPosition="top" (click)="crearPagoMatricula(matr)"> </button>
                                <button *ngIf="matr.pagoidmatricula && matr.matrestado == 1" pButton="pButton" pRipple="pRipple" type="button" icon="fa-solid fa-file-pen" class="p-button-outlined p-button-rounded p-button-info mr-2" pTooltip="Editar pago matricula" tooltipPosition="top" (click)="modificarPagoMatricula(matr)"> </button>
                                <div *ngIf="matr.pagoidmatricula && matr.matrestado == 1 && matr.pagarchivo" >
                                    <ng-container *ngIf=" isImagen(matr.pagarchivo); else noImagen " >
                                        <button pButton pRipple icon="pi pi-image" class="p-button-rounded p-button-outlined p-button-warning mr-2" pTooltip="Mostrar Imagen" tooltipPosition="top" (click)="mostrarPagoArchivoImagen(matr.pagarchivo)" ></button>
                                    </ng-container>
                                    <ng-template #noImagen>
                                        <button pButton pRipple icon="pi pi-file-pdf" class="p-button-rounded p-button-outlined p-button-warning mr-2" (click)=" mostrarPagoArchivo(matr.pagarchivo) " pTooltip="Ver archivo" tooltipPosition="top" ></button>
                                    </ng-template>
                                </div>
                                <button pButton pRipple icon="pi pi-file-pdf" (click)="generarComprobantePagoMatricula(matr)"
                                    class="p-button-outlined p-button-danger p-button-rounded mr-2" pTooltip="Generar Comprobante de Pago"
                                    tooltipPosition="top">
                                </button>
                                 <button pButton pRipple icon="pi pi-trash" (click)="eliminarPago(matr)"
                                    class="p-button-outlined p-button-danger p-button-rounded mr-2" pTooltip="Eliminar"
                                    tooltipPosition="top">
                                </button>
                                <!--
                                <button pButton pRipple icon="fa-solid fa-eye-slash" class="p-button-outlined p-button-rounded p-button-danger" pTooltip="Activar Matricula" tooltipPosition="left" (click)="activarMatricula(matr)"></button> -->
                            </div>
                        </td>
                        <td *ngIf="rowgroup" [attr.rowspan]="rowspan">
                            <div *ngIf="matr.perfoto == null" class="user-display">
                                <p-avatar image="../../../../../assets/images/login/sin_foto_perfil.png"
                                    styleClass="mr-2" size="xlarge" shape="circle"></p-avatar>
                                <span class="font-bold ml-2">{{ matr.pernomcompleto }}</span>
                            </div>
                            <div *ngIf="matr.perfoto != null" class="user-display">
                                <p-avatar image="{{ userProfilePhoto }}/{{ matr.perfoto }}" styleClass="mr-2" size="xlarge"
                                    shape="circle"></p-avatar>
                                <div class="mt-2 flex-column">
                                    <div><span class="font-bold ml-2">{{ matr.pernomcompleto }}</span></div>
                                    <div>
                                        <p-chip>
                                            <div class="p-1"> {{ matr.pernrodoc}} </div>
                                        </p-chip>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            {{ matr.tipmatrgestion}}
                        </td>
                        <td>
                            {{ matr.tipmatrfecini}}
                        </td>
                        <td>
                            {{matr.tipmatrfecfin}}
                        </td>
                        <td>
                            {{ matr.tipmatrcosto }}
                        </td>

                        <td>
                            {{ matr.pagdescripcion}}
                            <div *ngIf="!matr.pagdescripcion">
                                <p-chip>
                                    <div class="p-1"> <strong>{{  'No se pagó ' }}</strong> </div>
                                </p-chip>
                            </div>
                        </td>
                        <td>
                            {{matr.pagfecha}}
                        </td>
                        <td>
                            {{ matr.pagmonto }}
                        </td>
                        <td>
                            <p-tag *ngIf="matr.estado" [severity]="getSeverityStatusMatricula(matr.estado)">{{ matr.estado }}</p-tag>
                        </td>

                        <td>
                            {{matr.matrfec}}
                        </td>

                        <td>
                            <p-chip>
                                <div class="p-2"> <strong>{{matr.matrusureg}}</strong> <br> {{matr.matrfecreg | date : 'd MMMM, y h:mm:ss a'}} </div>
                            </p-chip>
                        </td>
                        <td>
                            <div *ngIf="matr.matrusumod != null">
                                <p-chip>
                                    <div class="p-2"> <strong> {{matr.matrusumod}}</strong> <br> {{matr.matrfecmod | date : 'd MMMM, y h:mm:ss a'}} </div>
                                </p-chip>
                            </div>
                            <div *ngIf="matr.matrusumod == null">
                                <p-chip>
                                    <div class="p-2"> <strong> {{ 'No se modificó' }} </strong> </div>
                                </p-chip>
                            </div>
                        </td>
                        <td>
                            {{ matr.matrdescripcion }}
                        </td>
                        <td>
                            <p-tag [value]="getDescriptionStatus(matr.matrestado)" [severity]="getSeverityStatus(matr.matrestado)" [rounded]="true"></p-tag>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="9">No se encontró ningún registro.</td>
                    </tr>
                </ng-template>
            </p-table>
</p-card>

<p-dialog [(visible)]="matriculaDialog" header="Asignar matricula" [modal]="true" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '25vw' }" [draggable]="false" [resizable]="false" [maximizable]="false" class="p-fluid">
    <div *ngIf="!opcionMatricula">
        <p-card>
            <ng-template pTemplate="title">
                Información de la matricula del estudiante
            </ng-template>
            <ng-template pTemplate="content">
                <div class="user-info-container">
                    <div class="user-info-avatar">
                        <div *ngIf="matricula?.perfoto">
                            <p-avatar [image]="userProfilePhoto + '/' + matricula.perfoto" size="xlarge" shape="circle"></p-avatar>
                        </div>
                        <div *ngIf="!matricula?.perfoto">
                            <p-avatar image="{{ userProfilePhotoEmpty }}" size="xlarge" shape="circle"></p-avatar>
                        </div>
                    </div>
                    <div class="user-info-details">
                        <p><strong>Nombre del estudiante:</strong> {{ matricula?.pernomcompleto }}</p>
                        <p><strong>Número de documento:</strong> {{ matricula?.pernrodoc }}</p>
                        <p><strong>Estado:</strong>
                            <p-tag [value]="getDescriptionStatus(matricula?.matrestado)"
                                [severity]="getSeverityStatus(matricula?.matrestado)" [rounded]="true"></p-tag>
                        </p>
                    </div>
                </div>
            </ng-template>
        </p-card>
    </div>
    <div class="mt-5">
        <form [formGroup]="matriculaForm" novalidate>
            <div class="p-fluid">
                <div class="field">
                        <label class="block font-bold mb-2">Elegir Tipo Matricula</label>
                        <p-dropdown  dropdownIcon="fa-regular fa-address-card" [options]="tiposMatricula" formControlName="tiposMatricula" appendTo="body"
                            optionLabel="tipmatrgestion" [filter]="true" filterBy="tipmatrgestion" [showClear]="true"
                            placeholder="Seleccionar Tipo Matricula" [emptyFilterMessage]="'No se encontraron registros.'">
                            <ng-template let-tm pTemplate="item">
                                <div class="flex align-items-center">
                                    <span class="font-bold ml-2">{{ tm.tipmatrgestion }}</span>
                                </div>
                            </ng-template>
                        </p-dropdown>
                        <small class="p-success block" *ngIf="matriculaForm.get('tiposMatricula').valid">
                            La matricula seleccionada es valida.
                        </small>
                        <small class="p-error block"
                            *ngIf="matriculaForm.get('tiposMatricula').invalid && matriculaForm.get('tiposMatricula').touched">
                            <span *ngIf="matriculaForm.get('tiposMatricula').errors?.required">La matricula es requerida.</span>
                            (*)
                        </small>
                </div>
                <div *ngIf="opcionMatricula" class="field">
                    <label class="block font-bold mb-2">Elegir Estudiante</label>
                    <p-dropdown dropdownIcon="pi pi-user" [options]="tipoPersonaEstudiante" formControlName="tipoPersona" appendTo="body"
                        optionLabel="pernomcompleto" [filter]="true" filterBy="pernomcompleto" [showClear]="true"
                        placeholder="Seleccionar estudiante" [emptyFilterMessage]="'No se encontraron registros.'">
                        <ng-template let-tm pTemplate="item">
                            <div class="flex align-items-center">
                                <div *ngIf="tm.perfoto == null" class="user-display">
                                    <p-avatar image="../../../../../assets/images/login/sin_foto_perfil.png"
                                        styleClass="mr-2" size="xlarge" shape="circle"></p-avatar>
                                    <span class="font-bold ml-2">{{ tm.pernomcompleto }}</span>
                                </div>
                                <div *ngIf="tm.perfoto != null" class="user-display">
                                    <p-avatar image="{{ userProfilePhoto }}/{{ tm.perfoto }}" styleClass="mr-2" size="xlarge"
                                        shape="circle"></p-avatar>
                                    <span class="font-bold ml-2">{{ tm.pernomcompleto  }} </span>

                                    {{tm.pernrdoc}}
                                </div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                    <small class="p-success block" *ngIf="matriculaForm.get('tipoPersona').valid">
                        El estudiante seleccionada es valida.
                    </small>
                    <small class="p-error block"
                        *ngIf="matriculaForm.get('tipoPersona').invalid && matriculaForm.get('tipoPersona').touched">
                        <span *ngIf="matriculaForm.get('tipoPersona').errors?.required">El estudiante es requerida.</span>
                        (*)
                    </small>
                </div>
                <div class="field">
                    <label class="block font-bold mb-2" >Fecha</label>
                    <p-calendar inputId="matrfec" appendTo="body" formControlName="matrfec" placeholder="Ingrese un fecha"
                                    [showIcon]="true" dateFormat="yy-mm-dd"
                                    [ngClass]="{ 'ng-dirty': this.matriculaForm.get('matrfec').touched, 'valid-field': this.matriculaForm.get('matrfec').valid}"
                                    >
                    </p-calendar>
                    <small class="p-success block" *ngIf="matriculaForm.get('matrfec').valid">
                        La fecha es válido.
                    </small>
                    <small class="p-error block"
                        *ngIf="matriculaForm.get('matrfec').invalid && matriculaForm.get('matrfec').touched">
                        <span *ngIf="matriculaForm.get('matrfec').errors?.required">La fecha es requerido.</span>
                        (*)
                    </small>
                </div>
                <div class="field">
                    <label class="block font-bold mb-2" >Descripción</label>
                    <textarea rows="5" cols="30" pInputTextarea formControlName="matrdescripcion"
                    [ngClass]="{ 'ng-dirty': this.matriculaForm.get('matrdescripcion').touched, 'valid-field': this.matriculaForm.get('matrdescripcion').valid}"
                    >
                    </textarea>
                    <small class="p-error block"
                        *ngIf="matriculaForm.get('matrdescripcion').invalid && matriculaForm.get('matrdescripcion').dirty">
                        <span *ngIf="matriculaForm.get('matrdescripcion').errors?.required">La descripción es requerido.</span>
                        (*)
                    </small>
                    <small class="p-success block" *ngIf="matriculaForm.get('matrdescripcion')?.valid"> La descripción es
                        valido.
                    </small>
                </div>
            </div>
        </form>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
            (click)="ocultarDialogMatricula()"></button>
        <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" [disabled]="matriculaForm.invalid"
            (click)="guardarMatricula()"></button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="desactivarMatriculaDialog" header="Confirmar" [modal]="true" [draggable]="false" [resizable]="false">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="matricula">Estas seguro que quieres desactivar la matricula:<strong>{{matricula.tipmatrgestion}}</strong>,
            de esta persona  <strong>{{matricula.pernomcompleto}}</strong>?
        </span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
            (click)="desactivarMatriculaDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Si"
            (click)="confirmarActivarDesactivar()"></button>
    </ng-template>
</p-dialog>


<p-dialog [(visible)]="activarMatriculaDialog" header="Confirmar" [modal]="true" >
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="matricula">Estas seguro que quieres activar la matricula:<strong>{{matricula.tipmatrgestion}}</strong>,
            de esta persona  <strong>{{matricula.pernomcompleto}}</strong>?
        </span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
            (click)="activarMatriculaDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Si"
            (click)="confirmarActivarDesactivar()"></button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="pagoMatriculaDialog" header="Pago matricula" [modal]="true"
        [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '60vw' }"
        [draggable]="false" [resizable]="false" [maximizable]="true"
        class="p-fluid">
        <p-card>
            <ng-template pTemplate="title">
                Información del Pago
            </ng-template>
            <ng-template pTemplate="content">
                    <p><strong>Matricula:</strong> {{this.matricula.tipmatrgestion}}</p>
                    <p><strong>Estudiante:</strong> {{this.matricula.pernomcompleto}}</p>
            </ng-template>
        </p-card>
    <div class="mt-5">
        <form [formGroup]="pagoForm">
            <div class="p-fluid grid">
                <!-- Campo de descripción del pago -->
                <div class="field col-12 md:col-6">
                    <label for="pagdescripcion">Descripción del pago</label>
                    <input pInputText id="pagdescripcion" formControlName="pagdescripcion" class="mb-2" />
                    <div *ngIf=" pagoForm.get('pagdescripcion').invalid && pagoForm.get('pagdescripcion').touched " >
                        <small *ngIf="pagoForm.get('pagdescripcion').errors?.required" class="p-error" >
                            La descripción del pago es requerida.
                        </small>
                    </div>
                </div>
                <!-- Campo de fecha del pago -->
                <div class="field col-12 md:col-6">
                    <label for="pagfecha">Fecha del pago (Año/Mes/Día)</label>
                    <p-calendar id="pagfecha" dateFormat="yy-mm-dd" formControlName="pagfecha" showIcon styleClass="mb-2" ></p-calendar>
                    <div *ngIf=" pagoForm.get('pagfecha').invalid && pagoForm.get('pagfecha').touched " >
                        <small *ngIf="pagoForm.get('pagfecha').errors?.required" class="p-error" >
                            La fecha del pago es requerida.
                        </small>
                    </div>
                </div>

                <!-- Campo de monto del pago -->
                <div class="field col-12 md:col-4">
                    <label for="pagmonto">Monto</label>
                    <p-inputNumber id="pagmonto" formControlName="pagmonto" mode="currency" currency="BOB" locale="es-BO" class="mb-2" ></p-inputNumber>
                    <div *ngIf=" pagoForm.get('pagmonto').invalid && pagoForm.get('pagmonto').touched " >
                        <small *ngIf="pagoForm.get('pagmonto').errors?.required" class="p-error" >
                            El monto es requerido.
                        </small>
                        <small *ngIf="pagoForm.get('pagmonto').errors?.min" class="p-error" >
                            El monto debe ser mayor o igual a 0.
                        </small>
                    </div>
                </div>

                <!-- Campo de tipo de pago -->
                <div class="field col-12 md:col-4">
                    <label for="tipoPago">Tipo de Pago</label>
                    <p-dropdown id="tipoPago" [options]="tipoPago" formControlName="tipoPago" optionLabel="tpagnombre" placeholder="Seleccionar tipo de pago" styleClass="mb-2" ></p-dropdown>
                    <div *ngIf=" pagoForm.get('tipoPago').invalid && pagoForm.get('tipoPago').touched " >
                        <small *ngIf="pagoForm.get('tipoPago').errors?.required" class="p-error" >
                            El tipo de pago es requerido.
                        </small>
                    </div>
                </div>

                <!-- <div class="field col-12 md:col-6">
                    <label for="textarea">Observación</label>
                        <textarea
                            inputId="textarea"
                            rows="2" cols="30"
                            formControlName="perobservacion"
                            appendTo="body"
                            pInputTextarea
                        ></textarea>
                </div> -->

                <div class="field col-12 md:col-4">
                    <label for="">Estado</label>
                    <div class="flex align-items-center justify-content-center">
                        <p-selectButton [options]="stateOptionsEstado" formControlName="pagestado" optionLabel="label" optionValue="value"></p-selectButton>
                    </div>
                </div>

                <!-- Campo de carga de archivos -->
                <div class="field col-12 md:col-6">
                    <label class="block" for="pagarchivo"
                        >Documento de respaldo</label
                    >
                    <p-card>
                        <p-fileUpload
                            url="https://www.primefaces.org/cdn/api/upload.php"
                            name="demo[]"
                            [customUpload]="true"
                            (uploadHandler)="onUploadPago($event)"
                            (onSelect)="onFileSelect($event)"
                            (onClear)="clearFilePago()"
                            [auto]="false"
                            accept=".pdf,.jpg,.png,.jpeg"
                            [chooseStyleClass]="'w-auto mb-2'"
                            [uploadStyleClass]="'w-auto mb-2'"
                            [cancelStyleClass]="'w-auto mb-2'"
                            styleClass="mb-2"
                            [cancelIcon]="'pi pi-trash'"
                            [cancelLabel]="'Vaciar'"
                            [uploadLabel]="'Cargar Archivo'"
                            [chooseLabel]="'Seleccionar'"
                        >
                            <ng-template pTemplate="toolbar">
                                <div class="py-3">Pasos para subir documento de respaldo:</div>
                                <ul>
                                    <li class="list-none">Paso 1: Haz clic en el botón "Seleccionar" y elige un archivo en formato PDF, JPG, PNG o JPEG.</li>
                                    <li class="list-none">Paso 2: Haz clic en el botón "Cargar Archivo".</li>
                                    <li class="list-none">Paso 3: Verifica el archivo en la sección de vista previa.</li>

                                </ul>
                                <ul>
                                    <li class="list-none">Vaciar: Si deseas, puedes usar la opción "Vaciar" para eliminar el archivo seleccionado.</li>
                                </ul>
                            </ng-template>
                            <ng-template pTemplate="fileupload-content">
                                <ul *ngIf="pagoFile">
                                    <li class="list-none flex align-items-center">
                                        <div class="flex align-items-center justify-content-center bg-blue-100 border-round" style="width:2.5rem;height:2.5rem">
                                            <i *ngIf="isPDF(pagoFile.type)" class="pi pi-file-pdf text-red-500 text-xl"></i>
                                            <i *ngIf="isImage(pagoFile.type)" class="pi pi-image text-green-500 text-xl"></i>
                                        </div>
                                        <span class="ml-2">
                                            {{ pagoFile.name }} - {{ (pagoFile.size / 1048576).toFixed(1) }} MB
                                        </span>
                                    </li>
                                </ul>
                            </ng-template>
                        </p-fileUpload>
                        <div>
                            <p-progressBar [value]="uploadProgress"></p-progressBar>
                        </div>
                        <div
                            *ngIf="
                                pagoForm.get('pagarchivo').invalid &&
                                pagoForm.get('pagarchivo').dirty
                            "
                        >
                            <small
                                class="p-error block"
                            >
                                <span
                                    *ngIf="pagoForm.get('pagarchivo').errors?.required"
                                    >El documento de respaldo es requerido.</span
                                >
                            </small>
                        </div>
                    </p-card>
                </div>

                <div class="field col-12 md:col-6">
                    <label for="pagdescripcion">Vista previa</label>
                    <div *ngIf="uploadProgress === 100">
                        <p-card>
                            <ng-container *ngIf="isImage(pagoFile.type)">
                                <div
                                    class="mb-2 justify-content-center align-items-center text-center"
                                >
                                    <p-image
                                        [src]="pagoFileUrl"
                                        alt="Documento"
                                        width="400"
                                        height="100%"
                                        [preview]="true"
                                        [imageStyle]="{
                                            'border-radius': '5%',
                                            'object-fit': 'cover'
                                        }"
                                    ></p-image>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="isPDF(pagoFile.type)">
                                <div class="pdf-container">
                                    <ngx-extended-pdf-viewer
                                        theme="dark"
                                        [showToolbar]="true"
                                        [showSidebarButton]="true"
                                        [showFindButton]="false"
                                        [showPagingButtons]="true"
                                        [showDrawEditor]="false"
                                        [showStampEditor]="false"
                                        [showTextEditor]="false"
                                        [showZoomButtons]="true"
                                        [showPresentationModeButton]="false"
                                        [showOpenFileButton]="false"
                                        [showPrintButton]="false"
                                        [showDownloadButton]="true"
                                        [showSecondaryToolbarButton]="true"
                                        [showRotateButton]="undefined"
                                        [showRotateCwButton]="true"
                                        [showRotateCcwButton]="true"
                                        [showHandToolButton]="false"
                                        [showScrollingButton]="true"
                                        [showSpreadButton]="false"
                                        [showPropertiesButton]="false"
                                        [language]="'es'"
                                        [src]="pagoFileUrl" height="100     " width="100%">
                                    </ngx-extended-pdf-viewer>
                                </div>
                            </ng-container>
                        </p-card>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
            (click)="ocultarDialogMatricula()"></button>
        <button *ngIf="matricula.pagoidmatricula == null"pButton pRipple label="Guardar" icon="pi pi-save" class="p-button-success p-button-outlined"
            (click)="guardarPago()"></button>
        <button *ngIf="matricula.pagoidmatricula != null" pButton pRipple label="Modificar" icon="pi pi-save" class="p-button-success p-button-outlined"
            (click)="guardarPago(pago)"></button>
    </ng-template>
</p-dialog>


<p-dialog header="{{this.pagarchivo}}" [(visible)]="showArchivoImagen" [style]="{width: '50vw'}">
    <div class="text-center">
        <img
        [src]="apiUrlPagoArchivo + '/' + this.pagarchivo"
        alt="this.pagarchivo"
        style="width: 50%; height: 50%;"
    />
    </div>
</p-dialog>
