<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-toast></p-toast>
            <p-breadcrumb class="max-w-full" [model]="items" [home]="home"></p-breadcrumb>
            <h3>Gestionar Accesos</h3>
            <p>Seleccionar un Rol de usuario, asignar los accesos</p>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button 
                            pButton 
                            pRipple 
                            label="Adicionar Acceso" 
                            icon="pi pi-plus" 
                            class="p-button-success mr-2" 
                            (click)="addAcceso()"
                            pTooltip="Asignar Accesos"
                            tooltipPosition="top"
                        ></button>
                    </div>
                </ng-template>
            </p-toolbar>

            <div class="card">
                <p-tabView [(activeIndex)]="activeIndex" [scrollable]="true">
                    <p-tabPanel *ngFor="let rol of roles" [header]="rol.rolnombre">
                        <div *ngIf="getAccessesByRolId(rol?.rolid).length > 0; else noPermisos">
                            <ul>
                                <li *ngFor="let access of getAccessesByRolId(rol?.rolid)" class="flex align-items-center" style="margin-bottom: 0.5rem;">
                                    <div class="flex align-items-center" [style]="'margin: 0.2rem;'">
                                        <div style="padding: 0.2rem; margin-right: 0.5rem; cursor: pointer;" pTooltip="Eliminar" tooltipPosition="top" (click)="handleClickAccess(access)">
                                            <i class="pi pi-trash" style="color: #e57a7c"></i>
                                        </div>
                                        <div style="padding-right: 0.5rem;"><i class="pi pi-desktop" style="color: slateblue"></i></div>
                                        <p-checkbox
                                            [ngModel]="access.accactivo === 1"
                                            (ngModelChange)="access.accactivo = $event ? 1 : 0"
                                            binary="true"
                                            (onChange)="toggleAccess(access)"
                                            [label]="getOperacionPorId(access.submenid)?.submennombre">
                                        </p-checkbox>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <ng-template #noPermisos>
                            <div class="no-permisos-message text-align-center">
                                No hay accesos disponibles para este rol.
                            </div>
                        </ng-template>
                    </p-tabPanel>
                </p-tabView>
            </div>
            
        <!-- Example in accordionTab model  -->
        <!-- <div class="card ">
            <div *ngFor="let rol of roles">
                <p-accordion>
                    <p-accordionTab header="{{ rol.rolnombre }}">
                        <div *ngIf="getAccessesByRolId(rol?.rolid).length > 0; else noPermisos">
                            <ul>
                                <li *ngFor="let access of getAccessesByRolId(rol?.rolid)" class="flex align-items-center" style="margin-bottom: 0.5rem;">
                                  <div class="flex align-items-center" [style]="'margin: 0.2rem;'">
                                    <div style="padding: 0.2rem; margin-right: 0.5rem; cursor: pointer;" pTooltip="Eliminar" tooltipPosition="top" (click)="handleClickPermiso(access)">
                                      <i class="pi pi-trash" style="color: #e57a7c"></i>
                                    </div>
                                    <p-checkbox
                                      [ngModel]="access.accactivo === 1"
                                      (ngModelChange)="access.accactivo = $event ? 1 : 0"
                                      binary="true"
                                      (onChange)="togglePermiso(access)"
                                      [label]="getOperacionPorId(access.submenid)?.submennombre">
                                    </p-checkbox>
                                  </div>
                                </li>
                              </ul>
                        </div>
                        <ng-template #noPermisos>
                            <div class="no-permisos-message text-align-center">
                                No hay accesos disponibles para este rol.
                            </div>
                        </ng-template>
                    </p-accordionTab>
                </p-accordion>
            </div>
        </div> -->

        </div>
    </div>
</div>

<p-dialog [(visible)]="deleteAccessDialog" header="Confirmar" [modal]="true">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>Estas seguro de eliminar el acceso?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteAccessDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Si" (click)="deleteAccess()"></button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="addAccessdialog" [style]="{width: '650px'}" header="Acceso" [modal]="true" class="p-fluid" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '30vw' }" [draggable]="false" [resizable]="false">
    <form [formGroup]="accessForm" novalidate>
        <div class="field">
            <label for="idTipoRol">Rol</label>
            <p-dropdown
                inputId="pdTipoRol"
                appendTo="body"
                [options]="tipoRol"
                formControlName="tipoRol"
                optionLabel="rolnombre"
                placeholder="Seleccionar Rol"
                [filter]="true"
                filterBy="rolnombre"
            ></p-dropdown>
        </div>
        <div class="field">
            <label for="idTipoSubMen">Sub Menus</label>
            <p-multiSelect
                [options]="tipoSubMenu"
                formControlName="tipoSubMenu"
                optionLabel="submennombre"
                placeholder="Selecionar Sub Menu"
                appendTo="body"
            ></p-multiSelect>
        </div>
        <div class="field">
            <label for="">Activo</label>
            <div class="flex align-items-center justify-content-center">
                <p-checkbox formControlName="accactivo" binary="true" inputId="ny"></p-checkbox>
            </div>
        </div>
        <div class="field">
            <label for="">Estado</label>
            <div class="flex align-items-center justify-content-center">
                <p-selectButton [options]="stateOptionsEstado" formControlName="accestado" optionLabel="label" optionValue="value"></p-selectButton>
            </div>
        </div>
    </form>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialogAccess()"></button>
        <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" (click)="sendFormAccess()"></button>
    </ng-template>

</p-dialog>

