<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-toast></p-toast>
            <p-breadcrumb class="max-w-full" [model]="items" [home]="home"></p-breadcrumb>
            <h3>Gestionar Accesos</h3>
            <p>Seleccionar un Rol de usuario, asignar los accesos</p>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button
                            pButton
                            pRipple
                            label="Adicionar Acceso"
                            icon="pi pi-plus"
                            class="p-button-success mr-2"
                            (click)="addAcceso()"
                            pTooltip="Asignar Accesos"
                            tooltipPosition="top"
                        ></button>
                        <button
                            pButton
                            pRipple
                            label="Menu"
                            icon="pi pi-plus"
                            class="p-button-primary mr-2"
                            (click)="manageMenus()"
                            pTooltip="Gestionar Menus"
                            tooltipPosition="top"
                        ></button>
                        <button
                            pButton
                            pRipple
                            label="SubMenu"
                            icon="pi pi-plus"
                            class="p-button-primary mr-2"
                            (click)="manageSubMenu()"
                            pTooltip="Gestionar Sub Menu"
                            tooltipPosition="top"
                        ></button>
                    </div>
                </ng-template>
            </p-toolbar>

            <div class="card">
                <p-tabView [(activeIndex)]="activeIndex" [scrollable]="true">
                    <p-tabPanel *ngFor="let rol of roles" [header]="rol.rolnombre">
                        <div *ngIf="getAccessesByRolId(rol?.rolid).length > 0; else noPermisos">
                            <ul>
                                <li *ngFor="let access of getAccessesByRolId(rol?.rolid)" class="flex align-items-center" style="margin-bottom: 0.5rem;">
                                    <div class="flex align-items-center" [style]="'margin: 0.2rem;'">
                                        <div style="padding: 0.2rem; margin-right: 0.5rem; cursor: pointer;" pTooltip="Eliminar" tooltipPosition="top" (click)="handleClickAccess(access)">
                                            <i class="pi pi-trash" style="color: #e57a7c"></i>
                                        </div>
                                        <p-checkbox
                                            [ngModel]="access.accactivo === 1"
                                            (ngModelChange)="access.accactivo = $event ? 1 : 0"
                                            binary="true"
                                            (onChange)="toggleAccess(access)"
                                            [label]=" access.mennombre  + ' | ' + getOperacionPorId(access.submenid)?.submennombre + ' | '">
                                        </p-checkbox>
                                        <div style="padding-right: 0.5rem;"><i class="{{access.menicono}}" style="color: #7254f3"></i></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <ng-template #noPermisos>
                            <div class="no-permisos-message text-align-center">
                                No hay accesos disponibles para este rol.
                            </div>
                        </ng-template>
                    </p-tabPanel>
                </p-tabView>
            </div>


        <!-- Example in accordionTab model  -->
        <!-- <div class="card ">
            <div *ngFor="let rol of roles">
                <p-accordion>
                    <p-accordionTab header="{{ rol.rolnombre }}">
                        <div *ngIf="getAccessesByRolId(rol?.rolid).length > 0; else noPermisos">
                            <ul>
                                <li *ngFor="let access of getAccessesByRolId(rol?.rolid)" class="flex align-items-center" style="margin-bottom: 0.5rem;">
                                  <div class="flex align-items-center" [style]="'margin: 0.2rem;'">
                                    <div style="padding: 0.2rem; margin-right: 0.5rem; cursor: pointer;" pTooltip="Eliminar" tooltipPosition="top" (click)="handleClickPermiso(access)">
                                      <i class="pi pi-trash" style="color: #e57a7c"></i>
                                    </div>
                                    <p-checkbox
                                      [ngModel]="access.accactivo === 1"
                                      (ngModelChange)="access.accactivo = $event ? 1 : 0"
                                      binary="true"
                                      (onChange)="togglePermiso(access)"
                                      [label]="getOperacionPorId(access.submenid)?.submennombre">
                                    </p-checkbox>
                                  </div>
                                </li>
                              </ul>
                        </div>
                        <ng-template #noPermisos>
                            <div class="no-permisos-message text-align-center">
                                No hay accesos disponibles para este rol.
                            </div>
                        </ng-template>
                    </p-accordionTab>
                </p-accordion>
            </div>
        </div> -->

        </div>
    </div>
</div>

<p-dialog [(visible)]="deleteAccessDialog" header="Confirmar" [modal]="true">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>Estas seguro de eliminar el acceso?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteAccessDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Si" (click)="deleteAccess()"></button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="addAccessdialog" [style]="{width: '650px'}" header="Acceso" [modal]="true" class="p-fluid" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '30vw' }" [draggable]="false" [resizable]="false">
    <form [formGroup]="accessForm" novalidate>
        <div class="field">
            <label for="idTipoRol">Rol</label>
            <p-dropdown
                inputId="pdTipoRol"
                appendTo="body"
                [options]="tipoRol"
                formControlName="tipoRol"
                optionLabel="rolnombre"
                placeholder="Seleccionar Rol"
                [filter]="true"
                filterBy="rolnombre"
            ></p-dropdown>
        </div>
        <div class="field">
            <label for="idTipoSubMen">Sub Menus</label>
            <p-multiSelect
                [options]="tipoSubMenu"
                formControlName="tipoSubMenu"
                optionLabel="submennombre"
                placeholder="Selecionar Sub Menu"
                appendTo="body"
            ></p-multiSelect>
        </div>
        <div class="field">
            <label for="">Activo</label>
            <div class="flex align-items-center justify-content-center">
                <p-checkbox formControlName="accactivo" binary="true" inputId="ny"></p-checkbox>
            </div>
        </div>
        <div class="field">
            <label for="">Estado</label>
            <div class="flex align-items-center justify-content-center">
                <p-selectButton [options]="stateOptionsEstado" formControlName="accestado" optionLabel="label" optionValue="value"></p-selectButton>
            </div>
        </div>
    </form>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialogAccess()"></button>
        <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" (click)="sendFormAccess()"></button>
    </ng-template>

</p-dialog>



<!-- Menu Section -->

<div *ngIf="manageMenuDialog">
    <p-dialog
        [(visible)]="manageMenuDialog"
        header="Gestionar Menus"
        [modal]="true"
        class="p-fluid"
        [breakpoints]="{'960px':'75vw'}"
        [style]="{width: '90vw'}"
        [draggable]="false"
        [resizable]="false"
        [maximizable]="true"
    >
    <p>Sección para administrar los menus de infertaz de usuario</p>
        <p-toolbar styleClass="mb-4">
            <ng-template pTemplate="left">
                <div class="flex my-2">
                    <button
                        pButton
                        pRipple
                        label="Nuevo"
                        icon="pi pi-plus"
                        class="p-button-success mr-2"
                        (click)="MenuCreate()"
                        pTooltip="Nuevo Menu"
                        tooltipPosition="top"
                    ></button>
                </div>
            </ng-template>
        </p-toolbar>

        <p-table
            #dtMenu
            [value]="menus"
            responsiveLayout="stack"
            class="m-2"
            [loading]="loading"
            [rowsPerPageOptions]="[5, 10, 20]"
            [rows]="10"
            [paginator]="true"
            styleClass="p-datatable-striped p-card p-datatable-sm"
            [globalFilterFields]="['mennombre']"
            rowGroupMode="rowspan"
            groupRowsBy="mennombre"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} entradas"
            [rowHover]="true"
        >

        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between table-reader">
                Lista de Menu
                <span class="p-input-icon-left w-auto">
                    <i class="pi pi-search"></i>
                    <input
                        pInputText
                        type="text"
                        (input)="dtMenu.filterGlobal($event.target.value, 'contains')"
                        placeholder="Buscar..."
                        pTooltip="Buscar por nombre"
                        tooltipPosition="top"
                    />
                </span>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th> </th>
                <th> Nombre </th>
                <th> Icono </th>
                <th> Descripción </th>
                <th> Registrado </th>
                <th> Modificado </th>
                <th> Estado </th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-menu>
            <tr>
                <td>
                    <div class="flex justify-content-center">
                        <button
                            pButton="pButton"
                            pRipple="pRipple"
                            type="button"
                            icon="pi pi-pencil"
                            class="p-button-rounded p-button-warning mr-2"
                            pTooltip="Editar"
                            tooltipPosition="top"
                            (click)="MenuUpdate(menu)"
                        ></button>
                        <button
                            pButton="pButton"
                            pRipple="pRipple"
                            type="button"
                            icon="pi pi-trash"
                            class="p-button-rounded p-button-danger mr-2"
                            pTooltip="Eliminar"
                            tooltipPosition="top"
                            (click)="MenuDelete(menu)"
                        ></button>
                    </div>
                </td>
                <td> {{ menu.mennombre }} </td>
                <td> <i class="{{ menu.menicono }}"></i> </td>
                <td> {{ menu.mendescripcion }} </td>
                <td>
                    {{ menu.menusureg }} <br>
                    {{ menu.menfecreg | date: 'd \'de\' MMMM, y' }} <br>
                    {{ menu.menfecreg | date: 'h:mm:ss a'}}
                </td>
                <td>
                    {{ menu.menusumod }} <br>
                    {{ menu.menfecmod | date: 'd \'de\' MMMM, y' }} <br>
                    {{ menu.menfecmod | date: 'h:mm:ss a'}}
                </td>
                <td>
                    <div class="flex justify-content-center">
                        <p-tag
                            [value]="getStatusDescription(menu.menestado)"
                            [severity]="getStatusSeverity(menu.menestado)"
                            [rounded]="true"
                        ></p-tag>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="6">No se encontraron registros</td>
            </tr>
        </ng-template>
        </p-table>
    </p-dialog>
</div>

<!-- Dialog Menu CRUD -->
<p-dialog
    [(visible)]="dialogMenu"
    header="Menu"
    [modal]="true"
    class="p-fluid"
    [breakpoints]="{'960px': '75vw'}"
    [style]="{width: '20vw'}"
    [draggable]="false"
    [resizable]="false"
>
    <form [formGroup]="menuForm">
        <div class="field">
            <label for="idMenNombre">Nombre</label>
            <input
                type="text"
                id="idInputMenNombre"
                pInputText
                formControlName="mennombre"
            >
        </div>
        <div class="field">
            <label for="idTipoIcono">Icono</label>

            <p-dropdown
                formControlName="tipoIcono"
                [options]="tipoIcono"
                optionLabel="iconombre"
                placeholder="Seleccionar Icono"
                appendTo="body"
                [filter]="true"
                [showClear]="true"
                [emptyFilterMessage]="'No se encontraron registros.'"
            >
            <ng-template let-tipoIcono pTemplate="item">
                <div class="align-items-center">
                    <i class="{{tipoIcono.iconombre}}"></i> {{ ' ' +tipoIcono.iconombre}}
                </div>
            </ng-template>
            </p-dropdown>

        </div>
        <div class="field">
            <label for="idMenDescripcion">Descripción</label>
            <textarea
                inputId="idTextAreaDescripcion"
                rows="2"
                cols="30"
                formControlName="mendescripcion"
                appendTo="body"
                pInputTextarea
            ></textarea>
        </div>
        <div class="field">
            <label for="">Estado</label>
            <div class="flex align-items-center justify-content-center">
                <p-selectButton
                    [options]="stateOptionsEstado"
                    formControlName="menestado"
                    optionLabel="label"
                    optionValue="value">
                </p-selectButton>
            </div>
        </div>
    </form>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialogMenu()"></button>
        <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" (click)="sendFormMenu()" ></button>
    </ng-template>

</p-dialog>


<p-dialog [(visible)]="deleteMenuDialog" header="Confirmar" [modal]="true">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>Estas seguro de eliminar este menú?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteMenuDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Si" (click)="sendDeleteMenu()"></button>
    </ng-template>
</p-dialog>




<!-- SubMenu Section -->

<div *ngIf="manageSubMenuDialog">
    <p-dialog
        [(visible)]="manageSubMenuDialog"
        header="Gestionar Sub Menu"
        [modal]="true"
        class="p-fluid"
        [breakpoints]="{'960px':'75vw'}"
        [style]="{width: '90vw'}"
        [draggable]="false"
        [resizable]="false"
        [maximizable]="true"
    >
    <p>Sección para administrar los submenus de infertaz de usuario</p>
        <p-toolbar styleClass="mb-4">
            <ng-template pTemplate="left">
                <div class="flex my-2">
                    <button
                        pButton
                        pRipple
                        label="Nuevo"
                        icon="pi pi-plus"
                        class="p-button-success mr-2"
                        (click)="SubMenuCreate()"
                        pTooltip="Nuevo SubMenu"
                        tooltipPosition="top"
                    ></button>
                </div>
            </ng-template>
        </p-toolbar>

        <p-table
            #dtMenu
            [value]="submenus"
            responsiveLayout="stack"
            class="m-2"
            [loading]="loading"
            [rowsPerPageOptions]="[5, 10, 20]"
            [rows]="10"
            [paginator]="true"
            styleClass="p-datatable-striped p-card p-datatable-sm"
            [globalFilterFields]="['submennombre']"
            rowGroupMode="rowspan"
            groupRowsBy="submennombre"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} entradas"
            [rowHover]="true"
        >

        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between table-reader">
                Lista de SubMenu
                <span class="p-input-icon-left w-auto">
                    <i class="pi pi-search"></i>
                    <input
                        pInputText
                        type="text"
                        (input)="dtMenu.filterGlobal($event.target.value, 'contains')"
                        placeholder="Buscar..."
                        pTooltip="Buscar por nombre"
                        tooltipPosition="top"
                    />
                </span>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th> </th>
                <th pSortableColumn="submennombre"> Nombre <p-sortIcon field="submennombre"></p-sortIcon> </th>
                <th pSortableColumn="mennombre"> Menu  <p-sortIcon field="mennombre"></p-sortIcon> </th>
                <th> Descripción </th>
                <th> Registrado </th>
                <th> Modificado </th>
                <th> Estado </th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-submenu>
            <tr>
                <td>
                    <div class="flex justify-content-center">
                        <button
                            pButton="pButton"
                            pRipple="pRipple"
                            type="button"
                            icon="pi pi-pencil"
                            class="p-button-rounded p-button-warning mr-2"
                            pTooltip="Editar"
                            tooltipPosition="top"
                            (click)="SubMenuUpdate(submenu)"
                            ></button>
                        <button
                            pButton="pButton"
                            pRipple="pRipple"
                            type="button"
                            icon="pi pi-trash"
                            class="p-button-rounded p-button-danger mr-2"
                            pTooltip="Eliminar"
                            tooltipPosition="top"
                            (click)="SubMenuDelete(submenu)"
                        ></button>
                    </div>
                </td>
                <td> {{ submenu.submennombre }} </td>
                <td> {{ submenu.mennombre }} </td>
                <td> {{ submenu.submendescripcion }} </td>
                <td>
                    {{ submenu.submenusureg }} <br>
                    {{ submenu.submenfecreg | date: 'd \'de\' MMMM, y' }} <br>
                    {{ submenu.submenfecreg | date: 'h:mm:ss a'}}
                </td>
                <td>
                    {{ submenu.submenusumod }} <br>
                    {{ submenu.submenfecmod | date: 'd \'de\' MMMM, y' }} <br>
                    {{ submenu.submenfecmod | date: 'h:mm:ss a'}}
                </td>
                <td>
                    <div class="flex justify-content-center">
                        <p-tag
                            [value]="getStatusDescription(submenu.submenestado)"
                            [severity]="getStatusSeverity(submenu.submenestado)"
                            [rounded]="true"
                        ></p-tag>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="7">No se encontraron registros</td>
            </tr>
        </ng-template>
        </p-table>
    </p-dialog>
</div>


<!-- Dialog SubMenu CRUD -->
<p-dialog
    [(visible)]="dialogSubMenu"
    header="SubMenu"
    [modal]="true"
    class="p-fluid"
    [breakpoints]="{'960px': '75vw'}"
    [style]="{width: '20vw'}"
    [draggable]="false"
    [resizable]="false"
>
    <form [formGroup]="submenuForm">
        <div class="field">
            <label for="idSubMenNombre">Nombre</label>
            <input
                type="text"
                id="idInputSubMenNombre"
                pInputText
                formControlName="submennombre"
            >
        </div>
        <div class="field">
            <label for="idTipoMenu">Tipo Menú</label>

            <p-dropdown
                formControlName="tipoMenu"
                [options]="tipoMenu"
                optionLabel="mennombre"
                placeholder="Seleccionar Menu"
                appendTo="body"
                [filter]="true"
                [showClear]="true"
                [emptyFilterMessage]="'No se encontraron registros.'"
            >
            </p-dropdown>

        </div>
        <div class="field">
            <label for="idSubMenDescripcion">Descripción</label>
            <textarea
                inputId="idTextAreaDescripcion"
                rows="2"
                cols="30"
                formControlName="submendescripcion"
                appendTo="body"
                pInputTextarea
            ></textarea>
        </div>
        <div class="field">
            <label for="">Estado</label>
            <div class="flex align-items-center justify-content-center">
                <p-selectButton
                    [options]="stateOptionsEstado"
                    formControlName="submenestado"
                    optionLabel="label"
                    optionValue="value">
                </p-selectButton>
            </div>
        </div>
    </form>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialogSubMenu()"></button>
        <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" (click)="sendFormSubMenu()" ></button>
    </ng-template>

</p-dialog>

<!-- Dialog SubMenu Delete -->
<p-dialog [(visible)]="deleteSubMenuDialog" header="Confirmar" [modal]="true">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>Estas seguro de eliminar este submenú?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteSubMenuDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Si" (click)="sendDeleteSubMenu()"></button>
    </ng-template>
</p-dialog>

