<div class="grid">
    <div class="col-12">
        <p-card header="INSCRIPCIÓN">
            <p-toast></p-toast>
            <div class="flex">
                <div class="col-6">
                    <p-panel header="Inscripción de estudiantes">
                        <p>
                            Es esta sección se puede realizar los registros de la inscripcion de los estudiantes a las diferentes materias.
                        </p>
                    </p-panel>
                </div>
                <div class="col-6">
                    <p-panel header="Opciones">
                            <div class="my-2">
                                <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-rounded p-button-success mr-2" (click)="abrirNuevo()"></button>
                                <!-- <button pButton pRipple label="Reporte" icon="pi pi-file-pdf" class="p-button-rounded p-button-info mr-2" (click)="reporte.rptUsuarios()"></button> -->
                            </div>
                    </p-panel>
                </div>
            </div>
            <!-- <p-table [value]="listaCursosMaterias" responsiveLayout="scroll" [rows]="10" [paginator]="true"
                [rowsPerPageOptions]="[10,20,30]" >
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="curmatid">
                            Código
                            <p-sortIcon field="curmatid"></p-sortIcon>
                        </th>
                        <th pSortableColumn="curid">
                            Código Curso
                            <p-sortIcon field="curid"></p-sortIcon>
                        </th>
                        <th pSortableColumn="curnombre">
                            Nombre Curso
                            <p-sortIcon field="curnombre"></p-sortIcon>
                        </th>
                        <th pSortableColumn="matnombre">
                            Nombre Materia
                            <p-sortIcon field="matnombre"></p-sortIcon>
                        </th>
                        <th pSortableColumn="pernombrecompleto">
                            Impartido por
                            <p-sortIcon field="pernombrecompleto"></p-sortIcon>
                        </th>
                        <th>Duración</th>
                        <th pSortableColumn="curmatestadodescripcion">
                            Estado <p-sortIcon field="curmatestadodescripcion"></p-sortIcon>
                        </th>
                        <th> Opciones </th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-cursoMateria>
                    <tr>
                        <td style="width:5%; min-width:1rem;">
                            {{cursoMateria.curmatid}}
                        </td>
                        <td style="width:5%; min-width:1rem;">
                            {{cursoMateria.curid}}
                        </td>
                        <td style="width:20%; min-width:20rem;">
                            <p-chip>
                                <div class="p-2">
                            {{cursoMateria.curnombre}}
                                </div>
                            </p-chip>
                        </td>
                        <td style="width:20%; min-width:20rem;">
                            <p-chip>
                                <div class="p-2">
                                    Nivel {{cursoMateria.matnivel}}: Materia #{{cursoMateria.matid}} {{cursoMateria.matnombre}}
                                </div>
                            </p-chip>
                        </td>
                        <td style="width:20%; min-width:20rem;">

                            <p-chip>
                                <div class="p-2">{{cursoMateria.pernombrecompleto}}</div>
                            </p-chip>
                            <p-chip>
                                <div class="p-2">{{cursoMateria.curmatidrol}}:{{cursoMateria.curmatidroldes}}</div>
                            </p-chip>
                        </td>

                        <td style="width:20%; min-width:10rem;">
                            <p-tag severity="info">{{cursoMateria.curmatfecini | date:'dd/MM/yyyy'}}</p-tag>
                            <p-tag severity="warn">{{cursoMateria.curmatfecfin | date:'dd/MM/yyyy'}}</p-tag>
                        </td>
                        <td style="width:10%; min-width:5rem;">
                            <p-tag severity="success">
                                {{cursoMateria.curmatestado}}:{{cursoMateria.curmatestadodescripcion}}
                            </p-tag>
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple
                                    icon="pi pi-pencil"
                                    class="p-button-rounded p-button mr-2"
                                    (click)="editarCursoMateria(cursoMateria)"
                                    pTooltip="Editar">
                                </button>
                                <button pButton pRipple
                                    icon="pi pi-trash"
                                    class="p-button-rounded p-button-danger"
                                    (click)="eliminarCursoMateria(cursoMateria)"
                                    pTooltip="Eliminar">
                                </button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table> -->
            <p-table [value]="listaInscripcion" responsiveLayout="scroll" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,20,30]">
                <ng-template pTemplate="header">
                  <tr>
                    <th pSortableColumn="insid">
                      Inscripción ID
                      <p-sortIcon field="insid"></p-sortIcon>
                    </th>
                    <th pSortableColumn="matrid">
                      Materia ID
                      <p-sortIcon field="matrid"></p-sortIcon>
                    </th>
                    <th> Gestión de la Matricula</th>
                    <th pSortableColumn="matrestadodescripcion">
                      Estado Materia
                      <p-sortIcon field="matrestadodescripcion"></p-sortIcon>
                    </th>
                    <th pSortableColumn="pernombrecompleto">
                      Impartido por
                      <p-sortIcon field="pernombrecompleto"></p-sortIcon>
                    </th>
                    <th pSortableColumn="pagdescripcion">
                      Descripción de Pago
                      <p-sortIcon field="pagdescripcion"></p-sortIcon>
                    </th>
                    <th pSortableColumn="pagmonto">
                      Monto de Pago
                      <p-sortIcon field="pagmonto"></p-sortIcon>
                    </th>
                    <th pSortableColumn="insfecreg">
                      Fecha de Registro
                      <p-sortIcon field="insfecreg"></p-sortIcon>
                    </th>
                    <th pSortableColumn="insfecmod">
                      Fecha de Modificación
                      <p-sortIcon field="insfecmod"></p-sortIcon>
                    </th>
                    <th pSortableColumn="insestado">
                      Estado
                      <p-sortIcon field="insestado"></p-sortIcon>
                    </th>
                    <th> Opciones </th>
                    <th></th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-inscripcion>
                  <tr>
                    <td>{{ inscripcion.insid }}</td>
                    <td>{{ inscripcion.matrgestion}}</td>
                    <td>{{ inscripcion.matrid }}</td>
                    <td>{{ inscripcion.matrestadodescripcion }}</td>
                    <td>{{ inscripcion.pernombrecompleto }}</td>
                    <td>{{ inscripcion.pagdescripcion }}</td>
                    <td>{{ inscripcion.pagmonto }}</td>
                    <td>{{ inscripcion.insfecreg | date:'dd/MM/yyyy' }}</td>
                    <td>{{ inscripcion.insfecmod | date:'dd/MM/yyyy' }}</td>
                    <td>{{ inscripcion.insestado }}</td>
                    <td>
                      <div class="flex">
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button mr-2"
                          (click)="editarInscripcion(inscripcion)" pTooltip="Editar">
                        </button>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                          (click)="eliminarInscripcion(inscripcion)" pTooltip="Eliminar">
                        </button>
                      </div>
                    </td>
                  </tr>
                </ng-template>
              </p-table>

        </p-card>

        <p-dialog [(visible)]="cursoMateriaDialog" [style]="{width: '50%'}"
            header="INSCRIPCIÓN" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
            <div class="card p-fluid">
                <div class="flex">
                    <div class="flex-1 flex align-items-center justify-content-center font-bold m-2 border-round">
                        <div class="col">
                            <label for="status">Elegir Curso</label>
                        <p-dropdown inputId="ddTipoCurso" (onChange)="onSelectCurso($event)" appendTo="body"
                            [options]="tipoCurso" [(ngModel)]="tipoCursoSeleccionado" optionLabel="curnombre"
                            placeholder="Seleccionar Curso">
                        </p-dropdown>
                        </div>
                    </div>
                    <div class="flex-1 flex align-items-center justify-content-center font-bold m-2 border-round">
                        <div class="col">
                            <label for="status">Elegir Materia</label>
                            <p-dropdown inputId="ddTipoMateria" appendTo="body" [options]="tipoMateria"
                                [(ngModel)]="tipoMateriaSeleccionado" optionLabel="matnombre" placeholder="Seleccionar Materia">
                            </p-dropdown>
                        </div>
                    </div>
                </div>
                <div class="flex">
                    <div class="flex-1 flex align-items-center justify-content-center font-bold m-2 border-round">
                        <div class="col">
                            <label for="status">Elegir Rol</label>
                            <p-dropdown inputId="ddTipoRol" (onChange)="onSelectPersona($event)" appendTo="body" [filter]="true"
                                filterBy="rolnombre" [options]="tipoRol" [(ngModel)]="tipoRolSeleccionado"
                                optionLabel="rolnombre" placeholder="Seleccionar Rol">
                            </p-dropdown>
                        </div>
                    </div>
                    <div class="flex-1 flex align-items-center justify-content-center font-bold m-2 border-round">
                        <div class="col">
                            <label for="status">Elegir Docente</label>
                            <p-dropdown inputId="ddTipoPersona" appendTo="body" [filter]="true" [options]="tipoPersona"
                            [(ngModel)]="tipoPersonaSeleccionado" optionLabel="pernombrecompleto"
                                placeholder="Seleccionar Docente">
                            </p-dropdown>
                        </div>
                    </div>
                </div>
                <div class="flex">
                    <div class="flex-1 flex align-items-center justify-content-center font-bold m-2 border-round">
                        <div class="col">
                            <span class="p-float-label">
                                <p-calendar inputId="fecini" appendTo="body" [(ngModel)]="cursoMateria.curmatfecini"
                                    [showIcon]="true"></p-calendar>
                                <label for="fecIni">Elegir Fecha Inicio</label>
                            </span>
                        </div>
                    </div>
                    <div class="flex-1 flex align-items-center justify-content-center font-bold m-2 border-round">
                        <div class="col">
                            <span class="p-float-label">
                                <p-calendar inputId="fecfin" appendTo="body" [(ngModel)]="cursoMateria.curmatfecfin"
                                    [showIcon]="true"></p-calendar>
                                <label for="fecFin">Elegir Fecha Fin</label>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="flex justify-content-center flex-wrap">
                    <div class="flex align-items-center justify-content-center w-20rem h-5rem font-bold border-round m-5">
                        <div class="col">
                            <label for="status">Elegir Estado</label>
                            <p-dropdown inputId="ddTipoEstado" appendTo="body" [options]="tipoEstado"
                                [(ngModel)]="tipoEstadoSeleccionado" optionLabel="desTipoEstado"
                                placeholder="Seleccionar Estado">
                            </p-dropdown>
                        </div>
                    </div>
                </div>
            </div>
            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text"
                (click)="guardarCursoMateria()"></button>
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
                    (click)="ocultarDialog()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="eliminarCursoMateriaDialog" header="Mensaje de Confirmación" [modal]="true"
            [style]="{width:'30%'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="cursoMateria">¿Estas seguro de eliminar: <b>{{cursoMateria.curnombre}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Si"
                    (click)="confirmarEliminar()"></button>
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="eliminarCursoMateriaDialog = false"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
