<div class="grid">
    <div class="col-12">
        <p-card header="Inscripción">
            <p-toast></p-toast>
            <div class="flex">
                <!-- <div class="col-6">
                    <p-panel header="Inscripción de estudiantes">
                        <p>
                            Es esta sección se puede realizar los registros de la inscripcion de los estudiantes a las diferentes materias.
                        </p>
                    </p-panel>
                </div> -->
                <!-- <div class="col-3"> -->
                <!-- <p-panel header="Opciones"> -->
                <!-- <div class="my-2">
                    <button pButton pRipple label="Nuevo" icon="pi pi-plus"
                        class="p-button-rounded p-button-success mr-2" (click)="abrirNuevo()"></button>
                </div> -->
                <!-- </p-panel> -->
                <!-- </div> -->
            </div>
            <!-- <div class="card"> -->
            <p-table [value]="inscripciones" dataKey="insid" [tableStyle]="{ 'min-width': '60rem' }">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <button pButton pRipple label="Nueva inscripción" icon="pi pi-plus" class="p-button-success mr-2"
                            (click)="abrirNuevo()"></button>
                        <h5 class="m-0">Administrar inscripciones</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <!-- <i class="pi pi-search"></i> -->
                            <!-- <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..." class="w-full sm:w-auto" /> -->
                            <button pButton pRipple label="Reporte" icon="pi pi-file-pdf" class="p-button-rounded p-button-danger mr-2"></button>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 5rem"></th>
                        <th>N°</th>
                        <th>Estudiante</th>
                        <th>Registrado por</th>
                        <th>Modificado por</th>
                        <!-- <th>Modificado por</th> -->
                        <!-- <th>Fecha de Modificación</th> -->
                        <!-- <th>Estado</th> -->
                        <th>Opciones</th>

                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-inscripcion let-expanded="expanded">
                    <tr>
                        <td>
                            <button type="button" pButton pRipple [pRowToggler]="inscripcion"
                                class="p-button-text p-button-rounded p-button-plain"
                                [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                        </td>
                        <td>{{ inscripcion.insid }}</td>
                        <td>
                            <!-- {{ inscripcion.estudiante[0].peridestudiante }} : -->
                            {{ inscripcion.estudiante[0].pernombrecompletoestudiante }}
                        </td>
                        <!-- <td>
                            <p-chip>
                                <div class="p-2">
                            Usuario:  {{ inscripcion.insusureg }}
                                </div>
                            </p-chip>
                        </td> -->

                        <td>
                            <p-chip>
                                <div class="p-2">
                                        Usuario: {{ inscripcion.insusureg }}
                                        Fecha: {{ inscripcion.insfecreg | date:'dd/MM/yyyy'}}
                                </div>
                            </p-chip>
                        </td>

                        <td>
                            <p-chip>
                                <div class="p-2">
                                        Usuario: {{ inscripcion.insusumod }}
                                        Fecha: {{ inscripcion.insfecmod | date:'dd/MM/yyyy'}}
                                </div>
                            </p-chip>
                        </td>
                        <!-- <td>
                            <p-tag severity="Primary" [rounded]="true"> {{ inscripcion.insestadodescripcion}} </p-tag>
                        </td> -->
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" pTooltip="Editar inscripción" (click)="editarInscripcion(inscripcion)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger mr-2" pTooltip="Eliminar inscripción" (click)="eliminarInscripcion(inscripcion)"></button>
                                <button pButton pRipple icon="pi pi-money-bill" class="p-button-rounded p-button-info mr-2" pTooltip="Administrar Pago"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-inscripcion>
                    <tr>
                        <td colspan="3">
                            <div class="p-3">
                                <table>
                                    <tr>
                                        <th colspan="3">Descripción del estudiante</th>
                                    </tr>
                                </table>
                                <p-table [value]="inscripcion.estudiante" dataKey="peridestudiante">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <!-- <th>Código Estudiante</th> -->
                                            <th>Nombre completo del estudiante</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-estudiante>
                                    <tr>
                                        <!-- <td>{{ estudiante.peridestudiante }}</td> -->
                                        <td>{{ estudiante.pernombrecompletoestudiante }}</td>
                                    </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <div class="p-3">
                                <table>
                                    <tr>
                                        <th colspan="3">Descripción del docente</th>
                                    </tr>
                                </table>
                                <p-table [value]="inscripcion.docente" dataKey="periddocente">
                                    <ng-template pTemplate="header">
                                    <tr>
                                        <!-- <th>Código Docente </th> -->
                                        <th>Nombre completo del docente </th>
                                    </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-docente>
                                        <tr>
                                            <!-- <td>{{ docente.periddocente }}</td> -->
                                            <td>{{ docente.pernombrecompletodocente }}</td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="12">
                            <div class="p-3">
                                <table>
                                    <tr>
                                        <th colspan="3">Descripción del curso y la materia</th>
                                    </tr>
                                </table>
                                <p-table [value]="inscripcion.curso_materia" dataKey="curmatid">
                                    <ng-template pTemplate="header">
                                    <tr>
                                        <!-- <th>Código del Curso-Materia</th> -->
                                        <!-- <th>Código del Curso</th> -->
                                        <th>Nombre del curso</th>
                                        <!-- <th>Código de la Materia</th> -->
                                        <th>Nombre de la materia</th>
                                    </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-cursomateria>
                                        <tr>
                                            <!-- <td> {{ cursomateria.curmatid }}</td> -->
                                            <!-- <td> {{ cursomateria.curid }} </td> -->
                                            <td> {{ cursomateria.curnombre }} </td>
                                            <!-- <td> {{ cursomateria.matid }} </td> -->
                                            <td> {{ cursomateria.matnombre }} </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <div class="p-3">
                                <table>
                                    <tr>
                                        <th colspan="3">Descripción de la matrícula</th>
                                    </tr>
                                </table>
                                <p-table [value]="inscripcion.matricula" dataKey="matrid">
                                    <ng-template pTemplate="header">
                                    <tr>
                                        <!-- <th>Código de la Matrícula</th> -->
                                        <th>Gestión de la matrícula</th>
                                        <!-- <th>Estado</th> -->
                                    </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-matricula>
                                        <tr>
                                            <!-- <td> {{ matricula.matrid }}</td> -->
                                            <td> {{ matricula.matrgestion }} </td>
                                            <!-- <td>
                                            <p-chip>
                                                <div class="p-2">
                                                    {{ matricula.matrestado }} :
                                                    {{ matricula.matrestadodescripcion }}
                                                </div>
                                            </p-chip>
                                            </td> -->
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <div class="p-3">
                                <table>
                                    <tr>
                                        <th colspan="3">Descripción del pago</th>
                                    </tr>
                                </table>
                                <ng-container *ngIf="inscripcion.pago[0].pagid != null; else noPayment">
                                    <p-table [value]="inscripcion.pago" dataKey="matrid">
                                        <ng-template pTemplate="header">
                                        <tr>
                                            <!-- <th>Código del Pago</th> -->
                                            <th>Decripción</th>
                                            <th>Monto</th>
                                            <!-- <th>Estado</th> -->
                                        </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-pago>
                                            <tr>
                                                <!-- <td>{{ pago.pagid }}</td> -->
                                                <td>{{ pago.pagdescripcion }}</td>
                                                <td>Bs. {{ pago.pagmonto }}</td>
                                                <!-- <td>{{ pago.pagestado }} : {{ pago.pagestadodescripcion }} </td> -->
                                            </tr>
                                        </ng-template>
                                        </p-table>
                                </ng-container>
                                <ng-template #noPayment>
                                    <p-chip>
                                        <div class="p-text-center">
                                            No se realizó ningún pago aún.
                                        </div>
                                    </p-chip>
                                </ng-template>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-card>
        <p-dialog [(visible)]="inscripcionDialog" [style]="{width: '50%'}"
            header="Inscripción" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
            <!-- <div class="card p-fluid"> -->
                <div class="flex">

                    <div class="flex-1 flex align-items-center justify-content-center font-bold m-2 border-round">
                       <div class="col">
                        <label for="status">Elegir Gestión de la Matricula</label>
                        <p-dropdown inputId="ddgestion" appendTo="body" [options]="gestiones"
                            [(ngModel)]="gestionSeleccionado" optionLabel="matrgestion" placeholder="Seleccionar Gestion"></p-dropdown>
                       </div>
                    </div>
                </div>
                <!-- <div class="flex">
                    <div class="flex-1 flex align-items-center justify-content-center font-bold m-2 border-round">
                        <div class="col">
                            <label for="status">Elegir Curso</label>
                        <p-dropdown inputId="ddTipoCurso" (onChange)="onSelectCurso($event)" appendTo="body"
                            [options]="tipoCurso" [(ngModel)]="tipoCursoSeleccionado" optionLabel="curnombre"
                            placeholder="Seleccionar Curso">
                        </p-dropdown>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="flex">
                    <div class="flex-1 flex align-items-center justify-content-center font-bold m-2 border-round">
                        <div class="col">
                            <label for="status">Elegir Materia</label>
                            <p-dropdown inputId="ddTipoMateria" appendTo="body" [options]="tipoMateria"
                                [(ngModel)]="tipoMateriaSeleccionado" optionLabel="matnombre" placeholder="Seleccionar Materia">
                            </p-dropdown>
                        </div>
                    </div>
                </div> -->
                <div class="flex">
                    <div class="flex-1 flex align-items-center justify-content-center font-bold m-2 border-round">
                        <div class="col">
                            <label for="status">Elegir Curso Materia</label>
                            <p-dropdown inputId="ddTipoMateria" appendTo="body" [filter]="true" [options]="tipoCursoMateria"
                                [(ngModel)]="tipoCursoMateriaSeleccionado" optionLabel="curmatdescripcion" placeholder="Seleccionar Curso Materia">
                            </p-dropdown>
                        </div>
                    </div>
                </div>

                <div class="flex">
                    <div class="flex-1 flex align-items-center justify-content-center font-bold m-2 border-round">
                        <div class="col">
                            <label for="status">Elegir Rol</label>
                            <p-dropdown inputId="ddTipoRol" (onChange)="onSelectPersona($event)" appendTo="body" [filter]="true"
                                filterBy="rolnombre" [options]="tipoRol" [(ngModel)]="tipoRolSeleccionado"
                                optionLabel="rolnombre" placeholder="Seleccionar rol">
                            </p-dropdown>
                        </div>
                    </div>
                    <div class="flex-1 flex align-items-center justify-content-center font-bold m-2 border-round">
                        <div class="col">
                            <label for="status">Elegir Estudiante</label>
                            <p-dropdown inputId="ddTipoPersona" appendTo="body" [filter]="true" [options]="tipoPersona"
                            [(ngModel)]="tipoPersonaSeleccionado" optionLabel="pernomcompleto"
                                placeholder="Seleccionar estudiante">
                            </p-dropdown>
                        </div>
                    </div>
                </div>
                <!-- <div class="flex">
                    <div class="flex-1 flex align-items-center justify-content-center font-bold m-2 border-round">
                        <div class="col">
                            <label for="status">Elegir Estado</label>
                            <p-dropdown inputId="ddTipoEstado" appendTo="body" [options]="tipoEstado"
                                [(ngModel)]="tipoEstadoSeleccionado" optionLabel="desTipoEstado"
                                placeholder="Seleccionar Estado">
                            </p-dropdown>
                        </div>
                    </div>
                </div> -->

            <!-- </div> -->
            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
                    (click)="ocultarDialog()"></button>
                <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text"
                (click)="guardarInscripcion()"></button>
            </ng-template>
        </p-dialog>
        <p-dialog [(visible)]="eliminarInscripcionDialog" header="Mensaje de Confirmación" [modal]="true"
            [style]="{width:'30%'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="inscripcion">¿Estas seguro de eliminar la inscripcion número: <b>{{inscripcion.insid}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Si"
                    (click)="confirmarEliminar()"></button>
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="eliminarInscripcionDialog = false"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
