<p-toast></p-toast>
<p-card>
    <p-breadcrumb class="max-w-full" [model]="items" [home]="home" ></p-breadcrumb>
    <h3>Nivel</h3>
    <p>Administrar registros de niveles:</p>
            <p-table
                #dt1
                [loading]="loading"
                [value]="listaNiveles"
                [globalFilterFields]="['curnombre', 'curdescripcion', 'curdesnivel']"
                responsiveLayout="stack"
                [rows]="20"
                [paginator]="true"
                [rowsPerPageOptions]="[10,20,30]"
                sortMode="single"
                [columns]="selectedColumns"
                [rowHover]="true"
                dataKey="id"
                [breakpoint]="'960px'"
                [tableStyle]="{ 'min-width': '50rem' }"
                styleClass="p-datatable-striped p-datatable-sm"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} entradas"
                rowGroupMode="subheader"
                >
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <div>
                            <button pButton pRipple label="Nuevo" icon="pi pi-plus-circle" class="p-button-primary mr-2" (click)="abrirNuevo()" pTooltip="Crear nuevo nivel" tooltipPosition="top"></button>
                            <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success mr-2" pTooltip="Reporte XLS" tooltipPosition="top"></button>
                            <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-danger mr-2" pTooltip="Reporte PDF" tooltipPosition="top"></button>
                        </div>
                        <div class="flex mt-1 justify-content-center">
                            <p-multiSelect [options]="colsColumsTable" [(ngModel)]="selectedColumns" optionLabel="header" selectedItemsLabel="{0} columnas selecionadas" [style]="{ 'min-width': '200px' }" placeholder="Elige la/s columna/s" > </p-multiSelect>
                        </div>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt1, $event)" placeholder="Buscar..." class="w-full sm:w-auto" pTooltip="Buscar por nombre de nivel, descripción y módulo" tooltipPosition="top" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th> # </th>
                        <th> Acciones </th>
                        <th *ngFor="let col of columns" pSortableColumn="{{ col.field }}">
                            <ng-container [ngSwitch]="col.field">
                                <ng-container *ngSwitchDefault> {{ col.header }} <p-sortIcon field="{{ col.field }}"></p-sortIcon> </ng-container>
                            </ng-container>
                        </th>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th *ngFor="let col of columns">
                            <ng-container [ngSwitch]="col.field">
                                <ng-container *ngSwitchCase="'curnivel'">
                                    <p-columnFilter field="curnivel" matchMode="equals" [showMenu]="false">
                                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                            <p-dropdown appendTo="body" [ngModel]="value" [options]="tipoModuloOptions" (onChange)="filter($event.value)" placeholder="Elegir" [showClear]="true" [filter]="true" filterBy="value">
                                            </p-dropdown>
                                        </ng-template>
                                    </p-columnFilter>
                                </ng-container>
                                <ng-container ng-container *ngSwitchCase="'curestado'" >
                                    <p-columnFilter field="curestado" matchMode="equals" [showMenu]="false" >
                                        <ng-template pTemplate="filter" let-value let-filter="filterCallback" >
                                            <p-dropdown [ngModel]="value" [options]="statusOptions" (onChange)="filter($event.value)" placeholder="Elegir" [showClear]="true">
                                                <ng-template let-option pTemplate="item" >
                                                    <p-tag [value]="getDescriptionStatus(option.value)" [severity]=" getSeverityStatus(option.value)"></p-tag>
                                                </ng-template>
                                            </p-dropdown>
                                        </ng-template>
                                    </p-columnFilter>
                                </ng-container>
                                <ng-container *ngSwitchDefault>
                                    <p-columnFilter type="text" field="{{ col.field }}" ></p-columnFilter>
                                </ng-container>
                            </ng-container>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-nivel let-rowIndex="rowIndex" let-columns="columns">
                    <tr>
                        <td> {{ rowIndex + 1 }} </td>
                        <td>
                            <div class="flex text-center">
                                <button *ngIf="nivel.curestado != 0" pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-outlined p-button-primary mr-2" (click)="editarNivel(nivel)" pTooltip="Editar nivel" tooltipPosition="top"></button>
                                <button *ngIf="nivel.curestado != 0" pButton pRipple icon="fa-solid fa-eye-slash" class="p-button-rounded p-button-outlined p-button-danger mr-2" (click)="desactivarNivel(nivel)" pTooltip="Desactivar nivel" tooltipPosition="top"></button>
                                <button *ngIf="nivel.curestado === 0" pButton pRipple icon="fa-solid fa-eye" class="p-button-rounded p-button-success p-button-outlined mr-2" (click)="activarNivel(nivel)" pTooltip="Activar nivel" tooltipPosition="top"></button>
                            </div>
                        </td>
                        <td *ngFor="let col of columns">
                                    <ng-container [ngSwitch]="col.field">
                                        <ng-container *ngSwitchCase="'curestado'">
                                            <div class="text-center">
                                                <p-tag [value]="getDescriptionStatus(nivel[col.field])" [severity]="getSeverityStatus(nivel[col.field])" [rounded]="true"></p-tag>
                                            </div>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="'curusureg'">
                                            <p-chip  pTooltip="{{ nivel.curfecreg | date : 'd MMMM, y h:mm:ss a' }}" tooltipPosition="top"> <div class="p-2"> {{ nivel.curusureg }} </div> </p-chip>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="'curusumod'">
                                            <p-chip pTooltip="{{ nivel.curfecmod | date : 'd MMMM, y h:mm:ss a' }}" tooltipPosition="top"> <div class="p-2"> {{ nivel.curusumod }} </div> </p-chip>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="'curnivel'">
                                            <div class="text-center">
                                                <p-tag [severity]="getSeverity(nivel.curdesnivel)" [rounded]="true" [rounded]="true">
                                                    {{nivel.curdesnivel}}
                                                </p-tag>
                                            </div>
                                        </ng-container>
                                        <ng-container *ngSwitchDefault>
                                            {{ nivel[col.field] }}
                                        </ng-container>
                                    </ng-container>
                                </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="9">No se encontró ningún registro.</td>
                    </tr>
                </ng-template>
            </p-table>
    </p-card>

<p-sidebar [(visible)]="nivelDialog" styleClass="w-30rem" position="left" blockScroll="true">
    <ng-template pTemplate="header"><label class="font-bold block mb-2" for="curnombre">Nivel</label></ng-template>
    <form [formGroup]="nivelForm" novalidate>
        <div class="grid p-fluid">
            <div class="col-12">
                <label class="font-bold block text-base mb-2" for="curnombre">Nombre</label>
                <input type="text" pInputText id="curnombre" formControlName="nf_curnombre" [ngClass]="{ 'ng-dirty': this.nivelForm.get('nf_curnombre').touched, 'valid-field': this.nivelForm.get('nf_curnombre').valid}" class="mb-1" placeholder="Ingresar nombre"/>
                <small class="p-error block" *ngIf="nivelForm.get('nf_curnombre').invalid && nivelForm.get('nf_curnombre').dirty">
                    <span *ngIf="nivelForm.get('nf_curnombre').errors?.required">El nombre del nivel es requerido. (*)</span>
                    <span *ngIf="nivelForm.get('nf_curnombre').errors?.nombreNivelExiste"> Este nombre del nivel ya existe. </span>
                    <span *ngIf="nivelForm.get('nf_curnombre').errors?.minlength"> El nombre del nivel debe tener al menos 5 caracteres. </span>
                </small>
                <small class="p-success block" *ngIf="nivelForm.get('nf_curnombre')?.valid"> El nombre del nivel es valido. </small>
            </div>
            <div class="col-12">
                <label class="font-bold block mb-2" for="descripcion">Descripción</label>
                <textarea id="descripcion" pInputTextarea formControlName="nf_curdescripcion" required rows="2" cols="20" [ngClass]="{ 'ng-dirty': this.nivelForm.get('nf_curdescripcion').touched, 'valid-field': this.nivelForm.get('nf_curdescripcion').valid}" class="mb-1" placeholder="Ingresar descripción"></textarea>
                <small class="p-error block" *ngIf="nivelForm.get('nf_curdescripcion').invalid && nivelForm.get('nf_curdescripcion').dirty">
                    <span *ngIf="nivelForm.get('nf_curdescripcion').errors?.required">La descripción del nivel es requerido. (*)</span>
                </small>
                <small class="p-success block" *ngIf="nivelForm.get('nf_curdescripcion')?.valid"> La descripción del nivel es valido. </small>
            </div>
            <div class="col-12">
                <label class="font-bold block mb-2" for="status">Elegir Módulo</label>
                <p-dropdown inputId="ddTipoModulo" appendTo="body" [options]="tipoModulo" formControlName="nf_tipoModulo" optionLabel="desTipoModulo" placeholder="Seleccionar módulo" styleClass="mb-2">
                    <ng-template let-tipoModulo pTemplate="item">
                        <div class="flex align-items-center">
                            <p-tag [rounded]="true" [severity]="getSeverity(tipoModulo.desTipoModulo)">
                                {{ tipoModulo.desTipoModulo }}
                            </p-tag>
                        </div>
                    </ng-template>
                </p-dropdown>
                <small class="p-success block" *ngIf="nivelForm.get('nf_tipoModulo').valid">
                    El tipo de módulo es válido.
                </small>
                <small class="p-error block" *ngIf="nivelForm.get('nf_tipoModulo').invalid && nivelForm.get('nf_tipoModulo').touched">
                    <span *ngIf="nivelForm.get('nf_tipoModulo').errors?.required">El tipo de módulo es requerido. (*)</span>
                </small>
            </div>
            <div class="col-12">
                <label class="font-bold block mb-2" for="status">Fecha de Inicio</label>
                <p-calendar inputId="fecini" appendTo="body" dateFormat="yy-mm-dd" formControlName="nf_curfchini" [showIcon]="true" [locale]="es" [ngClass]="{ 'ng-dirty': nivelForm.get('nf_curfchini').touched, 'valid-field': nivelForm.get('nf_curfchini').valid }" styleClass="mb-2" placeholder="Seleccionar fecha de inicio"></p-calendar>
                <small class="p-error block"
                    *ngIf="nivelForm.get('nf_curfchini').invalid && nivelForm.get('nf_curfchini').dirty">
                    <span *ngIf="nivelForm.get('nf_curfchini').errors?.required">La fecha de comienzo es requerida. (*)</span>
                </small>
                <small class="p-success block" *ngIf="nivelForm.get('nf_curfchini')?.valid"> La fecha de comienzo es válida. </small>
            </div>
            <div class="col-12">
                <label class="font-bold block mb-2" for="fecfin">Fecha de Conclusión</label>
                <p-calendar inputId="fecfin" appendTo="body" dateFormat="yy-mm-dd" formControlName="nf_curfchfin" [showIcon]="true" [locale]="es" [ngClass]="{ 'ng-dirty': nivelForm.get('nf_curfchfin').touched, 'valid-field': nivelForm.get('nf_curfchfin').valid }" styleClass="mb-2" placeholder="Seleccionar fecha de fin"></p-calendar>
                <small class="p-error block" *ngIf="nivelForm.get('nf_curfchfin').invalid && nivelForm.get('nf_curfchfin').dirty">
                    <span *ngIf="nivelForm.get('nf_curfchfin').errors?.required">La fecha de conclusión es requerida. (*)</span>
                </small>
                <small class="p-success block" *ngIf="nivelForm.get('nf_curfchfin')?.valid"> La fecha de conclusión es válida. </small>
            </div>
        </div>
    </form>
    <ng-template pTemplate="footer">
        <div class="text-right">
            <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="ocultarDialog()"></button>
            <button pButton pRipple label="Guardar" icon="pi pi-save" class="p-button-text" (click)="guardarNivel()"></button>
        </div>
    </ng-template>
</p-sidebar>

<p-dialog [(visible)]="desactivarNivelDialog" header="Confirmar" [modal]="true">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="nivel">Estas seguro que quieres desactivar este Nivel: <b>{{nivel.curnombre}} en el rango de
                fechas: {{nivel.curfchini}} a {{nivel.curfchfin}}</b>?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
            (click)="desactivarNivelDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Si"
            (click)="confirmarActivarDesactivar()"></button>
    </ng-template>
</p-dialog>


<p-dialog [(visible)]="activarNivelDialog" header="Confirmar" [modal]="true">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="nivel">Estas seguro que quieres activar este Nivel: <b>{{nivel.curnombre}} en el rango de
                fechas: {{nivel.curfchini}} a {{nivel.curfchfin}}</b>?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
            (click)="activarNivelDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Si"
            (click)="confirmarActivarDesactivar()"></button>
    </ng-template>
</p-dialog>
