<div class="grid">
    <p-toast></p-toast>
    <div class="col-12">
        <div class="card px-6 py-6">
            <div class="font-bold text-3xl text-center"> <span class="text-900">Administrar</span> <span
                    class="text-primary-600"> Niveles </span> </div>
            <hr>
            <p-table #dt1 [loading]="loading" [value]="listaNiveles" responsiveLayout="scroll" [rows]="10"
                [paginator]="true" [rowsPerPageOptions]="[10,20,30]"
                [globalFilterFields]="['curnombre', 'curdescripcion', 'curdesnivel']">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <div>
                            <button pButton pRipple label="Nuevo nivel" icon="pi pi-plus" class="p-button-primary mr-2"
                                (click)="abrirNuevo()" pTooltip="Crear nuevo nivel"></button>
                            <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()"
                                class="p-button-success mr-2" pTooltip="XLS" tooltipPosition="bottom"></button>
                            <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()"
                                class="p-button-danger mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
                        </div>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt1, $event)" placeholder="Buscar..."
                                class="w-full sm:w-auto" pTooltip="Buscar por nombre de nivel, descripción y módulo"
                                tooltipPosition="left" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="curnombre">Nombre del nivel <p-sortIcon field="curnombre"></p-sortIcon>
                        </th>
                        <th>Descripción</th>
                        <th pSortableColumn="curnivel">Módulo <p-sortIcon field="curnivel"></p-sortIcon></th>
                        <th pSortableColumn="curfchini">Fecha Inicio <p-sortIcon field="curfecini"></p-sortIcon></th>
                        <th pSortableColumn="curfchfin">Fecha Final <p-sortIcon field="curfecfin"></p-sortIcon></th>
                        <th>Fecha de creación</th>
                        <th>Fecha de modificación</th>
                        <th>Estado</th>
                        <th> Opciones</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-nivel>
                    <tr>
                        <td style="width:22%; min-width:10rem;">
                            {{nivel.curnombre}}
                        </td>
                        <td>
                            {{nivel.curdescripcion}}
                        </td>
                        <td style="width:4%; min-width:10rem;">
                            <p-tag [severity]="getSeverity(nivel.curdesnivel)" [rounded]="true" [rounded]="true">
                                {{nivel.curdesnivel}}
                            </p-tag>
                        </td>
                        <td>
                            <p-chip>
                                <div class="p-2">
                                    <strong> {{ nivel.curfchini }} </strong>
                                </div>
                            </p-chip>
                        </td>
                        <td>
                            <p-chip>
                                <div class="p-2">
                                    <strong> {{ nivel.curfchfin }} </strong>
                                </div>
                            </p-chip>
                        </td>
                        <td>
                            <p-chip>
                                <div class="p-2"> {{nivel.curusureg}} <br> {{nivel.curfecreg }} </div>
                            </p-chip>
                        </td>
                        <td>
                            <p-chip>
                                <div class="p-2">
                                    {{ nivel.curusumod }} <br> {{ nivel.curfecmod }}
                                </div>
                            </p-chip>
                        </td>
                        <td> <p-tag [value]="obtenerDescripcionEstado(nivel.curestado)"
                                [severity]="obtenerSeverityEstado(nivel.curestado)" [rounded]="true"></p-tag> </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-primary mr-2" (click)="editarNivel(nivel)" pTooltip="Editar nivel" tooltipPosition="left"></button>
                                <button pButton pRipple icon="pi pi-power-off" class="p-button-rounded p-button-danger mr-2" (click)="desactivarNivel(nivel)" pTooltip="Desactivar nivel" tooltipPosition="left"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="9">No se encontró ningún registro.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>


    <div class="col-12">
        <div class="card px-6 py-6">
            <div class="font-bold text-3xl text-center"> <span class="text-900">Administrar Niveles</span> <span
                    class="text-primary-600"> Desactivados </span> </div>
            <hr>
            <p-table #dt2 [loading]="loading" [value]="listaNivelesInactivos" responsiveLayout="scroll" [rows]="10"
                [paginator]="true" [rowsPerPageOptions]="[10,20,30]"
                [globalFilterFields]="['curnombre', 'curdescripcion', 'curdesnivel']">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt2, $event)" placeholder="Buscar..."
                                class="w-full sm:w-auto" pTooltip="Buscar por nombre de nivel, descripción y módulo"
                                tooltipPosition="right" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="curnombre">Nombre del nivel <p-sortIcon field="curnombre"></p-sortIcon>
                        </th>
                        <th>Descripción</th>
                        <th pSortableColumn="curnivel">Módulo <p-sortIcon field="curnivel"></p-sortIcon></th>
                        <th pSortableColumn="curfchini">Fecha Inicio <p-sortIcon field="curfecini"></p-sortIcon></th>
                        <th pSortableColumn="curfchfin">Fecha Final <p-sortIcon field="curfecfin"></p-sortIcon></th>
                        <th>Fecha de creación</th>
                        <th>Fecha de modificación</th>
                        <th>Estado</th>
                        <th> Opciones</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-nivel>
                    <tr>
                        <td style="width:22%; min-width:10rem;">
                            {{nivel.curnombre}}
                        </td>
                        <td>
                            {{nivel.curdescripcion}}
                        </td>
                        <td style="width:4%; min-width:10rem;">
                            <p-tag [severity]="getSeverity(nivel.curdesnivel)" [rounded]="true" [rounded]="true">
                                {{nivel.curdesnivel}}
                            </p-tag>
                        </td>
                        <td>
                            <p-chip>
                                <div class="p-2">
                                    <strong> {{ nivel.curfchini }} </strong>
                                </div>
                            </p-chip>
                        </td>
                        <td>
                            <p-chip>
                                <div class="p-2">
                                    <strong> {{ nivel.curfchfin }} </strong>
                                </div>
                            </p-chip>
                        </td>
                        <td>
                            <p-chip>
                                <div class="p-2"> {{nivel.curusureg}} <br> {{nivel.curfecreg }} </div>
                            </p-chip>
                        </td>
                        <td>
                            <p-chip>
                                <div class="p-2">
                                    {{ nivel.curusumod }} <br> {{ nivel.curfecmod }}
                                </div>
                            </p-chip>
                        </td>
                        <td> <p-tag [value]="obtenerDescripcionEstado(nivel.curestado)"
                                [severity]="obtenerSeverityEstado(nivel.curestado)" [rounded]="true"></p-tag> </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-power-off" class="p-button-rounded p-button-warning mr-2" (click)="activarNivel(nivel)" pTooltip="Activar nivel" tooltipPosition="left"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="9">No se encontró ningún registro.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>


<p-dialog [(visible)]="nivelDialog" header="Nivel" [modal]="true" class="p-fluid">

    <form [formGroup]="nivelForm" novalidate>

        <div class="grid col-12 p-fluid mt-3">
                <div class="field col-12 md:col-6">
                    <label for="curnombre">Nombre del Nivel</label>
                    <input type="text" pInputText id="curnombre" formControlName="nf_curnombre"
                        [ngClass]="{ 'ng-dirty': this.nivelForm.get('nf_curnombre').touched, 'valid-field': this.nivelForm.get('nf_curnombre').valid}" />
                    <small class="p-error block"
                        *ngIf="nivelForm.get('nf_curnombre').invalid && nivelForm.get('nf_curnombre').dirty">
                        <span *ngIf="nivelForm.get('nf_curnombre').errors?.required">El nombre del nivel es requerido. (*)</span>

                        <span *ngIf="nivelForm.get('nf_curnombre').errors?.nombreNivelExiste">
                            Este nombre del nivel ya existe.
                        </span>

                        <span *ngIf="nivelForm.get('nf_curnombre').errors?.minlength">
                            El nombre del nivel debe tener al menos 5 caracteres.
                        </span>
                    </small>
                    <small class="p-success block" *ngIf="nivelForm.get('nf_curnombre')?.valid"> El nombre del nivel es valido. </small>

                </div>
                <div class="field col-12 md:col-6">
                    <label for="descripcion">Descripción del Nivel</label>
                    <textarea id="descripcion" pInputTextarea formControlName="nf_curdescripcion" required rows="1"
                        cols="20"
                        [ngClass]="{ 'ng-dirty': this.nivelForm.get('nf_curdescripcion').touched, 'valid-field': this.nivelForm.get('nf_curdescripcion').valid}"></textarea>
                    <small class="p-error block"
                        *ngIf="nivelForm.get('nf_curdescripcion').invalid && nivelForm.get('nf_curdescripcion').dirty">
                        <span *ngIf="nivelForm.get('nf_curdescripcion').errors?.required">La descripción del nivel es
                            requerido.</span>
                        (*)
                    </small>
                    <small class="p-success block" *ngIf="nivelForm.get('nf_curdescripcion')?.valid"> La descripción del
                        nivel es valido. </small>

                </div>
                <div class="field col-12 md:col-6">
                    <label for="status">Elegir Nivel</label>
                    <p-dropdown inputId="ddTipoModulo" appendTo="body" [options]="tipoModulo"
                        formControlName="nf_tipoModulo" optionLabel="desTipoModulo" placeholder="Seleccionar Modulo">
                        <ng-template let-tipoModulo pTemplate="item">
                            <div class="flex align-items-center">
                                <p-tag [rounded]="true" [severity]="getSeverity(tipoModulo.desTipoModulo)">
                                    {{ tipoModulo.desTipoModulo }}
                                </p-tag>
                            </div>
                        </ng-template>
                    </p-dropdown>
                    <small class="p-success block" *ngIf="nivelForm.get('nf_tipoModulo').valid">
                        El tipo de módulo es válido.
                    </small>
                    <small class="p-error block"
                        *ngIf="nivelForm.get('nf_tipoModulo').invalid && nivelForm.get('nf_tipoModulo').touched">
                        <span *ngIf="nivelForm.get('nf_tipoModulo').errors?.required">El tipo de módulo es
                            requerido.</span>
                        (*)
                    </small>
                </div>
                <div class="field col-12 md:col-6">
                    <label for="status">Fecha de Inicio</label>
                    <p-calendar inputId="fecini" appendTo="body" dateFormat="dd/mm/yy" formControlName="nf_curfchini"
                        [showIcon]="true" [locale]="es"
                        [ngClass]="{ 'ng-dirty': nivelForm.get('nf_curfchini').touched, 'valid-field': nivelForm.get('nf_curfchini').valid }"></p-calendar>
                    <small class="p-error block"
                        *ngIf="nivelForm.get('nf_curfchini').invalid && nivelForm.get('nf_curfchini').dirty">
                        <span *ngIf="nivelForm.get('nf_curfchini').errors?.required">La fecha de comienzo es
                            requerida. (*)</span>
                    </small>
                    <small class="p-success block" *ngIf="nivelForm.get('nf_curfchini')?.valid"> La fecha de
                        comienzo es válida. </small>
                </div>
                <div class="field col-12 md:col-6">
                    <label for="fecfin">Fecha de Conclusión</label>
                    <p-calendar inputId="fecfin" appendTo="body" dateFormat="dd/mm/yy" formControlName="nf_curfchfin"
                        [showIcon]="true" [locale]="es"
                        [ngClass]="{ 'ng-dirty': nivelForm.get('nf_curfchfin').touched, 'valid-field': nivelForm.get('nf_curfchfin').valid }"></p-calendar>
                    <small class="p-error block"
                        *ngIf="nivelForm.get('nf_curfchfin').invalid && nivelForm.get('nf_curfchfin').dirty">
                        <span *ngIf="nivelForm.get('nf_curfchfin').errors?.required">La fecha de conclusión
                            es requerida. (*)</span>
                    </small>
                    <small class="p-success block" *ngIf="nivelForm.get('nf_curfchfin')?.valid"> La fecha de
                        conclusión es válida. </small>
                </div>
        </div>
    </form>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
            (click)="ocultarDialog()"></button>
        <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text"
            (click)="guardarNivel()"></button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="desactivarNivelDialog" header="Confirmar" [modal]="true">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="nivel">Estas seguro que quieres desactivar este Nivel: <b>{{nivel.curnombre}} en el rango de
                fechas: {{nivel.curfchini}} a {{nivel.curfchfin}}</b>?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
            (click)="desactivarNivelDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Si"
            (click)="confirmarActivarDesactivar()"></button>
    </ng-template>
</p-dialog>


<p-dialog [(visible)]="activarNivelDialog" header="Confirmar" [modal]="true">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="nivel">Estas seguro que quieres activar este Nivel: <b>{{nivel.curnombre}} en el rango de
                fechas: {{nivel.curfchini}} a {{nivel.curfchfin}}</b>?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
            (click)="activarNivelDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Si"
            (click)="confirmarActivarDesactivar()"></button>
    </ng-template>
</p-dialog>
