<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
<div class="surface-card p-4 shadow-2 border-round w-full lg:w-3 md:w-6">
    <div *ngIf="resetPasswordBool && !messageSuccessBool">
        <div class="text-left mb-5">
            <div class="text-900 text-2xl font-medium mb-3 text-center">Cambiar contraseña </div>
            <div class="mb-2">
                <div class="text-center" *ngIf="usuario.perfoto">
                </div>
            <a class="text-900">Nombre completo: </a>
            <a class="font-medium no-underline text-primary-500 cursor-pointer">{{usuario.pernomcompleto}}</a> <br>

            <a class="text-900">Usuario: </a>
            <a class="font-medium no-underline text-primary-500 cursor-pointer">{{usuario.usuname}}</a> <br>

            <a class="text-900">Rol: </a>
            <a class="font-medium no-underline text-primary-500 cursor-pointer">{{usuario.rolnombre}}</a> <br>

            </div>
        </div>
        <form [formGroup]="usuarioForm" class="p-fluid">
        <div>
            <div class="field p-fluid">
                <label for="password1" class="block text-900 font-medium text-xl">Contraseña Nueva</label>
                <p-password
                        id="password2"
                        formControlName="usupassword"
                        placeholder="Ingrese una nueva contraseña"
                        [toggleMask]="true"
                        [feedback]="false"
                > </p-password>

                <ul class="p-error block list-none"
                    *ngIf="usuarioForm.get('usupassword').invalid && (usuarioForm.get('usupassword').dirty || usuarioForm.get('usupassword').touched)">
                    <li *ngIf="usuarioForm.get('usupassword').errors?.required">
                        La contraseña es obligatoria. <br>
                    </li>
                    <li *ngIf="usuarioForm.get('usupassword').errors?.minlength">
                        Debe tener al menos 8 caracteres. <br>
                    </li>
                    <li *ngIf="usuarioForm.get('usupassword').errors?.passwordStrength">
                        Debe incluir mayúsculas, minúsculas y números. <br>
                    </li>
                </ul>
                <ul class="p-success block list-none"
                    *ngIf="usuarioForm.get('usupassword').valid && (usuarioForm.get('usupassword').dirty || usuarioForm.get('usupassword').touched)">
                    La contraseña es válida.
                </ul>
            </div>

            <div class="field p-fluid">
                <label for="password1" class="block text-900 font-medium text-xl">Confirmar Contraseña Nueva</label>
                <p-password
                        id="password1"
                        formControlName="usupasswordhash"
                        [feedback]="false"
                        placeholder="Ingrese nuevamente la contraseña nueva"
                        [toggleMask]="true"
                ></p-password>
                <ul class="p-error block list-none" *ngIf="usuarioForm.get('usupasswordhash').dirty">
                    <li *ngIf="usuarioForm.get('usupasswordhash').errors?.required">
                        Confirmar la contraseña es obligatorio.
                    </li>
                    <li *ngIf="usuarioForm.errors?.['mismatch']">
                        Las contraseñas no coinciden.
                    </li>
                </ul>
                <ul class="p-success block list-none"
                    *ngIf="usuarioForm.get('usupasswordhash').valid && !usuarioForm.errors?.['mismatch']">
                    La confirmación de la contraseña es válida.
                </ul>
            </div>
            <hr>
            <div class="flex align-items-center justify-content-between  gap-2">
                <button
                    pButton
                    pRipple
                    icon="pi pi-times"
                    class=" p-button-danger"
                    [routerLink]="['/login']"
                    pTooltip="Cancelar"
                    tooltipPosition="bottom"
                ></button>
                <button
                    pButton
                    pRipple
                    icon="pi pi-key"
                    label="Cambiar contraseña"
                    class="w-full p-button-success"
                    [disabled]="usuarioForm.invalid"
                    (click)="enviarFormulario()"
                ></button>
            </div>

        </div>
        </form>
    </div>

    <div *ngIf="!resetPasswordBool && messageSuccessBool">
        <p>Su contraseña fue cambiado exitosamente.</p>
        <div class="flex align-items-center justify-content-between  gap-2">
            <button
                pButton
                pRipple
                icon="pi pi-check"
                label="Salir"
                [routerLink]="['/login']"
                class="w-full p-button-success"
            ></button>
        </div>
    </div>
</div>
</div>
