.custom-chip {
    background-color: red !important;
    color: white !important;
    border: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .custom-chip .pi {
    margin-right: 0.5rem;
  }

  .custom-chip:hover {
    background-color: darkred !important;
  }
