<div class="grid">
    <div class="col-12">
        <div class="card">
            <div>
            <p-toast></p-toast>
            <p-breadcrumb class="max-w-full" [model]="items" [home]="home"></p-breadcrumb>
            <h3>Gestionar Permisos</h3>
            <p>Seleccionar el rol con sus operaciones a asignar </p>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button
                            pButton
                            pRipple
                            label="Adicionar"
                            icon="pi pi-plus"
                            class="p-button-success mr-2"
                            (click)="addPermiso()"
                            pTooltip="Adicionar Permiso"
                            tooltipPosition="top"
                        ></button>
                    </div>
                    <div class="my-2">
                        <button
                            pButton
                            pRipple
                            label="Operaciones"
                            icon="pi pi-wrench"
                            class="p-button-primary mr-2"
                            (click)="manageOperations()"
                            pTooltip="Administrar operaciones"
                            tooltipPosition="top"
                        ></button>
                    </div>
                </ng-template>
            </p-toolbar>

                <div *ngFor="let rol of roles">
                    <p-accordion>
                        <p-accordionTab header="{{ rol.rolnombre }}">
                            <div *ngIf="getPermisosPorRol(rol?.rolid).length > 0; else noPermisos">
                                <ul>
                                    <li *ngFor="let permiso of getPermisosPorRol(rol?.rolid)" class="flex align-items-center" style="margin-bottom: 0.5rem;">
                                      <div class="flex align-items-center" [style]="'margin: 0.2rem;'">
                                        <div style="padding: 0.2rem; margin-right: 0.5rem; cursor: pointer;" pTooltip="Eliminar" tooltipPosition="top" (click)="handleClickPermiso(permiso)">
                                          <i class="pi pi-trash" style="color: #e57a7c"></i>
                                        </div>
                                        <p-checkbox
                                          [ngModel]="permiso.permactivo === 1"
                                          (ngModelChange)="permiso.permactivo = $event ? 1 : 0"
                                          (onChange)="togglePermiso(permiso)"
                                          binary="true"
                                          [label]="getOperacionPorId(permiso.opeid)?.openombre">
                                        </p-checkbox>
                                      </div>
                                    </li>
                                  </ul>
                            </div>
                            <ng-template #noPermisos>
                                <div class="no-permisos-message text-align-center">
                                    No hay permisos disponibles para este rol.
                                </div>
                            </ng-template>
                        </p-accordionTab>
                    </p-accordion>
                </div>
            </div>

    </div>
</div>


<p-dialog [(visible)]="dialogPermiso" [style]="{width: '650px'}" header="Permiso" [modal]="true" class="p-fluid" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '30vw' }" [draggable]="false" [resizable]="false">
    <form [formGroup]="permisoForm" novalidate>
        <div class="field">
            <label for="idTipoRol">Rol</label>
            <p-dropdown
                inputId="pdTipoRol"
                appendTo="body"
                [options]="tipoRol"
                formControlName="tipoRol"
                optionLabel="rolnombre"
                placeholder="Seleccionar Rol"
                [filter]="true"
                filterBy="rolnombre"
            ></p-dropdown>
        </div>
        <div class="field">
            <label for="idTipoOperaciones">Operaciones</label>
            <p-multiSelect
                [options]="tipoOperacion"
                formControlName="tipoOperacion"
                optionLabel="openombre"
                placeholder="Selecionar Operaciones"
                appendTo="body"
            ></p-multiSelect>
        </div>
        <div class="field">
            <label for="">Activo</label>
            <div class="flex align-items-center justify-content-center">
                <p-checkbox formControlName="permactivo" binary="true" inputId="ny"></p-checkbox>
            </div>
        </div>
        <div class="field">
            <label for="">Estado</label>
            <div class="flex align-items-center justify-content-center">
                <p-selectButton [options]="stateOptionsEstado" formControlName="permestado" optionLabel="label" optionValue="value"></p-selectButton>
            </div>
        </div>
    </form>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialogPermiso()"></button>
        <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" (click)="sendFormPermiso()"></button>
    </ng-template>

</p-dialog>


<p-dialog [(visible)]="deletePermisoDialog" header="Confirmar" [modal]="true">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>Estas seguro de eliminar?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deletePermisoDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Si" (click)="deletePermiso()"></button>
    </ng-template>
</p-dialog>



<div *ngIf="manageOperationDialog">
    <p-dialog
        [(visible)]="manageOperationDialog"
        header="Gestionar Operaciones"
        [modal]="true"
        class="p-fluid"
        [breakpoints]="{ '960px': '75vw' }"
        [style]="{ width: '90vw' }"
        [draggable]="false"
        [resizable]="false"
        [maximizable]="true"
    >
    <p>Sección para administrar las operaciones de los usuarios</p>
        <p-toolbar styleClass="mb-4">
            <ng-template pTemplate="left">
                <div class="flex my-2">
                    <button
                        pButton
                        pRipple
                        label="Nuevo"
                        icon="pi pi-plus"
                        class="p-button-success mr-2"
                        (click)="OperationCreate()"
                        pTooltip="Nueva Operación"
                        tooltipPosition="top"
                    ></button>
                </div>
            </ng-template>
        </p-toolbar>

        <p-table
            #dtOperation
            [value]="operations"
            responsiveLayout="stack"
            class="m-2"
            [loading]="loading"
            [rowsPerPageOptions]="[5, 10, 20]"
            [rows]="10"
            [paginator]="true"
            styleClass="p-datatable-striped p-card p-datatable-sm"
            [globalFilterFields]="['openombre']"
            rowGroupMode="rowspan"
            groupRowsBy="openombre"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} entradas"
            [rowHover]="true"

        >
        <ng-template pTemplate="caption">

        <div class="flex align-items-center justify-content-between table-header">
            Lista de Operaciones
            <!-- <p-multiSelect
            [options]="status"
            [(ngModel)]="selectedStatus"
            optionLabel="header"
            [style]="{'min-width': '200px'}"
            placeholder="Elegir estados"
            pTooltip="Filter por estado"
            tooltipPosition="top"
            ></p-multiSelect> -->
                <span class="p-input-icon-left w-auto">
                    <i class="pi pi-search"></i>
                    <input
                        pInputText
                        type="text"
                        (input)="dtOperation.filterGlobal($event.target.value, 'contains')"
                        placeholder="Buscar..."
                        pTooltip="Buscar por nombre"
                        tooltipPosition="top"
                    />
                </span>
        </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th> </th>
                <th> Nombre </th>
                <th> Descripción </th>
                <th> Registrado </th>
                <th> Modificado </th>
                <th> Estado </th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-operation>
            <tr>
                <td>
                    <div class="flex justify-content-center">
                        <button
                            pButton="pButton"
                            pRipple="pRipple"
                            type="button"
                            icon="pi pi-pencil"
                            class="p-button-rounded p-button-warning mr-2"
                            pTooltip="Editar"
                            tooltipPosition="top"
                            (click)="OperationUpdate(operation)"
                        ></button>
                        <button
                            pButton="pButton"
                            pRipple="pRipple"
                            type="button"
                            icon="pi pi-trash"
                            class="p-button-rounded p-button-danger mr-2"
                            pTooltip="Eliminar"
                            tooltipPosition="top"
                            (click)="OperationDelete(operation)"
                        ></button>
                    </div>
                </td>
                <td> {{ operation.openombre }}  </td>
                <td> {{ operation.opedescripcion }} </td>
                <td>
                    {{ operation.opeusureg }} <br>
                    {{ operation.opefecreg | date: 'd \'de\' MMMM, y' }} <br>
                    {{ operation.opefecreg | date: 'h:mm:ss a' }}
                </td>
                <td>
                    {{ operation.opeusumod}} <br>
                    {{ operation.opefecmod | date: 'd \'de\' MMMM, y' }} <br>
                    {{ operation.opefecmod | date: 'h:mm:ss a' }}
                </td>
                <td>
                    <div class="flex justify-content-center">
                        <p-tag
                        [value]="getDescriptionStatus(operation.opeestado)"
                        [severity]="getSeverityStatus(operation.opeestado)"
                        [rounded]="true"
                    ></p-tag>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="9">No se encontraron registros.</td>
            </tr>
        </ng-template>
    </p-table>
    </p-dialog>
</div>


<p-dialog
    [(visible)]="dialogOperation"
    header="Operación"
    [modal]="true"
    class="p-fluid"
    [breakpoints]="{ '960px': '75vw' }"
    [style]="{ width: '20vw' }"
    [draggable]="false"
    [resizable]="false"
>
    <form [formGroup]="operationForm" novalidate>
        <div class="field">
            <label for="idTipoRol">Nombre</label>
            <input
                type="text"
                id="idOpeNombre"
                pInputText
                formControlName="openombre"
            >
        </div>
        <div class="field">
            <label for="idTipoOperaciones">Descripción</label>
            <textarea
                inputId="idOpeDescripcion"
                rows="2"
                cols="30"
                formControlName="opedescripcion"
                appendTo="body"
                pInputTextarea
            ></textarea>
        </div>
        <div class="field">
            <label for="">Estado</label>
            <div class="flex align-items-center justify-content-center">
                <p-selectButton
                    [options]="stateOptionsEstado"
                    formControlName="opeestado"
                    optionLabel="label"
                    optionValue="value">
                </p-selectButton>
            </div>
        </div>
    </form>

    <ng-template pTemplate="footer">
        <button
            pButton
            pRipple
            label="Cancelar"
            icon="pi pi-times"
            class="p-button-text"
            (click)="hideDialogOperation()"
        ></button>
        <button
            pButton
            pRipple
            label="Guardar"
            icon="pi pi-check"
            class="p-button-text"
            (click)="sendFormOperation()"
        ></button>
    </ng-template>

</p-dialog>

<p-dialog [(visible)]="dialogOperationDelete" header="Confirmar" [modal]="true">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>¿Estas seguro de eliminar este registro?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="dialogOperationDelete = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Si" (click)="SendOperationDelete()"></button>
    </ng-template>
</p-dialog>
