<p-toast></p-toast>
<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-breadcrumb class="max-w-full" [model]="items" [home]="home"></p-breadcrumb>
            <h3>Rol</h3>
            <p>Administrar registros de roles</p>
            <hr>
            <p-table
                #dt
                [columns]="selectedColumns"
                [value]="roles"
                [rows]="20"
                [paginator]="true"
                [rowsPerPageOptions]="[5,10,20]"
                [loading]="loading"
                styleClass="p-datatable-striped p-card p-datatable-sm"
                [globalFilterFields]="['rolnombre']"
                responsiveLayout="stack"
                [breakpoint]="'960px'"
                [tableStyle]="{'min-width': '50rem'}"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} entradas"
                [rowHover]="true"
                [loading]="loading"
                selectionMode="multiple"
                sortMode="single"
            >
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <button
                            pButton
                            pRipple
                            label="Nuevo"
                            icon="pi pi-plus"
                            class="p-button-primary mr-2"
                            (click)="newRole()"
                            pTooltip="Registrar"
                            tooltipPosition="top"
                        ></button>

                        <div class="flex mt-1 justify-content-center">
                            <p-multiSelect
                                [options]="colsColumsTable"
                                [(ngModel)]="selectedColumns"
                                optionLabel="header"
                                selectedItemsLabel="{0} columnas selecionadas"
                                [style]="{'min-width': '200px'}"
                                placeholder="Elige la/s columna/s">
                            </p-multiSelect>
                        </div>

                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..." class="w-full sm:w-auto" pTooltip="Buscar por nombre completo, número de documento y genero" tooltipPosition="top" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th></th>
                        <th *ngFor="let col of columns" pSortableColumn="{{col.field}}">
                            {{col.header}} <p-sortIcon field="{{col.field}}"></p-sortIcon>
                        </th>
                    </tr>
                    <tr>
                        <th> </th>
                        <th *ngFor="let col of columns">
                            <ng-container [ngSwitch]="col.field">
                                <ng-container ng-container *ngSwitchCase="'rolestado'">
                                    <p-columnFilter field="rolestado" matchMode="equals" [showMenu]="false">
                                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                            <p-dropdown
                                                [ngModel]="value"
                                                [options]="statusOptions"
                                                (onChange)="filter($event.value)"
                                                placeholder="Elegir"
                                                [showClear]="true"
                                            >
                                                <ng-template let-option pTemplate="item">
                                                    <p-tag [value]="getDescriptionStatus(option.value)" [severity]="getSeverityStatus(option.value)"></p-tag>
                                                </ng-template>
                                            </p-dropdown>
                                        </ng-template>
                                    </p-columnFilter>
                                </ng-container>
                                <ng-container ng-container *ngSwitchCase="'rolfecreg'">
                                </ng-container>
                                <ng-container ng-container *ngSwitchCase="'rolfecmod'">
                                </ng-container>
                                <ng-container *ngSwitchDefault>
                                    <p-columnFilter type="text" field="{{col.field}}"></p-columnFilter>
                                </ng-container>
                            </ng-container>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-role let-columns="columns">
                    <tr>
                        <td>
                            <div class="flex justify-content-center">
                                <button *ngIf="role.rolestado == 1" pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-primary mr-2" (click)="updateRole(role)" pTooltip="Editar" tooltipPosition="top"></button>
                                <button *ngIf="role.rolestado == 1" pButton pRipple icon="fa-solid fa-eye-slash" class="p-button-rounded p-button-danger mr-2" (click)="deactivateRole(role)" pTooltip="Desactivar" tooltipPosition="top"></button>
                                <button *ngIf="role.rolestado == 0" pButton pRipple icon="fa-solid fa-eye" class="p-button-rounded p-button-warning mr-2" (click)="activateRole(role)" pTooltip="Activar" tooltipPosition="top"></button>
                                <button *ngIf="role.rolestado == 0" pButton pRipple icon="fa-solid fa-trash" class="p-button-rounded p-button-danger mr-2" (click)="deleteRole(role)" pTooltip="Eliminar" tooltipPosition="top"></button>
                            </div>
                        </td>
                        <td *ngFor="let col of columns">
                            <ng-container [ngSwitch]="col.field">
                                <ng-container *ngSwitchCase="'rolestado'">
                                    <p-tag [value]="getDescriptionStatus(role[col.field])" [severity]="getSeverityStatus(role[col.field])" [rounded]="true"></p-tag>
                                </ng-container>
                                <ng-container *ngSwitchCase="'rolusureg'">
                                    <!-- <div pTooltip="{{ role.rolfecreg | date: 'd MMMM, y h:mm:ss a' }}" tooltipPosition="bottom"> -->
                                    <div>
                                        <p-chip>
                                            <div class="p-2"> {{role.rolusureg}} </div>
                                        </p-chip>
                                    </div>
                                </ng-container>
                                <ng-container *ngSwitchCase="'rolusumod'">
                                    <!-- <div pTooltip="{{ role.rolfecmod | date: 'd MMMM, y h:mm:ss a' }}" tooltipPosition="bottom"> -->
                                    <div>
                                        <p-chip>
                                            <div class="p-2"> {{role.rolusumod}} </div>
                                        </p-chip>
                                    </div>
                                </ng-container>
                                <ng-container *ngSwitchCase="'rolfecreg'">
                                        <p-chip>
                                            <div class="p-2"> {{role.rolfecreg | date: 'd MMMM, y h:mm:ss a'}} </div>
                                        </p-chip>
                                </ng-container>
                                <ng-container *ngSwitchCase="'rolfecmod'">
                                    <p-chip>
                                        <div class="p-2"> {{role.rolfecmod | date: 'd MMMM, y h:mm:ss a'}} </div>
                                    </p-chip>
                                </ng-container>
                                <ng-container *ngSwitchDefault>
                                    {{role[col.field]}}
                                </ng-container>
                            </ng-container>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<p-dialog
    [(visible)]="roleDialog"
    header="Rol"
    [modal]="true"
    class="p-fluid"
    [breakpoints]="{ '960px': '75vw' }"
    [style]="{ width: '30vw' }"
    [draggable]="false"
    [resizable]="false"
    [maximizable]="false"
>
        <form [formGroup]="rolForm" novalidate>
            <div class="grid p-fluid">
                <div class="field col-12">
                    <label for="name" class="block">Nombre (*)</label>
                    <input type="text" placeholder="Ingresar nombre del rol" pInputText id="name" formControlName="rolnombre" [ngClass]="{ 'ng-dirty': this.rolForm.get('rolnombre').touched, 'valid-field': this.rolForm.get('rolnombre').valid}"/>
                    <small class="p-error block" *ngIf="rolForm.get('rolnombre').invalid && rolForm.get('rolnombre').dirty">
                        <span *ngIf="rolForm.get('rolnombre').errors?.required">El campo es requerido. (*)</span>
                        <span *ngIf="rolForm.get('rolnombre').errors?.['minlength']">El campo es muy corto. debe ser como mínimo 5 caracteres</span>
                    </small>
                    <small class="p-success block" *ngIf="rolForm.get('rolnombre')?.valid"> El campo es correcto. </small>
                </div>
                <div class="field col-12">
                    <label for="description" class="block">Descripción (*)</label>
                    <textarea placeholder="Ingresar descripción del rol" id="description" name="description" pInputTextarea rows="5" cols="20" formControlName="roldescripcion" [ngClass]="{ 'ng-dirty': this.rolForm.get('roldescripcion').touched, 'valid-field': this.rolForm.get('roldescripcion').valid}"></textarea>
                    <small class="p-error" *ngIf="rolForm.get('roldescripcion')?.invalid && rolForm.get('roldescripcion')?.dirty"> El campo es requerido. (*)</small>
                    <small class="p-success" *ngIf="rolForm.get('roldescripcion')?.valid"> El campo es correcto.</small>
                </div>
            </div>
        </form>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Guardar"  icon="pi pi-check" class="p-button-text" (click)="createRole()" ></button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="deactivateRoleDialog" header="Aviso: Confirmar" [modal]="true">
    <div class="flex align-items-center justify-content-center"> <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="role">Estas seguro de desactivar el registro: <b>{{role.rolnombre}}</b>?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="No" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Si" icon="pi pi-check" class="p-button-text" (click)="confirmActivateDeactivate()"></button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="activateRoleDialog" header="Aviso: Confirmar" [modal]="true">
    <div class="flex align-items-center justify-content-center"> <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="role">Estas seguro de activar el registro: <b>{{role.rolnombre}}</b>?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="No" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Si" icon="pi pi-check" class="p-button-text" (click)="confirmActivateDeactivate()"></button>
    </ng-template>
</p-dialog>


<p-dialog [(visible)]="deleteRoleDialog" header="Confirmar" [modal]="true">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>Estas seguro de eliminar el rol?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteRoleDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Si" (click)="sendDeleteRole()"></button>
    </ng-template>
</p-dialog>
