.progress-spinner {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Transparent Overlay */
.progress-spinner:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.33);
}
.progress-spinner .pi-spinner {
    background-color: transparent;
}

.valid-field {
  border-color: #29c76f !important;
}

.p-success {
  color: #29c76f;
}

.user-display {
    display: flex;
    align-items: center; /* Alinea los ítems verticalmente en el centro */
}
.user-info-container {
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos del flex container */
    margin-bottom: 20px; /* Espacio adicional al final del contenedor */
}

.user-info-avatar {
    margin-right: 20px; /* Espacio entre el avatar y los detalles del usuario */
}

.user-info-details {
    flex-grow: 1; /* Permite que este div ocupe el espacio restante */
}

.file-input-wrapper {
    position: relative;
    display: inline-block;
  }

  .file-input-wrapper input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  .file-input-wrapper label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }

  .file-input-wrapper label:hover {
    background-color: #0056b3;
  }

  .file-input-wrapper label:active {
    background-color: #004080;
  }

  /* Opcional: Estilo para cuando el input tiene un archivo seleccionado */
  .file-input-wrapper input[type="file"]:not(:focus) + label {
    background-color: #28a745;
  }

  .file-input-wrapper input[type="file"]:not(:focus) + label:hover {
    background-color: #218838;
  }

  .file-input-wrapper input[type="file"]:not(:focus) + label:active {
    background-color: #1e7e34;
  }

  .file-input-wrapper {
    position: relative;
    display: inline-block;
  }

  .file-input-wrapper input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  .file-input-wrapper label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }

  .file-input-wrapper label:hover {
    background-color: #0056b3;
  }

  .file-input-wrapper label:active {
    background-color: #004080;
  }

  .file-name {
    margin-left: 10px;
    font-size: 0.8em;
    color: #666;
  }
