<p-toast></p-toast>
<p-card>
    <p-breadcrumb class="max-w-full" [model]="items" [home]="home" ></p-breadcrumb>
    <h3>Inscripción</h3>
    <p>Administrar registros de inscripciones</p>
            <p-table
                #dt
                [value]="listaTipoMatricula"
                [rows]="10"
                [paginator]="true"
                [rowsPerPageOptions]="[10,20,30]"
                [globalFilterFields]="['tipmatrgestion']"
                responsiveLayout="stack"
                [breakpoint]="'960px'"
                [tableStyle]="{'min-width': '50rem'}"
                styleClass="p-datatable-striped p-datatable-sm"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} entradas"
                >
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <button pButton pRipple label="Nuevo" icon="pi pi-plus-circle" class="p-button-primary mr-2" pTooltip="Registrar una nuevo tipo de matricula" tooltipPosition="top"
                        (click)="abrirNuevoTipoMatricula()"></button>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <!-- <p-button (click)="reporte.rptUsuarios()" label="Reporte Prueba" styleClass="p-button-raised p-button-info"></p-button> -->
                            <!-- boton de reporte -->
                        </span>

                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."
                                class="w-full sm:w-auto" pTooltip="Buscar por nombre de matricula" toolTipPosition="bottom"/>
                        </span>
                    </div>
                </ng-template>

                <ng-template pTemplate="header">
                    <tr>
                        <th>Acciones</th>
                        <!-- <th style="width: 8%;" pSortableColumn="tipmatrid">Código<p-sortIcon field="tipmatrid"></p-sortIcon></th> -->
                        <th style="width: 15%;" pSortableColumn="tipmatrgestion">Nombre<p-sortIcon field="tipmatrgestion"></p-sortIcon></th>
                        <th style="width: 10%;" pSortableColumn="tipmatrfecini">Fecha Inicio<p-sortIcon field="tipmatrfecini"></p-sortIcon></th>
                        <th style="width: 10%;" pSortableColumn="tipmatrfecfin">Fecha Final<p-sortIcon field="tipmatrfecfin"></p-sortIcon></th>
                        <th style="width: 8%;" pSortableColumn="tipmatrcosto">Costo<p-sortIcon field="tipmatrcosto"></p-sortIcon></th>
                        <th>Registrado por</th>
                        <th>Modificado por</th>
                        <th>Descripción</th>
                        <th style="width: 8%;" pSortableColumn="tipmatrestado">Estado<p-sortIcon field="tipmatrestado"></p-sortIcon></th>

                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-matricula>
                    <tr>
                        <td>
                            <div class="flex">
                                <button *ngIf="matricula.tipmatrestado == 1" pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-outlined p-button-primary mr-2" pTooltip="Editar Matricula" tooltipPosition="left"
                                    (click)="editarTipoMatricula(matricula)"></button>
                                <button *ngIf="matricula.tipmatrestado == 1" pButton pRipple icon="fa-solid fa-eye-slash" class="p-button-outlined p-button-rounded p-button-danger" pTooltip="Desactivar Matricula" tooltipPosition="left"
                                    (click)="desactivarMatricula(matricula)"></button>
                                <button *ngIf="matricula.tipmatrestado == 0" pButton pRipple icon="fa-solid fa-eye-slash" class="p-button-outlined p-button-rounded p-button-warning" pTooltip="Activar Matricula" tooltipPosition="left"
                                (click)="activarMatricula(matricula)"></button>
                            </div>
                        </td>
                        <td>
                            {{ 'MATR-' + matricula.tipmatrid}}
                        </td>
                        <!-- <td>
                            <p-chip>
                                <div class="p-2">
                                    {{ matricula.tipmatrgestion}}
                                </div>
                            </p-chip>
                        </td> -->
                        <td>
                            {{matricula.tipmatrfecini}}
                        </td>
                        <td>
                            {{matricula.tipmatrfecfin}}
                        </td>
                        <td>
                            Bs. {{matricula.tipmatrcosto}}
                        </td>
                        <td>
                            <p-chip>
                                <div class="p-2">
                                    <ng-container *ngIf="matricula.tipmatrusureg; else noModificado">
                                        {{matricula.tipmatrusureg}} <br> {{matricula.tipmatrfecreg | date : 'd MMMM, y h:mm:ss a'}}
                                    </ng-container>
                                    <ng-template #noModificado>
                                        No se ha modificado
                                    </ng-template>
                                </div>
                            </p-chip>
                        </td>
                        <td>
                            <p-chip>
                                <div class="p-2">
                                    <ng-container *ngIf="matricula.tipmatrusumod; else noModificado">
                                        {{matricula.tipmatrusumod}} <br> {{matricula.tipmatrfecmod | date : 'd MMMM, y h:mm:ss a'}}
                                    </ng-container>
                                    <ng-template #noModificado>
                                        No se ha modificado
                                    </ng-template>
                                </div>
                            </p-chip>
                        </td>
                        <td>
                            {{matricula.tipmatrdescripcion}}
                        </td>
                        <td> <p-tag [value]="getDescriptionStatus(matricula.tipmatrestado)" [severity]="getSeverityStatus(matricula.tipmatrestado)" [rounded]="true"></p-tag> </td>

                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="9">No se encontró ningún registro.</td>
                    </tr>
                </ng-template>
            </p-table>
</p-card>

<p-dialog [(visible)]="tipoMatriculaDialog" header="Matricula" [modal]="true"
[breakpoints]="{ '960px': '75vw' }" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false" [maximizable]="true"
class="p-fluid">

<form [formGroup]="tipoMatriculaForm" novalidate>
    <div class="p-fluid">
        <div class="field">
            <label class="block font-bold mb-2">Nombre</label>
            <input type="text" pInputText id="matnombre" formControlName="tipmatrgestion" placeholder="Ingrese un nombre de la matricula"
                   [ngClass]="{ 'ng-dirty': this.tipoMatriculaForm.get('tipmatrgestion').touched, 'valid-field': this.tipoMatriculaForm.get('tipmatrgestion').valid}"
            />
            <small class="p-error block"
                *ngIf="tipoMatriculaForm.get('tipmatrgestion').invalid && tipoMatriculaForm.get('tipmatrgestion').dirty">
                <!-- Mensaje si el nombre de usuario ya existe (validador asincrónico por ejemplo) -->
                <span *ngIf="tipoMatriculaForm.get('tipmatrgestion').errors?.nombreTipoMatriculaExiste">
                    La nombre de la matricula ya existe.
                </span>
                <!-- Mensaje si el campo es obligatorio -->
                <span *ngIf="tipoMatriculaForm.get('tipmatrgestion').errors?.required">
                    El nombre de la matricula es requerido. (*)
                </span>
                <!-- Mensaje si la longitud mínima no se cumple -->
                <span *ngIf="tipoMatriculaForm.get('tipmatrgestion').errors?.minlength">
                    El nombre de la matricula debe tener al menos 5 caracteres.
                </span>
            </small>
            <small class="p-success block" *ngIf="tipoMatriculaForm.get('tipmatrgestion')?.valid">
                El nombre de la materia es valido.
            </small>
        </div>
        <div class="field">
            <label class="block font-bold mb-2" for="currency-us">Costo</label>
            <p-inputNumber formControlName="tipmatrcosto" [showButtons]="true" buttonLayout="horizontal" inputId="horizontal"
                            spinnerMode="horizontal" [step]="0.50" decrementButtonClass="p-button-danger"
                            incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus"
                            decrementButtonIcon="pi pi-minus" mode="currency" currency="BOB" locale="es-BO"
                            placeholder="Ingrese un monto"
                            [ngClass]="{ 'ng-dirty': tipoMatriculaForm.get('tipmatrcosto').touched, 'valid-field': tipoMatriculaForm.get('tipmatrcosto').valid}"
            ></p-inputNumber>
            <small class="p-success block" *ngIf="tipoMatriculaForm.get('tipmatrcosto').valid">
                El costo es válido.
            </small>
            <small class="p-error block"
                   *ngIf="tipoMatriculaForm.get('tipmatrcosto').invalid && tipoMatriculaForm.get('tipmatrcosto').touched">
                <span *ngIf="tipoMatriculaForm.get('tipmatrcosto').errors?.required">El tipo de módulo es requerido. (*)</span>
                <span *ngIf="tipoMatriculaForm.get('tipmatrcosto').errors?.numeroNegativo">El costo no puede ser negativo.</span>

            </small>
        </div>

        <div class="field">
            <label class="block font-bold mb-2" >Fecha de Inicio</label>
            <p-calendar inputId="fecini" appendTo="body" formControlName="tipmatrfecini" placeholder="Ingrese un fecha de inicio"
                            [showIcon]="true" dateFormat="dd/mm/yy"
                            [ngClass]="{ 'ng-dirty': this.tipoMatriculaForm.get('tipmatrfecini').touched, 'valid-field': this.tipoMatriculaForm.get('tipmatrfecini').valid}"
                            >
            </p-calendar>
            <small class="p-success block" *ngIf="tipoMatriculaForm.get('tipmatrfecini').valid">
                La fecha de inicio es válido.
            </small>
            <small class="p-error block"
                *ngIf="tipoMatriculaForm.get('tipmatrfecini').invalid && tipoMatriculaForm.get('tipmatrfecini').touched">
                <span *ngIf="tipoMatriculaForm.get('tipmatrfecini').errors?.required">La fecha de inicio es requerido.</span>
                (*)
            </small>
        </div>
        <div class="field">
            <label class="block font-bold mb-2" >Fecha de Fin</label>
            <p-calendar inputId="fecfin" appendTo="body" formControlName="tipmatrfecfin" placeholder="Ingrese un fecha de fin"
                [showIcon]="true" dateFormat="dd/mm/yy"
                [ngClass]="{ 'ng-dirty': this.tipoMatriculaForm.get('tipmatrfecfin').touched, 'valid-field': this.tipoMatriculaForm.get('tipmatrfecfin').valid}"
                >
            </p-calendar>
            <small class="p-success block" *ngIf="tipoMatriculaForm.get('tipmatrfecfin').valid">
                Fecha de fin es válido.
            </small>
            <small class="p-error block"
                *ngIf="tipoMatriculaForm.get('tipmatrfecfin').invalid && tipoMatriculaForm.get('tipmatrfecfin').touched">
                <span *ngIf="tipoMatriculaForm.get('tipmatrfecfin').errors?.required">Fecha de fin es requerido.</span>
                (*)
            </small>
        </div>
        <div class="field">
            <label class="block font-bold mb-2" >Descripción</label>
            <textarea rows="5" cols="30" pInputTextarea formControlName="tipmatrdescripcion"
            [ngClass]="{ 'ng-dirty': this.tipoMatriculaForm.get('tipmatrdescripcion').touched, 'valid-field': this.tipoMatriculaForm.get('tipmatrdescripcion').valid}"
            >
            </textarea>
            <small class="p-error block"
                *ngIf="tipoMatriculaForm.get('tipmatrdescripcion').invalid && tipoMatriculaForm.get('tipmatrdescripcion').dirty">
                <span *ngIf="tipoMatriculaForm.get('tipmatrdescripcion').errors?.required">La descripción es requerido.</span>
                (*)
            </small>
            <small class="p-success block" *ngIf="tipoMatriculaForm.get('tipmatrdescripcion')?.valid"> La descripción es
                valido.
            </small>
        </div>
    </div>
</form>
<ng-template pTemplate="footer">
    <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
        (click)="ocultarDialog()"></button>
    <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" [disabled]="tipoMatriculaForm.invalid"
        (click)="guardarTipoMatricula()"></button>
</ng-template>
</p-dialog>




<p-dialog [(visible)]="desactivarMatriculaDialog" header="Confirmar" [modal]="true" [draggable]="false" [resizable]="false">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="tipoMatricula">Estas seguro que quieres desactivar esta tipo matricula:
            <b>{{tipoMatricula.tipmatrgestion}}</b>?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
            (click)="desactivarMatriculaDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Si"
            (click)="confirmarActivarDesactivar()"></button>
    </ng-template>
</p-dialog>


<p-dialog [(visible)]="activarMatriculaDialog" header="Confirmar" [modal]="true" >
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="tipoMatricula">Estas seguro que quieres activar esta tipo matricula:
            <b>{{tipoMatricula.matrgestion}}</b>?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
            (click)="activarMatriculaDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Si"
            (click)="confirmarActivarDesactivar()"></button>
    </ng-template>
</p-dialog>
