<p-toast></p-toast>
<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <!-- <h2>Administración de Matriculas</h2> -->
            <!-- <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success mr-2"
                            (click)="abrirNuevo()"></button>
                    </div>
                </ng-template>
                <ng-template pTemplate="right">
                    <p-button (click)="reporte.rptUsuarios()" label="Reporte Prueba" styleClass="p-button-raised p-button-warning"></p-button>
                </ng-template>
            </p-toolbar> -->

            <p-table #dt [value]="listaMatriculas" responsiveLayout="scroll" [rows]="10" [paginator]="true"
                [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true">
                <!-- <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Lista de Matriculas</h5>
                    </div>
                </ng-template> -->

                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success mr-2"
                        (click)="abrirNuevo()"></button>
                        <h5 class="m-0">Administrar Matricula</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <!-- <i class="pi pi-search"></i> -->
                            <!-- <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..." class="w-full sm:w-auto" /> -->
                            <!-- <p-button (click)="reporte.rptUsuarios()" label="Reporte Prueba" styleClass="p-button-raised p-button-info"></p-button> -->
                        </span>
                    </div>
                </ng-template>

                <ng-template pTemplate="header">
                    <tr>
                        <!-- <th pSortableColumn="matrid">Código<p-sortIcon field="matrid"></p-sortIcon></th> -->
                        <th pSortableColumn="matrid">Gestión<p-sortIcon field="matrid"></p-sortIcon></th>
                        <th pSortableColumn="matrfchini">Fecha Inicio<p-sortIcon field="matrfchini"></p-sortIcon></th>
                        <th pSortableColumn="matrfchfin">Fecha Final<p-sortIcon field="matrfchfin"></p-sortIcon></th>
                        <th pSortableColumn="matrcos">Costo<p-sortIcon field="matrcos"></p-sortIcon></th>
                        <th>Registrado por</th>
                        <th>Modificado por</th>
                        <th pSortableColumn="matrestado">Estado<p-sortIcon field="matrestado"></p-sortIcon></th>
                        <th> Opciones </th>
                        <th></th>
                    </tr>
                </ng-template>
                <!-- matrgestion?: number = 0;
                matrestadodescripcion?: string = '';
                matrfchini?: Date | null;
                matrfchfin?: Date | null;
                matrcos?: number = 0;
                matrusureg?: string = '';
                matrfecreg?: Date | null;
                matrusumod?: string = '';
                matrfecmod?: Date | null;
                matrestado?: number = 0; -->
                <ng-template pTemplate="body" let-matricula>
                    <tr>
                        <!-- <td>
                            {{matricula.matrid}}
                        </td> -->
                        <td>
                            {{matricula.matrgestion}}
                        </td>
                        <td>
                            {{matricula.matrfchini | date:'dd/MM/yyyy'}}
                        </td>
                        <td>
                            {{matricula.matrfchfin | date:'dd/MM/yyyy'}}
                        </td>
                        <td>
                            Bs. {{matricula.matrcos}}
                        </td>
                        <td style="width:15%; min-width:10rem;">
                            <p-chip>
                                <div class="p-2">
                                    <ng-container *ngIf="matricula.matrusureg; else noModificado">
                                        {{matricula.matrusureg}}-{{matricula.matrfecreg | date:'dd/MM/yyyy'}}
                                    </ng-container>
                                    <ng-template #noModificado>
                                        No se ha modificado
                                    </ng-template>
                                </div>
                            </p-chip>
                        </td>
                        <td style="width:15%; min-width:10rem;">
                            <p-chip>
                                <div class="p-2">
                                    <ng-container *ngIf="matricula.matrusumod; else noModificado">
                                        {{matricula.matrusumod}} {{matricula.matrfecmod | date:'dd/MM/yyyy'}}
                                    </ng-container>
                                    <ng-template #noModificado>
                                        No se ha modificado
                                    </ng-template>
                                </div>
                            </p-chip>
                        </td>
                        <!-- <td style="width:15%; min-width:10rem;">
                            <p-tag severity="Primary" [rounded]="true">
                                {{matricula.matrestado}}:{{matricula.matrestadodescripcion}} </p-tag>
                        </td> -->
                        <td> <p-tag [value]="obtenerDescripcionEstado(matricula.matrestado)" [severity]="obtenerSeverityEstado(matricula.matrestado)" [rounded]="true"></p-tag> </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2"
                                    (click)="editarMatricula(matricula)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                    (click)="eliminarMatricula(matricula)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="matriculaDialog" [style]="{width: '600px'}" header="Matricula" [modal]="true"
            class="p-fluid">

            <ng-template pTemplate="content">

                <!-- <div class="card p-fluid">
                    <div class="field">
                        <label for="curnombre">Nombre de la matricula</label>

                        <input type="text" pInputText id="matnombre" [(ngModel)]="matricula.matnombre" required />
                    </div>

                    <div class="field">
                        <label for="descripcion">Descripción de la matricula</label>
                        <textarea id="descripcion" pInputTextarea [(ngModel)]="matricula.matdescripcion" required rows="3"
                            cols="20"></textarea>
                    </div>
                </div> -->
                <div class="card p-fluid">

                    <!-- <div class="field">
                        <label for="status">Elegir Gestión</label>
                        <p-dropdown inputId="ddgestion" appendTo="body" [options]="gestiones"
                            [(ngModel)]="gestionSeleccionado" placeholder="Seleccionar Gestion"></p-dropdown>
                    </div> -->
                    <div class="field">
                        <label for="curnombre">Matricula</label>

                        <input type="text" pInputText id="matnombre" [(ngModel)]="matricula.matrgestion" required />
                    </div>
                    <div class="field">
                        <label class="block font-bold mb-2" for="currency-us">Costo</label>
                        <p-inputNumber [(ngModel)]="costo" placeholder="Ingrese un monto"
                            inputId="currency-bob" mode="currency" currency="BOB" locale="es-BO"></p-inputNumber>
                    </div>
                    <div class="flex">
                        <div class="flex-1 flex align-items-center justify-content-center font-bold m-2 border-round">
                            <div class="col">
                                <span class="p-float-label">
                                    <p-calendar inputId="fecini" appendTo="body" [(ngModel)]="fechaInicio"
                                        [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>
                                    <label for="fecIni">Elegir Fecha Inicio</label>
                                </span>
                            </div>
                        </div>
                        <div class="flex-1 flex align-items-center justify-content-center font-bold m-2 border-round">
                            <div class="col">
                                <span class="p-float-label">
                                    <p-calendar inputId="fecfin" appendTo="body" [(ngModel)]="fechaFinal"
                                        [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>
                                    <label for="fecFin">Elegir Fecha Fin</label>
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="field">
                        <label for="status">Elegir Estado:</label>
                        <p-dropdown inputId="ddTipoEstadoMatricula" appendTo="body" [options]="tipoEstadoMatricula"
                            [(ngModel)]="tipoEstadoMatriculaSeleccionado" optionLabel="matrestadodescripcion"
                            placeholder="Seleccionar Estado"></p-dropdown>
                    </div> -->
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
                    (click)="ocultarDialog()"></button>
                <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text"
                    (click)="guardarMatricula()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="eliminarMatriculaDialog" header="Confirmar" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="matricula">Estas seguro que quieres eliminar esta matricula
                    <b>{{matricula.matrgestion}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="eliminarMatriculaDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Si"
                    (click)="confirmarEliminar()"></button>
            </ng-template>
        </p-dialog>

    </div>
</div>
