<p-toast></p-toast>
<p-card>
    <p-breadcrumb class="max-w-full" [model]="items" [home]="home"></p-breadcrumb>
    <h3>Lista de Textos Asignados</h3>
    <p>Administrar registros de asignación de textos</p>
    <p-table #dt [value]="listMateriaTexto" selectionMode="single" responsiveLayout="scroll" [loading]="loading"
        [paginator]="true" [globalFilterFields]="['matnombre', 'texnombre']" rowGroupMode="rowspan"
        groupRowsBy="matnombre" sortField="matnombre" [columns]="selectedColumns"
        [rowsPerPageOptions]="[5, 10, 20, 50, 100]" [rows]="20" styleClass="p-datatable-striped p-datatable-sm"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} entradas" [rowHover]="true"
        dataKey="id" [breakpoint]="'960px'" [tableStyle]="{ 'min-width': '85rem' }">
        <ng-template pTemplate="caption">
            <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                <div class="flex">
                    <button pButton pRipple label="Asignar" icon="pi pi-plus-circle"
                        class="p-button-primary p-button-outlined mr-2" (click)="assign()"
                        pTooltip="Asignar Material a Materia" tooltipPosition="top"></button>
                    <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()"
                        class="p-button-danger mr-2" pTooltip="Lista de Textos asignadas a materias PDF"
                        tooltipPosition="top"></button>
                </div>
                <p-multiSelect [options]="colsColumsTable" [(ngModel)]="selectedColumns" optionLabel="header"
                    selectedItemsLabel="{0} columnas selecionadas" [style]="{ 'min-width': '200px' }"
                    placeholder="Elige la/s columna/s" pTooltip="Seleccionar columnas" tooltipPosition="top">
                </p-multiSelect>
                <span class="block mt-2 md:mt-0 p-input-icon-left">
                    <span class="block mt-2 md:mt-0 p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."
                            class="w-full sm:w-auto" />
                    </span>
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th>#</th>
                <th style="min-width: 200px;" class="text-center">Acciones</th>
                <th pSortableColumn="matnombre">
                    <div style="min-width: 300px;">
                        Materia <p-sortIcon field="matnombre"></p-sortIcon>
                    </div>
                </th>
                <th *ngFor="let col of columns" pSortableColumn="{{col.field}}">
                    <ng-container [ngSwitch]="col.field">
                        <ng-container *ngSwitchCase="'matdesnivel'">
                            <div style="min-width: 200px;">
                                Nivel
                                <p-sortIcon fiend="matdesnivel"></p-sortIcon>
                            </div>
                        </ng-container>
                        <ng-container *ngSwitchCase="'texnombre'">
                            <div style="min-width: 300px;">
                                Texto
                                <p-sortIcon fiend="texnombre"></p-sortIcon>
                            </div>
                        </ng-container>
                        <ng-container *ngSwitchCase="'mattexdescripcion'">
                            <div style="min-width: 300px;">
                                Descripción
                                <p-sortIcon fiend="mattexdescripcion"></p-sortIcon>
                            </div>
                        </ng-container>
                        <ng-container *ngSwitchCase="'mattexusureg'">
                            <div style="min-width: 180px;">
                                Registrado
                                <p-sortIcon field="mattexusureg"></p-sortIcon>
                            </div>
                        </ng-container>
                        <ng-container *ngSwitchCase="'mattexfecreg'">
                            <div style="min-width: 250px;">
                                Fecha Registrado
                                <p-sortIcon field="mattexfecreg"></p-sortIcon>
                            </div>
                        </ng-container>
                        <ng-container *ngSwitchCase="'mattexusumod'">
                            <div style="min-width: 180px;">
                                Modificado
                                <p-sortIcon field="mattexusumod"></p-sortIcon>
                            </div>
                        </ng-container>
                        <ng-container *ngSwitchCase="'mattexfecmod'">
                            <div style="min-width: 250px;">
                                Fecha Modificado
                                <p-sortIcon field="mattexfecmod"></p-sortIcon>
                            </div>
                        </ng-container>

                        <ng-container *ngSwitchCase="'mattexestado'">
                            <div style="min-width: 180px;">
                                Estado
                                <p-sortIcon field="mattexestado"></p-sortIcon>
                            </div>
                        </ng-container>

                        <!-- Caso por defecto para otros campos -->
                        <ng-container *ngSwitchDefault>
                            <div>
                                {{ col.header }}
                                <p-sortIcon field="{{ col.field }}"></p-sortIcon>
                            </div>
                        </ng-container>
                    </ng-container>
                </th>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th>
                    <p-columnFilter type="text" field="matnombre"></p-columnFilter>
                </th>
                <th *ngFor="let col of columns">
                    <ng-container [ngSwitch]="col.field">
                        <ng-container ng-container *ngSwitchCase="'mattexestado'">
                            <p-columnFilter field="mattexestado" matchMode="equals" [showMenu]="false">
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-dropdown [ngModel]="value" [options]="statusOptions"
                                        (onChange)="filter($event.value)" placeholder="Elegir" [showClear]="true"
                                        appendTo="body">
                                        <ng-template pTemplate="selectedItem" let-option>
                                            <div class="flex align-items-center gap-2" *ngIf="option">
                                                <p-tag [value]="getDescriptionStatus(option.value)"
                                                    [severity]="getSeverityStatus(option.value)"
                                                    [rounded]="true"></p-tag>
                                            </div>
                                        </ng-template>
                                        <ng-template let-option pTemplate="item">
                                            <p-tag [value]="getDescriptionStatus(option.value)"
                                                [severity]="getSeverityStatus(option.value)" [rounded]="true"></p-tag>
                                        </ng-template>
                                    </p-dropdown>
                                </ng-template>
                            </p-columnFilter>
                        </ng-container>
                        <!-- textipo -->
                        <!-- <ng-container ng-container *ngSwitchCase="'textipo'">
                                            <p-columnFilter field="textipo" matchMode="equals" [showMenu]="false">
                                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                                    <p-dropdown [ngModel]="value" [options]="tipoTextoOptions" (onChange)="filter($event.value)"
                                                        placeholder="Elegir" [showClear]="true" appendTo="body">
                                                        <ng-template let-option pTemplate="item">
                                                            {{getDescriptionTipoTexto(option.value)}}
                                                        </ng-template>
                                                    </p-dropdown>
                                                </ng-template>
                                            </p-columnFilter>
                                        </ng-container> -->
                        <ng-container *ngSwitchDefault>
                            <p-columnFilter type="text" field="{{ col.field }}"></p-columnFilter>
                        </ng-container>
                    </ng-container>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-mattex let-rowIndex="rowIndex" let-rowgroup="rowgroup" let-rowspan="rowspan"
            let-columns="columns">
            <tr>
                <td>{{ rowIndex + 1 }}</td>
                <td>
                    <div class="text-center">
                        <ng-container *ngIf="mattex.texdocumento">
                            <ng-container *ngIf="isTextoPDF(mattex.texdocumento); else noPDF">
                                <button pButton pRipple type="button" icon="pi pi-file"
                                    class="p-button-rounded p-button-outlined p-button-success p-mr-2 mr-2"
                                    pTooltip="Ver documento" tooltipPosition="top"
                                    (click)="viewDocumentText(mattex.texdocumento)"></button>
                            </ng-container>
                            <ng-template #noPDF>
                                <a [href]="getDownloadLink(mattex.texdocumento)" target="_blank" class="p-mr-2">
                                    <button pButton pRipple icon="pi pi-download"
                                        class="p-button-rounded p-button-outlined p-button-success mr-2"
                                        pTooltip="Ver documento" tooltipPosition="top"></button>
                                </a>
                            </ng-template>
                        </ng-container>
                        <button pButton pRipple type="button" icon="pi pi-pencil"
                        class="p-button-rounded p-button-outlined p-mr-2 mr-2"
                        pTooltip="Editar" tooltipPosition="top"
                        (click)="modify(mattex)"></button>
                        <button pButton pRipple type="button" icon="pi pi-trash"
                        class="p-button-rounded p-button-outlined p-button-danger p-mr-2 mr-2"
                        pTooltip="Eliminar" tooltipPosition="top"
                        (click)="delete(mattex)"></button>
                    </div>
                </td>
                <td *ngIf="rowgroup" [attr.rowspan]="rowspan"> <strong>{{mattex.matnombre}}</strong> </td>
                <td *ngFor="let col of columns">
                    <ng-container [ngSwitch]="col.field">
                        <ng-container *ngSwitchCase="'mattexfecreg'">
                            {{ mattex.mattexfecreg | date : 'd MMMM, y h:mm:ss a' }}
                        </ng-container>
                        <ng-container *ngSwitchCase="'mattexfecmod'">
                            {{ mattex.mattexfecmod | date : 'd MMMM, y h:mm:ss a' }}
                        </ng-container>
                        <ng-container *ngSwitchCase="'mattexestado'">
                            <div class="text-center">
                                <p-tag [value]="getDescriptionStatus(mattex[col.field])"
                                    [severity]="getSeverityStatus(mattex[col.field])" [rounded]="true"></p-tag>
                            </div>
                        </ng-container>
                        <ng-container *ngSwitchCase="'matnivel'">
                            <div class="text-center">
                                <p-tag [severity]="getSeverityNivel(mattex.matdesnivel)" [rounded]="true"
                                    [rounded]="true">
                                    {{mattex.matdesnivel}}
                                </p-tag>
                            </div>
                        </ng-container>
                        <ng-container *ngSwitchDefault>
                            {{ mattex[col.field] }}
                        </ng-container>
                    </ng-container>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="9">No se encontró ningún registro.</td>
            </tr>
        </ng-template>
    </p-table>
</p-card>

<!-- Dialog Form 'Asignar texto/s a materias' -->
<p-dialog [(visible)]="assignDialog" [header]="assignBool? 'Asignar Texto': 'Editar Asignación'" [style]="{width: '30vw'}" [modal]="true" class="p-fluid">
    <form [formGroup]="materiaTextoForm">
        <div class="grid p-fluid mt-3">
            <div class="field col-12 md:col-12">
                <label for="status">Elegir Materia</label>
                <p-dropdown inputId="ddTipoMateria" appendTo="body" [options]="tipoMateria"
                    [emptyFilterMessage]="'No se encontraron materias.'"
                    [ngClass]="{ 'valid-field': this.materiaTextoForm.get('tipoMateria').valid}"
                    formControlName="tipoMateria" [filter]="true" filterBy="matnombre" optionLabel="matnombre"
                    placeholder="Seleccionar Materia">
                </p-dropdown>
                <small class="p-success block" *ngIf="materiaTextoForm.get('tipoMateria').valid">
                    El tipo de materia es valido.
                </small>
                <small class="p-error block"
                    *ngIf="materiaTextoForm.get('tipoMateria').invalid && materiaTextoForm.get('tipoMateria').touched">
                    <span *ngIf="materiaTextoForm.get('tipoMateria').errors?.required">
                        El tipo de materia es requerido. (*)
                    </span>
                </small>
            </div>
            <div class="field col-12 md:col-12">
                <label for="status">Elegir Curso</label>
                <div *ngIf="assignBool">
                    <p-multiSelect [options]="tipoTexto" formControlName="tipoTexto" optionLabel="texnombre"
                        placeholder="Seleccionar Texto/s" appendTo="body" [filter]="true" filterBy="texnombre"
                        [emptyFilterMessage]="'No se encontraron textos.'" [selectedItemsLabel]="'{0} Textos selecionados'">
                    </p-multiSelect>
                </div>
                <div *ngIf="!assignBool">
                    <p-dropdown inputId="ddTipoCurso" appendTo="body"
                        [options]="tipoTexto" formControlName="tipoTexto" optionLabel="texnombre" [filter]="true"
                        filterBy="texnombre" [emptyFilterMessage]="'No se encontraron textos.'"
                        placeholder="Seleccionar Texto"
                        [ngClass]="{ 'valid-field': this.materiaTextoForm.get('tipoTexto').valid}">
                    </p-dropdown>
                </div>
                <small class="p-success block" *ngIf="materiaTextoForm.get('tipoTexto').valid">
                    El tipo de texto es valido.
                </small>
                <small class="p-error block"
                    *ngIf="materiaTextoForm.get('tipoTexto').invalid && materiaTextoForm.get('tipoTexto').touched">
                    <span *ngIf="materiaTextoForm.get('tipoTexto').errors?.required">El tipo de texto es
                        requerido. (*)</span>
                </small>
            </div>
            <div class="field col-12 md:col-12">
                <label for="description">Descripción</label>
                <textarea id="description" pInputTextarea formControlName="mattexdescripcion" required rows="3"
                    cols="20"></textarea>
            </div>
            <div class="field col-12 md:col-12">
                <label for="">Estado</label>
                <div class="flex align-items-center justify-content-center">
                    <p-selectButton [options]="statusOptions" formControlName="mattexestado" optionLabel="label"
                        optionValue="value"></p-selectButton>
                </div>
            </div>
        </div>
    </form>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
            (click)="hideDialog()"></button>
        <button pButton pRipple label="Guardar" icon="pi pi-save" class="p-button-outlined p-button-success"
            (click)="saveAssign()"></button>
    </ng-template>
</p-dialog>


<!-- Dialog Form 'Eliminar asignación de materia' -->
<p-dialog [(visible)]="deleteDialog" header="Confirmar" [modal]="true">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-trash mr-2" ></i>
        <span *ngIf="usuario">¿Esta seguro de eliminar la asingación del texto/material: <b> {{materiatexto.texnombre}} </b> de la materia: <b> {{materiatexto.matnombre}} </b>? </span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Si" (click)="confirmDeleteMateriaTexto()"></button>
    </ng-template>
</p-dialog>
