<!-- <ng-container *hasPermision="admPlanilla" > -->
<div class="grid">
    <div class="col-12">
        <div class="card">
            <ng-container>
                <p-table #dt [value]="listarMateriasInscritas" selectionMode="single" [(selection)]="notaEstudiante"
                    data="idBeneficioSocial" responsiveLayout="scroll" class="m-2" [loading]="loading"
                    [rowsPerPageOptions]="[5, 10, 20]" [rows]="5" [paginator]="true"
                    styleClass="p-datatable-striped p-card"
                    [globalFilterFields]="['curnombre', 'matnombre', 'pernomcompleto']">
                    <ng-template pTemplate="caption">
                            <div class="font-bold text-xl text-center">
                                <span class="text-900">Mis </span>
                                <span class="text-primary-600"> Notas </span>
                              </div>
                        <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                            <!-- <h5 class="m-0">Lista de notas</h5> -->
                            <span class="block mt-2 md:mt-0 p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..." class="w-full sm:w-auto" />

                            </span>
                            <span class="block mt-2 md:mt-0 p-input-icon-left">
                                <button pButton pRipple label="Reporte de notas" icon="pi pi-file-pdf" (click)="notaService.rptNotaEstudianteMateria()" class="p-button-rounded p-button-danger mr-2"></button>
                            </span>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th> Nro </th>
                            <th> Curso </th>
                            <th> Fechas </th>
                            <th> Materia</th>
                            <th> Docente</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-notaMateria>
                        <tr [pSelectableRow]="notaMateria" (click)="listarNotaMateria(notaMateria)">
                            <td> {{notaMateria.insid}} </td>
                            <td> {{notaMateria.curnombre}} </td>
                            <td> {{notaMateria.curmatfecini + ' a ' + notaMateria.curmatfecfin}} </td>
                            <td> {{notaMateria.matnombre}} </td>
                            <td> {{notaMateria.pernomcompleto}} </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="9">No se encontraron cursos ni materias registrados.</td>
                        </tr>
                    </ng-template>
                </p-table>
                <div  *ngIf="verNotasClicked">
                    <p-table [value]="listarNotaEstudianteMateria" responsiveLayout="scroll" class="m-2"
                        [loading]="loading2" styleClass="p-datatable-gridlines">
                        <ng-template pTemplate="caption">
                            <div class="flex flex-column">
                                <h5 class="m-0">Lista de notas por materia</h5>
                            </div>

                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th> Nro </th>
                                <th> Curso </th>
                                <th> Materia </th>
                                <th> Nota 1 </th>
                                <th> Nota 2 </th>
                                <th> Nota 3 </th>
                                <th> Nota final </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-nota>
                            <tr>
                                <td> {{nota.notid}} </td>
                                <td> {{nota.curnombre}} </td>
                                <td> {{nota.matnombre}} </td>
                                <td> <p-chip> <div class="p-1">{{nota.not1}} pts </div> </p-chip> </td>
                                <td> <p-chip> <div class="p-1">{{nota.not2}} pts </div> </p-chip> </td>
                                <td> <p-chip> <div class="p-1">{{nota.not3}} pts </div> </p-chip> </td>
                                <td> <p-chip> <div class="p-1">{{nota.notfinal}} </div> </p-chip> </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="9">No se encontraron notas registradas.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </ng-container>

        </div>
    </div>
</div>
