<div *ngIf="statusConfirm === null">
    <div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
        <div class="surface-card p-4 shadow-2 border-round w-50rem">
            <div class="w-full surface-card">
                <div class="p-grid bg-bluegray-900 text-gray-100 p-3 border-round">
                    <div class="p-col-12 p-md-3 font-bold mb-2 text-base">Hola, Bienvenido 👋</div>
                    <div class="p-col-12 p-md-9">
                        <span class="line-height-3 text-base">Confirma tu correo electrónico:</span>
                    </div>
                </div>
                <div class="px-2 py-3 md:px-3 lg:px-3">
                    <div class="text-700 text-center">
                        <div class="text-900 text-base mb-5">
                            <span class="line-height-3">Gracias por registrarte en SSGA Bolivia.</span>
                            <div class="text-base">
                                <span>Para completar tu registro, haz clic en el siguiente botón:</span>
                            </div>
                        </div>
                        <div class="flex justify-content-center">
                            <button
                                pButton
                                pRipple
                                label="Confirmar mi cuenta"
                                icon="pi pi-check-circle"
                                class="p-button-success"
                                (click)="confirmEmail(token)"
                            ></button>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="text-900 text-base mb-5 text-center">
                    <span class="line-height-3">Si tienes alguna pregunta adicional o necesitas ayuda, no dudes en ponerte en contacto con nosotros.</span>
                    <div class="text-base">
                        <span>Puedes hacerlo a través de <a href="mailto:soporte.ibci.bolivia@gmail.com">soporte.ibci.bolivia@gmail.com</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="statusConfirm === 'success'">
    <div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
        <div class="surface-card p-4 shadow-2 border-round w-50rem">
            <div class="text-center">
                <h3 class="text-green-400 font-bold mb-3">Cuenta Activada</h3>
                <p class="text-base">¡Tu cuenta ha sido activada exitosamente! Puedes iniciar sesión.</p>
                <div class="text-base mb-2">
                    <span>Haz clic en el siguiente botón:</span>
                </div>
            </div>
            <button pButton pRipple label="Iniciar sesión" icon="pi pi-user" class="p-button-success p-button white-space-nowrap w-full" [routerLink]="['/login']"></button>
        </div>
    </div>
</div>

<div *ngIf="statusConfirm === 'already_confirmed'">
    <div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
        <div class="surface-card p-4 shadow-2 border-round w-50rem">
            <div class="text-center">
                <h3 class="text-yellow-500 font-bold mb-3">Cuenta ya ha sido activada</h3>
                <p class="text-base">Tu cuenta ya ha sido activada anteriormente. Puedes iniciar sesión.</p>
                <div class="text-base mb-2">
                    <span>Haz clic en el siguiente botón:</span>
                </div>
            </div>
                <button pButton pRipple label="Salir" icon="pi pi-angle-right" class="p-button-danger p-button white-space-nowrap w-full" [routerLink]="['/login']"></button>
        </div>
    </div>
</div>

<div *ngIf="statusConfirm === 'error'">
    <div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
        <div class="surface-card p-4 shadow-2 border-round w-50rem">
            <div class="text-center">
                <h3 class="text-red-500 font-bold mb-3">Error de Confirmación</h3>
                <p class="text-base">Hubo un problema al confirmar tu cuenta. Por favor, intenta nuevamente o contacta con soporte.</p>
                <div class="text-base mb-5 text-center">
                    <span class="line-height-3">Si tienes alguna pregunta adicional o necesitas ayuda, no dudes en ponerte en contacto con nosotros.</span>
                    <div class="text-base">
                        <span>Puedes hacerlo a través de <a href="mailto:soporte.ibci.bolivia@gmail.com">soporte.ibci.bolivia@gmail.com</a></span>
                    </div>
                </div>
            </div>
            <button pButton pRipple label="Salir" icon="pi pi-angle-right" class="p-button-danger p-button white-space-nowrap w-full" [routerLink]="['/login']"></button>
        </div>
    </div>
</div>

<!-- <div class="ng-star-inserted">
    <section class="surface-section">
<main class="grid min-h-full place-items-center bg-white px-6 py-24 sm:py-32 lg:px-8">
    <div class="text-center">
      <p class="text-base font-semibold text-indigo-600">404</p>
      <h1 class="mt-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl">Page not found</h1>
      <p class="mt-6 text-base leading-7 text-gray-600">Sorry, we couldn’t find the page you’re looking for.</p>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <a href="#" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Go back home</a>
        <a href="#" class="text-sm font-semibold text-gray-900">Contact support <span aria-hidden="true">&rarr;</span></a>
      </div>
    </div>
  </main>
</section>
  </div> -->



<!-- <div class="w-50">
    <div >
        <div >
            <div
                style="height: 200px; background: url('https://cdn.pixabay.com/photo/2015/09/17/10/31/banner-943868_640.jpg') no-repeat; background-size: cover;">
            </div>
            <div class="px-4 py-5 md:px-6 lg:px-8 surface-section">
                <div class="flex flex-column lg:flex-row lg:align-items-center lg:justify-content-between relative"
                    style="margin-top: -2rem; top: -70px; margin-bottom: -70px;">
                    <div>
                        <div class="mb-3 surface-card shadow-2 flex align-items-center justify-content-center"
                            style="width: 140px; height: 140px; border-radius: 10px;"><img
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtuphMb4mq-EcVWhMVT8FCkv5dqZGgvn_QiA&s" alt="Image" width="70" height="70"></div>
                        <div class="text-900 text-3xl font-medium mb-3">Company Name</div>
                        <p class="mt-0 mb-3 text-700 text-xl">Vitae tortor condimentum lacinia quis vel eros.</p>
                        <div class="text-600 font-medium"><span>Software | USA | 15523 Followers</span></div>
                    </div>
                    <div class="mt-3 lg:mt-0"><button pbutton="" pripple="" label="Follow" icon="pi pi-plus-circle"
                            class="p-element p-ripple p-button-outlined mr-2 p-button p-component"><span
                                class="p-button-icon p-button-icon-left pi pi-plus-circle"
                                aria-hidden="true"></span><span class="p-button-label">Follow</span><span
                                class="p-ink"></span></button><button pbutton="" pripple="" label="Website"
                            icon="pi pi-link" class="p-element p-ripple mr-2 p-button p-component"><span
                                class="p-button-icon p-button-icon-left pi pi-link" aria-hidden="true"></span><span
                                class="p-button-label">Website</span><span class="p-ink"></span></button><button
                            pbutton="" pripple="" icon="pi pi-ellipsis-v"
                            class="p-element p-ripple p-button-outlined p-button-rounded p-button p-component p-button-icon-only"><span
                                class="p-button-icon pi pi-ellipsis-v" aria-hidden="true"></span><span
                                class="p-ink"></span></button></div>
                </div>
            </div>
        </div>
    </div>
</div> -->


<!-- <div class="ng-star-inserted">
    <section class="surface-section">
        <div class="h-16rem bg-cover" style="background: url('https://cdn.pixabay.com/photo/2015/09/17/10/31/banner-943868_640.jpg');"></div>
        <div class="flex flex-column gap-3 md:flex-row justify-content-between px-4 py-4 md:px-6 lg:px-8">
            <nav>
                <ul class="flex list-none align-items-center gap-2 text-600 text-base line-height-3 p-0 m-0">
                    <li><a class="cursor-pointer"><i class="pi pi-home"></i></a></li>
                    <li><i class="pi pi-angle-right text-xs"></i></li>
                    <li><a class="cursor-pointer">Dashboard</a></li>
                    <li><i class="pi pi-angle-right text-xs"></i></li>
                    <li><a class="cursor-pointer">Profile</a></li>
                </ul>
            </nav>
            <div class="flex flex-column align-items-center gap-4 md:-mt-8"><img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtuphMb4mq-EcVWhMVT8FCkv5dqZGgvn_QiA&s       " alt="Image"
                    class="w-10rem border-3 border-circle border-0">
                <div class="flex flex-column align-items-center justify-content-center">
                    <h1 class="m-0 font-semibold text-900 text-2xl line-height-3">Sumitra Doe <i
                            class="pi pi-verified text-xl text-primary-500"></i></h1><span
                        class="text-700 text-base">@smtrdoe</span>
                </div>
                <div class="flex align-items-center gap-2"><button pbutton="" pripple="" label="Follow"
                        class="p-element p-ripple p-button-rounded p-button p-component"><span
                            class="p-button-label">Follow</span><span class="p-ink"></span></button><button pbutton=""
                        pripple="" label="Message"
                        class="p-element p-ripple p-button-outlined p-button-rounded p-button p-component"><span
                            class="p-button-label">Message</span><span class="p-ink"></span></button><button pbutton=""
                        pripple="" icon="pi pi-ellipsis-h"
                        class="p-element p-ripple p-button-outlined p-button-rounded p-button p-component p-button-icon-only"><span
                            class="p-button-icon pi pi-ellipsis-h" aria-hidden="true"></span><span
                            class="p-ink"></span></button></div>
            </div>
            <div><span class="p-input-icon-right w-full"><i class="pi pi-search"></i><input type="text" pinputtext=""
                        placeholder="Search..." class="p-inputtext p-component p-element w-full"></span></div>
        </div>
    </section>
</div> -->


<div class="min-h-full">
    <nav class="bg-gray-800">
      <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="flex h-16 items-center justify-between">
          <div class="flex items-center">
            <div class="flex-shrink-0">
              <img class="h-8 w-8" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500" alt="Your Company">
            </div>
            <div class="hidden md:block">
              <div class="ml-10 flex items-baseline space-x-4">
                <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                <a href="#" class="rounded-md bg-gray-900 px-3 py-2 text-sm font-medium text-white" aria-current="page">Dashboard</a>
                <a href="#" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Team</a>
                <a href="#" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Projects</a>
                <a href="#" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Calendar</a>
                <a href="#" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Reports</a>
              </div>
            </div>
          </div>
          <div class="hidden md:block">
            <div class="ml-4 flex items-center md:ml-6">
              <button type="button" class="relative rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
                <span class="absolute -inset-1.5"></span>
                <span class="sr-only">View notifications</span>
                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
                </svg>
              </button>

              <!-- Profile dropdown -->
              <div class="relative ml-3">
                <div>
                  <button type="button" class="relative flex max-w-xs items-center rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                    <span class="absolute -inset-1.5"></span>
                    <span class="sr-only">Open user menu</span>
                    <img class="h-8 w-8 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                  </button>
                </div>

                <!--
                  Dropdown menu, show/hide based on menu state.

                  Entering: "transition ease-out duration-100"
                    From: "transform opacity-0 scale-95"
                    To: "transform opacity-100 scale-100"
                  Leaving: "transition ease-in duration-75"
                    From: "transform opacity-100 scale-100"
                    To: "transform opacity-0 scale-95"
                -->
                <div class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
                  <!-- Active: "bg-gray-100", Not Active: "" -->
                  <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-0">Your Profile</a>
                  <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-1">Settings</a>
                  <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-2">Sign out</a>
                </div>
              </div>
            </div>
          </div>
          <div class="-mr-2 flex md:hidden">
            <!-- Mobile menu button -->
            <button type="button" class="relative inline-flex items-center justify-center rounded-md bg-gray-800 p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" aria-controls="mobile-menu" aria-expanded="false">
              <span class="absolute -inset-0.5"></span>
              <span class="sr-only">Open main menu</span>
              <!-- Menu open: "hidden", Menu closed: "block" -->
              <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
              </svg>
              <!-- Menu open: "block", Menu closed: "hidden" -->
              <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
          </div>
        </div>
      </div>

      <!-- Mobile menu, show/hide based on menu state. -->
      <div class="md:hidden" id="mobile-menu">
        <div class="space-y-1 px-2 pb-3 pt-2 sm:px-3">
          <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
          <a href="#" class="block rounded-md bg-gray-900 px-3 py-2 text-base font-medium text-white" aria-current="page">Dashboard</a>
          <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Team</a>
          <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Projects</a>
          <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Calendar</a>
          <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Reports</a>
        </div>
        <div class="border-t border-gray-700 pb-3 pt-4">
          <div class="flex items-center px-5">
            <div class="flex-shrink-0">
              <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
            </div>
            <div class="ml-3">
              <div class="text-base font-medium leading-none text-white">Tom Cook</div>
              <div class="text-sm font-medium leading-none text-gray-400">tom@example.com</div>
            </div>
            <button type="button" class="relative ml-auto flex-shrink-0 rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
              <span class="absolute -inset-1.5"></span>
              <span class="sr-only">View notifications</span>
              <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
              </svg>
            </button>
          </div>
          <div class="mt-3 space-y-1 px-2">
            <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-400 hover:bg-gray-700 hover:text-white">Your Profile</a>
            <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-400 hover:bg-gray-700 hover:text-white">Settings</a>
            <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-400 hover:bg-gray-700 hover:text-white">Sign out</a>
          </div>
        </div>
      </div>
    </nav>

    <header class="bg-white shadow">
      <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold tracking-tight text-gray-900">Dashboard</h1>
      </div>
    </header>
    <main>
      <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
        <!-- Your content -->
      </div>
    </main>
  </div>
