<div *ngIf="statusConfirm === null">
    <div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
        <div class="surface-card p-4 shadow-2 border-round w-50rem">
            <div class="w-full surface-card">
                <div class="p-grid bg-bluegray-900 text-gray-100 p-3 border-round">
                    <div class="p-col-12 p-md-3 font-bold mb-2 text-base">Hola, Bienvenido 👋</div>
                    <div class="p-col-12 p-md-9">
                        <span class="line-height-3 text-base">Confirma tu correo electrónico:</span>
                    </div>
                </div>
                <div *ngIf="token" class="px-2 py-3 md:px-3 lg:px-3">
                    <div class="text-700 text-center">
                        <div class="text-900 text-base mb-5">
                            <span class="line-height-3">Gracias por registrarte en SSGA Bolivia.</span>
                            <div class="text-base">
                                <span>Para completar tu registro, haz clic en el siguiente botón:</span>
                            </div>
                        </div>
                        <div class="flex justify-content-center">
                            <button
                                pButton
                                pRipple
                                label="Confirmar mi cuenta"
                                icon="pi pi-check-circle"
                                class="p-button-success"
                                (click)="confirmEmail(token)"
                            ></button>
                        </div>
                    </div>
                </div>
                <div *ngIf="!token" class="px-2 py-3 md:px-3 lg:px-3">
                    <div class="text-700 text-center">
                        <div class="text-900 text-base mb-5">
                            <span class="line-height-3">Gracias por registrarte en SSGA Bolivia.</span>
                            <div class="text-base">
                                <span>Para completar tu registro, por favor contacta con soporte para obtener ayuda</span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="text-900 text-base mb-5 text-center">
                    <span class="line-height-3">Si tienes alguna pregunta adicional o necesitas ayuda, no dudes en ponerte en contacto con nosotros.</span>
                    <div class="text-base">
                        <span>Puedes hacerlo a través de <a href="mailto:soporte.ibci.bolivia@gmail.com">soporte.ibci.bolivia@gmail.com</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="statusConfirm === 'success'">
    <div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
        <div class="surface-card p-4 shadow-2 border-round w-50rem">
            <div class="text-center">
                <h3 class="text-green-400 font-bold mb-3">Cuenta Activada</h3>
                <p class="text-base">¡Tu cuenta ha sido activada exitosamente! Puedes iniciar sesión.</p>
                <div class="text-base mb-2">
                    <span>Haz clic en el siguiente botón:</span>
                </div>
            </div>
            <button pButton pRipple label="Iniciar sesión" icon="pi pi-user" class="p-button-success p-button white-space-nowrap w-full" [routerLink]="['/login']"></button>
        </div>
    </div>
</div>

<div *ngIf="statusConfirm === 'already_confirmed'">
    <div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
        <div class="surface-card p-4 shadow-2 border-round w-50rem">
            <div class="text-center">
                <h3 class="text-yellow-500 font-bold mb-3">Cuenta ya ha sido activada</h3>
                <p class="text-base">Tu cuenta ya ha sido activada anteriormente. Puedes iniciar sesión.</p>
                <div class="text-base mb-2">
                    <span>Haz clic en el siguiente botón:</span>
                </div>
            </div>
                <button pButton pRipple label="Salir" icon="pi pi-angle-right" class="p-button-danger p-button white-space-nowrap w-full" [routerLink]="['/login']"></button>
        </div>
    </div>
</div>

<div *ngIf="statusConfirm === 'error'">
    <div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
        <div class="surface-card p-4 shadow-2 border-round w-50rem">
            <div class="text-center">
                <h3 class="text-red-500 font-bold mb-3">Error de Confirmación</h3>
                <p class="text-base">Hubo un problema al confirmar tu cuenta. Por favor, intenta nuevamente o contacta con soporte.</p>
                <div class="text-base mb-5 text-center">
                    <span class="line-height-3">Si tienes alguna pregunta adicional o necesitas ayuda, no dudes en ponerte en contacto con nosotros.</span>
                    <div class="text-base">
                        <span>Puedes hacerlo a través de <a href="mailto:soporte.ibci.bolivia@gmail.com">soporte.ibci.bolivia@gmail.com</a></span>
                    </div>
                </div>
            </div>
            <button pButton pRipple label="Salir" icon="pi pi-angle-right" class="p-button-danger p-button white-space-nowrap w-full" [routerLink]="['/login']"></button>
        </div>
    </div>
</div>
