<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-toast></p-toast>
            <h3>MODULO PERSONA</h3>
            <p>Administración del Modulo Persona</p>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Nuevo Persona" icon="pi pi-plus" class="p-button-success mr-2"
                            (click)="NuevoPersona()"></button>
                    </div>
                </ng-template>
                <ng-template pTemplate="right">
                    <p-button (click)="reporte.rptUsuarios()" label="Reporte Prueba"
                        styleClass="p-button-raised p-button-purple-200"></p-button>
                </ng-template>

            </p-toolbar>

            <div class="card">
                <p-table [value]="lista_personas" [rows]="5" [tableStyle]="{'min-width': '50rem'}" [paginator]="true"
                    [rowsPerPageOptions]="[5,10,20]">
                    <ng-template pTemplate="caption">
                        <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                            <h5 class="m-0">Administrar Personas</h5>
                            <span class="block mt-2 md:mt-0 p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)"
                                    placeholder="Buscar..." class="w-full sm:w-auto" />
                            </span>
                        </div>

                    </ng-template>
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th>Código</th>
                            <th>Usuario</th>
                            <th>Nombre completo</th>
                            <th>Fecha de nacimiento</th>
                            <th>Celular</th>
                            <th>Telefono</th>
                            <th>Correo electrónico</th>
                            <th>Género</th>
                            <th>Pais</th>
                            <th>Domicilio</th>
                            <th>Registrado por:</th>
                            <th>Modificado por:</th>
                            <th>Tipo Rol</th>
                            <th>Operaciones</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-persona>
                        <tr>
                            <td>{{persona.perid}}</td>
                            <td>{{persona.perusuario}}</td>
                            <td>{{persona.pernombres}} {{persona.perapepat}} {{persona.perapemat}}</td>
                            <td>{{persona.perfecnac | date:'dd/MM/yyyy'}}</td>
                            <td>{{persona.percelular}}</td>
                            <td>{{persona.pertelefono}}</td>
                            <td>{{persona.percorreoelectronico}}</td>
                            <td>{{persona.pergenero}}</td>
                            <td>{{persona.perpais}}</td>
                            <td>{{persona.perdomicilio}}</td>
                            <td>{{persona.perusureg}}<br>{{persona.perfecreg | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                            <td>{{persona.perusumod}}<br>{{persona.perfecmod | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                            <td>
                                <p-tag [severity]="obtenerSeverity(persona.rolid)"
                                    [rounded]="true">{{persona.rolnombre}}</p-tag>
                            </td>
                            <td>
                                <div class="flex justify-content-center">
                                    <button pButton pRipple icon="pi pi-pencil"
                                        class="p-button-rounded p-button-info mr-2"
                                        (click)="modificarPersona(persona)"></button>
                                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                                        (click)="deleteProduct(rol)"></button>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>

            <p-dialog [(visible)]="personaDialog" [style]="{width: '70%', height:'75%'}" header="Registrar Nuevo Rol"
                [modal]="true" class="p-fluid">

                <ng-template pTemplate="content">
                    <!-- <div class="col-12">
                    <div class="field md-6">
                        <label for="name">Nombres</label>
                        <input type="text" pInputText id="name" [(ngModel)]="rol_nuevo.rolnombre" required autofocus
                            [ngClass]="{'ng-invalid ng-dirty': submitted && (!rol_nuevo.rolnombre || !rol_nuevo.rolnombre.trim())}" />
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && (!rol_nuevo.rolnombre || !rol_nuevo.rolnombre.trim())">
                            El nombre de rol es requerido y no puede estar vacío.
                        </small>
                    </div>
                    <div class="field">
                        <label for="name">Apellido Paterno</label>
                        <input type="text" pInputText id="name" [(ngModel)]="rol_nuevo.rolnombre" required autofocus
                            [ngClass]="{'ng-invalid ng-dirty': submitted && (!rol_nuevo.rolnombre || !rol_nuevo.rolnombre.trim())}" />
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && (!rol_nuevo.rolnombre || !rol_nuevo.rolnombre.trim())">
                            El nombre de rol es requerido y no puede estar vacío.
                        </small>
                    </div>
                </div>
                <div class="field">
                    <label for="description">Descripción</label>
                    <textarea id="description" pInputTextarea [(ngModel)]="rol_nuevo.roldescripcion" required rows="3" cols="20"
                        [ngClass]="{'ng-invalid ng-dirty': submitted && (!rol_nuevo.roldescripcion || !rol_nuevo.roldescripcion.trim())}"></textarea>
                    <small class="ng-dirty ng-invalid"
                        *ngIf="submitted && (!rol_nuevo.roldescripcion || !rol_nuevo.roldescripcion.trim())">
                        La descripción es requerida y no puede estar vacía.
                    </small>
                </div>
                <div class="formgrid grid">
                    <div class="field col-12 md:col-6">
                        <label for="firstname6">Firstname</label>
                        <input id="firstname6" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="lastname6">Lastname</label>
                        <input id="lastname6" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                    </div>
                    <div class="field col-12">
                        <label for="address">Address</label>
                        <textarea id="address" type="text" rows="4" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"></textarea>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="city">City</label>
                        <input id="city" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="state">State</label>
                        <select id="state" class="w-full text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary" style="appearance: auto">
                            <option>Arizona</option>
                            <option>California</option>
                            <option>Florida</option>
                            <option>Ohio</option>
                            <option>Washington</option>
                        </select>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="zip">Zip</label>
                        <input id="zip" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                    </div>
                </div> -->
                    <div class="grid p-fluid">
                        <div class="col-12">
                            <p-card
                                class="flex flex-column p-3 relative bg-gray-200 border-round p-4 font-bold text-gray-900">
                                <div class="card p-fluid ">
                                    <div class="grid formgrid p-fluid">
                                        <!-- <div class="col-12 mb-2 lg:col-3 lg:mb-0">
                                    <span class="p-float-label">
                                        <p-dropdown inputId="ddAno" appendTo="body" [options]="anos" [(ngModel)]="ano"></p-dropdown>
                                        <label for="ddAno">Año Liquidación</label>
                                    </span>
                                </div>
                                <div class="col-12 mb-2 lg:col-3 lg:mb-0">
                                    <span class="p-float-label">
                                        <p-dropdown inputId="ddMes" appendTo="body" [options]="meses" [(ngModel)]="idMesSelected" optionLabel="descripcionMes"></p-dropdown>
                                        <label for="ddMes">Mes Liquidación</label>
                                    </span>
                                </div> -->
                                        <div class="col-12 mb-2 lg:col-3 lg:mb-0">
                                            <span class="p-float-label">
                                                <input type="text" pInputText="pInputText"
                                                    [(ngModel)]="persona.pernombres" />
                                                <label for="ddNivel">Nombres</label>
                                            </span>
                                        </div>
                                        <div class="col-12 mb-2 lg:col-3 lg:mb-0">
                                            <span class="p-float-label">
                                                <input type="text" pInputText="pInputText"
                                                    [(ngModel)]="persona.perapepat" />
                                                <label for="ddNivel">Apellido paterno</label>
                                            </span>
                                        </div>
                                        <div class="col-12 mb-2 lg:col-3 lg:mb-0">
                                            <span class="p-float-label">
                                                <input type="text" pInputText="pInputText"
                                                    [(ngModel)]="persona.perapemat" />
                                                <label for="ddNivel">Apellido materno</label>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </p-card>
                        </div>
                    </div>

                    <div class="grid">
                        <div class="col-12 md:col-6">
                            <p-card class="flex flex-column p-3 relative bg-gray-200 border-round p-4 text-gray-900">
                                <div class="card p-fluid">
                                    <div class="grid formgrid p-fluid">
                                        <div class="col-12 mb-2 lg:col-6 lg:mb-0">
                                                <span class="p-float-label">
                                                <input type="password" pPassword="pPassword" [(ngModel)]="persona.percontrasena" [toggleMask]="true" />
                                                <label for="password">Contraseña</label>
                                                </span>
                                        </div>
                                        <div class="col-12 mb-2 lg:col-6     lg:mb-0">
                                                <span class="p-float-label">
                                                <input type="password" pPassword="pPassword" [(ngModel)]="persona.percontrasenaconfirmar" [toggleMask]="true" />
                                                <label for="password">Confimar Contraseña</label>
                                                </span>
                                        </div>
                                    </div>
                                </div>
                            </p-card>
                            <!-- <p-card class="flex flex-column p-3 relative bg-gray-200 border-round p-4 text-gray-900">
                                <div class="card p-fluid">
                                    <div class="p-formgrid grid">
                                        <div class="field col">
                                            <span class="p-float-label">
                                                <input type="number" pInputText="pInputText" [(ngModel)]="tsAno"
                                                    [disabled]="true"
                                                    style="border: 2px solid #5457cd; font-size: 16px; color: #000;" />
                                                <label for="ddGestiones">Años</label>
                                            </span>
                                        </div>
                                        <div class="field col">
                                            <span class="p-float-label">
                                                <input type="number" pInputText="pInputText" [(ngModel)]="tsMes"
                                                    [disabled]="true"
                                                    style="border: 2px solid #5457cd; font-size: 16px; color: #000;" />
                                                <label for="ddMeses">Meses</label>
                                            </span>
                                        </div>
                                        <div class="field col">
                                            <span class="p-float-label">
                                                <input type="number" pInputText="pInputText" [(ngModel)]="tsDia"
                                                    [disabled]="true"
                                                    style="border: 2px solid #5457cd; font-size: 16px; color: #000;" />
                                                <label for="ddDias">Dias</label>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </p-card> -->
                            <p-card class="flex flex-column p-3 relative bg-gray-200 border-round p-4 text-gray-900">
                                <div class="card p-fluid">
                                    <!-- <h5>Fechas</h5> -->
                                    <div class="grid formgrid p-fluid">
                                        <div class="field col">
                                            <span class="p-float-label">
                                                <p-calendar inputId="fecnac" appendTo="body" dateFormat="dd-mm-yy"
                                                    [(ngModel)]="persona.perfecnac" [showIcon]="true"></p-calendar>
                                                <label for="fecnac">Fecha de nacimiento</label>
                                            </span>
                                        </div>
                                        <!-- <div class="field col">
                                            <span class="p-float-label">
                                                <p-calendar inputId="fecFinal" appendTo="body" dateFormat="dd-mm-yy"
                                                    [(ngModel)]="fechaLiquidacion" [showIcon]="true"></p-calendar>
                                                <label for="fecFinal">Fecha de Liquidación</label>
                                            </span>
                                        </div> -->
                                    </div>
                                </div>

                            </p-card>
                        </div>


                        <div class="col-12 md:col-6">
                            <p-card class="flex flex-column p-3 relative bg-gray-200 border-round p-4 text-gray-900">
                                <div class="grid formgrid p-fluid">
                                    <!-- <h5>Horizontal</h5> -->

                                    <div class="field col-12 md:col-6">
                                        <span class="p-float-label">
                                            <input type="text" pInputText="pInputText" [(ngModel)]="dictamenJuridico" />
                                            <label for="ddNivel">Celular</label>
                                        </span>
                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <span class="p-float-label">
                                            <input type="text" pInputText="pInputText" [(ngModel)]="hojaRuta" />
                                            <label for="integeronly">Telefono</label>
                                        </span>
                                    </div>
                                    <div class="field col-12 md:col-12">
                                        <span class="p-float-label">
                                            <p-dropdown inputId="ddTipoMotivo" appendTo="body" [filter]="true"
                                                filterBy="desTipoMotivo" [options]="tipoMotivo"
                                                [(ngModel)]="tipoMotivoSelected"
                                                optionLabel="desTipoMotivo"></p-dropdown>
                                            <ng-template let-tipoMotivo="tipoMotivo" pTemplate="item">
                                                <div style="max-width: 100px;">{{tipoMotivo.desTipoMotivo}}</div>
                                            </ng-template>
                                            <label for="Motivo">Motivo</label>
                                        </span>
                                    </div>
                                    <div class="field col-12 md:col-12">
                                        <span class="p-float-label">
                                            <textarea id="float-input" rows="1" cols="15"
                                                pInputTextarea="pInputTextarea" [(ngModel)]="observaciones"></textarea>
                                            <label for="float-input">Observaciones</label>
                                        </span>
                                    </div>
                                </div>
                            </p-card>
                        </div>
                    </div>



                </ng-template>

                <ng-template pTemplate="footer">
                    <!-- <button pButton pRipple label="Registrar" icon="pi pi-check" class="p-button-rounded p-button" (click)="CrearRol(rol_nuevo.rolnombre,rol_nuevo.roldescripcion)"></button>
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-rounded p-button-danger"  (click)="hideDialog()"></button>
            -->
                    <!-- <div class="grid p-fluid my-3 px-3">
                        <div class="col-6 md:col-offset-3 md:col-2">
                            <button (click)="enviarFormulario()" pButton="pButton" pRipple="pRipple" type="button"
                                label="Registrar" class="p-button-raised p-button-success"></button>
                        </div>
                        <div class="col-6 md:col-offset-2 md:col-2">
                            <button (click)="clearData()" pButton="pButton" pRipple="pRipple" type="button"
                                label="Cancelar" class="p-button-raised p-button-danger"></button>
                        </div>
                    </div> -->
                    <div class="grid p-fluid my-3 px-3">
                    <div class="col-6 md:col-offset-4 md:col-2">
                        <button pButton pRipple label="Registrar" icon="pi pi-check" class="p-button-rounded p-button" (click)="enviarFormulario()"></button>
                    </div>
                    <div class="col-6 md:col-offset-0 md:col-1">
                        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-rounded p-button-danger"  (click)="hideDialog()"></button>
                    </div>
                </div>
                </ng-template>
            </p-dialog>


            <!-- <p-dialog [(visible)]="rolModificarDialog" [style]="{width: '450px', height:'350px'}" header="Modificar Rol" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="name">Nombre del Rol</label>
                    <input type="text" pInputText id="name" [(ngModel)]="role.rolnombre" required autofocus [ngClass]="{'ng-invalid ng-dirty' : camposVacios && !role.rolnombre}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="camposVacios && !role.rolnombre">El nombre de rol es requerido.</small>
                </div>
                <div class="field">
                    <label for="description">Descripción</label>
                    <textarea id="description" pInputTextarea [(ngModel)]="role.roldescripcion" required rows="3" cols="20"></textarea>
                    <small class="ng-dirty ng-invalid" *ngIf="camposVacios && !role.roldescripcion">La descripción es requerida.</small>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Modificar" icon="pi pi-check" class="p-button-rounded p-button" (click)="enviarFormulario(role)"></button>
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-rounded p-button-danger"  (click)="hideDialog()"></button>
            </ng-template>
        </p-dialog> -->

            <!-- <p-dialog [(visible)]="deleteProductDialog" header="Aviso: Confirmar" [modal]="true" [style]="{width:'400px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="role_eli">Estas seguro de eliminar el registro <b>{{role_eli.rolnombre}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-check" class="p-button-rounded p-button" label="Si" (click)="confirmarEliminar(role_eli)"></button>
                <button pButton pRipple icon="pi pi-times" class="p-button-rounded p-button-danger" label="No" (click)="hideDialog()"></button>
            </ng-template>
        </p-dialog> -->
        </div>
    </div>
