<div class="grid">
    <p-toast></p-toast>
    <div class="col-12">
        <div class="card">
            <p-breadcrumb class="max-w-full" [model]="items" [home]="home"></p-breadcrumb>
            <h3>Persona</h3>
            <p>Administrar registros de personas</p>
            <hr>
            <p-table
                [loading]="loading"
                #dt
                dataKey="perid"
                [value]="personas"
                [rows]="5"
                [paginator]="true"
                [rowsPerPageOptions]="[5,10,20,30,50,100]"
                [globalFilterFields]="['perapepat', 'perapemat', 'pernombres', 'pernrodoc', 'generonombre']"
                responsiveLayout="stack"
                styleClass="p-datatable-striped p-datatable-sm"
                [breakpoint]="'960px'"
                [tableStyle]="{'min-width': '50rem'}"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} entradas"
                [rowHover]="true"
            >
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <div class="flex justify-content-center">
                            <button pButton pRipple label="Nuevo" icon="pi pi-user-plus" class="p-button-primary mr-2" (click)="NuevoPersona()" pTooltip="Registrar persona" tooltipPosition="top"></button>
                            <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success mr-2" pTooltip="XLS" tooltipPosition="top"></button>
                            <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-danger mr-2" pTooltip="PDF" tooltipPosition="top"></button>
                        </div>

                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..." class="w-full sm:w-auto" pTooltip="Buscar por nombre completo, número de documento y genero" tooltipPosition="top" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th pSortableColumn="perapepat">Paterno<p-sortIcon field="perapepat"></p-sortIcon></th>
                        <th pSortableColumn="perapemat">Materno<p-sortIcon field="perapemat"></p-sortIcon></th>
                        <th pSortableColumn="pernombres">Nombres<p-sortIcon field="pernombres"></p-sortIcon></th>
                        <th pSortableColumn="pernrodoc">Documento<p-sortIcon field="pernrodoc"></p-sortIcon></th>
                        <th pSortableColumn="perfecnac">Nacimiento<p-sortIcon field="perfecnac"></p-sortIcon></th>
                        <th pSortableColumn="pergenero">Genero<p-sortIcon field="pergenero"></p-sortIcon></th>
                        <th pSortableColumn="perfecreg">Registrado<p-sortIcon field="perfecreg"></p-sortIcon></th>
                        <th pSortableColumn="perfecmod">Modificado<p-sortIcon field="perfecmod"></p-sortIcon></th>
                        <th pSortableColumn="perestado">Estado<p-sortIcon field="perestado"></p-sortIcon></th>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th><input pInputText type="text" (input)="dt.filter($event.target.value, 'perapepat', 'contains')" [value]="dt.filters['perapepat']?.value" class="w-full"></th>
                        <th><input pInputText type="text" (input)="dt.filter($event.target.value, 'perapemat', 'contains')" [value]="dt.filters['perapemat']?.value" class="w-full"></th>
                        <th><input pInputText type="text" (input)="dt.filter($event.target.value, 'pernombres', 'contains')" [value]="dt.filters['pernombres']?.value" class="w-full"></th>
                        <th><input pInputText type="text" (input)="dt.filter($event.target.value, 'pernrodoc', 'contains')" [value]="dt.filters['pernrodoc']?.value" class="w-full"></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-persona let-expanded="expanded" let-rowIndex="rowIndex">
                    <tr>
                        <td> <button type="button" pButton pRipple [pRowToggler]="persona" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" pTooltip="Mostrar más información de la persona" tooltipPosition="top"></button> </td>
                        <td>
                            <div class="flex justify-content-center">
                                <button *ngIf="persona.perestado == 1" pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-primary mr-2" (click)="modificarPersona(persona)" pTooltip="Modificar Persona" tooltipPosition="top"></button>
                                <button *ngIf="persona.perestado == 1" pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-help mr-2" (click)="showPerson(persona)" pTooltip="Mostrar Persona" tooltipPosition="top"></button>
                                <!-- <button *ngIf="persona.perestado == 1" pButton pRipple icon="pi pi-lock" class="p-button-rounded p-button-danger" (click)="confirmarEliminar(persona)" pTooltip="Desactivar Persona" tooltipPosition="top"></button> -->
                                <button *ngIf="persona.perestado == 1" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="confirmarEliminar(persona)" pTooltip="Eliminar Persona" tooltipPosition="top"></button>
                                <button *ngIf="persona.perestado == 0" pButton pRipple icon="pi pi-lock-open" class="p-button-rounded p-button-success" (click)="confirmarActivar(persona)" pTooltip="Activar Persona" tooltipPosition="top"></button>
                            </div>
                        </td>
                        <td>
                            <div *ngIf="persona.perfoto == null"> <p-avatar image="../../../../../assets/images/login/sin_foto_perfil.png" styleClass="mr-2" size="xlarge" shape="circle"></p-avatar> </div>
                            <div *ngIf="persona.perfoto != null"> <p-avatar image="{{ apiUrl }}/{{ persona.perfoto }}" styleClass="mr-2" size="xlarge" shape="circle"></p-avatar> </div>
                        </td>
                        <td> <ng-container *ngIf="persona.perapepat; else noRegistro"> {{persona.perapepat}} </ng-container> </td>
                        <td> <ng-container *ngIf="persona.perapemat; else noRegistro"> {{persona.perapemat}} </ng-container> </td>
                        <td> <ng-container *ngIf="persona.pernombres; else noRegistro"> {{persona.pernombres}} </ng-container> </td>
                        <td> <ng-container *ngIf="persona.pernrodoc; else noRegistro"> {{persona.pernrodoc}} </ng-container> </td>
                        <td> <ng-container *ngIf="persona.perfecnac; else noRegistro"> {{persona.perfecnac }} </ng-container> </td>
                        <td> <ng-container *ngIf="persona.pergenero; else noRegistro"> {{persona.generonombre}} </ng-container> </td>

                        <td>
                            {{ persona.perusureg }} <br>
                            {{ persona.perfecreg | date: 'd MMMM, y' }} <br>
                            {{ persona.perfecreg | date: 'h:mm:ss a' }}
                        </td>
                        <td>
                            {{ persona.perusumod}} <br>
                            {{ persona.perfecmod | date: 'd MMMM, y' }} <br>
                            {{ persona.perfecmod | date: 'h:mm:ss a' }}
                        </td>
                        <td> <p-tag [value]="obtenerDescripcionEstado(persona.perestado)" [severity]="obtenerSeverityEstado(persona.perestado)" [rounded]="true"></p-tag></td>
                        <ng-template #noRegistro> <p-chip> <div class="p-2">...</div> </p-chip> </ng-template>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                    <td colspan="13">No se encontró ningún registro.</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-persona>
                    <tr>
                        <td></td>
                        <td></td>
                        <td colspan="13">
                            <p-table
                                [value]="persona.datos"
                                dataKey="percod"
                                responsiveLayout="stack"
                                [breakpoint]="'960px'"
                                [tableStyle]="{'min-width': '50rem'}"
                            >
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Domicilio</th>
                                        <th>Correo Electrónico</th>
                                        <th>Número de Celular</th>
                                        <th>Número de Teléfono</th>
                                        <th>Estado Civil</th>
                                        <th>País</th>
                                        <th>Ciudad</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-datos>
                                    <tr>
                                        <td> <ng-container *ngIf="datos.perdirec; else noRegistro"> {{ datos.perdirec }} </ng-container> </td>
                                        <td> <ng-container *ngIf="datos.peremail; else noRegistro"> {{ datos.peremail }} </ng-container> </td>
                                        <td> <ng-container *ngIf="datos.percelular; else noRegistro"> {{ datos.percelular }} </ng-container> </td>
                                        <td> <ng-container *ngIf="datos.pertelefono; else noRegistro"> {{ datos.pertelefono }} </ng-container> </td>
                                        <td> <ng-container *ngIf="datos.estadocivilnombre; else noRegistro"> {{ datos.estadocivilnombre }} </ng-container> </td>
                                        <td> <ng-container *ngIf="datos.paisnombre; else noRegistro"> {{ datos.paisnombre }} </ng-container> </td>
                                        <td> <ng-container *ngIf="datos.ciudadnombre; else noRegistro"> {{ datos.ciudadnombre }} </ng-container> </td>
                                    </tr>
                                </ng-template>
                                <ng-template #noRegistro> <p-chip> <div class="p-2">...</div> </p-chip> </ng-template>
                            </p-table>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<p-dialog
    [(visible)]="personaNuevoDialog"
    header="Formulario Persona"
    [modal]="true"
    class="p-fluid"
    [breakpoints]="{ '960px': '75vw' }"
    [style]="{ width: '50vw' }"
    [draggable]="false"
    [resizable]="false"
    [maximizable]="true"
>
<form [formGroup]="personaForm" novalidate>
        <div class="grid p-fluid mt-3">
            <div class="col-12">
                <p-card header="Datos personales" subheader="Debera ingresar todos los requeridos (*)." [style]="{ width: '100%' }">
                    <div class="col-12">
                        <div class="field">
                            <label for="apellidoPaterno">Apellido Paterno</label>
                            <input
                                type="text"
                                id="apellidoPaterno"
                                class="my-2"
                                pInputText
                                formControlName="perapepat"
                                [ngClass]="{ 'ng-dirty': this.personaForm.get('perapepat').touched, 'valid-field': this.personaForm.get('perapepat').valid}"
                            >
                            <small class="p-error block" *ngIf="personaForm.get('perapepat').invalid && personaForm.get('perapepat').dirty">
                                <span *ngIf="personaForm.get('perapepat').errors?.required">El apellido paterno es requerido.</span> (*)
                            </small>
                            <small class="p-success block" *ngIf="personaForm.get('perapepat')?.valid"> El apellido es valido. </small>
                        </div>

                        <div class="field">
                            <label for="apellidoMaterno">Apellido Materno</label>
                            <input type="text" class="my-2" id="apellidoMaterno" pInputText formControlName="perapemat">
                        </div>

                        <div class="field">
                            <label for="nombres">Nombres</label>
                            <input
                                type="text"
                                class="my-2"
                                id="nombres"
                                pInputText
                                formControlName="pernombres"
                                [ngClass]="{ 'ng-dirty': this.personaForm.get('pernombres').touched, 'valid-field': this.personaForm.get('pernombres').valid}"
                            >
                            <small class="p-error block" *ngIf="personaForm.get('pernombres').invalid && personaForm.get('pernombres').dirty">
                                <span *ngIf="personaForm.get('pernombres').errors?.required">El/los nombre(s) es requerido.</span> (*)
                            </small>
                            <small class="p-success block" *ngIf="personaForm.get('pernombres')?.valid"> El/los nombre(s) es valido. </small>
                        </div>

                        <div class="field">
                            <label for="tipoDocumento">Tipo Documento</label>
                            <p-dropdown
                                class="my-2"
                                id="tipoDocumento"
                                [autoDisplayFirst]="false"
                                appendTo="body"
                                [options]="TipoDocumento"
                                formControlName="tipoDocumento"
                                optionLabel="tipodocnombre"
                                [ngClass]="{ 'valid-field': this.personaForm.get('tipoDocumento').valid}"
                            ></p-dropdown>
                            <small class="p-success block" *ngIf="personaForm.get('tipoDocumento').valid">
                                El tipo de documento es valido.
                            </small>
                            <small class="p-error block" *ngIf="personaForm.get('tipoDocumento').invalid && personaForm.get('tipoDocumento').touched">
                                <span *ngIf="personaForm.get('tipoDocumento').errors?.required">El tipo de documento es requerido.</span> (*)
                            </small>
                        </div>

                        <div class="field">
                            <label for="numeroDocumento">Número Documento</label>
                            <input
                                type="text"
                                class="my-2"
                                id="numeroDocumento"
                                pInputText
                                formControlName="pernrodoc"
                                [ngClass]="{ 'ng-dirty': personaForm.get('pernrodoc').touched, 'valid-field': personaForm.get('pernrodoc').valid}">
                            <small class="p-error block" *ngIf="personaForm.get('pernrodoc').invalid && personaForm.get('pernrodoc').dirty">
                                <span *ngIf="personaForm.get('pernrodoc').errors?.required">El número de documento es requerido. (*)</span>
                                <span *ngIf="personaForm.get('pernrodoc').errors?.documentoExistente">Este número de documento ya existe.</span>
                            </small>
                            <small class="p-success block" *ngIf="personaForm.get('pernrodoc')?.valid"> El número de documento es válido. </small>
                        </div>

                        <div class="field">
                            <label for="fechaNacimiento">Fecha de nacimiento</label>
                            <p-calendar
                                id="fechaNacimiento"
                                class="my-2"
                                appendTo="body"
                                dateFormat="yy-mm-dd"
                                formControlName="perfecnac"
                                [ngClass]="{ 'ng-dirty': personaForm.get('perfecnac').touched, 'valid-field': personaForm.get('perfecnac').valid }"
                            ></p-calendar>
                            <small class="p-error block" *ngIf="personaForm.get('perfecnac').invalid && personaForm.get('perfecnac').dirty">
                                <span *ngIf="personaForm.get('perfecnac').errors?.required">La fecha de nacimiento es requerida. (*)</span>
                                <span *ngIf="personaForm.get('perfecnac').errors?.edadMinima">La fecha de nacimiento no es válida, la persona debe ser mayor de 15 años. </span>
                            </small>
                            <small class="p-success block" *ngIf="personaForm.get('perfecnac')?.valid"> La fecha de nacimiento es válida. </small>
                        </div>
                    </div>
                </p-card>

                <p-card header="Datos secundarios" subheader="Debera ingresar todos los requeridos (*)." [style]="{ width: '100%' }">
                    <div class="col-12">
                        <div class="field">
                            <!-- <label for="numeroCelular">Número de Celular</label>
                            <input
                                type="text"
                                class="my-2"
                                id="numeroCelular"
                                pInputText
                                formControlName="percelular"
                                [ngClass]="{ 'ng-dirty': this.personaForm.get('percelular').touched, 'valid-field': this.personaForm.get('percelular').valid}"
                            > -->

                            <span class="font-bold block mb-2">Número de Celular</span>
                            <p-inputMask mask="+999 99999999" formControlName="percelular" placeholder="+591 77777777"></p-inputMask>

                            <small class="p-error block" *ngIf="personaForm.get('percelular').invalid && personaForm.get('percelular').dirty">
                                <span *ngIf="personaForm.get('percelular').errors?.required">El número de celular es requerido.</span> (*)
                            </small>
                            <small class="p-success block" *ngIf="personaForm.get('percelular')?.valid"> El número de celular es valido. </small>
                        </div>

                        <div class="field">
                            <label for="numeroTelefono">Número de Teléfono</label>
                            <input class="my-2" type="text" id="numeroTelefono" pInputText formControlName="pertelefono">
                        </div>

                        <div class="field">
                            <label for="correoElectronico">Correo Electrónico</label>
                            <input
                                class="my-2"
                                type="text"
                                id="correoElectronico"
                                pInputText
                                formControlName="peremail"
                                [ngClass]="{ 'ng-dirty': this.personaForm.get('peremail').touched, 'valid-field': this.personaForm.get('peremail').valid}"
                            >
                            <small class="p-error block" *ngIf="personaForm.get('peremail').invalid && personaForm.get('peremail').dirty">
                                <span *ngIf="personaForm.get('peremail').errors?.required">El correo electrónico es requerido. (*)</span>
                                <span *ngIf="personaForm.get('peremail').errors?.pattern">El formato del correo electrónico es inválido. </span>
                            </small>
                            <small class="p-success block" *ngIf="personaForm.get('peremail')?.valid"> El correo electrónico es válido.</small>
                        </div>

                        <div class="field">
                            <label for="tipoGenero">Tipo Género</label>
                            <p-dropdown
                                class="my-2"
                                id="tipoGenero"
                                [autoDisplayFirst]="false"
                                appendTo="body"
                                [options]="TipoGenero"
                                formControlName="tipoGenero"
                                optionLabel="generonombre"
                                [ngClass]="{ 'valid-field': this.personaForm.get('tipoGenero').valid}"
                            ></p-dropdown>
                            <small class="p-success block" *ngIf="personaForm.get('tipoGenero').valid"> El tipo de genero es valido. </small>
                            <small class="p-error block" *ngIf="personaForm.get('tipoGenero').invalid && personaForm.get('tipoGenero').touched">
                                <span *ngIf="personaForm.get('tipoGenero').errors?.required">El tipo de genero es requerido.</span> (*)
                            </small>
                        </div>

                        <div class="field">
                            <label for="tipoPais">Pais</label>
                            <p-dropdown
                                class="my-2"
                                id="tipoPais"
                                [autoDisplayFirst]="false"
                                (onChange)="onChangeTipoPais($event)"
                                appendTo="body"
                                [options]="TipoPais"
                                formControlName="tipoPais"
                                optionLabel="paisnombre"
                                [filter]="true"
                                filterBy="paisnombre"
                                [ngClass]="{ 'valid-field': this.personaForm.get('tipoPais').valid}"
                            ></p-dropdown>
                            <small class="p-success block" *ngIf="personaForm.get('tipoPais').valid"> El Pais es valido. </small>
                            <small class="p-error block" *ngIf="personaForm.get('tipoPais').invalid && personaForm.get('tipoPais').touched">
                                <span *ngIf="personaForm.get('tipoPais').errors?.required">El Pais es requerido.</span> (*)
                            </small>
                        </div>

                        <div class="field">
                            <label for="tipoCiudad">Ciudad</label>
                            <p-dropdown
                                class="my-2"
                                id="tipoCiudad"
                                [autoDisplayFirst]="false"
                                appendTo="body"
                                [options]="TipoCiudad"
                                formControlName="tipoCiudad"
                                optionLabel="ciudadnombre"
                                [ngClass]="{ 'valid-field': this.personaForm.get('tipoCiudad').valid}"
                            ></p-dropdown>
                            <small class="p-success block" *ngIf="personaForm.get('tipoCiudad').valid"> La ciudad es valido. </small>
                            <small class="p-error block" *ngIf="personaForm.get('tipoCiudad').invalid && personaForm.get('tipoCiudad').touched">
                                <span *ngIf="personaForm.get('tipoCiudad').errors?.required">La ciudad es requerido.</span> (*)
                            </small>
                        </div>

                        <div class="field">
                            <label for="tipoEstadoCivil">Estado Civil</label>
                            <p-dropdown class="my-2" id="tipoEstadoCivil" [autoDisplayFirst]="false" appendTo="body" [options]="TipoEstadoCivil" formControlName="tipoEstadoCivil" optionLabel="estadocivilnombre" [ngClass]="{ 'valid-field': this.personaForm.get('tipoEstadoCivil').valid}"></p-dropdown>
                            <small class="p-success block" *ngIf="personaForm.get('tipoEstadoCivil').valid"> El estado civil es valido. </small>
                            <small class="p-error block" *ngIf="personaForm.get('tipoEstadoCivil').invalid && personaForm.get('tipoEstadoCivil').touched">
                                <span *ngIf="personaForm.get('tipoEstadoCivil').errors?.required">El estado civil es requerido.</span> (*)
                            </small>
                        </div>

                        <div class="field">
                            <label for="textarea">Dirección de Domicilio</label>
                                <textarea class="my-2" inputId="textarea" rows="2" cols="30" formControlName="perdirec" appendTo="body" pInputTextarea [ngClass]="{ 'ng-dirty': this.personaForm.get('perdirec').touched, 'valid-field': this.personaForm.get('perdirec').valid}"></textarea>
                            <small class="p-error block" *ngIf="personaForm.get('perdirec').invalid && personaForm.get('perdirec').dirty">
                                <span *ngIf="personaForm.get('perdirec').errors?.required">La dirección de domicilio es requerido.</span> (*)
                            </small>
                            <small class="p-success block" *ngIf="personaForm.get('perdirec')?.valid"> La dirección es valida. </small>
                        </div>
                    </div>
                </p-card>

                <p-card header="Estado" subheader="Esta sección representa el estado del registro" [style]="{ width: '100%' }">
                    <div class="col-12">
                        <div class="field">
                            <label for="textarea">Observación</label>
                                <textarea
                                    class="my-2"
                                    inputId="textarea"
                                    rows="2" cols="30"
                                    formControlName="perobservacion"
                                    appendTo="body"
                                    pInputTextarea
                                ></textarea>
                        </div>

                        <div class="field">
                            <label for="">Estado</label>
                            <div class="flex align-items-center justify-content-center">
                                <p-selectButton [options]="stateOptionsEstado" formControlName="perestado" optionLabel="label" optionValue="value"></p-selectButton>
                            </div>
                        </div>
                    </div>
                </p-card>
                <p-card header="Foto de perfil" subheader="Debera seleccionar una imagen jpg, jpeg, png" [style]="{ width: '100%' }">
                    <div class="col-12">
                        <div class="field col-12" *ngIf="personaForm.valid">
                            <p-fileUpload mode="basic" chooseLabel="Seleccinar Imagen" name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php" accept="image/*" maxFileSize="3000000" (onSelect)="onUpload($event)" [auto]="true"></p-fileUpload>
                        </div>
                        <div class="field">
                            <div class="flex justify-content-center">

                                <div class="flex justify-content-center">
                                    <div *ngIf="personaForm.value.perfoto">
                                        <p-image
                                            src="{{apiUrl}}/{{personaForm.value.perfoto}}"
                                            alt="Image"
                                            width="150"
                                            height="150"
                                            [preview]="true"
                                            [imageStyle]="{'border-radius': '50%', 'object-fit': 'cover'}"
                                        ></p-image>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </p-card>
            </div>
        </div>
    </form>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="ocultarDialog()"></button>
        <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" [formNoValidate]="personaForm.valid" (click)="enviarFormulario()"></button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="eliminarPersonaDialog" header="Confirmar" [modal]="true">
    <div class="flex align-items-center justify-content-center"> <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i> <span *ngIf="persona">Esta seguro de eliminar a la persona: <b> {{persona.pernomcompleto}}</b>?</span> </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="eliminarPersonaDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Si" (click)="eliminarPersona()"></button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="activarPersonaDialog" header="Confirmar" [modal]="true">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-check" style="font-size: 2rem"></i>
        <span *ngIf="persona">Esta seguro de activar a la persona: <b> {{persona.pernomcompleto}} </b>?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="activarPersonaDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Si" (click)="activarPersona()"></button>
    </ng-template>
</p-dialog>

<p-sidebar [(visible)]="showDialogPersona" styleClass="w-30rem" position="right">
    <ng-template pTemplate="header">Datos personales</ng-template>
    <ng-template pTemplate="content">
        <p-card header="{{persona.pernomcompleto}}" subheader="Nombre Completo" [style]="{ width: '100%' }">
            <ng-template pTemplate="header">
                <div class="flex justify-content-center">
                    <p-image
                        src="{{apiUrl}}/{{persona.perfoto}}"
                        alt="Image"
                        width="150"
                        height="150"
                        [preview]="true"
                        [imageStyle]="{'border-radius': '50%', 'object-fit': 'cover'}">
                    </p-image>
                </div>
            </ng-template>
                <p>
                    <strong>Tipo Documento:</strong> {{persona.tipodocnombre}} <br>
                    <strong>Número de documento:</strong> {{persona.pernrodoc}} <br>
                    <strong>Correo electrónico:</strong> {{persona.datos[0].peremail}} <br>
                    <strong>Fecha de nacimiento:</strong> {{persona.perfecnac}} <br>
                    <strong>Género:</strong> {{persona.generonombre}}
                </p>
                <p-divider align="left">
                    <div class="inline-flex align-items-center">
                        <i class="pi pi-user mr-2"></i>
                        <b> </b>
                    </div>
                </p-divider>
                <p>
                    <strong>Dirección:</strong> {{persona.datos[0].perdirec}} <br>
                    <strong>Telefono:</strong> {{persona.datos[0].pertelefono}} <br>
                    <strong>Celular:</strong> {{persona.datos[0].percelular}} <br>
                    <strong>Estado civil:</strong> {{persona.datos[0].estadocivilnombre}}
                </p>
                <p-divider align="center">
                    <span class="p-tag">Nacionalidad</span>
                </p-divider>
                <p>
                    <strong>Pais:</strong> {{persona.datos[0].paisnombre}} <br>
                    <strong>Ciudad:</strong> {{persona.datos[0].ciudadnombre}}
                </p>
                <p-divider align="left">
                    <div class="inline-flex align-items-center">
                        <i class="pi pi-book mr-2"></i>
                        <b> Datos de registro </b>
                    </div>
                </p-divider>
                <p>
                    <strong>Registrado:</strong>
                    {{ persona.perusureg }} <br>
                    {{ persona.perfecreg | date: 'd MMMM, y' }}
                    {{ persona.perfecreg | date: 'h:mm:ss a' }}
                    <br>
                    <strong>Modificado:</strong>
                    {{ persona.perusumod}} <br>
                    {{ persona.perfecmod | date: 'd MMMM, y' }}
                    {{ persona.perfecmod | date: 'h:mm:ss a' }}
                    <br>
                    Estado: <p-tag [value]="obtenerDescripcionEstado(persona.perestado)" [severity]="obtenerSeverityEstado(persona.perestado)" [rounded]="true"></p-tag>
                </p>
            <ng-template pTemplate="footer">
                <p-button (click)="showDialogPersona = false" icon="pi pi-arrow-left"></p-button>
            </ng-template>
        </p-card>
    </ng-template>
</p-sidebar>

