<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img src="assets/layout/images/logo.jpg" alt="logo" class="topbar-logo">
        <span class="topbar-title">
            <strong>VRobotPhyio</strong>
        </span>
    </a>

    <button #menubutton class="p-button p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>
    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
    </div>

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">

        <div class=" flex justify-content-center">

            <div class="flex align-items-center gap-2 flex-wrap">
                    <div class="text-left" style="display: flex; flex-direction: column; align-items: center;">
                        <div class="flex align-items-center gap-2">
                            <h5>Hola, <strong>{{usuario.username ? usuario.username : 'Bienvenido'}}</strong> </h5>
                        </div>
                    </div>
            </div>
</div>


