<!-- <p-toast></p-toast> -->
<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img src="assets/layout/images/logo_ibci.png" alt="logo" class="topbar-logo">
        <span class="topbar-title">
            <strong>SSGA</strong> Bolivia
            <img src="assets/layout/images/flag-bolivia.png" alt="flag-bolivia" class="topbar-flag">
        </span>
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
        <!-- <i class="fa-solid fa-book-bible"></i> -->
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>
    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
    </div>

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">

        <div class=" flex justify-content-center">

            <div class="flex align-items-center gap-2 flex-wrap">
                    <div class="text-left" style="display: flex; flex-direction: column; align-items: center;">
                        <div *ngIf="usuario.perfoto == null" class="user-display">
                                <div class="flex align-items-center gap-2">
                                    <p-avatar image="../../../../../assets/images/login/sin_foto_perfil.png" styleClass="mr-2" size="large" shape="circle"></p-avatar>
                                    <h5>Hola, <strong>{{usuario.usuname}}</strong> </h5>
                                </div>
                        </div>
                        <div *ngIf="usuario.perfoto != null" class="user-display">
                                <div class="flex align-items-center gap-2">
                                    <p-avatar image="{{ userProfilePhoto }}/{{ usuario.perfoto }}" styleClass="mr-2" size="large" shape="circle"></p-avatar>

                                    <h5>Hola, <strong>{{usuario.usuname}}</strong> </h5>
                                </div>
                        </div>
                    </div>
                    <!-- <button  class="p-link layout-menu-button layout-topbar-button" (click)="this.logout()" pTooltip="Salir" tooltipPosition="bottom">
                        <i class="pi pi-sign-out"> </i>
                    </button> -->

                    <!-- <p-confirmDialog></p-confirmDialog> -->

                    <!-- <p-button (click)="confirm2()" icon="pi pi-times" label="Delete" class="p-button-danger"></p-button> -->
                <!-- <button class="p-link layout-topbar-button"  (click)="menu.toggle($event)"> <i class="pi pi-user"></i> </button>
                <p-tieredMenu #menu [model]="modelOption" [popup]="true" appendTo="body" class="ui-tieredmenu" ></p-tieredMenu> -->
            </div>

</div>


