<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img src="assets/layout/images/logo_ibci.png" alt="logo">
        <h5>S.S.G.A | Sistema Seguimiento y Gestión Academico</h5>
        <!-- <span>IBCI</span> -->
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>
    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">


        <!-- <button class="p-link layout-topbar-button">
            <i class="pi pi-calendar"></i>
            <span>Calendar</span>
        </button>
        <button class="p-link layout-topbar-button">
            <i class="pi pi-user"></i>
            <span>Profile</span>
        </button> -->
    </div>

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">




        <div class=" flex justify-content-center">
            <!-- <div class="avatar-container" [style]="{'display': 'flex','align-items': 'center'}">
                <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/onyamalimba.png" styleClass="mr-2" size="large" shape="circle"></p-avatar>
                <h5>Usuario</h5>
            </div> -->

            <div class="flex align-items-center gap-2 flex-wrap">
                <!-- <p-chip image="https://primefaces.org/cdn/primeng/images/demo/avatar/onyamalimba.png"> -->
            <div>
                <p-chip>
                    <p>Rol: {{usuario.rolnombre}}</p>
                </p-chip>
                <p-chip>
                    <p>Usuario: {{usuario.usuname}}</p>
                </p-chip>
            </div>
            </div>

            <!-- <button class="p-link layout-topbar-button" [routerLink]="'/documentation'">
                <i class="pi pi-cog"></i>
                <span>Opciones</span>
            </button> -->
            <!-- <button #btn type="button" pButton icon="pi pi-bars" label="Show" (click)="menu.toggle($event)"></button> -->
            <button class="p-link layout-topbar-button" (click)="menu.toggle($event)"> <i class="pi pi-user"></i> </button>

            <!-- <p-tieredMenu #menu [model]="modelOption" [popup]="true"></p-tieredMenu> -->
            <p-tieredMenu #menu [model]="modelOption" [popup]="true" appendTo="body" class="ui-tieredmenu" ></p-tieredMenu>


            <button class="p-link layout-topbar-button" (click)="onConfigButtonClick()"> <i class="pi pi-cog"></i> </button>

        </div>
    </div>
</div>
