
<p-toast></p-toast>

        <p-card>
            <p-breadcrumb class="max-w-full" [model]="items" [home]="home" ></p-breadcrumb>
            <h3>Materia</h3>
            <p>Administrar registros de materias:</p>
            <p-table
                [loading]="loading"
                #dt [value]="listaMaterias"
                responsiveLayout="scroll"
                [paginator]="true"
                [globalFilterFields]="['matnombre', 'matnivel']"
                responsiveLayout="stack"
                [rows]="30"
                [paginator]="true"
                [rowsPerPageOptions]="[10,20,30,50,100]"
                sortMode="single"
                [columns]="selectedColumns"
                [rowHover]="true"
                dataKey="id"
                [breakpoint]="'960px'"
                [tableStyle]="{ 'min-width': '50rem' }"
                styleClass="p-datatable-striped p-datatable-sm"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} entradas"
                rowGroupMode="subheader"
                >

                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <div>
                            <button pButton pRipple label="Nuevo" icon="pi pi-plus-circle" class="p-button-primary mr-2" (click)="abrirNuevo()" pTooltip="Crear materia" tooltipPosition="top"></button>
                            <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success mr-2" pTooltip="Reporte XLS" tooltipPosition="top"></button>
                            <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-danger mr-2" pTooltip="Reporte PDF" tooltipPosition="top"></button>
                        </div>
                        <div class="flex mt-1 justify-content-center">
                            <p-multiSelect [options]="colsColumsTable" [(ngModel)]="selectedColumns" optionLabel="header" selectedItemsLabel="{0} columnas selecionadas" [style]="{ 'min-width': '200px' }" placeholder="Elige la/s columna/s" > </p-multiSelect>
                        </div>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."
                                class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>

                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th>#</th>
                        <th>Acciones</th>
                        <th *ngFor="let col of columns" pSortableColumn="{{ col.field }}">
                            <ng-container [ngSwitch]="col.field">
                                <ng-container *ngSwitchDefault> {{ col.header }} <p-sortIcon field="{{ col.field }}"></p-sortIcon> </ng-container>
                            </ng-container>
                        </th>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th *ngFor="let col of columns">
                            <ng-container [ngSwitch]="col.field">
                                <ng-container *ngSwitchCase="'matnivel'">
                                    <p-columnFilter field="matnivel" matchMode="equals" [showMenu]="false">
                                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                            <p-dropdown appendTo="body" [ngModel]="value" [options]="tipoModuloOptions" (onChange)="filter($event.value)" placeholder="Elegir" [showClear]="true" [filter]="true" filterBy="value">
                                            </p-dropdown>
                                        </ng-template>
                                    </p-columnFilter>
                                </ng-container>
                                <ng-container ng-container *ngSwitchCase="'matestado'" >
                                    <p-columnFilter field="matestado" matchMode="equals" [showMenu]="false" >
                                        <ng-template pTemplate="filter" let-value let-filter="filterCallback" >
                                            <p-dropdown [ngModel]="value" [options]="statusOptions" (onChange)="filter($event.value)" placeholder="Elegir" [showClear]="true">
                                                <ng-template let-option pTemplate="item" >
                                                    <p-tag [value]="getDescriptionStatus(option.value)" [severity]=" getSeverityStatus(option.value)"></p-tag>
                                                </ng-template>
                                            </p-dropdown>
                                        </ng-template>
                                    </p-columnFilter>
                                </ng-container>
                                <ng-container *ngSwitchDefault>
                                    <p-columnFilter type="text" field="{{ col.field }}" ></p-columnFilter>
                                </ng-container>
                            </ng-container>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-materia let-rowIndex="rowIndex" let-columns="columns">
                    <tr>
                        <td> {{ rowIndex + 1 }} </td>
                        <td>
                            <div class="flex">
                                <button *ngIf="materia.matestado != 0" pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-outlined p-button-primary mr-2" pTooltip="Modificar materia" tooltipPosition="top" (click)="editarMateria(materia)"></button>
                                <button *ngIf="materia.matestado != 0" pButton pRipple icon="fa-solid fa-eye-slash" class="p-button-rounded p-button-outlined p-button-danger" pTooltip="Desactivar materia" tooltipPosition="top" (click)="desactivarMateria(materia)"></button>
                                <button *ngIf="materia.matestado === 0" pButton pRipple icon="fa-solid fa-eye" class="p-button-rounded p-button-outlined p-button-success mr-2" pTooltip="Activar materia" tooltipPosition="top" (click)="activarMateria(materia)"></button>
                            </div>
                        </td>
                        <td *ngFor="let col of columns">
                            <ng-container [ngSwitch]="col.field">
                                <ng-container *ngSwitchCase="'matestado'">
                                    <div class="text-center">
                                        <p-tag [value]="getDescriptionStatus(materia[col.field])" [severity]="getSeverityStatus(materia[col.field])" [rounded]="true"></p-tag>
                                    </div>
                                </ng-container>
                                <ng-container *ngSwitchCase="'matusureg'">
                                    <p-chip  pTooltip="{{ materia.matfecreg | date : 'd MMMM, y h:mm:ss a' }}" tooltipPosition="top"> <div class="p-2"> {{ materia.matusureg }} </div> </p-chip>
                                </ng-container>
                                <ng-container *ngSwitchCase="'matusumod'">
                                    <p-chip pTooltip="{{ materia.matfecmod | date : 'd MMMM, y h:mm:ss a' }}" tooltipPosition="top"> <div class="p-2"> {{ materia.matusumod }} </div> </p-chip>
                                </ng-container>
                                <ng-container *ngSwitchCase="'matnivel'">
                                    <div class="text-center">
                                        <p-tag [severity]="getSeverity(materia.matdesnivel)" [rounded]="true" [rounded]="true">
                                            {{materia.matdesnivel}}
                                        </p-tag>
                                    </div>
                                </ng-container>
                                <ng-container *ngSwitchDefault>
                                    {{ materia[col.field] }}
                                </ng-container>
                            </ng-container>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="9">No se encontró las información solicitada.</td>
                    </tr>
                </ng-template>
            </p-table>
        </p-card>

<!-- <p-dialog [(visible)]="materiaDialog" header="Materia" [modal]="true" class="p-fluid" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '30vw' }" [draggable]="false" [resizable]="false" [maximizable]="true" > -->
<p-sidebar [(visible)]="materiaDialog" styleClass="w-30rem" position="left" blockScroll="true">
    <ng-template pTemplate="header"><label class="font-bold block mb-2" for="materia">Materia</label></ng-template>
    <form [formGroup]="materiaForm" novalidate>
        <div class="grid p-fluid">
            <div class="col-12">
                <label class="font-bold block text-base mb-2" for="curnombre">Nombre de la materia</label>
                <input type="text" pInputText id="matnombre" formControlName="mf_matnombre" required [ngClass]="{ 'ng-dirty': this.materiaForm.get('mf_matnombre').touched, 'valid-field': this.materiaForm.get('mf_matnombre').valid}" placeholder="Ingrese el nombre de materia" class="mb-1"/>
                    <small class="p-error block" *ngIf="materiaForm.get('mf_matnombre').invalid && materiaForm.get('mf_matnombre').dirty">
                        <!-- Mensaje si el nombre de usuario ya existe (validador asincrónico por ejemplo) -->
                        <span *ngIf="materiaForm.get('mf_matnombre').errors?.nombreMateriaExiste">
                            Este nombre de la materia ya existe.
                        </span>
                        <!-- Mensaje si el campo es obligatorio -->
                        <span *ngIf="materiaForm.get('mf_matnombre').errors?.required">
                            El nombre de la materia es requerido. (*)
                        </span>
                        <!-- Mensaje si la longitud mínima no se cumple -->
                        <span *ngIf="materiaForm.get('mf_matnombre').errors?.minlength">
                            El nombre de la materia debe tener al menos 5 caracteres.
                        </span>
                    </small>
                    <small class="p-success block" *ngIf="materiaForm.get('mf_matnombre')?.valid"> El nombre de la materia es valido. </small>
            </div>
            <div class="col-12">
                <label class="font-bold block text-base mb-2" for="descripcion">Descripción de la Materia</label>
                <textarea id="descripcion" pInputTextarea formControlName="mf_matdescripcion" required rows="2" cols="20" [ngClass]="{ 'ng-dirty': this.materiaForm.get('mf_matdescripcion').touched, 'valid-field': this.materiaForm.get('mf_matdescripcion').valid}" placeholder="Ingrese la descripción de la materia" class="mb-1"></textarea>
                <small class="p-error block" *ngIf="materiaForm.get('mf_matdescripcion').invalid && materiaForm.get('mf_matdescripcion').dirty"> <span *ngIf="materiaForm.get('mf_matdescripcion').errors?.required">La descripción es requerido. (*) </span>
                </small>
                <small class="p-success block" *ngIf="materiaForm.get('mf_matdescripcion')?.valid"> La descripción es valido. </small>
            </div>
            <div class="font-bold block text-base mb-2" class="col-12">
                <label class="font-bold block text-base mb-2"  for="status">Elegir Modulo</label>
                <p-dropdown inputId="ddTipoModulo" appendTo="body" [options]="tipoModulo" formControlName="mf_tipoModulo" optionLabel="desTipoModulo" placeholder="Seleccionar módulo" [ngClass]="{ 'valid-field': this.materiaForm.get('mf_tipoModulo').valid}" styleClass="mb-2">
                    <ng-template let-tipoModulo pTemplate="item">
                        <div class="flex align-items-center">
                            <p-tag [rounded]="true" [severity]="getSeverity(tipoModulo.desTipoModulo)">
                                {{ tipoModulo.desTipoModulo }}
                            </p-tag>
                        </div>
                    </ng-template>
                </p-dropdown>
                <small class="p-success block" *ngIf="materiaForm.get('mf_tipoModulo').valid"> El tipo de módulo es válido. </small>
                <small class="p-error block" *ngIf="materiaForm.get('mf_tipoModulo').invalid && materiaForm.get('mf_tipoModulo').touched"> <span *ngIf="materiaForm.get('mf_tipoModulo').errors?.required">El tipo de módulo es requerido. (*) </span>
                </small>
            </div>
        </div>
    </form>
    <ng-template pTemplate="footer">
        <div class="text-right">
            <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="ocultarDialog()"></button>
            <button pButton pRipple label="Guardar" icon="pi pi-save" class="p-button-text" (click)="guardarMateria()"></button>
        </div>
    </ng-template>
</p-sidebar>


<p-dialog [(visible)]="desactivarMateriaDialog" header="Confirmar" [modal]="true">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="materia">Estas seguro que quieres desactivar esta Materia:
            <b>{{materia.matnombre}}</b>?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
            (click)="desactivarMateriaDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Si"
            (click)="confirmarActivarDesactivar()"></button>
    </ng-template>
</p-dialog>


<p-dialog [(visible)]="activarMateriaDialog" header="Confirmar" [modal]="true">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="materia">Estas seguro que quieres activar esta Materia:
            <b>{{materia.matnombre}}</b>?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
            (click)="activarMateriaDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Si"
            (click)="confirmarActivarDesactivar()"></button>
    </ng-template>
</p-dialog>
