<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <div
            style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                <div class="text-center mb-5">
                    <!-- <img src="assets/layout/images/logo_ibci.png" alt="logo" height="70" class="mb-1"> -->
                    <div class="font-bold text-xl text-center">
                        <!-- <span class="text-900">Sistema Seguimiento y Gestión Académico</span> <br> -->
                        <span class="text-blue-600"> Olvidaste tu contraseña? </span>
                        <hr>
                    </div>

                </div>

                <div *ngIf="status === 'failed'">
                    <p-messages [(value)]="messages" [enableService]="false" [closable]="false"></p-messages>
                </div>
                <form [formGroup]="loginForm">
                <div>
                    <span class="text-700">Ingrese su usuario o correo electrónico. </span> <br>
                    <label for="usuario" class="block text-900 text-xl font-medium mb-2">Usuario</label>
                    <input id="usuario" type="text" placeholder="Ingrese su usuario" pInputText
                        class="w-full md:w-30rem mb-5" style="padding:1rem" formControlName="usuario">

                     <label for="usuario" class="block text-900 text-xl font-medium mb-2">Correo electrónico</label>
                    <input id="usuario" type="text" placeholder="Ingrese su correo electrónico" pInputText
                        class="w-full md:w-30rem mb-5" style="padding:1rem" formControlName="usuario">

                    <div class="flex align-items-center justify-content-between mb-5 gap-5">
                        <!-- <p-button label="Iniciar sesión" styleClass="p-button-sm" [routerLink]="['/login']">
                        </p-button> -->
                        <button pButton pRipple label="Cancelar" class="w-full p-3 text-xl" [routerLink]="['/login']"></button>
                        <button pButton pRipple label="Restablecer contraseña" class="w-full p-3 text-xl" (click)="doLogin()"></button>
                    </div>

                </div>
                </form>
            </div>
        </div>
    </div>
</div>
