<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
<div *ngIf="forgotDataBool && !userFoundDataBool" class="surface-card p-4 shadow-2 border-round w-full lg:w-3 md:w-6">
    <div class="text-center mb-5">
        <div class="text-900 text-2xl font-medium mb-3">Olvidaste tu contraseña? </div>
    </div>
    <form [formGroup]="forgotForm" class="p-fluid">
        <div>
            <div class="field p-fluid">
                <label for="usuario" class="block text-900 text-xl font-medium mb-2">Nombre de Usuario</label>
                <input id="usuario" type="text" placeholder="Ingrese su nombre de usuario" pInputText formControlName="usuname">
            </div>
            <div class="field">
                <label for="usuario" class="block text-900 text-xl font-medium mb-2">Correo electrónico</label>
                <input id="usuario" type="text" placeholder="Ingrese su correo electrónico" pInputText formControlName="usuemail">
            </div>
            <ng-container *ngIf="status === 'failed'">
                <p-messages [(value)]="messages" [enableService]="false" [closable]="false"></p-messages>
            </ng-container>
            <div class="flex align-items-center justify-content-between  gap-2">
                <button
                    pButton
                    pRipple
                    label="Volver"
                    icon="pi pi-angle-left"
                    class="w-full p-button-warning"
                    [routerLink]="['/login']"
                ></button>
                <button
                    pButton
                    pRipple
                    icon="pi pi-search"
                    label="Buscar"
                    class="w-full p-button-success"
                    (click)="enviarFormulario()"
                ></button>
            </div>
        </div>
    </form>
</div>

<!-- Paso 2: elegir usuario encontrado -->
<div *ngIf="!userFoundDataBool && !forgotDataBool"></div>
<div *ngIf="userFoundDataBool && !forgotDataBool" class="surface-card p-4 shadow-2 border-round w-full lg:w-3 md:w-6">
    <div class="text-center mb-5">
        <div class="text-900 text-2xl font-medium mb-3">Usuario/s encontrado/s</div>
    </div>
    <div *ngFor="let usuario of usuarios" class="text-left mb-5">
        <div class="mb-2">
            <a class="text-900">Nombre completo: </a>
            <a class="font-medium no-underline text-primary-500 cursor-pointer">{{usuario.pernomcompleto}}</a> <br>
            <a class="text-900">Usuario: </a>
            <a class="font-medium no-underline text-primary-500 cursor-pointer">{{usuario.usuname}}</a> <br>
            <a class="text-900">Rol: </a>
            <a class="font-medium no-underline text-primary-500 cursor-pointer">{{usuario.rolnombre}}</a> <br>
            <a class="text-900">Correo electrónico: </a>
            <a class="font-medium no-underline text-primary-500 cursor-pointer">{{usuario.usuemail}}</a> <br>
        </div>
        <form class="p-fluid" (ngSubmit)="restablecerContrasena(usuario)">
            <div>
                <ng-container *ngIf="status === 'failed'">
                    <p-messages [(value)]="messages" [enableService]="false" [closable]="false"></p-messages>
                </ng-container>
                <div class="flex align-items-center justify-content-between gap-2">
                    <button
                        pButton
                        pRipple
                        icon="pi pi-send"
                        label="Restablecer contraseña"
                        class="p-button-success"
                        type="submit"
                    ></button>
                </div>
            </div>
        </form>
        <hr>
    </div>
    <button
        pButton
        pRipple
        label="volver"
        icon="pi pi-angle-left"
        class="w-full p-button-warning"
        (click)="volverFormulario()"
    ></button>
</div>

<p-dialog header="Confirmación" [(visible)]="displayModal" [modal]="true" [closable]="false">
    <p>{{modalMessage}}</p>
    <p-footer>
        <button type="button" pButton icon="pi pi-check" label="OK" (click)="volverLogin()"></button>
    </p-footer>
</p-dialog>
