<p-toast></p-toast>

<p-card>
    <p-breadcrumb class="max-w-full" [model]="items" [home]="home" ></p-breadcrumb>
    <h3>Mis Materias Asignadas</h3>
    <p>Lista de materias asignadas por curso:</p>

    <p-table #dt1 [value]="inscripciones" selectionMode="single" responsiveLayout="scroll"
        [loading]="loading" [rowsPerPageOptions]="[5, 10, 20]" [rows]="10" [paginator]="true"
        styleClass="p-datatable-striped p-card" [globalFilterFields]="['matrgestion','curnombre', 'matnombre']"
        [loading]="loading" [breakpoint]="'960px'" [tableStyle]="{ 'min-width': '50rem' }"
        [showCurrentPageReport]="true" rowGroupMode="rowspan" groupRowsBy="curnombre"
        currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} entradas">
        <ng-template pTemplate="caption">
            <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                <span class="block md:mt-0 p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="onGlobalFilter(dt1, $event)" placeholder="Buscar..."
                        class="w-full sm:w-auto" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th> # </th>
                <th> Acción </th>
                <th pSortableColumn="curnombre">
                    Curso <p-sortIcon field="curnombre"></p-sortIcon>
                </th>
                <th pSortableColumn="matnombre">
                    Materia <p-sortIcon field="matnombre"></p-sortIcon>
                </th>
                <th pSortableColumn="curmatfecini">
                    Fecha Inicio <p-sortIcon field="curmatfecini"></p-sortIcon>
                </th>
                <th pSortableColumn="curmatfecfin">
                    Fecha Fin <p-sortIcon field="curmatfecfin"></p-sortIcon>
                </th>
                <th pSortableColumn="numero_estudiantes">
                    N° Estudiantes <p-sortIcon field="numero_estudiantes"></p-sortIcon>
                </th>
                <th pSortableColumn="curmatestado">
                    Estado <p-sortIcon field="curmatestado"></p-sortIcon>
                </th>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th><p-columnFilter type="text" field="curnombre"></p-columnFilter></th>
                <th><p-columnFilter type="text" field="matnombre"></p-columnFilter></th>
                <th><p-columnFilter type="text" field="curmatfecini"></p-columnFilter></th>
                <th><p-columnFilter type="text" field="curmatfecfin"></p-columnFilter></th>
                <th><p-columnFilter type="text" field="numero_estudiantes"></p-columnFilter></th>
                <th>
                    <p-columnFilter field="insestado" matchMode="equals" [showMenu]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-dropdown [ngModel]="value" [options]="statusOptions"
                                (onChange)="filter($event.value)" placeholder="Elegir" [showClear]="true">
                                <ng-template let-option pTemplate="item">
                                    <p-tag [value]="getDescriptionStatus(option.value)"
                                        [severity]=" getSeverityStatus(option.value)"></p-tag>
                                </ng-template>
                            </p-dropdown>
                        </ng-template>
                    </p-columnFilter>
                </th>
            </tr>
        </ng-template>
        <!-- <ng-template pTemplate="body" let-materia_asignada let-rowIndex="rowIndex"> -->
        <ng-template pTemplate="body" let-materia_asignada let-rowIndex="rowIndex" let-rowgroup="rowgroup"
        let-rowspan="rowspan">
            <tr [pSelectableRow]="materia_asignada" (click)="listarEstudianteMateria(materia_asignada)">
                <td> {{ rowIndex + 1 }} </td>
                <td>
                    <button *ngIf="materia_asignada.numero_estudiantes>0" pButton pRipple icon="fa-solid fa-eye"
                        class="p-button-rounded p-button-outlined p-button-success mr-2" pTooltip="Ver Materia"
                        tooltipPosition="top" (click)="verMateria()"></button>
                </td>
                <td *ngIf="rowgroup" [attr.rowspan]="rowspan">
                    <span class="font-bold mr-2">{{ materia_asignada.curnombre }}</span> <br>
                    <div class="mr-2 mt-1">
                        {{ materia_asignada.curfchini | date: 'longDate' }} a {{ materia_asignada.curfchfin | date:
                        'longDate' }}
                    </div>
                </td>
                <!-- <td> {{ materia_asignada.curnombre }} </td> -->
                <td> {{ materia_asignada.matnombre }} </td>
                <td class="text-center"> {{ materia_asignada.curmatfecini }} </td>
                <td class="text-center"> {{ materia_asignada.curmatfecfin}} </td>
                <td class="text-center"> {{ materia_asignada.numero_estudiantes? materia_asignada.numero_estudiantes:0 }}
                </td>
                <td class="text-center">
                    <p-tag [value]="getDescriptionStatus(materia_asignada.curmatestado)"
                        [severity]="getSeverityStatus(materia_asignada.curmatestado)" [rounded]="true"></p-tag>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="9">No se encontró las información solicitada.</td>
            </tr>
        </ng-template>
    </p-table>

</p-card>

<p-dialog [(visible)]="verMateriaAsignadaClicked" header="{{this.curnombre + ' - ' + this.matnombre}}" [modal]="true" class="p-fluid"
    [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '80vw' }" [draggable]="false" [resizable]="false"
    [maximizable]="true">

    <div *ngIf="verMateriaAsignadaClicked">
        <p-table #dt2 [value]="listarMateriaEstudianteCurso" responsiveLayout="scroll" class="m-2" [loading]="loading2"
            styleClass="p-datatable-gridlines" [globalFilterFields]="['curnombre', 'matnombre', 'pernomcompleto']"
            [rowsPerPageOptions]="[5, 10, 20]" [rows]="10" [paginator]="true" styleClass="p-datatable-striped p-card">
            <ng-template pTemplate="caption">
                <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                    <span class="block mt-2 md:mt-0 p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="onGlobalFilter(dt2, $event)" placeholder="Buscar..."
                            class="w-full sm:w-auto" />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th> # </th>
                    <th>
                    </th>
                    <th> Estudiante </th>
                    <th> N° Documento </th>
                    <th> Correo electrónico </th>
                    <th> Celular </th>
                    <th> Iglesia </th>
                    <th> Inscripción </th>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th><p-columnFilter type="text" field="pernomcompleto"></p-columnFilter></th>
                    <th><p-columnFilter type="text" field="pernrodoc"></p-columnFilter></th>
                    <th><p-columnFilter type="text" field="peremail"></p-columnFilter></th>
                    <th><p-columnFilter type="text" field="percelular"></p-columnFilter></th>
                    <th><p-columnFilter type="text" field="pernomiglesia"></p-columnFilter></th>
                    <th>
                        <p-columnFilter field="insestado" matchMode="equals" [showMenu]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown [ngModel]="value" [options]="statusOptions"
                                    (onChange)="filter($event.value)" placeholder="Elegir" [showClear]="true">
                                    <ng-template let-option pTemplate="item">
                                        <p-tag [value]="getDescriptionStatus(option.value)"
                                            [severity]=" getSeverityStatus(option.value)"></p-tag>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-materia_estudiante let-rowIndex="rowIndex">
                <tr>
                    <td> {{rowIndex + 1}} </td>
                    <td>
                        <button pButton type="button" icon="pi pi-whatsapp" class="p-button-success p-button-rounded" pTooltip="Enviar Mensaje por Whatsapp" tooltipPosition="top"
                            (click)="enviarWhatsApp(materia_estudiante.percelular, materia_estudiante.pernomcompleto)">
                        </button>
                    </td>
                    <td>
                        <div *ngIf="!materia_estudiante.perfoto" class="user-display">
                            <p-avatar [label]="getInitials(materia_estudiante.pernomcompleto)" styleClass="mr-2"
                                size="large" shape="circle">
                            </p-avatar>
                            <span class="font-bold ml-2">{{ materia_estudiante.pernomcompleto }}</span>
                        </div>
                        <div *ngIf="materia_estudiante.perfoto" class="user-display">
                            <p-avatar image="{{ userProfilePhoto }}/{{ materia_estudiante.perfoto }}"
                                (onImageError)="onImageError()" (onImageLoad)="onImageLoad()" styleClass="mr-2"
                                size="large" shape="circle">
                            </p-avatar>
                            <span class="font-bold ml-2">{{ materia_estudiante.pernomcompleto }}</span>
                        </div>
                    </td>
                    <td> {{ materia_estudiante.pernrodoc }} </td>
                    <td> {{materia_estudiante.peremail}} </td>
                    <td> {{materia_estudiante.percelular}} </td>
                    <td> {{materia_estudiante.pernomiglesia}} </td>
                    <td>
                        <p-tag [value]="getDescriptionStatusEstudiante(materia_estudiante.insestado)"
                            [severity]="getSeverityStatus(materia_estudiante.insestado)" [rounded]="true"></p-tag>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="9">No se encontraron estudiantes registrados.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</p-dialog>
