<!-- <ng-container *hasPermision="admPlanilla" > -->
<p-toast></p-toast>
    <div class="grid">
    <div class="col-12">
        <div class="card">
            <ng-container>
                <p-table #dt1 [value]="listarMateriasInscritas" selectionMode="single" [(selection)]="notaEstudiante" data="idBeneficioSocial" responsiveLayout="scroll" class="m-2" [loading]="loading" [rowsPerPageOptions]="[5, 10, 20]" [rows]="10" [paginator]="true" styleClass="p-datatable-striped p-card" [globalFilterFields]="['curnombre', 'matnombre']" rowGroupMode="rowspan" groupRowsBy="curnombre">
                    <ng-template pTemplate="caption">
                        <div class="font-bold text-xl text-center">
                            <span class="text-900">Materias Asignadas por Curso | </span>
                            <span class="text-primary-600"> Asignar Notas  </span>
                        </div>
                        <hr>
                        <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                            <span class="block mt-2 md:mt-0 p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" (input)="onGlobalFilter(dt1, $event)" placeholder="Buscar..." class="w-full sm:w-auto" />
                            </span>
                            <div class="flex justify-content-between"> <button pButton pRipple label="Reporte Notas General" icon="pi pi-file-pdf" class="p-button-rounded p-button-danger mr-2" (click)="rptNotaCursoMateriaDocente()"></button> </div>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th> Nro </th>
                            <th> Curso </th>
                            <th> Fechas </th>
                            <th> Materia asignada</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-notaMateria let-rowIndex="rowIndex" let-rowgroup="rowgroup" let-rowspan="rowspan">
                        <tr [pSelectableRow]="notaMateria" (click)="listarNotaMateria(notaMateria)" pTooltip="Ver notas de: {{notaMateria.matnombre}}" tooltipPosition="top">
                            <td> {{ rowIndex + 1}} </td>
                            <td *ngIf="rowgroup" [attr.rowspan]="rowspan"> {{notaMateria.curnombre}} </td>
                            <td> {{'Inicio: ' +  notaMateria.curmatfecini }}  <hr> {{'Fin: ' + notaMateria.curmatfecfin }} </td>
                            <td> {{notaMateria.matnombre}} </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="9">No se encontraron cursos ni materias registrados.</td>
                        </tr>
                    </ng-template>
                </p-table>
                <div *ngIf="verNotasClicked">
                    <p-dialog [(visible)]="verNotasClicked" header="Lista de estudiantes" [modal]="true" class="p-fluid" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '80vw' }" [draggable]="false" [resizable]="false" [maximizable]="true" >
                    <p-table #dt2 [value]="listarNotaEstudianteCurso" responsiveLayout="scroll" class="m-2" [loading]="loading2" styleClass="p-datatable-gridlines" [globalFilterFields]="['curnombre', 'matnombre', 'pernomcompleto']">

                        <ng-template pTemplate="caption">
                            <div class="font-bold text-xl text-center">
                                <span class="text-600"> Curso:</span> <span class="text-primary-600"> {{this.curnombre}} </span>
                                <br>
                                <span class="text-600"> Materia: </span> <span class="text-primary-600"> {{this.matnombre}} </span>
                                <hr>
                            </div>
                            <hr>
                            <div class="flex justify-content-center">
                                <p-accordion [activeIndex]="0">
                                    <p-accordionTab header="Instrucciones para subir notas">
                                        <p>Esta es la sección de instruciones para subir las notas mediante la opción de subir notas en un archivo de tipo Excel</p>
                                        <div>
                                            <ul class="list-none">
                                                <li>1. Descargar las notas en tipo excel.</li>
                                                <li>2. Abrir el archivo descargado y asignar las notas.</li>
                                                <li>3. Presionar el botón subir archivo.</li>
                                                <li>4. Verificar las notas subidas.</li>
                                                <li>5. Presionar el botón registrar notas.</li>
                                            </ul>
                                        </div>
                                    </p-accordionTab>
                                </p-accordion>
                            </div>
                            <hr>
                            <!-- <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                                <span class="block mt-2 md:mt-0 p-input-icon-left">
                                    <i class="pi pi-search"></i>
                                    <input pInputText type="text" (input)="onGlobalFilter(dt2, $event)" placeholder="Buscar..." class="w-full sm:w-auto" />
                                </span>
                            </div> -->
                            <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                                <span class="block mt-2 md:mt-0 p-input-icon-left">
                                    <span class="block mt-2 md:mt-0 p-input-icon-left">
                                        <i class="pi pi-search"></i>
                                        <input pInputText type="text" (input)="onGlobalFilter(dt2, $event)" placeholder="Buscar..." class="w-full sm:w-auto" pTooltip="Buscar por nombre de estudiante" tooltipPosition="top"/>
                                    </span>
                                </span>
                                <div class="flex">
                                    <button type="button" pButton="pButton" pRipple="pRipple" icon="pi pi-file-excel"  class="p-button-rounded p-button-success mr-2" pTooltip="Descargar notas en excel" tooltipPosition="top" (click)="exportExcel()"></button>
                                    <button type="button" pButton="pButton" pRipple="pRipple" icon="pi pi-upload"  class="p-button-rounded p-button-info mr-2" pTooltip="Subir archivo con las notas en Excel" tooltipPosition="top" (click)="abrirModalNotaSubir()"></button>
                                    <!-- <button type="button" pButton="pButton" pRipple="pRipple" icon="pi pi-file"  class="p-button-rounded p-button-warning mr-2" pTooltip="Descargar modelo para subir notas" tooltipPosition="top" (click)="exportExcelModel()"></button> -->
                                    <button type="button" pButton="pButton" pRipple="pRipple" icon="pi pi-file-pdf" class="p-button-rounded p-button-danger mr-2" pTooltip="Ver reporte de notas de la materia: {{matnombre}}" tooltipPosition="top" (click)="rptnotaMateria()"></button>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <!-- <th> Curso </th> -->
                                <!-- <th> Materia </th> -->
                                <th></th>
                                <th> Estudiante </th>
                                <th> Nro. Documento </th>
                                <th> 1° Nota </th>
                                <th> 2° Nota </th>
                                <th> 3° Nota </th>
                                <th> Nota final </th>
                                <th> </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-nota let-rowIndex="rowIndex" >
                            <tr>
                                <!-- <td> {{nota.curnombre}} </td> -->
                                <!-- <td> {{nota.matnombre}} </td> -->
                                <td>{{rowIndex + 1 }}</td>
                                <td>
                                    <div *ngIf="nota.perfoto == null" class="user-display">
                                        <p-avatar image="../../../../../assets/images/login/sin_foto_perfil.png" styleClass="mr-2" size="xlarge" shape="circle"></p-avatar>
                                        <span class="font-bold ml-2">{{ nota.pernomcompleto }}</span>
                                    </div>
                                    <div *ngIf="nota.perfoto != null" class="user-display">
                                        <p-avatar image="{{ userProfilePhoto }}/{{ nota.perfoto }}" styleClass="mr-2" size="xlarge" shape="circle"></p-avatar>
                                        <span class="font-bold ml-2">{{ nota.pernomcompleto }}</span>
                                    </div>
                                </td>
                                <td> {{nota.pernrodoc}} </td>
                                <td> <p-chip> <div class="p-1">{{nota.not1}} </div> </p-chip> </td>
                                <td> <p-chip> <div class="p-1">{{nota.not2}} </div> </p-chip> </td>
                                <td> <p-chip> <div class="p-1">{{nota.not3}} </div> </p-chip> </td>
                                <td> <p-chip> <div class="p-1">{{nota.notfinal}} </div> </p-chip> </td>
                                <td>
                                    <button *ngIf="!nota.notid" pButton="pButton" pRipple="pRipple" type="button" icon="pi pi-plus" class="p-button-rounded p-button-success m-1" pTooltip="Registrar nota" tooltipPosition="top" (click)="addNota(nota)"> </button>
                                    <button *ngIf="nota.notid" pButton="pButton" pRipple="pRipple" type="button" icon="pi pi-pencil" class="p-button-rounded p-button-info m-1" pTooltip="Editar nota" tooltipPosition="top" (click)="updateNota(nota)"> </button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="9">No se encontraron notas registradas.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                    </p-dialog>
                </div>
            </ng-container>
            <p-dialog [(visible)]="notaRegistroDialog" [style]="{width: '50%'}" header="Nota" [modal]="true"
                class="p-fluid">
                <ng-template pTemplate="content">
                    <div class="grid p-fluid mt-3">

                        <div class="field col-12 md:col-4 align-items-center text-center">
                            <span id="label_number">1° Nota</span>
                            <p-knob ariaLabelledBy="label_number" [(ngModel)]="nota.not1"></p-knob>
                        </div>

                        <div class="field col-12 md:col-4 align-items-center text-center">
                            <span id="label_number2">2° Nota</span>
                            <p-knob ariaLabelledBy="label_number2" [(ngModel)]="nota.not2"></p-knob>
                        </div>

                        <div class="field col-12 md:col-4 align-items-center text-center">
                            <span id="label_number3">3° Nota</span>
                            <p-knob ariaLabelledBy="label_number3" [(ngModel)]="nota.not3"></p-knob>
                        </div>
                    </div>
                </ng-template>

                <ng-template pTemplate="footer">
                    <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
                        (click)="hideDialog()"></button>
                    <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text"
                        (click)="registrarNota()"></button>
                </ng-template>
            </p-dialog>
        </div>
    </div>
</div>







<p-dialog [(visible)]="notasImportadas" header="Subir notas" [modal]="true" class="p-fluid" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false" [maximizable]="true" >
    <p-table #dt2 [value]="nota_recuperada" responsiveLayout="scroll" class="m-2" [loading]="loading2" styleClass="p-datatable-gridlines" [globalFilterFields]="['pernomcompleto']" rowGroupMode="rowspan" groupRowsBy="curnombre" sortField="curnombre">
        <ng-template pTemplate="caption">
            <div class="font-bold text-xl text-center">
                <span class="text-600"> Curso:</span> <span class="text-primary-600"> {{this.curnombre}} </span>
                <br>
                <span class="text-600"> Materia: </span> <span class="text-primary-600"> {{this.matnombre}} </span>
                <hr>
            </div>
            <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                <span class="block mt-2 md:mt-0 p-input-icon-left">
                    <span class="block mt-2 md:mt-0 p-input-icon-left">
                        <div class="justify-content-center file-input-wrapper">
                            <input type="file" (change)="onFileChange($event)" icon="pi pi-upload" id="fileInput">
                            <!-- Input para subir el archivo con las notas registradas -->
                            <label for="fileInput">Seleccionar archivo</label>
                        </div>
                    </span>
                </span>
                <div class="flex">
                    <p-button icon="pi pi-upload" styleClass="mr-2 p-button-rounded p-button-sm w-12rem" label="Registrar notas" (click)="subirNotas(nota_recuperada)" pTooltip="Registrar notas" tooltipPosition="top"></p-button>
                    <p-button icon="pi pi-trash" styleClass="mr-2 p-button-sm p-button-rounded p-button-danger w-12rem" label="Limpiar datos" (click)="hideSubirNota()" pTooltip="Borrar datos recuperados" tooltipPosition="top"></p-button>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th></th>
                <th> Nombre del Estudiante </th>
                <th> Nro. Documento </th>
                <th> 1° Nota </th>
                <th> 2° Nota </th>
                <th> 3° Nota </th>
                <th> Nota Final </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-nota let-rowIndex="rowIndex" let-rowgroup="rowgroup" let-rowspan="rowspan" >
            <tr>
                <td>{{rowIndex + 1 }}</td>
                <td> {{ nota.pernomcompleto }} </td>
                <td> {{nota.pernrodoc}} </td>
                <td> {{nota.not1}} </td>
                <td> {{nota.not2}} </td>
                <td> {{nota.not3}} </td>
                <td> <p-chip *ngIf="nota.notfinal"> <div class="p-1"> <strong>{{nota.notfinal}} pts</strong>  </div> </p-chip> </td>
            </tr>
        </ng-template>
        <hr>

        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="9">No se encontró registros</td>
            </tr>
        </ng-template>
    </p-table>
</p-dialog>
