<!-- <ng-container *hasPermision="admPlanilla" > -->
<p-toast></p-toast>
    <div class="grid">
    <div class="col-12">
        <div class="card">
            <ng-container>
                <p-table #dt1 [value]="listarMateriasInscritas" selectionMode="single" [(selection)]="notaEstudiante"
                    data="idBeneficioSocial" responsiveLayout="scroll" class="m-2" [loading]="loading"
                    [rowsPerPageOptions]="[5, 10, 20]" [rows]="5" [paginator]="true"
                    styleClass="p-datatable-striped p-card"
                    [globalFilterFields]="['curnombre', 'matnombre']">
                    <ng-template pTemplate="caption">
                        <div class="font-bold text-xl text-center">
                            <span class="text-900">Materias Asignadas por Curso | </span>
                            <span class="text-primary-600"> Asignar Notas  </span>
                        </div>
                        <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                            <!-- <button pButton pRipple label="Nueva materia" icon="pi pi-plus" class="p-button-success mr-2" (click)="abrirNuevo()"></button> -->
                            <!-- <h5 class="m-0">Materias</h5> -->
                            <span class="block mt-2 md:mt-0 p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" (input)="onGlobalFilter(dt1, $event)" placeholder="Buscar..." class="w-full sm:w-auto" />
                            </span>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th> Nro </th>
                            <th> Nombre del Curso </th>
                            <th> Fechas del Curso </th>
                            <th> Nombre de la Materia asignada</th>
                            <!-- <th> Opciones </th> -->
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-notaMateria>
                        <tr [pSelectableRow]="notaMateria" (click)="listarNotaMateria(notaMateria)">
                            <td> {{notaMateria.curmatid}} </td>
                            <td> {{notaMateria.curnombre}} </td>
                            <td> {{notaMateria.curmatfecini + ' a ' + notaMateria.curmatfecfin }} </td>
                            <td> {{notaMateria.matnombre}} </td>
                            <!-- <td>
                                    <button pButton="pButton" pRipple="pRipple" type="button" icon="pi pi-plus-circle"
                                        pTooltip="Registrar Nuevo Finiquito" tooltipPosition="top"
                                        class="p-button-rounded p-button-success m-1" label="Finiquito"
                                        (click)="nuevoFiniquito(datoscalculo)"> </button>
                                    <button pButton="pButton" pRipple="pRipple" type="button" icon="pi pi-trash"
                                        pTooltip="Eliminar" tooltipPosition="top"
                                        class="p-button-rounded p-button-danger m-1"
                                        (click)="eliminarBeneficioSocial(datoscalculo)"> </button>
                                </td> -->
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="9">No se encontraron cursos ni materias registrados.</td>
                        </tr>
                    </ng-template>
                </p-table>
                <div *ngIf="verNotasClicked">

                    <p-table #dt2 [value]="listarNotaEstudianteCurso" responsiveLayout="scroll" class="m-2"
                        [loading]="loading2" styleClass="p-datatable-gridlines"
                        [globalFilterFields]="['curnombre', 'matnombre', 'pernomcompleto']">
                        <ng-template pTemplate="caption">
                            <div class="font-bold text-xl text-center">
                                <span class="text-900">Lista de Estudiantes | </span>
                                <span class="text-primary-600"> Asignar Notas  </span>
                            </div>
                            <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                                <!-- <button pButton pRipple label="Nueva materia" icon="pi pi-plus" class="p-button-success mr-2" (click)="abrirNuevo()"></button> -->
                                <!-- <h5 class="m-0">Materias</h5> -->
                                <span class="block mt-2 md:mt-0 p-input-icon-left">
                                    <i class="pi pi-search"></i>
                                    <input pInputText type="text" (input)="onGlobalFilter(dt2, $event)" placeholder="Buscar..." class="w-full sm:w-auto" />
                                </span>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <!-- <th> Nro </th> -->
                                <th> Curso </th>
                                <th> Materia </th>
                                <th> Estudiante </th>
                                <th> Nota 1 </th>
                                <th> Nota 2 </th>
                                <th> Nota 3 </th>
                                <th> Nota final </th>
                                <th> Opciones </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-nota>
                            <tr>
                                <!-- <td> {{nota.notid}} </td> -->
                                <td> {{nota.curnombre}} </td>
                                <td> {{nota.matnombre}} </td>
                                <td> {{nota.pernomcompleto}} </td>
                                <td> <p-chip>
                                        <div class="p-1">{{nota.not1}} pts </div>
                                    </p-chip> </td>
                                <td> <p-chip>
                                        <div class="p-1">{{nota.not2}} pts </div>
                                    </p-chip> </td>
                                <td> <p-chip>
                                        <div class="p-1">{{nota.not3}} pts </div>
                                    </p-chip> </td>
                                <td> <p-chip>
                                        <div class="p-1">{{nota.notfinal}} pts </div>
                                    </p-chip> </td>
                                <td>
                                    <button *ngIf="!nota.notid" pButton="pButton" pRipple="pRipple" type="button"
                                        icon="pi pi-plus" class="p-button-rounded p-button-success m-1"
                                        pTooltip="Registrar nota" tooltipPosition="top" (click)="addNota(nota)">
                                    </button>
                                    <button *ngIf="nota.notid" pButton="pButton" pRipple="pRipple" type="button"
                                        icon="pi pi-pencil" class="p-button-rounded p-button-info m-1"
                                        pTooltip="Editar nota" tooltipPosition="top" (click)="updateNota(nota)">
                                    </button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="9">No se encontraron notas registradas.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </ng-container>
            <p-dialog [(visible)]="notaRegistroDialog" [style]="{width: '50%'}" header="Nota" [modal]="true"
                class="p-fluid">
                <ng-template pTemplate="content">
                    <div class="grid p-fluid mt-3">

                        <div class="field col-12 md:col-4 align-items-center text-center">
                            <span id="label_number">Nota 1</span>
                            <p-knob ariaLabelledBy="label_number" [(ngModel)]="nota.not1"></p-knob>
                        </div>

                        <div class="field col-12 md:col-4 align-items-center text-center">
                            <span id="label_number2">Nota 2</span>
                            <p-knob ariaLabelledBy="label_number2" [(ngModel)]="nota.not2"></p-knob>
                        </div>

                        <div class="field col-12 md:col-4 align-items-center text-center">
                            <span id="label_number3">Nota 3</span>
                            <p-knob ariaLabelledBy="label_number3" [(ngModel)]="nota.not3"></p-knob>
                        </div>

                        <!-- <div class="field col-12 md:col-3 align-items-center">
                            <span id="label_number4">Nota Final</span>
                            <p-knob ariaLabelledBy="label_number4" [(ngModel)]="nota.notfinal"></p-knob>
                        </div> -->
                    </div>
                </ng-template>

                <ng-template pTemplate="footer">
                    <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
                        (click)="hideDialog()"></button>
                    <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text"
                        (click)="registrarNota()"></button>
                </ng-template>

            </p-dialog>
        </div>
    </div>
</div>
