<div class="grid">
    <p-toast></p-toast>
    <div class="col-12">
        <div class="card">
            <p-breadcrumb class="max-w-full" [model]="items" [home]="home"></p-breadcrumb>
            <h3>Sesiones</h3>
            <hr>
            <p-table #dtMenu [value]="sesiones" responsiveLayout="stack" class="m-2" [loading]="loading"
                [rowsPerPageOptions]="[5, 10, 20]" [rows]="10" [paginator]="true"
                styleClass="p-datatable-striped p-card p-datatable-sm" [globalFilterFields]="['nombre']"
                rowGroupMode="rowspan" groupRowsBy="nombre" [showCurrentPageReport]="true"
                currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} entradas"
                [rowHover]="true">

                <ng-template pTemplate="caption">
                    <div class="flex align-items-center justify-content-between table-reader">
                        <button pButton pRipple label="Nueva Sesión" icon="pi pi-user-plus"
                            class="p-button-primary mr-2" pTooltip="Crear Nueva Sesión"
                            tooltipPosition="top"></button>
                        <span class="p-input-icon-left w-auto">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dtMenu.filterGlobal($event.target.value, 'contains')"
                                placeholder="Buscar..." pTooltip="Buscar por nombre" tooltipPosition="top" />
                        </span>
                    </div>
                </ng-template>

                <ng-template pTemplate="header">
                    <tr>
                        <th> ID </th>
                        <th> Paciente </th>
                        <th> Doctor/a </th>
                        <th> Fecha de Sesión </th>
                        <th> Tiempo de Sesión </th>
                        <th> Puntaje Obtenido </th>
                        <th> Descripción </th>
                        <th> Observaciones </th>
                        <th> Ejercicios Realizados </th>
                        <th> Nivel de Dificultad </th>
                        <th> Estado Emocional </th>
                        <th> Mejoras Observadas </th>
                        <th> Resultados </th>
                        <th> Notas Adicional </th>
                        <th> Retroalimentación </th>
                        <th> Estado </th>
                        <th> Opciones </th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-sesion>
                    <tr>

                        <td> {{ sesion.id_session }} </td>
                        <td> {{ sesion.id_paciente }} </td>
                        <td> {{ sesion.id_doctor }} </td>
                        <td> {{ sesion.fecha_sesion }} </td>
                        <td> {{ sesion.tiempo_sesion }} </td>
                        <td> {{ sesion.puntaje_obtenido }} </td>
                        <td> {{ sesion.descripcion }} </td>
                        <td> {{ sesion.observaciones }} </td>
                        <td> {{ sesion.ejercicios_realizados }} </td>
                        <td> {{ sesion.nivel_dificultad }} </td>
                        <td> {{ sesion.estado_emocional }} </td>
                        <td> {{ sesion.mejoras_observadas }} </td>
                        <td> {{ sesion.resultados_prueba }} </td>
                        <td> {{ sesion.notas }} </td>
                        <td> {{ sesion.feedback }} </td>
                        <td> {{ sesion.estado }} </td>
                        <td>
                            <div class="flex justify-content-center">
                                <button pButton="pButton" pRipple="pRipple" type="button" icon="pi pi-pencil"
                                    class="p-button mr-2" pTooltip="Editar" tooltipPosition="top"></button>
                                <button pButton="pButton" pRipple="pRipple" type="button" icon="pi pi-trash"
                                    class="p-button-danger mr-2" pTooltip="Eliminar" tooltipPosition="top"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="6">No se encontraron registros</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>


