<div class="grid">
    <div class="col-12">
        <div class="card">
            <div class="flex flex-column p-1 md:p-3">
                <div class="col-12 py-0">
                    <p-table #dt1 [value]="inscripciones" responsiveLayout="scroll" class="m-2" [loading]="loading"
                        [rowsPerPageOptions]="[5, 10, 20]" [rows]="10" [paginator]="true"
                        styleClass="p-datatable-striped p-card"
                        [globalFilterFields]="['matrgestion','curnombre', 'matnombre', 'pernomcompleto']">
                        <ng-template pTemplate="caption">
                            <div class="font-bold text-xl text-center">
                                <span class="text-900">Mis </span>
                                <span class="text-primary-600"> Materias </span>
                            </div>
                            <span class="block mt-2 md:mt-0 p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" (input)="onGlobalFilter(dt1, $event)"
                                    placeholder="Buscar..." class="w-full sm:w-auto" />
                            </span>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th> Nro </th>
                                <th> Matricula </th>
                                <th> Curso </th>
                                <th> Fechas </th>
                                <th> Materia </th>
                                <th> Docente </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-materia_estudiante>
                            <tr>
                                <td> {{materia_estudiante.insid}} </td>
                                <td> {{materia_estudiante.tipmatrgestion}} </td>
                                <td> {{materia_estudiante.curnombre}} </td>
                                <td> {{materia_estudiante.curmatfecini + ' a ' +materia_estudiante.curmatfecfin}} </td>
                                <td> {{ materia_estudiante.matnombre}} </td>
                                <td> {{ materia_estudiante.pernomcompleto}} </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog [(visible)]="displayDelete" [modal]="true" [breakpoints]="{'960px': '85vw', '640px': '100vw'}"
    [style]="{width: '30vw'}">
    <ng-template pTemplate="header">
        <h3>Eliminacion de Registro Beneficio Social</h3>
    </ng-template>
    <div class="p-fluid grid p-3 mt-2 text-center justify-content-center align-items-center ">
        <div class="p-fluid grid ">
            <span class="p-float-label">
                <textarea id="float-input" pInputTextarea [(ngModel)]="obsEliminar"></textarea>
                <label for="float-input">Observaciones</label>
            </span>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <p-button (click)="confirmEliminacionRegistro()" label="Eliminar Registro"
            styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>


<div class="card">
    <div class="card">
        <p-table [value]="inscripciones" rowGroupMode="rowspan" groupRowsBy="curnombre" sortField="curnombre"
            sortMode="single" [tableStyle]="{'min-width': '75rem'}">
            <ng-template pTemplate="caption">
                <div class="font-bold text-xl text-center">
                    <span class="text-900">Mis Materias </span>
                    <span class="text-primary-600"> por Curso </span>
                </div>
            </ng-template>

            <ng-template pTemplate="header">
                <tr>
                    <th style="width:3rem">#</th>
                    <th>Nombre del Curso</th>
                    <th>Nombre de la materia</th>
                    <th>Descripción de la Matricula</th>
                    <th>Nombre del docente</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-customer let-rowIndex="rowIndex" let-rowgroup="rowgroup"
                let-rowspan="rowspan">
                <tr>
                    <td>{{rowIndex}}</td>
                    <td *ngIf="rowgroup" [attr.rowspan]="rowspan">
                        <span class="font-bold ml-2">{{customer.curnombre}}</span><br>
                        <span class="font-bold ml-2">{{customer.curmatfecini + ' a ' + customer.curmatfecfin }}</span>
                    </td>
                    <td>
                        {{customer.matnombre}}
                    </td>
                    <td>
                        {{customer.tipmatrgestion}}
                    </td>
                    <td>
                        {{customer.pernomcompleto}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
