<p-toast></p-toast>
<div class="grid">
    <div class="col-12">
        <div class="card">

            <!-- <div class="card">
                <p-table #dt1 [value]="Estudiantes" [rows]="10" [tableStyle]="{'min-width': '50rem'}" [paginator]="true"
                    [rowsPerPageOptions]="[5,10,20]" [globalFilterFields]="['pernomcompleto', 'pernrodoc']">
                    <ng-template pTemplate="caption">
                        <div class="font-bold text-xl text-center">
                            <span class="text-900">Cambiar </span>
                            <span class="text-primary-600"> Contraseña a Estudiante </span>
                        </div>
                        <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                            <span class="block mt-2 md:mt-0 p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" (input)="onGlobalFilter(dt1, $event)"
                                    placeholder="Buscar..." class="w-full sm:w-auto" />
                            </span>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th style="width: 5rem;"></th>
                            <th pSortableColumn="pernomcompleto">Nombre Completo <p-sortIcon field="pernomcompleto"></p-sortIcon></th>
                            <th pSortableColumn="pernrodoc">Número de Documento <p-sortIcon field="pernrodoc"></p-sortIcon></th>
                            <th>Número de Celular</th>
                            <th>Correo Electrónico</th>
                            <th pSortableColumn="usuname">Nombre de Usuario <p-sortIcon field="usuname"></p-sortIcon></th>
                            <th>Opciones</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-persona>
                        <tr>
                            <td>
                                <p-avatar *ngIf="persona.perfoto"
                                        image="http://127.0.0.1:5001/static/files_fotoperfil/{{ persona.perfoto }}"
                                        styleClass="mr-2"
                                        size="large"
                                        shape="circle"
                                    ></p-avatar>
                            </td>
                            <td>
                                <p-chip>
                                    <div class="p-2">
                                        {{persona.pernomcompleto}}
                                    </div>
                                </p-chip>
                            </td>

                            <td> {{persona.tipodocnombre}} - {{persona.pernrodoc}}</td>

                            <td>
                                <ng-container *ngIf="persona.percelular; else noRegistro">
                                    {{persona.percelular}}
                                </ng-container>
                            </td>

                            <td>
                                <ng-container *ngIf="persona.peremail; else noRegistro">
                                    {{persona.peremail}}
                                </ng-container>
                            </td>

                            <td>
                                <ng-container *ngIf="persona.usuname; else noRegistro">
                                    <p-chip>
                                        <div class="p-2">
                                            {{persona.usuname}}
                                        </div>
                                    </p-chip>
                                </ng-container>

                            </td>
                            <ng-template #noRegistro>
                                sin registrar
                            </ng-template>
                            <td>
                                <div class="flex justify-content-center">
                                    <button pButton pRipple icon="pi pi-lock"
                                        class="p-button-rounded p-button-danger  mr-2"
                                        (click)="modificarEstudiante(persona)" pTooltip="Cambiar contraseña"></button>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div> -->

            <div class="card">
                <p-table #dt2 [value]="Estudiantes" [rows]="10" [tableStyle]="{'min-width': '50rem'}" [paginator]="true"
                    [rowsPerPageOptions]="[5,10,20]" [globalFilterFields]="['pernomcompleto', 'pernrodoc']">
                    <ng-template pTemplate="caption">
                        <div class="font-bold text-xl text-center">
                            <span class="text-900">Actualizar </span>
                            <span class="text-primary-600"> Datos Personales, Academica, Ministerial </span>
                        </div>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt2, $event)" pTooltip="Buscar por nombre completo, número de documento"
                                placeholder="Buscar..." class="w-full sm:w-auto" />
                        </span>
                    </ng-template>
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <!-- <th style="width: 15rem;"></th> -->
                            <th></th>
                            <th style="width: 15rem;" pSortableColumn="pernomcompleto">Nom. Completo <p-sortIcon field="pernomcompleto"></p-sortIcon></th>
                            <th pSortableColumn="pernrodoc">Nro. Doc. <p-sortIcon field="pernrodoc"></p-sortIcon></th>
                            <th>Nro. Hijos</th>
                            <th>Profesión</th>
                            <th>Conversión</th>
                            <th>Bautiso aguas</th>
                            <th>Bautiso espiritu santo</th>
                            <th>Iglesia</th>
                            <th>Pastor</th>
                            <!-- <th>Registrado por:</th> -->
                            <th>Opciones</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-persona>
                        <tr>
                            <td>
                                <div *ngIf="persona.perfoto == null" class="user-display">
                                    <p-avatar image="../../../../../assets/images/login/sin_foto_perfil.png"
                                        styleClass="mr-2" size="xlarge" shape="circle"></p-avatar>
                                </div>
                                <div *ngIf="persona.perfoto != null" class="user-display">
                                    <p-avatar image="{{ apiUrl }}/{{ persona.perfoto }}" styleClass="mr-2"
                                        size="xlarge" shape="circle"></p-avatar>
                                </div>
                            </td>
                            <td style="width: 15rem;">
                                    <span class="font-bold ml-2">{{persona.pernomcompleto }}</span>
                            </td>
                            <!-- <td>
                                <p-chip>
                                    <div class="p-2">
                                        {{persona.pernomcompleto}}
                                    </div>
                                </p-chip>
                            </td> -->
                            <td>{{persona.pernrodoc}}</td>

                            <td>
                                <ng-container *ngIf="persona.pernrohijos != null; else noRegistro">
                                    {{persona.pernrohijos}}
                                </ng-container>
                            </td>
                            <td>
                                <ng-container *ngIf="persona.perprofesion; else noRegistro">
                                    {{persona.perprofesion}}
                                </ng-container>
                            </td>
                            <td>
                                <ng-container *ngIf="persona.perfeclugconversion; else noRegistro">
                                            {{persona.perfeclugconversion}}
                                </ng-container>

                            </td>
                            <td>
                                <ng-container *ngIf="persona.perbautismoaguas != null">
                                    <ng-container *ngIf="persona.perbautismoaguas === 1; else noRegistro">Sí</ng-container>
                                    <ng-template #noRegistro>No</ng-template>
                                </ng-container>
                            </td>
                            <td>
                                <ng-container *ngIf="persona.perbautismoespiritu != null">
                                    <ng-container *ngIf="persona.perbautismoespiritu === 1; else noRegistro">Sí</ng-container>
                                    <ng-template #noRegistro>No</ng-template>
                                </ng-container>
                            </td>

                            <td>
                                <ng-container *ngIf="persona.pernomdiriglesia; else noRegistro">
                                    {{persona.pernomdiriglesia}}
                                </ng-container>
                            </td>
                            <td>
                                <ng-container *ngIf="persona.pernompastor; else noRegistro">
                                    {{persona.pernompastor}}
                                </ng-container>
                            </td>
                            <ng-template #noRegistro>
                                S/R
                            </ng-template>
                            <td>
                                <div class="flex justify-content-center">
                                    <button pButton pRipple icon="fa-solid fa-address-book"
                                        class="p-button-rounded p-button-info mr-2"
                                        (click)="modificarEstudianteDatosPersonales(persona)" pTooltip="Modifica datos personales" tooltipPosition="left"></button>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="9">No se encontró las información solicitada.</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>




        </div>
    </div>

    <p-dialog [(visible)]="estudianteModificarDialog" header="Cambiar Contraseña"
    [modal]="true" class="p-fluid">
    <p-card>
        <ng-template pTemplate="title">
            Información del Estudiante
        </ng-template>
        <ng-template pTemplate="content">
            <p><strong>Estudiante:</strong> {{persona?.pernomcompleto}}</p>
            <p><strong>Número de Documento:</strong> {{persona?.pernrodoc}}</p>
        </ng-template>
    </p-card>

    <ng-template pTemplate="content">
        <div class="grid p-fluid mt-3">
            <div class="field col-12">
                <span class="p-float-label">
                    <input type="text" id="usuname" pInputText [(ngModel)]="nuevousuname" appendTo="body">
                    <label for="usuname">Usuario</label>
                </span>
            </div>

            <div class="field col-12">
                <span class="p-float-label">
                    <p-password id="password" [(ngModel)]="nuevopassword"
                        placeholder="Ingrese una contraseña" appendTo="body" [toggleMask]="true">
                        <ng-template pTemplate="header">
                            <h6>Ingresar contraseña</h6>
                        </ng-template>
                        <ng-template pTemplate="footer">
                            <p-divider></p-divider>
                            <p class="mt-2">Sugerencias</p>
                            <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                                <li>Al menos una minúscula</li>
                                <li>Al menos una mayúscula</li>
                                <li>Al menos un número</li>
                                <li>Mínimo 8 caracteres</li>
                            </ul>
                        </ng-template>
                    </p-password>
                    <label for="password">Contraseña</label>
                </span>
            </div>
            <div class="field col-12">
                <span class="p-float-label">
                    <p-password id="passwordhash" [(ngModel)]="nuevopassword"
                        placeholder="Vuelve a ingresar la contraseña" [toggleMask]="true"
                        appendTo="body"></p-password>
                    <label for="passwordhash">Confirmar Contraseña</label>
                </span>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
            (click)="ocultarDialog()"></button>
        <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text"
            (click)="modificarUsuario()"></button>
    </ng-template>

    </p-dialog>




<p-dialog [(visible)]="estudianteModificarDatosPersonalesDialog" header="Modificar Datos" [modal]="true" class="p-fluid">
    <p-card>
        <ng-template pTemplate="title">
            Información del Estudiante
        </ng-template>
        <ng-template pTemplate="content">
            <p><strong>Estudiante:</strong> {{ persona?.pernomcompleto }}</p>
            <p><strong>Número de Documento:</strong> {{ persona?.pernrodoc }}</p>
        </ng-template>
    </p-card>

    <form [formGroup]="estudianteForm" novalidate>
        <div class="grid p-fluid mt-3">
            <div class="field col-12 md:col-6">
                <span class="p-float-label">
                    <input type="number" id="pernrohijos" pInputText formControlName="pernrohijos">
                    <label for="pernrohijos">Número de Hijos</label>
                </span>
                <small class="p-error block" *ngIf="estudianteForm.get('pernrohijos').invalid && estudianteForm.get('pernrohijos').touched">
                    <span *ngIf="estudianteForm.get('pernrohijos').errors?.required">El número de hijos es requerido.</span>
                </small>
            </div>

            <div class="field col-12 md:col-6">
                <span class="p-float-label">
                    <input type="text" id="perprofesion" pInputText formControlName="perprofesion">
                    <label for="perprofesion">Profesión</label>
                </span>
                <small class="p-error block" *ngIf="estudianteForm.get('perprofesion').invalid && estudianteForm.get('perprofesion').touched">
                    <span *ngIf="estudianteForm.get('perprofesion').errors?.required">La profesión es requerida.</span>
                </small>
            </div>

            <div class="field col-12 md:col-6">
                <span class="p-float-label">
                    <textarea id="perfeclugconversion" pInputTextarea formControlName="perfeclugconversion"></textarea>
                    <label for="perfeclugconversion">Fecha y Lugar de Conversión</label>
                </span>
                <small class="p-error block" *ngIf="estudianteForm.get('perfeclugconversion').invalid && estudianteForm.get('perfeclugconversion').touched">
                    <span *ngIf="estudianteForm.get('perfeclugconversion').errors?.required">El lugar de conversión es requerido.</span>
                </small>
            </div>

            <div class="field col-12 md:col-3">
                <label for="perbautismoaguas">¿Bautismo en aguas?</label>
                <div class="flex flex-wrap gap-3">
                    <div class="flex align-items-center">
                        <p-radioButton name="perbautismoaguas" [value]="1" label="Sí" formControlName="perbautismoaguas"></p-radioButton>
                    </div>
                    <div class="flex align-items-center">
                        <p-radioButton name="perbautismoaguas" [value]="0" label="No" formControlName="perbautismoaguas"></p-radioButton>
                    </div>
                </div>
                <small class="p-error block" *ngIf="estudianteForm.get('perbautismoaguas').invalid && estudianteForm.get('perbautismoaguas').touched">
                    <span *ngIf="estudianteForm.get('perbautismoaguas').errors?.required">Esta opción es requerida.</span>
                </small>
            </div>

            <div class="field col-12 md:col-3">

                <label for="perbautismoespiritu">¿Bautismo en Espíritu Santo?</label>
                <div class="flex flex-wrap gap-3">
                    <div class="flex align-items-center">
                        <p-radioButton name="perbautismoespiritu" [value]="1" label="Sí" formControlName="perbautismoespiritu"></p-radioButton>
                    </div>
                    <div class="flex align-items-center">
                        <p-radioButton name="perbautismoespiritu" [value]="0" label="No" formControlName="perbautismoespiritu"></p-radioButton>
                    </div>
                </div>
                <small class="p-error block" *ngIf="estudianteForm.get('perbautismoespiritu').invalid && estudianteForm.get('perbautismoespiritu').touched">
                    <span *ngIf="estudianteForm.get('perbautismoespiritu').errors?.required">Esta opción es requerida.</span>
                </small>
            </div>

            <div class="field col-12 md:col-6">
                <span class="p-float-label">
                    <input type="text" id="pernomdiriglesia" pInputText formControlName="pernomdiriglesia">
                    <label for="pernomdiriglesia">Nombre de la Iglesia</label>
                </span>
                <small class="p-error block" *ngIf="estudianteForm.get('pernomdiriglesia').invalid && estudianteForm.get('pernomdiriglesia').touched">
                    <span *ngIf="estudianteForm.get('pernomdiriglesia').errors?.required">El nombre de la iglesia es requerido.</span>
                </small>
            </div>

            <div class="field col-12 md:col-6">
                <span class="p-float-label">
                    <input type="text" id="pernompastor" pInputText formControlName="pernompastor">
                    <label for="pernompastor">Nombre del Pastor</label>
                </span>
                <small class="p-error block" *ngIf="estudianteForm.get('pernompastor').invalid && estudianteForm.get('pernompastor').touched">
                    <span *ngIf="estudianteForm.get('pernompastor').errors?.required">El nombre del pastor es requerido.</span>
                </small>
            </div>
        </div>
    </form>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="ocultarDialog()"></button>
        <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" (click)="modificarEstudianteDatos()"></button>
    </ng-template>
</p-dialog>

