<p-toast></p-toast>
<p-card>
    <p-breadcrumb class="max-w-full" [model]="items" [home]="home" ></p-breadcrumb>
    <h3>Contabilidad</h3>
    <p>Generar reporte de informe financiero:</p>


        <p-tabView styleClass="tabview-custom">
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <i class="pi pi-book mr-2"></i>
                    <span>1. Recuperar Información</span>
                </ng-template>
                <p-card header="Recuperar Información" subheader="Selecionar las fechas de inicio y fin, luego presionar en el botón [Buscar] ">
                    <form [formGroup]="dateForm" novalidate>
                        <div class="grid p-fluid align-items-center justify-content-center mt-2">
                            <div class="field col-12 md:col-6 lg:col-3">
                                <span class="p-float-label">
                                    <p-calendar inputId="startDatepc" appendTo="body" dateFormat="yy-mm-dd" formControlName="startDate"
                                        [showIcon]="true" class="w-auto"></p-calendar>
                                    <label for="startDatepc">Fecha Inicio</label>
                                </span>
                                <small class="p-error block" *ngIf="dateForm.get('startDate').invalid && dateForm.get('startDate').dirty">
                                    <span *ngIf="dateForm.get('startDate').errors?.required">La fecha inicio es requerida. (*)</span>
                                </small>
                            </div>
                            <div class="field col-12 md:col-6 lg:col-3">
                                <span class="p-float-label">
                                    <p-calendar inputId="endDatepc" appendTo="body" dateFormat="yy-mm-dd" formControlName="endDate"
                                        [showIcon]="true" class="w-auto"></p-calendar>
                                    <label for="endDatepc">Fecha Fin</label>
                                </span>
                                <small class="p-error block" *ngIf="dateForm.get('endDate').invalid && dateForm.get('endDate').dirty">
                                    <span *ngIf="dateForm.get('endDate').errors?.required">La fecha fin es requerida. (*)</span>
                                </small>
                            </div>
                            <div class="field col-12 md:col-6 lg:col-3 d-flex align-items-center justify-content-center">
                                <button (click)="searchInformation()" pButton pRipple label="Buscar" icon="pi pi-search"
                                    class="p-button-success p-button-outlined" pTooltip="Recuperar Información" tooltipPosition="top"></button>
                            </div>
                        </div>
                    </form>
                    <p-table
                        [value]="cursoMateria"
                        [tableStyle]="{'min-width': '50rem'}"
                        rowGroupMode="rowspan"
                        groupRowsBy="curnombre"
                        #dt
                        [loading]="loading"
                        [rows]="20"
                        [paginator]="true"
                        [rowsPerPageOptions]="[5,10,20,30,50,100]"
                        styleClass="p-datatable-gridlines p-datatable-sm"
                        [responsiveLayout]="'scroll'"
                        [showCurrentPageReport]="true"
                        currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} registros"
                        [rowHover]="true"
                    >
                    <ng-template pTemplate="caption">
                        <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                            <div>
                                <button pButton pRipple label="Agregar" icon="pi pi-plus-circle"
                                    class="p-button-primary p-button-text mr-2" (click)="addCursoMateria()" pTooltip="Agregar Curso Materia"
                                    tooltipPosition="top"></button>
                            </div>
                        </div>
                    </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th colspan="6" class="surface-200 text-center border surface-border border-3">Información del Curso Materia</th>
                                <th colspan="2" class="surface-200 text-center border surface-border border-3">Cantidad de estudiantes</th>
                                <th colspan="2" class="surface-200 text-center border surface-border border-3">Montos</th>
                            </tr>
                            <tr>
                                <th>#</th>
                                <th class="text-center">Acción</th>
                                <th>Curso</th>
                                <th>Materia</th>
                                <th>Fecha Inicio</th>
                                <th>Fecha Fin</th>
                                <th>Docente</th>
                                <th class="text-center">Cantidad</th>
                                <th class="text-center">Couta</th>
                                <th class="text-center">Total</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-curmat let-rowIndex="rowIndex" let-rowgroup="rowgroup" let-rowspan="rowspan">
                            <tr>
                                <td class="text-center"> {{rowIndex + 1}} </td>
                                <td class="text-center"> <button pButton pRipple icon="pi pi-times" class="p-button-text p-button-danger p-button-rounded" pTooltip="Eliminar" tooltipPosition="top" (click)="deleteItem(curmat)"></button></td>
                                <td *ngIf="rowgroup" [attr.rowspan]="rowspan">{{curmat.curnombre}}</td>
                                <td> {{curmat.matnombre}} </td>
                                <td> {{curmat.curmatfecini | date:'dd/MM/yyyy'}} </td>
                                <td> {{curmat.curmatfecfin | date:'dd/MM/yyyy'}} </td>
                                <td> {{curmat.pernomcompleto}}</td>
                                <td class="text-center"> {{curmat.numero_estudiantes ? curmat.numero_estudiantes : 0 }}</td>
                                <td class="text-center"> {{curmat.curmatcosto}} </td>
                                <td class="text-center">{{ curmat.numero_estudiantes ? curmat.numero_estudiantes * curmat.curmatcosto : 0 }}</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="footer">
                            <tr>
                                <td colspan="7"></td>
                                <td class="text-left">T.E.: {{ numero_estudiantes }}</td>
                                <td></td>
                                <td class="text-left">T.I.: {{ ingresos_total }} Bs.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-card>
            </p-tabPanel>
            <p-tabPanel header="Header II">
                <ng-template pTemplate="header">
                    <i class="pi pi-money-bill mr-2"></i>
                    <span>2. Descuentos</span>
                </ng-template>
                <p-card header="Descuentos" subheader="Administrar los registros (Crear, Editar y/o Eliminar)">
                    <div *ngIf="this.ingresos_total>0">
                        <p-table
                            [value]="descuentos"
                            [tableStyle]="{'min-width': '50rem'}"
                            [loading]="loading"
                            styleClass="p-datatable-gridlines p-datatable-sm"
                            [responsiveLayout]="'scroll'"
                            [showCurrentPageReport]="true"
                            currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} registros"
                            [rowHover]="true"
                        >
                            <ng-template pTemplate="caption">
                                <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                                    <div>
                                        <button pButton pRipple label="Crear" icon="pi pi-plus-circle"
                                            class="p-button-primary p-button-text mr-2" (click)="nuevoDescuento()" pTooltip="Adicionar Descuento"
                                            tooltipPosition="top"></button>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="header">
                                <tr>
                                    <th class="text-center">#</th>
                                    <th class="text-center">Acciones</th>
                                    <th class="text-center">Descuento</th>
                                    <th class="text-center">Descripción</th>
                                    <th class="text-center">Total</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-descuento let-rowIndex="rowIndex">
                                <tr>
                                    <td class="text-center">{{rowIndex + 1}}</td>
                                    <td class="text-center">
                                        <button pButton pRipple icon="pi pi-pencil" class="p-button-text p-button-rounded" pTooltip="Editar" tooltipPosition="top" (click)="modDescuento(descuento)"></button>
                                        <button pButton pRipple icon="pi pi-times" class="p-button-text p-button-danger p-button-rounded" pTooltip="Eliminar" tooltipPosition="top" (click)="deleteDescuento(descuento)"></button>
                                    </td>
                                    <td class="text-center">{{descuento.desnombre}}</td>
                                    <td class="text-center">{{descuento.desdescripcion}}</td>
                                    <td class="text-center"> Bs. {{descuento.desmonto}} </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="footer">
                                <tr>
                                    <td colspan="4" class="text-right">Total Egresos</td>
                                    <td class="text-center">Bs. {{ descuentos_total }}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </p-card>
            </p-tabPanel>
            <p-tabPanel header="Header III">
                <ng-template pTemplate="header">
                    <i class="pi pi-money-bill mr-2"></i>
                    <span>3. Resumen Financiero</span>
                </ng-template>
                <p-card header="Resumen Financiero" subheader="Editar los registros si son necesarios:">
                    <div *ngIf="this.ingresos_total>0">
                        <p-table
                            [value]="resumenFinanciero"
                            dataKey="id"
                            editMode="row"
                            [tableStyle]="{'min-width': '10rem'}"
                            [loading]="loading"
                            styleClass="p-datatable-gridlines p-datatable-sm"
                            [responsiveLayout]="'scroll'"
                            [showCurrentPageReport]="true"
                            currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} registros"
                            [rowHover]="true"
                        >
                            <ng-template pTemplate="header">
                                <tr>
                                    <th class="text-center" style="width: 3rem;">#</th>
                                    <th class="text-center" style="width: 10rem;">Acción</th>
                                    <th class="text-center" style="width: 30rem;">Descripción</th>
                                    <th class="text-center" style="width: 10rem;">Montos <strong>Bs.</strong></th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-resfin let-editing="editing" let-rowIndex="rowIndex">
                                <tr [pEditableRow]="resfin">
                                    <td class="text-center"> {{rowIndex+1}} </td>
                                    <td class="text-center">
                                        <div class="flex align-items-center justify-content-center gap-2">
                                            <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                                                (click)="onRowEditInit(resfin)" class="p-button-rounded p-button-text p-button-info"
                                                pTooltip="Editar" tooltipPosition="bottom"></button>
                                            <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                                                (click)="onRowEditSave(resfin)"
                                                class="p-button-rounded p-button-text p-button-success mr-2" pTooltip="Registrar"
                                                tooltipPosition="bottom"></button>
                                            <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                                                (click)="onRowEditCancel(resfin, ri)"
                                                class="p-button-rounded p-button-text p-button-danger" pTooltip="Cancelar"
                                                tooltipPosition="bottom"></button>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <input pInputText type="text" [(ngModel)]="resfin.resdescripcion" required>
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{resfin.resdescripcion}}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td class="text-center">
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <input pInputText type="text" [(ngModel)]="resfin.resmonto">
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{resfin.resmonto}}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </p-card>
            </p-tabPanel>
            <p-tabPanel header="Header IV">
                <ng-template pTemplate="header">
                    <i class="pi pi-file-pdf mr-2"></i>
                    <span>4. Reporte</span>
                </ng-template>
                <p-card header="Reporte Informe Financiero" subheader="Generar el reporte presionando el botón:">
                    <div *ngIf="this.ingresos_total>0">
                        <div class="card-container surface-container">
                            <div class="flex justify-content-center">
                                <button
                                    (click)="generateReport()"
                                    pButton="pButton" pRipple="pRipple" type="button" label="Generar reporte" icon="pi pi-file-pdf"
                                    class="p-button-outlined p-button"></button>
                            </div>
                        </div>
                    </div>
                </p-card>
            </p-tabPanel>
        </p-tabView>
</p-card>




<p-sidebar [(visible)]="descuentoDialog" styleClass="w-25rem" position="left" blockScroll="true">
            <div *ngIf="descuentoOption">
                <h3>Crear descuento</h3>
            </div>
            <div *ngIf="!descuentoOption">
                <h3>Editar descuento</h3>
            </div>
            <form [formGroup]="descuentoForm">
                <div class="grid p-fluid">
                    <div class="field col-12">
                        <label for="name" class="block">Nombre</label>
                        <input type="text" pInputText id="name" formControlName="desnombre"/>
                        <small class="p-error block" *ngIf="descuentoForm.get('desnombre').invalid && descuentoForm.get('desnombre').touched"> <span *ngIf="descuentoForm.get('desnombre').errors?.required">El nombre es requerido.</span> (*)</small>
                    </div>
                    <div class="field col-12">
                        <label for="description" class="block">Descripción</label>
                        <textarea id="description" name="description" pInputTextarea rows="3" cols="20" formControlName="desdescripcion"></textarea>
                        <small class="p-error block" *ngIf="descuentoForm.get('desdescripcion').invalid && descuentoForm.get('desdescripcion').touched"> <span *ngIf="descuentoForm.get('desdescripcion').errors?.required">La descripción es requerido.</span> (*)</small>
                    </div>
                    <div class="field col-12">
                        <label for="name" class="block">Monto</label>
                        <input type="number" pInputText id="name" formControlName="desmonto"/>
                        <small class="p-error block" *ngIf="descuentoForm.get('desmonto').invalid && descuentoForm.get('desmonto').touched"> <span *ngIf="descuentoForm.get('desmonto').errors?.required">El monto es requerido.</span> (*)</small>
                    </div>
                </div>
            </form>
    <ng-template pTemplate="footer">
        <div class="text-right">
            <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="ocultarDialog()"></button>
            <button *ngIf="descuentoOption" pButton pRipple label="Guardar"  icon="pi pi-save" class="p-button-outlined p-button-success" (click)="adicionarDescuento()" ></button>
            <button *ngIf="!descuentoOption" pButton pRipple label="Guardar"  icon="pi pi-save" class="p-button-outlined p-button-success" (click)="updateDescuento()" ></button>
        </div>
    </ng-template>
</p-sidebar>


<p-sidebar [(visible)]="cursoMateriaSidebar" styleClass="h-25rem" position="top" blockScroll="true">
    <p-toast></p-toast>
    <ng-template pTemplate="content">
        <div class="mt-2">
            <form [formGroup]="cursoMateriaForm">
                <div class="p-fluid">
                    <div class="field">
                        <label class="font-bold block mb-2" for="status">Elegir Curso</label>
                        <p-dropdown
                            inputId="ddTipoCurso"
                            (onChange)="onSelectCurso($event)"
                            appendTo="body"
                            [options]="tipoCurso"
                            formControlName="tipoCurso"
                            optionLabel="curnombre"
                            [filter]="true"
                            filterBy="curnombre"
                            [emptyFilterMessage]="'No se encontraron cursos.'"
                            placeholder="Seleccionar Curso"
                            [ngClass]="{ 'valid-field': this.cursoMateriaForm.get('tipoCurso').valid}" styleClass="mb-2"
                        >
                        </p-dropdown>
                        <small class="p-success block" *ngIf="cursoMateriaForm.get('tipoCurso').valid"> El tipo de curso es valido. </small>
                        <small class="p-error block" *ngIf="cursoMateriaForm.get('tipoCurso').invalid && cursoMateriaForm.get('tipoCurso').touched"> <span *ngIf="cursoMateriaForm.get('tipoCurso').errors?.required">El tipo de curso es requerido.</span> (*)</small>
                    </div>
                    <div class="field">
                        <label class="font-bold block mb-2" for="status">Elegir Materia</label>
                        <p-dropdown inputId="ddTipoMateria" appendTo="body"
                                    [options]="tipoMateria"
                                    [emptyFilterMessage]="'No se encontraron materias para este curso.'"
                                    [ngClass]="{ 'valid-field': this.cursoMateriaForm.get('tipoMateria').valid}"
                                    formControlName="tipoMateria"
                                    [filter]="true"
                                    filterBy="matnombre"
                                    optionLabel="matnombre"
                                    placeholder="Seleccionar Materia"
                                    styleClass="mb-2"
                        >
                            <ng-template pTemplate="selectedItem" let-tipoMateriaCombo>
                                <div class="flex flex-column" *ngIf="tipoMateriaCombo">
                                    <div class="flex align-items-center gap-2" >
                                        <div class="font-bold">{{ tipoMateriaCombo?.matnombre }}</div>
                                    </div>
                                    <div class="text-sm mt-2">
                                        {{ tipoMateriaCombo?.curmatfecini + ' a ' +  tipoMateriaCombo?.curmatfecfin }}
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template let-tipoMateriaCombo pTemplate="item">
                                <div class="flex flex-column">
                                    <div class="flex align-items-center gap-2">
                                        <div class="font-bold">{{ tipoMateriaCombo?.matnombre }}</div>
                                    </div>
                                    <div class="text-sm mt-2">
                                        {{ tipoMateriaCombo?.curmatfecini + ' a ' +  tipoMateriaCombo?.curmatfecfin }}
                                    </div>
                                </div>
                            </ng-template>
                        </p-dropdown>
                        <small class="p-success block" *ngIf="cursoMateriaForm.get('tipoMateria').valid"> El tipo de materia es válido. </small>
                        <small class="p-error block" *ngIf="cursoMateriaForm.get('tipoMateria').invalid && cursoMateriaForm.get('tipoMateria').touched">
                            <span *ngIf="cursoMateriaForm.get('tipoMateria').errors?.required">El tipo de materia es requerido.</span>
                            (*)
                        </small>
                    </div>
                </div>
            </form>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
                (click)="cursoMateriaSidebar = false"></button>
            <button pButton pRipple label="Agregar" icon="pi pi-plus-circle" class="p-button-outlined p-button-success"
                (click)="addItem()"></button>
    </ng-template>
</p-sidebar>
