<div class="surface-ground flex align-items-center justify-content-center min-h-screen">
    <div class="surface-card shadow-2 border-round p-4" style="max-width: 450px; text-align: center;">
        <div class="text-blue-500 font-bold text-6xl">404</div>
        <h1 class="text-900 font-bold text-3xl lg:text-4xl mb-3">Página no encontrada</h1>
        <p class="text-600 mb-4">Lo sentimos, pero la página que buscas no está disponible.</p>
        <button class="pButton p-component p-button p-button-outlined p-button-rounded" (click)="volverInicio()">Volver a inicio</button>
        <hr class="my-4">
        <p class="text-600 text-sm">Si tienes alguna duda, contáctanos. </p>
    </div>
</div>
